<section class="body">
  <!-- start: header -->
  <app-header></app-header>

  <!-- end: header -->

  <div class="inner-wrapper">
    <!-- start: sidebar -->
    <app-sidebar></app-sidebar>
    <!-- end: sidebar -->

    <section role="main" class="content-body">
      <header class="page-header">
        <h2>{{ title }}</h2>

        <div class="right-wrapper text-right">
          <ol class="breadcrumbs">
            <li>
              <a href="/">
                <i class="fas fa-home"></i>
              </a>
            </li>
            <li>
              <span>{{ parentTitle }}</span>
            </li>
            <li>
              <span>{{ title }}</span>
            </li>
          </ol>
        </div>
      </header>

      <div class="row">
        <div class="col">
          <section class="card">
            <header class="card-header">
              <h2 class="card-title">Details</h2>
            </header>
            <div class="card-body">
              <form class="form-horizontal form-bordered" method="get">
                <div class="form-group row">
                  <div class="col-lg-6">
                    <label
                      class="control-label text-lg-right pt-2"
                      for="inputDefault"
                      >User Name</label
                    >
                    <input
                      type="text"
                      disabled
                      (input)="updateValidation('userName')"
                      class="form-control"
                      name="userName"
                      [(ngModel)]="userName"
                      [ngClass]="{
                        redBorder: validationErrors.userName.error == true
                      }"
                    />
                    <span
                      *ngIf="validationErrors.userName.error == true"
                      class="red"
                      >{{ validationErrors.userName.message }}</span
                    >
                  </div>
                  <div class="col-lg-6">
                    <label
                      class="control-label text-lg-right pt-2"
                      for="inputDefault"
                      >Password</label
                    >
                    <input
                      type="password"
                      class="form-control"
                      (input)="updateValidation('password')"
                      name="password"
                      [(ngModel)]="password"
                      [ngClass]="{
                        redBorder: validationErrors.password.error == true
                      }"
                    />
                    <span
                      *ngIf="validationErrors.password.error == true"
                      class="red"
                      >{{ validationErrors.password.message }}</span
                    >
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-6">
                    <label
                      class="control-label text-lg-right pt-2"
                      for="inputDefault"
                      >First Name</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="firstName"
                      (input)="updateValidation('firstName')"
                      [(ngModel)]="firstName"
                      [ngClass]="{
                        redBorder: validationErrors.firstName.error == true
                      }"
                    />
                    <span
                      *ngIf="validationErrors.firstName.error == true"
                      class="red"
                      >{{ validationErrors.firstName.message }}</span
                    >
                  </div>
                  <div class="col-lg-6">
                    <label
                      class="control-label text-lg-right pt-2"
                      for="inputDefault"
                      >Last Name</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="lastName"
                      [(ngModel)]="lastName"
                      (input)="updateValidation('lastName')"
                      [ngClass]="{
                        redBorder: validationErrors.lastName.error == true
                      }"
                    />
                    <span
                      *ngIf="validationErrors.lastName.error == true"
                      class="red"
                      >{{ validationErrors.lastName.message }}</span
                    >
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-12">
                    <label
                      class="control-label text-lg-right pt-2"
                      for="inputDefault"
                      >Address</label
                    >
                    <textarea
                      class="form-control"
                      rows="3"
                      (input)="Validation('address')"
                      id="textareaDefault"
                      name="address"
                      [(ngModel)]="address"
                      [ngClass]="{
                        redBorder: validationErrors.address.error == true
                      }"
                    ></textarea>
                    <span
                      *ngIf="validationErrors.address.error == true"
                      class="red"
                      >{{ validationErrors.address.message }}</span
                    >
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-3">
                    <label
                      class="control-label text-lg-right pt-2"
                      for="inputDefault"
                      >Phone</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="phone"
                      [(ngModel)]="phone"
                      (input)="updateValidation('phone')"
                      [ngClass]="{
                        redBorder: validationErrors.phone.error == true
                      }"
                    />
                    <span
                      *ngIf="validationErrors.phone.error == true"
                      class="red"
                      >{{ validationErrors.phone.message }}</span
                    >
                  </div>
                  <div class="col-lg-3">
                    <label
                      class="control-label text-lg-right pt-2"
                      for="inputDefault"
                      >Email</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      disabled
                      name="email"
                      [(ngModel)]="email"
                      (input)="updateValidation('email')"
                      [ngClass]="{
                        redBorder: validationErrors.email.error == true
                      }"
                    />
                    <span
                      *ngIf="validationErrors.email.error == true"
                      class="red"
                      >{{ validationErrors.email.message }}</span
                    >
                  </div>
                  <div class="col-lg-3">
                    <label
                      class="control-label text-lg-right pt-2"
                      for="inputDefault"
                      >Group</label
                    >
                    <select
                      data-plugin-selectTwo
                      class="form-control populate"
                      name="group"
                      (change)="updateValidation('group')"
                      [(ngModel)]="group"
                      [ngClass]="{
                        redBorder: validationErrors.group.error == true
                      }"
                    >
                      <optgroup label="">
                        <option value="1">Group 1</option>
                        <option value="2">Group 2</option>
                        <option value="2">Group 3</option>
                        <option value="2">Group 4</option>
                      </optgroup>
                    </select>
                    <span
                      *ngIf="validationErrors.group.error == true"
                      class="red"
                      >{{ validationErrors.group.message }}</span
                    >
                  </div>
                  <div class="col-lg-3">
                    <label
                      class="control-label text-lg-right pt-2"
                      for="inputDefault"
                      >Login Enable</label
                    >
                    <input
                      type="checkbox"
                      [checked]="loginEnabled"
                      (change)="loginEnabled = !loginEnabled"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-12">
                    <button
                      class="btn btn-dark mt-4 modal-confirm"
                      (click)="updateUser()"
                    >
                      Submit
                    </button>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-12">
                    <!-- <p class="text text-danger" *ngIf="hasError">{{Error}}</p> -->
                    <p class="text text-success" *ngIf="hasSuccess">
                      {{ Success }}
                    </p>
                  </div>
                </div>
              </form>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
</section>
