<section class="body">
  <!-- start: header -->
  <app-header></app-header>
  <!-- end: header -->

  <div class="inner-wrapper">
    <!-- start: sidebar -->
    <app-sidebar></app-sidebar>
    <!-- end: sidebar -->

    <section role="main" class="content-body pl-0 pt-0 pr-0">
      <header class="page-header pr-5">
        <form class="form-horizontal" method="get">
          <div class="row pr-1 mr-1" style="padding-top:10px;">
            <div class="col-md-2 col-lg-2">
              <div class="input-group input-group-md mb-3">
                <input type="text"
                  autocomplete="off"
                  name="vehicleIdentification"
                  [(ngModel)]="vehicleIdentification"
                  class="form-control"
                  (input)="getSuggestions($event.target.value)"
                />
              </div>
              <div
                *ngFor="let suggestedVehicle of suggestedVehicles"
                style="cursor: pointer"
                (click)="
                  setVehicle(
                    suggestedVehicle.vehicleID,
                    suggestedVehicle.vehicleIdentification
                  )
                "
              >
                {{ suggestedVehicle.vehicleIdentification }}
              </div>
            </div>

            <div class="col-md-2 col-lg-2">
              <select
                data-plugin-selectTwo
                [(ngModel)]="currentStatus"
                name="currentStatus"
                class="form-control populate"
              >
                <optgroup label="Select Status">
                  <option value="">All</option>
                  <option value="active">Active</option>
                  <option value="inActive">Inactive</option>
                  <option value="sold">Sold</option>
                  <option value="outOfService">Out of Service</option>
                </optgroup>
              </select>
            </div>

            <div class="col-md-1 col-lg-1">
              <button (click)="fetchVehicles()" class="btn btn-sm btn-success">
                Search
              </button>
            </div>

            <div class="col-md-7 col-lg-7 text-right pr-1">
              <button type="button" id="map_view_btn" class="btn btn-default btn-sm mr-2" >
                Map View
              </button>
              <button type="button" id="list_view_btn" class="btn btn-success btn-sm mr-2">List View</button>
              <div class="btn-group btn-group1 flex-wrap mr-2">
                <button
                  type="button"
                  class="btn btn-success btn-sm dropdown-toggle"
                  data-toggle="dropdown"
                  aria-expanded="false"
                >
                  Actions<span class="caret"></span>
                </button>
                <div
                  class="dropdown-menu"
                  role="menu"
                  x-placement="bottom-start"
                  style="
                    position: absolute;
                    will-change: transform;
                    top: 0px;
                    left: 0px;
                    transform: translate3d(0px, 38px, 0px);
                  "
                >
                  <a class="dropdown-item text-1" [routerLink]="">Import</a>
                  <a class="dropdown-item text-1" [routerLink]="">Export</a>
                </div>
              </div>
              <a routerLink="/fleet/vehicles/add"
                class="btn btn-success btn-sm"
                style="color: white"
                ><i class="fas fa-plus"></i> Add Vehicle</a
              >
            </div>
          </div>
        </form>
      </header>
      <div id="list_view">
        <div class="row">
          <div class="col">
            <section class="card">
              <div class="card-body">
                <table
                  class="table table-bordered table-responsive-lg table-striped mb-0 dataTable no-footer cus-datatable"
                >
                  <thead>
                    <tr>
                      <th>VIN</th>
                      <th>Vehicle Name</th>
                      <th>Vehicle Type</th>
                      <th>Make</th>
                      <th>Modal</th>
                      <th>Last Location</th>
                      <th>Trip</th>
                      <th>Plate Number</th>
                      <th>Fuel Type</th>
                      <th>Current Status</th>
                      <th>Group</th>
                      <th>Ownership</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="cursorpoint" *ngFor="let vehicle of vehicles; let i = index">
                      <td
                        routerLink="/fleet/vehicles/detail/{{
                          vehicle.vehicleID
                        }}"
                      >
                        {{ vehicle.VIN }}
                      </td>
                      <td
                        routerLink="/fleet/vehicles/detail/{{
                          vehicle.vehicleID
                        }}"
                      >
                        {{ vehicle.vehicleIdentification }}
                      </td>
                      <td
                        routerLink="/fleet/vehicles/detail/{{
                          vehicle.vehicleID
                        }}"
                      >
                        Box Truck
                      </td>
                      <td
                        routerLink="/fleet/vehicles/detail/{{
                          vehicle.vehicleID
                        }}"
                      >
                        {{vehicle.manufacturerID}}
                      </td>
                      <td
                        routerLink="/fleet/vehicles/detail/{{
                          vehicle.vehicleID
                        }}"
                      >
                      {{vehicle.modelID}}
                      </td>
                      <td
                        routerLink="/fleet/vehicles/detail/{{
                          vehicle.vehicleID
                        }}"
                      >
                        Ontario
                      </td>
                      <td
                        routerLink="/fleet/vehicles/detail/{{
                          vehicle.vehicleID
                        }}"
                      >
                        111
                      </td>
                      <td
                        routerLink="/fleet/vehicles/detail/{{
                          vehicle.vehicleID
                        }}"
                      >
                        {{vehicle.plateNumber}}
                      </td>
                      <td
                        routerLink="/fleet/vehicles/detail/{{
                          vehicle.vehicleID
                        }}"
                      >
                        {{vehicle.fluid.fuelType}}
                      </td>
                      <td
                        routerLink="/fleet/vehicles/detail/{{
                          vehicle.vehicleID
                        }}"
                      >
                        {{vehicle.currentStatus}}
                      </td>
                      <td
                        routerLink="/fleet/vehicles/detail/{{
                          vehicle.vehicleID
                        }}"
                      >
                        {{vehicle.groupID}}
                      </td>
                      <td
                        routerLink="/fleet/vehicles/detail/{{
                          vehicle.vehicleID
                        }}"
                      >
                        {{vehicle.ownership}}
                      </td>
                      <td>
                        <div class="dropdown dropright">
                          <button
                            class="bg-transparent border-0"
                            type="button"
                            id="dropdownMenuButton-{{ i }}"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                            [routerLink]=""
                          >
                            <i class="fas fa-ellipsis-v"></i>
                          </button>
                          <div
                            class="dropdown-menu"
                            attr.aria-labelledby="dropdownMenuButton-{{ i }}"
                          >
                            <a
                              class="dropdown-item"
                              routerLink="/fleet/vehicles/edit/{{
                                vehicle.vehicleID
                              }}"
                              >Edit</a
                            >
                            <a
                              class="dropdown-item"
                              href="javascript:;"
                              (click)="deleteVehiclevehicle(vehicle.vehicleID)"
                              >Delete</a
                            >
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
