<section class="body">
    <!-- start: header -->
    <app-header></app-header>
    <!-- end: header -->
  
    <div class="inner-wrapper">
        <!-- start: sidebar -->
        <app-sidebar></app-sidebar>
        <!-- end: sidebar -->
  
        <section role="main" class="content-body pt-0 pr-0 pl-0">
            <header class="page-header">
            <div class="row px-4" style="padding-top:10px;">
                <div class="col-md-2 col-lg-2">
                    <div class="input-group input-group-sm mb-3">
                        <input type="text" class="form-control" placeholder="Search Issues by Vehicle">
                    </div>
                </div>
                <div class="col-md-2  col-lg-2">
                    <div class="input-group input-group-sm mb-3">
                        <input type="text" class="form-control" placeholder="Search Issue by Name or ID">
                    </div>
                </div>
                <div class="col-md-1  col-lg-1">
                    <button type="submit" class="btn btn-sm btn-success">Search</button>
                </div>
                <div class="col-md-7  col-lg-7 text-right pr-5">
                    <div class="btn-group flex-wrap">
                        <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Actions<span class="caret"></span></button>
                        <div class="dropdown-menu" role="menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                        <a class="dropdown-item text-1" href="">Resolve via Service Entry</a>
                        <a class="dropdown-item text-1" href="">Close</a>
                        <a class="dropdown-item text-1" (click)="editIssue()" href="javascript:;">Edit</a>
                        <a class="dropdown-item text-1" (click)="deleteIssue()" href="javascript:;">Delete</a>
                        <a class="dropdown-item text-1" href="">Import</a>
                        <a class="dropdown-item text-1" href="">Export</a>
                        </div>
                    </div>
                    <a [routerLink]="['/fleet', 'issues', 'add-issue']" class="btn btn-success btn-sm mx-2" style="color:white;"><i class="fas fa-plus"></i> Add Issue</a>
                </div>
            </div>
            </header>
        <!-- <section class="card">
           <div class="row">
              <div class="col-lg-8">
                 <div class="wtopnav">
                    <ul>
                       <li><a routerLink="/fleet/maintenance/issues/list"  class="active">Issues</a></li>
                       <li><a routerLink="/fleet/maintenance/service-log/list" >Services </a></li>
                    </ul>
                 </div>
              </div>
              <div class="col-lg-4 pt-1 text-right">
              </div>
           </div>
        </section> -->
        <div class="row">
           <div class="col pr-0">
              <section class="card">
                    <div class="card-body">                  
                        <table class="table table-responsive-lg table-bordered table-striped mb-0">
                            <thead>
                               <tr>
                                  <th><input [(ngModel)]="headCheckbox" (change)="checkuncheckall($event)" type="checkbox"></th>
                                  <th>Vehicle/Assets</th>
                                  <th>Issue</th>                                  
                                  <th>Reported On</th>
                                  <th>Reported By</th>
                                  <th>Assigned To</th>
                                  <th>Status</th>
                                
                               </tr>
                            </thead>
                            <tbody>
                               <tr *ngFor = "let issue of issues">
                                  <td><input type="checkbox" [checked]="isChecked" [(ngModel)]="issue.checked"  (ngModelChange)="checkboxCount(issues)" value="{{ issue.issueID }}"></td>
                                  <td routerLink="/fleet/issues/issue-detail/{{issue.issueID}}"><span class="font-weight-bold line-height-lg">{{ issue.vehicleID }}</span></td>
                                  <td>{{ issue.issueName }}</td>
                                  <td>{{ issue.reportedDate }}</td>
                                  <td>{{ issue.reportedBy }}</td>
                                  <td>{{ issue.assignedTo }}</td>
                                  <td><span class="badge badge-dark p-1">OPEN</span></td>
                               </tr>                            
                              
                            </tbody>
                         </table>
                    </div>
              </section>
            </div>
        </div>
        </section>
    </div>
</section>
  