<section class="body">
    <div class="inner-wrapper">
      <section role="main" class="content-body pl-1 pt-0 pr-0">
        <header class="page-header flex align-items-center justify-content-start">
          <form class="formgrid grid">
            <div class="row">
            </div>
           </form>
        </header>
        <section class="m-2">
            <div class="row mb-3">
                <div class="col-lg-12" style="height: calc(100vh - 149px); overflow-y: scroll;">
                    <div class="bg-white p-3 text-dark text-capitalize">
                        <p-table #dt [value]="schedules" [resizableColumns]="true" columnResizeMode="expand" scrollDirection="both"
                [columns]="selectedColumns" [loading]="!loaded"
                styleClass=" p-datatable-sm p-datatable-gridlines p-datatable-striped" [scrollable]="true"
                [loading]="!loaded" scrollHeight="100%" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex d-flex justify-content-between align-items-center">
                      <div>
                        <h3 class="m-0"> Schedule </h3>
                      </div>
                      <div class="text-right">
                        <span>Showing {{schedules.length}} entries</span> &nbsp;
                        <button type="button" pButton  pTooltip="Refresh"
                          class="p-button-outlined mr-2" icon="fas fa-sync"></button>
  
                        <button type="button" pButton pTooltip="Add" routerLink="/dispatch/scheduler/add"
                          class="p-button-outlined mr-2" icon="pi pi-plus"></button>
  
                        <button pButton pRipple pTooltip="Clear Filter" class="p-button-outlined mr-2" 
                          icon="pi pi-filter-slash"></button>
  
                        <!-- <button type="button" pButton pRipple class="p-button-outlined mr-2"
                          icon="fas fa-regular fa-file-excel" (click)="dt.exportCSV()" pTooltip="Excel"></button> -->
                      </div>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th *ngFor="let column of dataColumns" [pSortableColumn]="column.field" pResizableColumn
                        [ngStyle]="{'width': column.width}">
                        <span>
                          <div class="flex justify-content-center align-items-center" alignFrozen="right" pFrozenColumn
                            [frozen]="true">
                            {{column.header}}
                            <p-sortIcon [field]="column.field">
                            </p-sortIcon>
                            <p-columnFilter [type]="column.type" [field]="column.field" matchMode="contains"
                              [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" display="menu">
                            </p-columnFilter>
                          </div>
                        </span>
  
                      </th>
                      <th style="width: 6%" alignFrozen="right" pFrozenColumn [frozen]="true">Actions</th>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="body" let-schedule let-columns="columns" let-rowIndex="rowIndex"
                  let-expanded="expanded">
                  <tr style="cursor: pointer;">
                    <td routerLink='/dispatch/scheduler/detail/{{schedule.id}}' 
                    style="width:30%">

                    {{schedule.orderNumber}}
                  </td>
                  <td routerLink='/dispatch/scheduler/detail/{{schedule.id}}' 
                  style="width:30%">

                  {{schedule.sName |titlecase}}
                </td>
                <td routerLink='/dispatch/scheduler/detail/{{schedule.id}}'
                style="width:30%">
                {{schedule.sTime}}
              </td>
              <td style="width:6%;overflow: inherit !important; " pFrozenColumn alignFrozen="right"
                      [frozen]="true">
                      <div class="dropdown dropright" style="z-index: 10001">
                        <button class="bg-transparent border-0" type="button" id="dropdownMenuButton-{{rowIndex
                            }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <div class="dropdown-menu"  style="z-index: 10001" attr.aria-labelledby="dropdownMenuButton-{{
                            rowIndex
                               }}">
                            <a class="dropdown-item" routerLink='/dispatch/scheduler/edit/{{schedule.id}}'>Edit</a>
                            <a class="dropdown-item" (click)="delete();">Delete</a>

                        </div>
                        </div>
                </td>
                </tr>

                  </ng-template>

            </p-table>
                    </div>
                </div>
            </div>
                

        </section>
        </section>
    </div>
</section>