<section class="body">
   <div class="inner-wrapper">
      <section role="main" class="content-body pr-0 pl-0 pt-0">
         <header class="page-header">
            <form class="form-horizontal" method="get">

               <div class="row" style="padding-top:10px;">
                  <div class="col-md-2 col-lg-2">
                     <div class="input-group input-group-md mb-3">
                        <input type="text" class="form-control" placeholder="Search">
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-3">
                     <div class="input-daterange input-group" data-plugin-datepicker>
                        <span class="input-group-prepend">
                           <span class="input-group-text">
                              <i class="fas fa-calendar-alt"></i>
                           </span>
                        </span>
                        <input type="text" class="form-control" name="start">
                        <span class="input-group-text border-left-0 border-right-0 rounded-0">
                           to
                        </span>
                        <input type="text" class="form-control" name="end">
                     </div>
                  </div>

                  <div class="col-md-1  col-lg-1">
                     <button type="submit" class="btn btn-sm btn-success">Search</button>
                  </div>
                  <div class="col-md-6  col-lg-6 text-right pr-5">
                     <a routerLink="/accounts/manual-journal/add" class="btn btn-success btn-sm ml-2"
                        style="color:white;"><i class="fas fa-plus"></i> Add Journal </a>
                  </div>
               </div>
            </form>
         </header>
         <div class="row">
            <div class="col pr-0">
               <section class="card">
                  <div class="card-body">
                     <table class="table table-bordered table-striped mb-0 simple-table">
                        <thead>
                           <tr class="bgcol2">
                              <th class="text-2">Journal Date</th>
                              <th class="text-2">Reference</th>
                              <th class="text-2">Amount</th>
                              <th class="text-2">Created By</th>
                              <th class="text-2">Action</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr *ngFor="let data of journals; let i=index;">
                              <td routerLink="/accounts/manual-journal/detail">{{ data.date | date:'yyyy/MM/dd' }}</td>
                              <td routerLink="/accounts/manual-journal/detail">{{ data.referenceNo }}</td>
                              <td routerLink="/accounts/manual-journal/detail">{{ data.currency }} {{ data.debitTotalAmount }}</td>
                              <td routerLink="/accounts/manual-journal/detail">{{ data.createdBy }}</td>
                              <td>
                                 <div class="dropdown dropright">
                                    <button class="bg-transparent border-0" type="button" id="dropdownMenuButton-{{i}}" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                       <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div class="dropdown-menu" attr.aria-labelledby="dropdownMenuButton-{{i}}">
                                       <a class="dropdown-item" routerLink="/accounts/manual-journal/edit/{{ data.journalID }}">Edit</a>
                                       <a class="dropdown-item" href="javascript:;" (click)="deleteJournal(data.journalID)">Delete</a>
                                    </div>
                                 </div>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </section>
            </div>
         </div>
      </section>
   </div>
</section>