.top-tabs a {
  cursor: pointer;
}

.custom-w-160 {
  width: 160px;
}

/* .p-badges {
  background: #4caf50;
  color: #fff;
  font-size: .75rem;
  font-weight: 700;
  min-width: 1.5rem;
  height: 1.5rem;
  line-height: initial;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  padding: 0 0.5rem;
  padding-top: 2%;
} */