<section class="body">
    <!-- start: header -->
    <app-header></app-header>
    <!-- end: header -->

    <div class="inner-wrapper">
        <!-- start: sidebar -->
        <app-sidebar></app-sidebar>
        <!-- end: sidebar -->

        <section role="main" class="content-body pl-0 pt-0">
            <header class="page-header">
                <div class="row pr-5 " style="padding-top:10px;">
                    <div class="col-md-4 col-lg-4 font-weight-bold text-4 text-dark">
                        Ford Prius
                    </div>
                    <div class="col-md-8  col-lg-8 text-right">
                        <a href="vehicle-renewals.php" class="btn btn-sm btn-default"><i class="fas fa-list"></i>
                            Vehicle Renewals List</a>

                        <div class="btn-group flex-wrap mx-2">
                            <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false"><i class="fas fa-plus"></i> Add Reminder <span
                                    class="caret"></span></button>
                            <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                <a class="dropdown-item text-1" href="add-service-reminder.php">Add Service Reminder</a>
                                <a class="dropdown-item text-1" href="add-vehicle-renewal-reminder.php">Add Vehicle
                                    Renewal Reminder</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="row">
                <div class="col">
                    <div class="card-body text-dark">
                        <form class="form-horizontal form-bordered" method="get">
                            <div class=" row">
                                <div class="col-lg-12">
                                    <label
                                        class="control-label font-weight-bold font-bold text-lg-right text-dark text-4 font-weight-bold pt-2">Reminder
                                        Details</label>
                                </div>
                                <div class="col-lg-10 offset-lg-1">
                                    <div class="vehicle-common-box p-3">
                                        <div class="row">
                                            <div class="col-lg-2 font-weight-bold text-4">
                                                Service Reminders (2)
                                            </div>
                                            <!-- <div class="col-lg-2">
                             <select
                                data-plugin-selectTwo
                                class="form-control populate">
                                <optgroup label="Select Service Task">
                                   <option value="">No Service Task</option>
                                   <option value="">A/C Compressor Replacement</option>
                                   <option value="">A/C Condenser Replacement</option>
                                   <option value="">A/C Diagnosis</option>
                                   <option value="">A/C Inspection</option>
                                   <option value="">A/C Recharge</option>
                                   <option value="">Air Brake System Valve Inspection</option>
                                </optgroup>
                             </select>
                          </div> -->
                                        </div>
                                        <table
                                            class="table table-responsive-lg table-bordered table-striped  mt-3 mb-0">
                                            <thead>
                                                <tr>
                                                    <th width="40%">Service Task & Schedule</th>
                                                    <th width="15%">Next Due</th>
                                                    <th width="15%">Last Completed</th>
                                                    <th width="10%">Compliance</th>
                                                    <th width="15%">Subscribers</th>
                                                    <th width="5%"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><span class="text-danger font-weight-bold">Overdue</span><br>Oil
                                                        Change<br><span class="font-size-12">Every 6 month(s) or 10,000
                                                            miles</span></td>
                                                    <td>3 months from now <br>467 mi from now</td>
                                                    <td>Mar 15, 2020</td>
                                                    <td>0%</td>
                                                    <td>0 Subscribers <span
                                                            class="text-success font-weight-bold">Active</span><br><span
                                                            class="font-size-12">Notifications not sent yet</span></td>
                                                    <td>
                                                        <div class="btn-group flex-wrap mx-2">
                                                            <button type="button"
                                                                class="btn btn-default btn-xs dropdown-toggle"
                                                                data-toggle="dropdown" aria-expanded="false"><span
                                                                    class="caret"></span></button>
                                                            <div class="dropdown-menu" role="menu"
                                                                x-placement="bottom-start"
                                                                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                                                <a class="dropdown-item text-1"
                                                                    href="service-entry.php">Add Service</a>
                                                                <a class="dropdown-item text-1" href="">Send
                                                                    Notifications</a>
                                                                <a class="dropdown-item text-1" href="">Edit</a>
                                                                <a class="dropdown-item text-1" href="">Delete</a>
                                                                <a class="dropdown-item text-1" href="">View
                                                                    Compliance</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><span class="text-warning font-weight-bold">Due
                                                            Soon</span><br>Rotate Tires<br><span
                                                            class="font-size-12">Every 6 month(s) or 10,000 miles</span>
                                                    </td>
                                                    <td>3 months from now <br>467 mi from now</td>
                                                    <td>Mar 15, 2020</td>
                                                    <td>0%</td>
                                                    <td>0 Subscribers <span
                                                            class="text-success font-weight-bold">Active</span><br><span
                                                            class="font-size-12">Notifications not sent yet</span></td>
                                                    <td>
                                                        <div class="btn-group flex-wrap mx-2">
                                                            <button type="button"
                                                                class="btn btn-default btn-xs dropdown-toggle"
                                                                data-toggle="dropdown" aria-expanded="false"><span
                                                                    class="caret"></span></button>
                                                            <div class="dropdown-menu" role="menu"
                                                                x-placement="bottom-start"
                                                                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                                                <a class="dropdown-item text-1"
                                                                    href="service-entry.php">Add Service</a>
                                                                <a class="dropdown-item text-1" href="">Send
                                                                    Notifications</a>
                                                                <a class="dropdown-item text-1" href="">Edit</a>
                                                                <a class="dropdown-item text-1" href="">Delete</a>
                                                                <a class="dropdown-item text-1" href="">View
                                                                    Compliance</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="vehicle-common-box p-3 mt-3">
                                        <div class="row">
                                            <div class="col-lg-6 font-weight-bold text-4">
                                                Vehicle Renewal Reminders (3)
                                            </div>
                                        </div>
                                        <table class="table table-responsive-lg table-bordered table-striped mt-3 mb-0">
                                            <thead>
                                                <tr>
                                                    <th width="40%">Vehicle Renewal Type</th>
                                                    <th width="25%">Due Date</th>
                                                    <th width="25%">Subscribers</th>
                                                    <th width="10%"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><span class="text-warning font-weight-bold">Due
                                                            Soon</span><br>Emission Test</td>
                                                    <td>Mar 15, 2020</td>
                                                    <td>0 Subscribers<br><span class="font-size-12">Notifications not
                                                            sent yet</span></td>
                                                    <td>
                                                        <div class="btn-group flex-wrap mx-2">
                                                            <button type="button"
                                                                class="btn btn-default btn-xs dropdown-toggle"
                                                                data-toggle="dropdown" aria-expanded="false"><span
                                                                    class="caret"></span></button>
                                                            <div class="dropdown-menu" role="menu"
                                                                x-placement="bottom-start"
                                                                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                                                <a class="dropdown-item text-1" href="">Send
                                                                    Notifications</a>
                                                                <a class="dropdown-item text-1" href="">Edit</a>
                                                                <a class="dropdown-item text-1" href="">Delete</a>
                                                                <a class="dropdown-item text-1" href="">View Full
                                                                    History</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Inspection</td>
                                                    <td>No Reminders</td>
                                                    <td></td>
                                                    <td>
                                                        <div class="btn-group flex-wrap mx-2">
                                                            <button type="button"
                                                                class="btn btn-default btn-xs dropdown-toggle"
                                                                data-toggle="dropdown" aria-expanded="false"><span
                                                                    class="caret"></span></button>
                                                            <div class="dropdown-menu" role="menu"
                                                                x-placement="bottom-start"
                                                                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                                                <a class="dropdown-item text-1" href="">Add Vehicle
                                                                    Renewal Reminder</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Insurance</td>
                                                    <td>Mar 15, 2020</td>
                                                    <td>0 Subscribers<br><span class="font-size-12">Notifications not
                                                            sent yet</span></td>
                                                    <td>
                                                        <div class="btn-group flex-wrap mx-2">
                                                            <button type="button"
                                                                class="btn btn-default btn-xs dropdown-toggle"
                                                                data-toggle="dropdown" aria-expanded="false"><span
                                                                    class="caret"></span></button>
                                                            <div class="dropdown-menu" role="menu"
                                                                x-placement="bottom-start"
                                                                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                                                <a class="dropdown-item text-1" href="">Send
                                                                    Notifications</a>
                                                                <a class="dropdown-item text-1" href="">Edit</a>
                                                                <a class="dropdown-item text-1" href="">Delete</a>
                                                                <a class="dropdown-item text-1" href="">View Full
                                                                    History</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>





                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>