<section class="body">
  <div class="inner-wrapper">
    <section role="main" class="content-body pl-0 pr-0 pt-0">
      <header class="page-header pr19 pl7">
        <div class="row" style="padding-top: 10px">
          <div class="col-md-4 col-lg-4">
            <h4 class="text-4 mt-0 mb-0 font-weight-bold text-dark">
              Sales Order# - {{ sOrNo }}
              <span class="badge badge-dark p-1 text-uppercase">{{
                status
              }}</span>
              <span
                class="badge badge-success p-1 text-uppercase ml-1"
                *ngIf="status === 'sent'"
                >Emailed</span
              >
            </h4>
          </div>
          <div class="col-md-8 col-lg-8 text-right pr-1">
            <button
              type="button"
              class="btn btn-success btn-sm mr-2"
              (click)="sendConfirmationEmail()"
              [disabled]="emailDisabled || status == 'invoiced'"
            >
              Send Email To Customer
            </button>
            <button
              type="button"
              *ngIf="isPDF"
              class="btn btn-success btn-sm mr-2"
              (click)="openModal()"
            >
              PDF
            </button>
            <a
              routerLink="/accounts/sales/orders/list"
              class="btn btn-sm btn-default"
              ><i class="fas fa-list"></i> All Sales Orders</a
            >
          </div>
        </div>
      </header>

      <section class="m-2">
        <div class="row mb-3">
          <div class="col-lg-12">
            <div class="bg-white p-3 text-dark">
              <div class="form-group row">
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-md-4 col-lg-4">
                      <div class="text-center p-4 cmaindiv">
                        <i class="far fa-calendar-alt text-7"></i>
                        <br />
                        <p class="mb-0 text-5 font-weight-bold text-dark">
                          {{ txnDate ? (txnDate | date: "yyyy/MM/dd") : "-" }}
                        </p>
                        <p class="mb-0">DATE</p>
                      </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                      <div class="text-center p-4 cmaindiv">
                        <i class="fa fa-user text-7"></i>
                        <br />
                        <p
                          class="mb-0 text-5 font-weight-bold text-dark text-capitalize"
                        >
                          {{ customerName ? customerName : "-" }}
                        </p>
                        <p class="mb-0">CUSTOMER</p>
                      </div>
                    </div>

                    <div class="col-md-4 col-lg-4">
                      <div class="text-center p-4 cmaindiv">
                        <i class="fas fa-money-bill-wave text-7"></i>
                        <br />
                        <p class="mb-0 text-5 font-weight-bold text-dark">
                          {{ currency }}
                          {{
                            finalTotal ? (finalTotal | number: "1.2-2") : "0"
                          }}
                        </p>
                        <p class="mb-0">AMOUNT</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-lg-12">
            <div class="bg-white p-3 text-dark">
              <div class="form-group row">
                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-lg-12">
                      <table class="table table-bordered table-responsive-lg">
                        <tbody>
                          <tr>
                            <td
                              width="40%"
                              class="back-color-gray font-weight-bold"
                            >
                              Shipment Date
                            </td>
                            <td width="60%">
                              {{
                                shipDate ? (shipDate | date: "yyyy/MM/dd") : "-"
                              }}
                            </td>
                          </tr>
                          <tr>
                            <td
                              width="40%"
                              class="back-color-gray font-weight-bold"
                            >
                              Reference#
                            </td>
                            <td width="60%">{{ sRef ? sRef : "-" }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-lg-12">
                      <table class="table table-bordered table-responsive-lg">
                        <tbody>
                          <tr>
                            <td
                              width="40%"
                              class="back-color-gray font-weight-bold"
                            >
                              Sales Person
                            </td>
                            <td width="60%">
                              {{ salePerson ? salePerson : "-" }}
                            </td>
                          </tr>
                          <tr>
                            <td
                              width="40%"
                              class="back-color-gray font-weight-bold"
                            >
                              Remarks
                            </td>
                            <td width="60%">{{ remarks ? remarks : "-" }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <div class="col-lg-12 pr-0">
                  <div class="row">
                    <div class="col-lg-6">
                      <table class="table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th>Commodity</th>
                            <th>Quantity</th>
                            <th>Rate</th>
                            <th>Description</th>
                            <th>Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of sOrderDetails">
                            <td>{{ item.commodity ? item.commodity : "-" }}</td>
                            <td>
                              {{ item.qty ? item.qty : "-" }} {{ item.qtyUnit }}
                            </td>
                            <td>
                              {{ item.rate ? item.rate : "-" }} /
                              {{ item.rateUnit }}
                            </td>
                            <td>{{ item.desc ? item.desc : "-" }}</td>
                            <td>
                              {{
                                item.amount
                                  ? (item.amount | number: "1.2-2")
                                  : "-"
                              }}
                              {{ currency }}
                            </td>
                          </tr>
                          <tr *ngIf="sOrderDetails?.length === 0">
                            <td>No Data Found</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-6">
                      <table class="table table-bordered">
                        <thead>
                          <th>Sr.</th>
                          <th>Name</th>
                          <th>Icon/Thumbnail</th>
                          <th>Action</th>
                        </thead>
                        <tbody>
                          <tr *ngIf="docs.length == 0">
                            <td colspan="4">
                              <span>No document found</span>
                            </td>
                          </tr>
                          <tr *ngFor="let doc of docs; let d = index">
                            <td>{{ d + 1 }}</td>
                            <td>{{ doc.displayName }}</td>
                            <td>
                              <a
                                class="image-popup-no-margins"
                                href="{{ doc.docPath }}"
                                target="_blank"
                              >
                                <img
                                  class="img-fluid img_thumbnail"
                                  src="{{ doc.imgPath }}"
                                />
                              </a>
                            </td>
                            <td class="cursorpoint">
                              <a
                                href="javascript:;"
                                (click)="deleteDocument(doc.displayName, d)"
                                class="modal-with-form"
                              >
                                <em class="fas fa-times text-danger"></em
                              ></a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>
</section>

<ng-template #previewSaleOrder let-modal>
  <div class="modal-content">
    <div class="modal-body text-dark" id="print_sale">
      <table
        width="100%"
        border="0"
        align="center"
        cellpadding="0"
        cellspacing="0"
      >
        <tbody>
          <tr>
            <td>
              <h2 class="modal-title mt-0" id="modal-basic-title">
                <strong>Sales Order</strong>
              </h2>
            </td>
          </tr>
          <tr>
            <td valign="top">
              <p
                class="text-dark"
                style="font-size: 13px; margin-bottom: 5px; margin-top: 5px"
              >
                <strong>Sales Order #:</strong> {{ sOrNo }}
              </p>
            </td>
            <td valign="top" align="right">
              <p
                class="text-dark"
                style="font-size: 13px; margin-bottom: 5px; margin-top: 5px"
              >
                <strong>Sales OrderDate:</strong>
                {{ txnDate ? (txnDate | date: "yyyy/MM/dd") : "-" }}
              </p>
            </td>
          </tr>
          <tr>
            <td colspan="2" height="1" bgcolor="#bbbbbb"></td>
          </tr>
          <tr>
            <td width="50%" valign="top">
              <h2 class="text-dark" style="font-size: 20px">Customer</h2>
              <p class="text-dark text-capitalize" style="font-size: 13px">
                <strong>{{ customerName }}</strong
                ><br />
                <strong>Address:</strong> {{ address ? address : "NA" }}<br />
              </p>
            </td>
            <td valign="top" align="right">
              <h2 style="font-size: 20px">&nbsp;</h2>
              <p class="m-0 text-dark" style="font-size: 13px">
                <strong>Phone:</strong> {{ workPhone ? workPhone : "NA" }}<br />
                <strong>Email:</strong> {{ workEmail ? workEmail : "NA" }}<br />
              </p>
            </td>
          </tr>
          <tr>
            <td colspan="2" height="1" bgcolor="#bbbbbb"></td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2">
              <h2 style="font-size: 16px; margin-bottom: 10px; margin-top: 0px">
                Invoice
              </h2>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <table
                width="100%"
                border="0"
                style="border: 1px solid #adadad; font-size: 13px"
                cellspacing="0"
                cellpadding="0"
              >
                <tbody>
                  <tr>
                    <td
                      width="15%"
                      style="
                        border-bottom: 1px solid #adadad;
                        border-right: 1px solid #adadad;
                        padding: 10px;
                      "
                    >
                      <p class="m-0 text-dark" style="font-weight: 600">
                        Reference#
                      </p>
                    </td>
                    <td
                      width="15%"
                      style="
                        border-bottom: 1px solid #adadad;
                        border-right: 1px solid #adadad;
                        padding: 10px;
                      "
                    >
                      <p class="m-0 text-dark" style="font-weight: 600">
                        Shipment Date
                      </p>
                    </td>
                    <td
                      width="15%"
                      style="
                        border-bottom: 1px solid #adadad;
                        border-right: 1px solid #adadad;
                        padding: 10px;
                      "
                    >
                      <p class="m-0 text-dark" style="font-weight: 600">
                        Sales Person
                      </p>
                    </td>
                    <td
                      width="15%"
                      style="
                        border-bottom: 1px solid #adadad;
                        border-right: 1px solid #adadad;
                        padding: 10px;
                      "
                    >
                      <p class="m-0 text-dark" style="font-weight: 600">
                        Status
                      </p>
                    </td>
                    <td
                      style="
                        border-bottom: 1px solid #adadad;
                        text-align: right;
                        padding: 10px;
                      "
                    >
                      <p class="m-0 text-dark" style="font-weight: 600">
                        Remarks
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td
                      height="25"
                      style="border-right: 1px solid #adadad; padding: 10px"
                    >
                      <p class="m-0 text-dark">{{ sRef ? sRef : "-" }}</p>
                    </td>
                    <td style="border-right: 1px solid #adadad; padding: 10px">
                      <p class="m-0 text-dark">
                        {{ shipDate ? (shipDate | date: "yyyy/MM/dd") : "" }}
                      </p>
                    </td>
                    <td style="border-right: 1px solid #adadad; padding: 10px">
                      <p class="m-0 text-dark">
                        {{ salePerson ? salePerson : "-" }}
                      </p>
                    </td>
                    <td style="border-right: 1px solid #adadad; padding: 10px">
                      <p class="m-0 text-dark">{{ status ? status : "-" }}</p>
                    </td>
                    <td style="text-align: right; padding: 10px">
                      <p class="m-0 text-dark">{{ remarks ? remarks : "-" }}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2">
              <h2 style="font-size: 16px; margin-bottom: 10px; margin-top: 0px">
                Extras
              </h2>
            </td>
          </tr>

          <tr>
            <td colspan="2">
              <table
                width="100%"
                border="0"
                style="
                  border: 1px solid #adadad;
                  border-bottom: 0px solid #adadad;
                  font-size: 13px;
                "
                cellspacing="0"
                cellpadding="0"
              >
                <thead>
                  <tr>
                    <td
                      width="15%"
                      style="
                        border-bottom: 1px solid #adadad;
                        border-right: 1px solid #adadad;
                        padding: 10px;
                      "
                    >
                      <p class="m-0 text-dark" style="font-weight: 600">
                        Commodity
                      </p>
                    </td>
                    <td
                      width="15%"
                      style="
                        border-bottom: 1px solid #adadad;
                        border-right: 1px solid #adadad;
                        padding: 10px;
                      "
                    >
                      <p class="m-0 text-dark" style="font-weight: 600">
                        Quantity
                      </p>
                    </td>
                    <td
                      width="15%"
                      style="
                        border-bottom: 1px solid #adadad;
                        border-right: 1px solid #adadad;
                        padding: 10px;
                      "
                    >
                      <p class="m-0 text-dark" style="font-weight: 600">Rate</p>
                    </td>
                    <td
                      width="27%"
                      style="
                        border-bottom: 1px solid #adadad;
                        border-right: 1px solid #adadad;
                        padding: 10px;
                      "
                    >
                      <p class="m-0 text-dark" style="font-weight: 600">
                        Description
                      </p>
                    </td>
                    <td
                      style="
                        border-bottom: 1px solid #adadad;
                        text-align: left;
                        padding: 10px;
                      "
                    >
                      <p class="m-0 text-dark" style="font-weight: 600">
                        Amount
                      </p>
                    </td>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of sOrderDetails">
                    <td
                      style="
                        border-bottom: 1px solid #adadad;
                        border-right: 1px solid #adadad;
                        padding: 10px;
                      "
                    >
                      {{ item.commodity ? item.commodity : "-" }}
                    </td>
                    <td
                      style="
                        border-bottom: 1px solid #adadad;
                        border-right: 1px solid #adadad;
                        padding: 10px;
                      "
                    >
                      {{ item.qty ? item.qty : "-" }} {{ item.qtyUnit }}
                    </td>
                    <td
                      style="
                        border-bottom: 1px solid #adadad;
                        border-right: 1px solid #adadad;
                        padding: 10px;
                      "
                    >
                      {{ item.rate ? item.rate : "-" }} /
                      {{ item.rateUnit }}
                    </td>
                    <td
                      style="
                        border-bottom: 1px solid #adadad;
                        border-right: 1px solid #adadad;
                        padding: 10px;
                      "
                    >
                      {{ item.desc ? item.desc : "-" }}
                    </td>
                    <td
                      style="
                        border-bottom: 1px solid #adadad;
                        border-right: 1px solid #adadad;
                        padding: 10px;
                      "
                    >
                      {{ item.amount ? (item.amount | number: "1.2-2") : "-" }}
                      {{ currency }}
                    </td>
                  </tr>
                  <tr *ngIf="sOrderDetails?.length === 0">
                    <td>No Data Found</td>
                  </tr>
                </tbody>
              </table>
              <table class="border-0 w-100 mt-4">
                <tbody>
                  <tr>
                    <td class="border-0 text-right" colspan="5">
                      Total Amount:
                      <span style="font-size: 30px; font-weight: 600"
                        >{{ currency }}
                        {{
                          finalTotal ? (finalTotal | number: "1.2-2") : "0"
                        }}</span
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2">
              <table border="0" align="center" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <td align="center">
                      <h2 style="font-size: 13px">Powered By</h2>
                      <img
                        src="../../../../../../assets/img/logo.png"
                        width="207"
                        height="28"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        (click)="modal.dismiss('Cross click')"
        class="btn btn-default"
      >
        Cancel
      </button>
      <button (click)="generatePDF()" class="btn btn-success ml-2">
        Download
      </button>
    </div>
  </div>
</ng-template>
