<section class="body">
  <!-- start: header -->
  <app-header></app-header>
  <!-- end: header -->

  <div class="inner-wrapper">
    <!-- start: sidebar -->
    <app-sidebar></app-sidebar>
    <!-- end: sidebar -->

    <section role="main" class="content-body">
      <header class="page-header">
        <h2>{{ title }}</h2>

        <div class="right-wrapper text-right">
          <ol class="breadcrumbs pr-3">
            <li>
              <a routerLink="">
                <i class="fas fa-home"></i>
              </a>
            </li>
            <li>
              <span>{{ title }}</span>
            </li>
          </ol>
        </div>
      </header>

      <section class="card mb-4">
        <div class="card-body">
          <h2 class="card-title mt-2 mb-3">Driver Logs</h2>

          <form class="form-horizontal form-bordered" method="get">
            <div class="form-group row">
              <div class="col-lg-4">
                <div class="input-group mb-1">
                  <span class="input-group-prepend positionsta">
                    <span class="input-group-text"
                      ><i class="fas fa-search"></i
                    ></span>
                  </span>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search By Drivers"
                  />
                </div>
              </div>
              <div class="col-lg-4">
                <div class="input-group mb-1">
                  <span class="input-group-prepend positionsta">
                    <span class="input-group-text"
                      ><i class="fas fa-calendar-alt"></i
                    ></span>
                  </span>
                  <input
                    type="text"
                    data-plugin-datepicker
                    class="form-control"
                    placeholder="Search By Date"
                  />
                </div>
              </div>
              <div class="col-lg-4">
                <div class="input-group mb-1">
                  <span class="input-group-prepend positionsta">
                    <span class="input-group-text"
                      ><i class="fas fa-search"></i
                    ></span>
                  </span>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search Logs"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>

      <div class="row">
        <div class="col">
          <section class="card">
            <header class="card-header">
              <h2 class="card-title">{{ title }}</h2>
            </header>
            <div class="card-body">
              <table
                class="table table-bordered table-striped mb-0"
                #FhDataTable
                id="datatable-default"
              >
                <thead>
                  <tr>
                    <th>Yard Name</th>
                    <th>Description</th>
                    <!--<th>Address ID</th>-->
                    <!--<th>Time Zone</th>-->

                    <th>Edit</th>
                    <th>Delete</th>
                    <!--<th class="d-lg-none">Operator</th>-->
                    <!--<th class="d-lg-none">CSS grade</th>-->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let yard of yards">
                    <td>{{ yard.yardName }}</td>
                    <td>{{ yard.description }}</td>
                    <!--<td>{{yard.addressID}}</td>-->
                    <!--<td>{{yard.timeZone}}</td>-->
                    <td>
                      <a routerLink="/Edit-Yard/{{ yard.yardID }}">Edit</a>
                    </td>
                    <td>
                      <a [routerLink]="" (click)="deleteYard(yard.yardID)"
                        >Delete</a
                      >
                    </td>
                    <!--<td class="center d-lg-none">4</td>-->
                    <!--<td class="center d-lg-none">X</td>-->
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
</section>
