<section class="body">
  <!-- start: header -->
  <app-header></app-header>
  <!-- end: header -->

  <div class="inner-wrapper">
    <!-- start: sidebar -->
    <app-sidebar></app-sidebar>
    <!-- end: sidebar -->

    <section role="main" class="content-body pt-0 pl-0 pr-0">
      <header class="page-header pr-5">
        <div class="row pr-1 mr-1" style="padding-top:10px;">
          
          <div class="col-md-2 col-lg-2">
            <div class="input-group input-group-md mb-3">
              <input
                type="date"
                class="form-control"
                placeholder="Search  by  Date "
              />
            </div>
          </div>
          
          <div class="col-md-2 col-lg-2">
            <div class="input-group input-group-md mb-3">
              <select data-plugin-selectTwo class="form-control populate">
                <optgroup label="">
                  <option value="">Vehicle 1</option>
                  <option value="">Vehicle 2</option>
                  <option value="">Vehicle 3</option>
                  <option value="">Vehicle 4</option>
                </optgroup>
              </select>
            </div>
          </div>

          <div class="col-md-2 col-lg-2">
            <div class="input-group input-group-md mb-3">
              <select data-plugin-selectTwo class="form-control populate">
                <optgroup label="">
                  <option value="">All Inspection Reports</option>
                  <option value="">Inspections With Defects</option>
                  <option value="">Inspections Without Defects</option>
                  <option value="">Defects Corrected</option>
                  <option value="">Defects Corrected</option>
                  <option value="">Defects Need Not To Be Corrected</option>
                  <option value="">Defects Status Unknown</option>
                </optgroup>
              </select>
            </div>
          </div>

          <div class="col-md-2 col-lg-2">
            <div class="input-group input-group-md mb-3">
              <select data-plugin-selectTwo class="form-control populate">
                <optgroup label="">
                  <option value="">Driver 1</option>
                  <option value="">Driver 2</option>
                  <option value="">Driver 3</option>
                  <option value="">Driver 4</option>
                </optgroup>
              </select>
            </div>
          </div>

          <div class="col-md-2 col-lg-2">
            <div class="input-group input-group-sm mb-3">
              <button type="submit" class="btn btn-sm btn-success">
                Search
              </button>
            </div>
          </div>

          <div class="col-md-2 col-lg-2 text-right pr-1">
            <div class="btn-group flex-wrap">
              <button
                type="button"
                class="btn btn-success btn-sm dropdown-toggle"
                data-toggle="dropdown"
                aria-expanded="false"
              >
                Actions<span class="caret"></span>
              </button>
              <div class="dropdown-menu" role="menu" x-placement="bottom-start" style=" position: absolute; will-change: transform;
                  top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);"
              >
                <a class="dropdown-item text-1" href="">Edit</a>
                <a class="dropdown-item text-1" href="">Delete</a>
                <a class="dropdown-item text-1" href="">Import</a>
                <a class="dropdown-item text-1" href="">Export</a>
              </div>
            </div>
          </div>

        </div>
      </header>

      <div class="row">
        <div class="col pr-0">
          <section class="card">
            <div class="card-body">
              <table
                class="table table-bordered table-striped mb-0 simple-table"
              >
                <thead>
                  <tr>
                    <th>Date/Time</th>
                    <th>Driver</th>
                    <th>Vehicle/Asset</th>
                    <th>Defects</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="cursorpoint"  routerLink="/compliance/dvir/inspection-detail/{{
                      inspection.inspectionID
                    }}"                     *ngFor="let inspection of dailyInspections" >
                    <td>{{ inspection.timeCreated | date:'medium' }}</td>
                    <td>driveruser1</td>
                    <td>{{ inspection.inspectionType }}</td>
                    <td>{{ inspection.parameters.length }}</td>
                    <td class="text-success font-weight-bold">
                      Safe to Drive.
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
</section>
