<section class="body">
  <!-- start: header -->
  <app-header></app-header>
  <!-- end: header -->

  <div class="inner-wrapper">
    <!-- start: sidebar -->
    <app-sidebar></app-sidebar>
    <!-- end: sidebar -->
    <section role="main" class="content-body">
      <header class="page-header">
        <h2>Drivers</h2>
        <div class="right-wrapper text-right">
          <ol class="breadcrumbs pr-3">
            <li>
              <a href="index.html">
                <i class="fas fa-home"></i>
              </a>
            </li>
            <li><span>Drivers</span></li>
          </ol>
        </div>
      </header>
      <section class="card mb-4">
        <div class="topnav">
          <ul>
            <li>
              <a
                (click)="showAll()"
                class="all btn"
                [ngClass]="{ active: activeTab == 'all' }"
                >All</a
              >
            </li>
            <li>
              <a
                (click)="showOnDuty()"
                class="onDuty btn"
                [ngClass]="{ active: activeTab == 'onDuty' }"
                >On Duty</a
              >
            </li>
            <li>
              <a
                (click)="showOffDuty()"
                class="offDuty btn"
                [ngClass]="{ active: activeTab == 'offDuty' }"
                >Off Duty</a
              >
            </li>
          </ul>
        </div>
      </section>

      <div class="row">
        <div class="col">
          <section class="card">
            <header class="card-header">
              <div class="card-actions">
                <a
                  href="#"
                  class="card-action card-action-toggle"
                  data-card-toggle
                ></a>
                <a
                  href="#"
                  class="card-action card-action-dismiss"
                  data-card-dismiss
                ></a>
              </div>

              <h2 class="card-title">Driver</h2>
            </header>
            <div class="card-body">
              <table
                class="table table-bordered table-striped mb-0"
                id="datatable-default"
              >
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>HOS</th>
                    <th>Current Vehicle</th>
                    <th>Assets Attached</th>
                    <th>Phone</th>
                    <th>DL State</th>
                    <th>DL Number</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of allData">
                    <td>
                      {{ data.name }}<br />
                      <strong>{{ data.location }}</strong>
                    </td>
                    <td>
                      <span [ngClass]="data.status == 'ON' ? 'onduty' : 'offduty'">{{ data.status }}</span>
                    </td>
                    <td>
                      {{ data.HOS }}
                    </td>
                    <td>  
                      {{ data.currentVehice }}
                    </td>
                    <td>
                      {{ data.assetsAttached }}
                    </td>
                    <td>
                      {{ data.phone }}
                    </td>
                    <td>
                      {{ data.dlState }}
                    </td>
                    <td>
                      {{ data.dlNumber }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
</section>
