<section class="body">
  <!-- start: header -->
  <app-header></app-header>

  <!-- end: header -->

  <div class="inner-wrapper">
    <!-- start: sidebar -->
    <app-sidebar></app-sidebar>
    <!-- end: sidebar -->
    <section role="main" class="content-body">
      <header class="page-header">
         <h2>Load Board</h2>
         <div class="right-wrapper text-right">
            <ol class="breadcrumbs pr-3">
               <li>
                  <a href="index.html">
                  <i class="fas fa-home"></i>
                  </a>
               </li>
               <li><span>Load</span></li>
            </ol>
         </div>
      </header>
      <div class="row">
         <div class="col">
            <section class="card">
               <header class="card-header">
                  <h2 class="card-title">Load Board</h2>
               </header>
               <div class="card-body">
                  <form class="form-horizontal form-bordered" method="get">
                     <div class="form-group row">
                       <div class="col-lg-12">
                           <label class="control-label text-lg-right text-dark text-4 text-underline pt-2">Search DAT for loads here. Use the advanced search option to restrict search criteria.</label>
                        </div>
                         <div class="col-lg-9">
                           <div class="row">
                               <div class="col-lg-3">
                                   <label class="control-label text-lg-right pt-2" for="inputDefault">Truck</label>
                                   <select data-plugin-selectTwo class="form-control populate">
                                      <optgroup label="Select Truck">
                                         <option value="1">Truck 1</option>
                                         <option value="2">Truck 2</option>
                                         <option value="2">Truck 3</option>
                                         <option value="2">Truck 4</option>
                                         <!-- <option value="2"><a href="test-vehicle.html">Add New Truck</a></option> -->
                                      </optgroup>
                                   </select>
                               </div>
                               <div class="col-lg-3">
                                   <label class="control-label text-lg-right pt-2" for="inputDefault">Equipment Type</label>                                   
                                    <select data-plugin-selectTwo class="form-control populate">
                                      <optgroup label="Select Origin">
                                         <option value="1">Container</option>
                                         <option value="2">Low Boy</option>
                                         <option value="2">Step Deck</option>
                                         <option value="">Double Drop</option>
                                         <option value="">Dump Trailer</option>
                                         <option value="">Flatbed Hotshot</option>
                                      </optgroup>
                                   </select>
                                       <!--
                                         <div>
                                           <select class="form-control" multiple="multiple" data-plugin-multiselect="" data-plugin-options="{ &quot;maxHeight&quot;: 200 }" id="ms_example0" style="display: none;">
                                           <option value="Container">Container</option>
                                           <option value="Low Boy" selected="">Low Boy</option>
                                           <option value="mozarella" selected="">Step Deck</option>
                                           <option value="mushrooms">Double Drop</option>
                                           <option value="pepperoni">Dump Trailer</option>
                                           <option value="onions">Flatbed Hotshot</option>
                                       </select> 
                                   </div>-->

                                </div>
                                <div class="col-lg-3">
                                   <label class="control-label text-lg-right pt-2" for="inputDefault">Date</label>
                                   <div class="input-daterange input-group" data-plugin-datepicker="">
                                       <span class="input-group-prepend">
                                           <span class="input-group-text">
                                               <i class="fas fa-calendar-alt"></i>
                                           </span>
                                       </span>
                                       <input type="text" class="form-control" name="start">
                                       <span class="input-group-text border-left-0 border-right-0 rounded-0">
                                           to
                                       </span>
                                       <input type="text" class="form-control" name="end">
                                   </div>
                               </div>
                           </div>
                           <div class="row">
                               <div class="col-lg-3">
                                   <label class="control-label text-lg-right pt-2" for="inputDefault">Origin</label>
                                   <select data-plugin-selectTwo class="form-control populate">
                                      <optgroup label="Select Origin">
                                         <option value="1">City,State</option>
                                         <option value="2">Anywhere</option>
                                         <option value="2">Region</option>
                                         <option value="2">Zip Code</option>
                                      </optgroup>
                                   </select>
                               </div>
                               <div class="col-lg-3">
                                   <label class="control-label text-lg-right pt-2" for="inputDefault">Enter Location</label>
                                   <input type="text" class="form-control" id="inputDefault">
                                </div>
                                <div class="col-lg-3">
                                   <label class="control-label text-lg-right pt-2" for="inputDefault">Destination</label>
                                   <select data-plugin-selectTwo class="form-control populate">
                                       <optgroup label="Select Origin">
                                          <option value="1">City,State</option>
                                          <option value="2">Anywhere</option>
                                          <option value="2">Region</option>
                                          <option value="2">Zip Code</option>
                                       </optgroup>
                                    </select>
                               </div>
                                <div class="col-lg-3">
                                   <label class="control-label text-lg-right pt-2" for="inputDefault">Enter Location</label>
                                   <input type="text" class="form-control" id="inputDefault">
                                </div>
                           </div>
                           <div class="row">
                               <div class="col-lg-12 my-4 cursor_pointer" id="show_ad_options">
                                   Show Advanced Search Options
                               </div>
                               <div class="col-lg-12 my-4 cursor_pointer" id="hide_ad_options" style="display: none;">
                                   Hide Advanced Search Options
                               </div>
                               <!-- <span id="ad_options_box"> -->
                                   <div class="col-lg-3">
                                       <label class="control-label text-lg-right pt-2" for="inputDefault">Max. Deadhead Origin</label>
                                        <input type="text" class="form-control">
                                   </div>
                                   <div class="col-lg-3">
                                       <label class="control-label text-lg-right pt-2" for="inputDefault">Max. Deadhead Destination</label>
                                       <input type="text" class="form-control" id="inputDefault">
                                    </div>
                                    <div class="col-lg-6">
                                       <div class="row">
                                           <div class="col-lg-3">
                                               <label class="control-label text-lg-right pt-2" for="inputDefault">Load Type</label>
                                               <select data-plugin-selectTwo class="form-control populate">
                                                   <optgroup label="Select Origin">
                                                      <option value="1">FTL</option>
                                                      <option value="2">LTL</option>
                                                      <option value="2">Both</option>
                                                   </optgroup>
                                                </select>
                                            </div>
                                            <div class="col-lg-3">
                                               <label class="control-label text-lg-right pt-2" for="inputDefault">Equipment Length</label>
                                               <input type="text" class="form-control" id="inputDefault">
                                            </div>
                                            <div class="col-lg-3">
                                               <label class="control-label text-lg-right pt-2" for="inputDefault">Equipment Weight</label>
                                               <input type="text" class="form-control" id="inputDefault">
                                            </div>
                                            <div class="col-lg-3">
                                               <label class="control-label text-lg-right pt-2" for="inputDefault">Equipment Height</label>
                                               <input type="text" class="form-control" id="inputDefault">
                                            </div>
                                       </div>
                                    </div>
                                   <!-- </span>                                         -->
                           </div>
                         </div>
                         <div class="col-lg-3">
                           <div class="form-group row">
                               <div class="col-lg-12 text-center">
                                   <label class="text-4">Not Connected to DAT!</label>                                            
                               </div>
                               <div class="col-lg-12 text-center">
                                   <label class="label_style">D</label>
                                   <label class="label_style">A</label>
                                   <label class="label_style">T</label>
                               </div>
                               <div class="col-lg-12 text-center mt-4">
                               <a href="https://web.loadlink.ca"><img src="/assets/img/load-board/loadlink.png" width="170px" height="55px"></a>
                               </div>
                               <div class="col-lg-12 text-center mt-4">
                                   <a href="https://www.123loadboard.com/"><img src="assets/img/load-board/123loadboard.png" width="170px" height="45px"></a>
                               </div>
                           </div>
                         </div>
                     </div>
                       <div class="form-group row">
                         <div class="col-lg-12 text-center">
                           <button type="reset" class="btn  btn-default mx-1">Reset</button>
                           <button type="submit" class="btn  btn-dark mx-1">Search</button>

                          </div>
                      </div>
                      <div class="form-group row">
                       <label class="col-lg-3 control-label text-lg-right">Max. Posting Age(hrs)</label>
                       <div class="col-lg-6">
                           <div class="m-md slider-dark ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" data-plugin-slider="" data-plugin-options="{ &quot;value&quot;: 10, &quot;range&quot;: &quot;min&quot;, &quot;max&quot;: 96 }" data-plugin-slider-output="#listenSlider">
                               <input id="listenSlider" type="hidden" value="10">
                           <div class="ui-slider-range ui-corner-all ui-widget-header ui-slider-range-min" style="width: 10%;"></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 10%;"></span></div>
                           <p class="output">The current <code>value</code> is: <b>10</b></p>
                       </div>
                   </div>
                      <div class="form-group row">
                       <table class="table table-responsive-md table-striped mb-0" id="addressTable">
                           <thead>
                               <tr>
                                   <th>Age</th>
                                   <th>Date</th>
                                   <th>Load Type</th>
                                   <th>Company</th>
                                   <th>Credit Score</th>
                                   <th>DHO</th>
                                   <th>Origin</th>
                                   <th>Destination</th>
                                   <th>Trip</th>
                                   <th>Length</th>
                                   <th>Weight</th>
                                   <th>Height</th>
                                   <th>Price</th>

                               </tr>
                           </thead>
                           <tbody>

                             <tr>
                                 <td>22</td>
                                 <td>May 4,2020</td>
                                 <td>FTL</td>
                                 <td>Sandhar Inc</td>
                                 <td>569</td>
                                 <td></td>
                                 <td>Calgary,Alberta</td>
                                 <td>Vancouver, British Columbia</td>
                                 <td></td>
                                 <td>300 miles</td>
                                 <td>200 lbs</td>
                                 <td>44 ft</td>
                                 <td>CAD 5500</td>
                             </tr>
                             <tr>
                              <td>34</td>
                              <td>APR 5,2020</td>
                              <td>LTL</td>
                              <td>Bhullar Inc</td>
                              <td>679</td>
                              <td></td>
                              <td>Calgary,Alberta</td>
                              <td>Vancouver, British Columbia</td>
                              <td></td>
                              <td>300 miles</td>
                              <td>200 lbs</td>
                              <td>44 ft</td>
                              <td>CAD 5500</td>
                          </tr>
                          <tr>
                            <td>12</td>
                            <td>May 6,2020</td>
                            <td>LTL</td>
                            <td>Pandey Inc</td>
                            <td>549</td>
                            <td></td>
                            <td>Toronto,Ontario</td>
                            <td>Regina, Saskatchewan</td>
                            <td></td>
                            <td>200 miles</td>
                            <td>200 lbs</td>
                            <td>44 ft</td>
                            <td>CAD 5500</td>
                        </tr>
                           </tbody>
                       </table>
                     </div> 
                  </form>
               </div>
            </section>
         </div>
      </div>
   </section>

    <!-- <section role="main" class="content-body">
      <header class="page-header">
        <h2>Loadboard Dashboard</h2>
        <div class="right-wrapper text-right">
          <ol class="breadcrumbs pr-3">
            <li>
              <a href="index.html">
                <i class="fas fa-home"></i>
              </a>
            </li>
            <li><span>Load board Dashboard</span></li>
          </ol>
        </div>
      </header>

      <section class="card mb-4">
        <div class="card-body">
          <a href="#" class="mb-1 mt-1 mr-2 btn btn-default"
            ><i class="fas fa-plus"></i> Add Load</a
          >
          <a href="#" class="mb-1 mt-1 mr-2 btn btn-default"
            ><i class="fas fa-plus"></i> Dispatch</a
          >
          <a href="#" class="mb-1 mt-1 mr-2 btn btn-default"
            ><i class="fas fa-plus"></i> Invoice</a
          >
          <a href="#" class="mb-1 mt-1 mr-2 btn btn-default"
            ><i class="fas fa-plus"></i> Contact</a
          >
          <a href="#" class="mb-1 mt-1 mr-2 btn btn-default"
            ><i class="fas fa-plus"></i> Company</a
          >
          <a href="#" class="mb-1 mt-1 mr-2 btn btn-default"
            ><i class="fas fa-plus"></i> Income</a
          >
          <a href="#" class="mb-1 mt-1 mr-2 btn btn-default"
            ><i class="fas fa-plus"></i> Expense</a
          >
          <a href="#" class="mb-1 mt-1 mr-2 btn btn-default"
            ><i class="fas fa-plus"></i> Equipment</a
          >

          <div class="pull-right">
            <a href="#" class="mb-1 mt-1 mr-1 btn btn-success"
              ><i class="fas fa-plus"></i> Create Your Widget</a
            >
          </div>
        </div>
      </section>

      <div class="row">
        <div class="col-xl-6 col-12 mb-3">
          <div class="widgetload">
            <div class="widgettbload">
              <span class="pull-right text-5 mt-2 text-dark">
                <select class="form-control form-control-sm mb-3">
                  <option>Active Loads</option>
                  <option>Undispatched Loads</option>
                  <option>Completed Loads</option>
                </select>
              </span>
              <h2
                class="pull-left mt-0 mb-0 text-4 font-weight-semibold text-dark"
              >
                Active Load Borad
              </h2>
            </div>

            <div class="widgetlinfo">
              <table class="table table-responsive-md table-sm mb-0">
                <thead>
                  <tr>
                    <th>Load</th>
                    <th>Bill To</th>
                    <th>P/L</th>
                    <th>D/L</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>FTL-6325</td>
                    <td>Mark</td>
                    <td>Cambridge</td>
                    <td>Kingston</td>
                    <td class="actions">
                      <a href=""><i class="fas fa-pencil-alt"></i></a>
                      <a href="" class="delete-row"
                        ><i class="far fa-trash-alt"></i
                      ></a>
                    </td>
                  </tr>
                  <tr>
                    <td>FTL-825</td>
                    <td>Amrinder</td>
                    <td>Cambridge</td>
                    <td>Markham</td>
                    <td class="actions">
                      <a href=""><i class="fas fa-pencil-alt"></i></a>
                      <a href="" class="delete-row"
                        ><i class="far fa-trash-alt"></i
                      ></a>
                    </td>
                  </tr>
                  <tr>
                    <td>FTL-1632</td>
                    <td>Trend</td>
                    <td>Regina</td>
                    <td>Maple Ridge</td>
                    <td class="actions">
                      <a href=""><i class="fas fa-pencil-alt"></i></a>
                      <a href="" class="delete-row"
                        ><i class="far fa-trash-alt"></i
                      ></a>
                    </td>
                  </tr>
                  <tr>
                    <td>FTL-00325</td>
                    <td>Gurjit</td>
                    <td>Cambridge</td>
                    <td>Hamilton</td>
                    <td class="actions">
                      <a href=""><i class="fas fa-pencil-alt"></i></a>
                      <a href="" class="delete-row"
                        ><i class="far fa-trash-alt"></i
                      ></a>
                    </td>
                  </tr>
                  <tr>
                    <td>LTL-56325</td>
                    <td>Nathan</td>
                    <td>Edmonton</td>
                    <td>Kingston</td>
                    <td class="actions">
                      <a href=""><i class="fas fa-pencil-alt"></i></a>
                      <a href="" class="delete-row"
                        ><i class="far fa-trash-alt"></i
                      ></a>
                    </td>
                  </tr>
                </tbody>
              </table>

              <a
                href="load-board3.html"
                class="mb-1 pull-right btn-xs mt-1 mr-2 btn btn-default"
                >All Loads</a
              >
            </div>
          </div>
        </div>

        <div class="col-xl-6 col-12 mb-3">
          <div class="widgetload">
            <div class="widgettbload">
              <span class="pull-right text-5 mt-2 text-dark">
                <select class="form-control form-control-sm mb-3">
                  <option>Active Dispatches</option>
                  <option>Assigned Dispatches</option>
                  <option>Deliverd Dispatches</option>
                </select>
              </span>
              <h2
                class="pull-left mt-0 mb-0 text-4 font-weight-semibold text-dark"
              >
                Active Dispatches
              </h2>
            </div>

            <div class="widgetlinfo">
              <table class="table table-responsive-md table-sm mb-0">
                <thead>
                  <tr>
                    <th>Dispatch Id</th>
                    <th>P/L</th>
                    <th>D/L</th>
                    <th>Driver</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>DIS-35</td>
                    <td>Toronto</td>
                    <td>Calgary</td>
                    <td>Harjot</td>
                    <td>Strated Trip</td>
                    <td class="actions">
                      <a href=""><i class="fas fa-pencil-alt"></i></a>
                      <a href="" class="delete-row"
                        ><i class="far fa-trash-alt"></i
                      ></a>
                    </td>
                  </tr>
                  <tr>
                    <td>DIS-25</td>
                    <td>Delta</td>
                    <td>Richmond</td>
                    <td>Ladi</td>
                    <td>At Shipper</td>
                    <td class="actions">
                      <a href=""><i class="fas fa-pencil-alt"></i></a>
                      <a href="" class="delete-row"
                        ><i class="far fa-trash-alt"></i
                      ></a>
                    </td>
                  </tr>
                  <tr>
                    <td>DIS-63</td>
                    <td>Laval</td>
                    <td>Edmonton</td>
                    <td>jack</td>
                    <td>Enroute</td>
                    <td class="actions">
                      <a href=""><i class="fas fa-pencil-alt"></i></a>
                      <a href="" class="delete-row"
                        ><i class="far fa-trash-alt"></i
                      ></a>
                    </td>
                  </tr>
                  <tr>
                    <td>DIS-15</td>
                    <td>Hamilton</td>
                    <td>Regina</td>
                    <td>Leo</td>
                    <td>At Shipper</td>
                    <td class="actions">
                      <a href=""><i class="fas fa-pencil-alt"></i></a>
                      <a href="" class="delete-row"
                        ><i class="far fa-trash-alt"></i
                      ></a>
                    </td>
                  </tr>
                  <tr>
                    <td>DIS-80</td>
                    <td>Delta</td>
                    <td>Toronto</td>
                    <td>Nathan</td>
                    <td>Enroute</td>
                    <td class="actions">
                      <a href=""><i class="fas fa-pencil-alt"></i></a>
                      <a href="" class="delete-row"
                        ><i class="far fa-trash-alt"></i
                      ></a>
                    </td>
                  </tr>
                </tbody>
              </table>

              <a
                href="#"
                class="mb-1 pull-right btn-xs mt-1 mr-2 btn btn-default"
                >All Dispatches</a
              >
            </div>
          </div>
        </div>

        <div class="col-xl-6 col-12 mb-3">
          <div class="widgetload">
            <div class="widgettbload">
              <span class="pull-right text-5 mt-2 text-dark">
                <select class="form-control form-control-sm mb-3">
                  <option>Open Invoices</option>
                  <option>Past Invoicesv</option>
                </select>
              </span>
              <h2
                class="pull-left mt-0 mb-0 text-4 font-weight-semibold text-dark"
              >
                Open Invoices
              </h2>
            </div>

            <div class="widgetlinfo">
              <table class="table table-responsive-md table-sm mb-0">
                <thead>
                  <tr>
                    <th>Invoice No.</th>
                    <th>Bill To</th>
                    <th>Due Date</th>
                    <th>Total Amount</th>
                    <th>Balance</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>IN-56325</td>
                    <td>Total Logistics</td>
                    <td>05/05/2020</td>
                    <td>$355.00</td>
                    <td>$355.00</td>
                    <td class="actions">
                      <a href=""><i class="fas fa-pencil-alt"></i></a>
                      <a href="" class="delete-row"
                        ><i class="far fa-trash-alt"></i
                      ></a>
                    </td>
                  </tr>
                  <tr>
                    <td>IN-325</td>
                    <td>ABC Logistics</td>
                    <td>15/05/2020</td>
                    <td>$1200.50</td>
                    <td>$1200.50</td>
                    <td class="actions">
                      <a href=""><i class="fas fa-pencil-alt"></i></a>
                      <a href="" class="delete-row"
                        ><i class="far fa-trash-alt"></i
                      ></a>
                    </td>
                  </tr>
                  <tr>
                    <td>IN-1125</td>
                    <td>XYZ Track</td>
                    <td>26/04/2020</td>
                    <td>$3550.00</td>
                    <td>$3550.00</td>
                    <td class="actions">
                      <a href=""><i class="fas fa-pencil-alt"></i></a>
                      <a href="" class="delete-row"
                        ><i class="far fa-trash-alt"></i
                      ></a>
                    </td>
                  </tr>
                  <tr>
                    <td>IN-1125</td>
                    <td>Shipped Co</td>
                    <td>16/03/2020</td>
                    <td>$1150.00</td>
                    <td>$1150.00</td>
                    <td class="actions">
                      <a href=""><i class="fas fa-pencil-alt"></i></a>
                      <a href="" class="delete-row"
                        ><i class="far fa-trash-alt"></i
                      ></a>
                    </td>
                  </tr>
                  <tr>
                    <td>IN-0025</td>
                    <td>Shipped Co</td>
                    <td>05/02/2020</td>
                    <td>$750.00</td>
                    <td>$750.00</td>
                    <td class="actions">
                      <a href=""><i class="fas fa-pencil-alt"></i></a>
                      <a href="" class="delete-row"
                        ><i class="far fa-trash-alt"></i
                      ></a>
                    </td>
                  </tr>
                </tbody>
              </table>

              <a
                href="#"
                class="mb-1 pull-right btn-xs mt-1 mr-2 btn btn-default"
                >All Invoices</a
              >
            </div>
          </div>
        </div>

        <div class="col-xl-6 col-12 mb-3">
          <div class="widgetload">
            <div class="widgettbload">
              <span class="pull-right text-5 mt-2 text-dark">
                <select class="form-control form-control-sm mb-3">
                  <option>Uninvoiced Loads</option>
                  <option>Unpaid Loads</option>
                  <option>Paid Loads</option>
                </select>
              </span>
              <h2
                class="pull-left mt-0 mb-0 text-4 font-weight-semibold text-dark"
              >
                Load Financial
              </h2>
            </div>

            <div class="widgetlinfo">
              <table class="table table-responsive-md table-sm mb-0">
                <thead>
                  <tr>
                    <th>Load</th>
                    <th>Bill To</th>
                    <th>P/L</th>
                    <th>D/L</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>FTL-56325</td>
                    <td>Mark</td>
                    <td>Cambridge</td>
                    <td>Kingston</td>
                    <td class="actions">
                      <a href=""><i class="fas fa-pencil-alt"></i></a>
                      <a href="" class="delete-row"
                        ><i class="far fa-trash-alt"></i
                      ></a>
                    </td>
                  </tr>
                  <tr>
                    <td>FTL-56325</td>
                    <td>Mark</td>
                    <td>Cambridge</td>
                    <td>Kingston</td>
                    <td class="actions">
                      <a href=""><i class="fas fa-pencil-alt"></i></a>
                      <a href="" class="delete-row"
                        ><i class="far fa-trash-alt"></i
                      ></a>
                    </td>
                  </tr>
                  <tr>
                    <td>FTL-56325</td>
                    <td>Mark</td>
                    <td>Cambridge</td>
                    <td>Kingston</td>
                    <td class="actions">
                      <a href=""><i class="fas fa-pencil-alt"></i></a>
                      <a href="" class="delete-row"
                        ><i class="far fa-trash-alt"></i
                      ></a>
                    </td>
                  </tr>
                  <tr>
                    <td>FTL-56325</td>
                    <td>Mark</td>
                    <td>Cambridge</td>
                    <td>Kingston</td>
                    <td class="actions">
                      <a href=""><i class="fas fa-pencil-alt"></i></a>
                      <a href="" class="delete-row"
                        ><i class="far fa-trash-alt"></i
                      ></a>
                    </td>
                  </tr>
                  <tr>
                    <td>FTL-56325</td>
                    <td>Mark</td>
                    <td>Cambridge</td>
                    <td>Kingston</td>
                    <td class="actions">
                      <a href=""><i class="fas fa-pencil-alt"></i></a>
                      <a href="" class="delete-row"
                        ><i class="far fa-trash-alt"></i
                      ></a>
                    </td>
                  </tr>
                </tbody>
              </table>

              <a
                href="#"
                class="mb-1 pull-right btn-xs mt-1 mr-2 btn btn-default"
                >All Loads Financial</a
              >
            </div>
          </div>
        </div>
      </div>
    </section> -->
  </div>
</section>
