<section class="body">
    <!-- start: header -->
    <app-header></app-header>
    <!-- end: header -->
  
    <div class="inner-wrapper">
      <!-- start: sidebar -->
      <app-sidebar></app-sidebar>
      <!-- end: sidebar -->
  
    <section role="main" class="content-body pl-0 pt-0">
        <header class="page-header">
            <div class="row pr-5 pl-1" style="padding-top:10px;">
                <div class="col-md-2 col-lg-2 pr-0">
                    <div class="input-group input-group-sm mb-3">
                        <input
                          autocomplete="off"
                          type="text"
                          name="unitName"
                          [(ngModel)]="unitName"
                          class="form-control"
                          (input)="getSuggestions($event.target.value)"
                          placeholder="Search Issues by Unit"
                        />
                      </div>
                      <div
                        *ngFor="let suggestedUnit of suggestedUnits"
                        style="cursor: pointer"
                        (click)="setUnit(suggestedUnit.unitID, suggestedUnit.unitName)"
                      >
                        {{ suggestedUnit.unitName }}
                      </div>
                </div>
    
                <div class="col-md-2 col-lg-2 pl-1 pr-0">
                   
                    <ng-select [(ngModel)]="task"
                                    name="task">
                                    <ng-option value="A/C Compressor Replacement">A/C Compressor Replacement</ng-option>
                                    <ng-option value="A/C Condenser Replacemen">A/C Condenser Replacement</ng-option>
                                    <ng-option value="A/C Diagnosis">A/C Diagnosis</ng-option>
                                    <ng-option value="A/C Evaporator Replacement">A/C Evaporator Replacement</ng-option>
                                    <ng-option value="A/C Inspection">A/C Inspection</ng-option>
                                    <ng-option value="A/C Recharge">A/C Recharge</ng-option>
                                    <ng-option value="Air Brake System Valve Inspection">Air Brake System Valve
                                       Inspection</ng-option>
                                    <ng-option value="Air Cleaner Inspection">Air Cleaner Inspection</ng-option>
                                    <ng-option value="Air Compressor Inspection">Air Compressor Inspection</ng-option>
                                    <ng-option value="Air Dryer Desiccant Replacement">Air Dryer Desiccant Replacement
                                    </ng-option>
                                    <ng-option value="Air Dryer Inspection">Air Dryer Inspection</ng-option>
                                    <ng-option value="Air Filter Replacement">Air Filter Replacement</ng-option>

                                    <ng-option value="Alcohol Evaporator Cleaning">Alcohol Evaporator Cleaning
                                    </ng-option>
                                    <ng-option value="Alternator Replacement">Alternator Replacement</ng-option>
                                    <ng-option value="Automatic Drain Valve Inspection">Automatic Drain Valve Inspection
                                    </ng-option>
                                    <ng-option value="Axle Lubricant and Filter Replacement">Axle Lubricant and Filter
                                       Replacement</ng-option>
                                    <ng-option value="Ball Joint Replacement">Ball Joint Replacement</ng-option>
                                    <ng-option value="Battery Inspection">Battery Inspection</ng-option>
                                    <ng-option value="Battery-Powered HVAC System Inspection">Battery-Powered HVAC
                                       System Inspection</ng-option>
                                    <ng-option value="Battery Replacement">Battery Replacement</ng-option>
                                    <ng-option value="Brake Caliper Replacement">Brake Caliper Replacement</ng-option>
                                    <ng-option value="Brake Camshaft Bracket Lubrication">Brake Camshaft Bracket
                                       Lubrication</ng-option>
                                    <ng-option value="Brake Inspection">Brake Inspection</ng-option>
                                    <ng-option value="Brake Pad(s) Replacement">Brake Pad(s) Replacement</ng-option>

                                    <ng-option value="Brake Rotor Replacement">Brake Rotor Replacement</ng-option>
                                    <ng-option value="Brake Slack Adjuster Lubrication">Brake Slack Adjuster Lubrication
                                    </ng-option>
                                    <ng-option value="Cabin Air FIlter Replacement">Cabin Air FIlter Replacement
                                    </ng-option>
                                    <ng-option value="Cab Shock Absorber Bracket Torque Check">Cab Shock Absorber
                                       Bracket Torque Check</ng-option>
                                    <ng-option value="Car Wash">Car Wash</ng-option>
                                    <ng-option value="Catalytic Converter Replacement">Catalytic Converter Replacement
                                    </ng-option>
                                    <ng-option value="Charging and Starting System Inspection">Charging and Starting
                                       System Inspection</ng-option>
                                    <ng-option value="Charging System Diagnosis">Charging System Diagnosis</ng-option>
                                    <ng-option value="Clutch Hydraulic Fluid Level Check"> Clutch Hydraulic Fluid Level
                                       Check</ng-option>
                                    <ng-option value="Clutch Hydraulic Fluid Replacement">Clutch Hydraulic Fluid
                                       Replacement</ng-option>
                                    <ng-option value="Clutch Release Bearing Lubrication">Clutch Release Bearing
                                       Lubrication</ng-option>
                                    <ng-option value="Coolant Flush">Coolant Flush</ng-option>

                                    <ng-option value="Cooling System Fluid Level Inspection">Cooling System Fluid Level
                                       Inspection</ng-option>
                                    <ng-option value="Clutch Hydraulic Fluid Replacement">Clutch Hydraulic Fluid
                                       Replacement</ng-option>
                                    <ng-option value="Door Window Motor/Regulator Replacement">Door Window
                                       Motor/Regulator Replacement</ng-option>
                                    <ng-option value="Drag Link Inspection">Drag Link Inspection</ng-option>
                                    <ng-option value="Drive Axle Assembly Fluid Replacement">Drive Axle Assembly Fluid
                                       Replacement</ng-option>
                                    <ng-option value="Driveline Inspection">Driveline Inspection</ng-option>
                                    <ng-option value="Driveline Lubrication">Driveline Lubrication</ng-option>
                                    <ng-option value="Engine Air Filter Replacement">Engine Air Filter Replacement
                                    </ng-option>
                                    <ng-option value="Engine Belt Inspection">Engine Belt Inspection</ng-option>
                                    <ng-option value="Engine Coolant Drain & Refill">Engine Coolant Drain & Refill
                                    </ng-option>
                                    <ng-option value="Engine Coolant Replacement">Engine Coolant Replacement</ng-option>
                                    <ng-option value="Engine/Drive Belt(s) Inspection">Engine/Drive Belt(s) Inspection
                                    </ng-option>


                                    <ng-option value="Engine/Drive Belt(s) Replacement">Engine/Drive Belt(s) Replacement
                                    </ng-option>
                                    <ng-option value="Engine Oil & Filter Replacement">Engine Oil & Filter Replacement
                                    </ng-option>
                                    <ng-option value="Exhaust Manifold Replacement">Exhaust Manifold Replacement
                                    </ng-option>
                                    <ng-option value="Exhaust System Inspection">Exhaust System Inspection</ng-option>
                                    <ng-option value="Factory Scheduled Maintenance">Factory Scheduled Maintenance
                                    </ng-option>
                                    <ng-option value="Fan Clutch Inspection">Fan Clutch Inspection</ng-option>
                                    <ng-option value="Fifth Wheel Inspection">Fifth Wheel Inspection</ng-option>
                                    <ng-option value="Fifth Wheel Lubrication">Fifth Wheel Lubrication</ng-option>
                                    <ng-option value="Fuel Filter Replacement">Fuel Filter Replacement</ng-option>
                                    <ng-option value="Fuel Injector Replacement">Fuel Injector Replacement</ng-option>
                                    <ng-option value="Fuel Pump Replacement">Fuel Pump Replacement</ng-option>
                                    <ng-option value="Fuel/Water Separator Filter Replacement"> Fuel/Water Separator
                                       Filter Replacement</ng-option>

                                    <ng-option value="Head Gasket(s) Replacement">Head Gasket(s) Replacement</ng-option>
                                    <ng-option value="Heater Blower Motor Replacement">Heater Blower Motor Replacement
                                    </ng-option>
                                    <ng-option value="Heater Control Valve Replacement">Heater Control Valve Replacement
                                    </ng-option>
                                    <ng-option value="Heater Core Replacement">Heater Core Replacement</ng-option>
                                    <ng-option value="Heater Hose Replacement">Heater Hose Replacement</ng-option>
                                    <ng-option value="Ignition Coil Replacement">Ignition Coil Replacement</ng-option>
                                    <ng-option value="Intake Manifold Gasket Replacement">Intake Manifold Gasket
                                       Replacement</ng-option>
                                    <ng-option value="Knuckle Pin Lubrication">Knuckle Pin Lubrication</ng-option>
                                    <ng-option value="Mirror Folding Check">Mirror Folding Check</ng-option>
                                    <ng-option value="Oil Change">Oil Change</ng-option>
                                    <ng-option value="Oil & Filter Change">Oil & Filter Change</ng-option>
                                    <ng-option value=" Oil Pump Replacement"> Oil Pump Replacement</ng-option>

                                    <ng-option value="Other Maintenance">Other Maintenance</ng-option>
                                    <ng-option value="Oxygen Sensor Replacement">Oxygen Sensor Replacement</ng-option>
                                    <ng-option value="Power Steering Fluid and Filter Replacement">Power Steering Fluid
                                       and Filter Replacement</ng-option>
                                    <ng-option value="Power Steering Fluid Level Inspection">Power Steering Fluid Level
                                       Inspection</ng-option>
                                    <ng-option value="Power Steering Gear Lubrication">Power Steering Gear Lubrication
                                    </ng-option>
                                    <ng-option value="Power Steering Hose Replacement">Power Steering Hose Replacement
                                    </ng-option>
                                    <ng-option value="Power Steering Pump Replacement">Power Steering Pump Replacement
                                    </ng-option>
                                    <ng-option value="Pressure Relief Cap Inspection">Pressure Relief Cap Inspection
                                    </ng-option>
                                    <ng-option value="Radiator Repair">Radiator Repair</ng-option>
                                    <ng-option value="Resurface Rotors">Resurface Rotors</ng-option>
                                    <ng-option value="Rotate Tires"> Rotate Tires</ng-option>
                                    <ng-option value="Rotor Replacement">Rotor Replacement</ng-option>

                                    <ng-option value="Spark Plug Replacement">Spark Plug Replacement</ng-option>
                                    <ng-option value="Spark Plugs Replacement">Spark Plugs Replacement</ng-option>
                                    <ng-option value="Starter Replacement">Starter Replacement</ng-option>
                                    <ng-option value="Steer Axle Hub Cap Vent Plug Inspection">Steer Axle Hub Cap Vent
                                       Plug Inspection</ng-option>
                                    <ng-option value="Suspension Inspection">Suspension Inspection</ng-option>
                                    <ng-option value="Suspension U-Bolt Torque Check">Suspension U-Bolt Torque Check
                                    </ng-option>
                                    <ng-option value="Thermostat Replacement">Thermostat Replacement</ng-option>
                                    <ng-option value="Tie Rod End Replacement">Tie Rod End Replacement</ng-option>
                                    <ng-option value="Tie Rod Inspection">Tie Rod Inspection</ng-option>
                                    <ng-option value="Tire Check">Tire Check</ng-option>
                                    <ng-option value="Tire Replacement">Tire Replacement</ng-option>
                                    <ng-option value="Tire Rotation">Tire Rotation</ng-option>

                                    <ng-option value="Tire Service">Tire Service</ng-option>
                                    <ng-option value="Trailer Cable Inspection">Trailer Cable Inspection</ng-option>
                                    <ng-option value="Transfer Case Fluid Replacement">Transfer Case Fluid Replacement
                                    </ng-option>
                                    <ng-option value="Transmission Filter Replacement">Transmission Filter Replacement
                                    </ng-option>
                                    <ng-option value="Transmission Fluid Drain & Refill">Transmission Fluid Drain &
                                       Refill</ng-option>
                                    <ng-option value="Transmission Fluid Level Inspection">Transmission Fluid Level
                                       Inspection</ng-option>
                                    <ng-option value="Transmission Fluid Replacement">Transmission Fluid Replacement
                                    </ng-option>
                                    <ng-option value="Transmission Replacement"> Transmission Replacement</ng-option>
                                    <ng-option value="Water Pump Replacement">Water Pump Replacement</ng-option>
                                    <ng-option value="Wheel Alignment">Wheel Alignment</ng-option>
                                    <ng-option value="Wheel Bearing Replacement"> Wheel Bearing Replacement</ng-option>
                                    <ng-option value="Wheel Nut Check">Wheel Nut Check</ng-option>
                                    <ng-option value="Windshield Wiper(s) Replacement">Windshield Wiper(s) Replacement
                                    </ng-option>

                                 </ng-select>
                </div>
               
                 <div class="col-md-2 col-lg-2 pl-1 pr-0">
                    <div class="btn-group flex-wrap" style="width:100%;">
                        <button type="button" class="btn btn-default btn-md dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Search Renewals<span class="caret"></span></button>
                        <div class="dropdown-menu" role="menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 31px, 0px);">
                            <a class="dropdown-item text-1" href="">All Renewals</a>
                            <a class="dropdown-item text-1" href="">Overdue Only</a>
                            <a class="dropdown-item text-1" href="">Overdue + Due Soon</a>
                            <a class="dropdown-item text-1" href="">Due Soon Only</a>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-1  col-lg-1 pl-1">
                        <button type="submit" (click)="fetchReminders()"  class="btn btn-sm btn-success">Search</button>
                     </div>
                <div class="col-md-5  col-lg-5 text-right page-buttons">
                   
                    <div class="btn-group flex-wrap mr-1">
                        <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false">Actions<span class="caret"></span></button>
                        <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                            <a class="dropdown-item text-1" href="">Import</a>
                            <a class="dropdown-item text-1" href="">Export</a>
                        </div>
                    </div>
                    <a routerLink="/fleet/reminders/service-reminder/add" class="btn btn-sm btn-success mr-1"><i class="fas fa-plus"></i> Add
                        Service Reminder</a>
                </div>
            </div>
        </header>
        <section class="card bg-white">
            <div class="wtopnav">
                <ul class="nav nav-tabs top-tabs">
                    <li class="nav-item"><a class="nav-link active" routerLink="/fleet/reminders/service-reminder/list">Service Reminders </a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/fleet/reminders/vehicle-renewals/list">Vehicle Renewals </a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/fleet/reminders/contact-renewals/list">Contact Renewals </a></li>
                </ul>
            </div>
        </section>
        <div class="row text-dark">
            <div class="col">
                <section class="card">
                    <div class="card-body">
                        <table class="table table-bordered table-responsive-lg table-striped mb-0" datatable [dtOptions]="dtOptions"  *ngIf="remindersData.length > 0">
                            <thead>
                                <tr>                                 
                                    <th>Vehicle</th>
                                    <th>Service Task </th>
                                    <th>Next Due</th>
                                    <th>Last Completed</th>
                                    <th>Subscribers</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of remindersData;" style="cursor: pointer;">
                                    <td>
                                        {{vehicleList[item.reminderIdentification]}}
                                    </td>                                    
                                    <td><span class="text-danger font-weight-bold font-size-12" *ngIf = "item.reminderTasks.remainingDays === 0 ||  0 > item.reminderTasks.remainingDays">Overdue<br></span>
                                        <span class="text-warning font-weight-bold font-size-12" *ngIf = "5 > item.reminderTasks.remainingDays && item.reminderTasks.remainingDays > 0">Due Soon<br></span>
                                        <span class="font-weight-bold" title="Service Task">{{item.reminderTasks.task}}</span>
                                        <br><span class="font-size-12">Every {{item.reminderTasks.remindByDays}} Day(s) or {{item.reminderTasks.odometer}} miles</span></td>
                                    <td><span>{{item.reminderTasks.remainingDays}} Days from now</span><br> {{item.reminderTasks.remainingMiles}} miles from now</td>
                                    <td>{{item.lastCompleted}}</td>                                  
                                    <td><span *ngFor="let s of item.subscribers">
                                        <span *ngIf="s.subscriberType === 'user'">
                                            {{s.subscriberIdentification}},
                                        </span>
                                        <span *ngIf="s.subscriberType === 'group'">
                                            {{groups[s.subscriberIdentification]}},
                                        </span>
                                    </span></td>
                                    <td>
                                        <div class="btn-group flex-wrap">
                                            <button type="button" class="btn p-0" data-toggle="dropdown"><i
                                                    class="fas fa-ellipsis-v"></i></button>

                                            <div class="dropdown-menu" role="menu">
                                                <a class="dropdown-item text-1" href="javascript:;" (click)="resolveReminder(item.reminderIdentification)">Enter Service</a>
                                                <a class="dropdown-item text-1" href="#">Send Notifications</a>
                                                <a routerLink="/fleet/reminders/service-reminder/edit/{{item.reminderID }}" class="dropdown-item text-1" >Edit</a>
                                                <a href="javascript:;" class="dropdown-item text-1" (click)="deleteReminder(item.reminderID)">Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div *ngIf="!remindersData.length > 0" class="alert alert-info m-0 text-center" role="alert">
                            No records found
                            
                         </div>
                    </div>
                </section>
                <!-- Delete MODAL -->
                <div id="deleteModal" class="modal-block modal-block-primary mfp-hide">
                    <section class="card">
                        <header class="card-header">
                            <h2 class="card-title">Corfirm Action</h2>
                        </header>
                        <div class="card-body text-dark">
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="inputEmail4">Are you sure?</label>
                                    </div>
    
                                </div>
    
    
                            </form>
                        </div>
                        <footer class="card-footer">
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <button class="btn btn-danger modal-confirm">OK</button>
                                    <button class="btn btn-default modal-dismiss">Cancel</button>
                                </div>
                            </div>
                        </footer>
                    </section>
                </div>
            </div>
        </div>
    </section>
    </div>
  </section>
  