<section class="body">
  <div class="inner-wrapper">
    <section role="main" class="content-body pr-0 pl-0 pt-0">
      <header class="page-header pr19 pl7">
        <form class="form-horizontal" method="get">
          <div class="row" style="padding-top: 10px">
            <div class="col-md-2 col-lg-2 pr-0">
              <div class="mb-3">
                <ng-select
                  [clearable]="false"
                  [(ngModel)]="filterData.customerID"
                  name="customerID"
                  placeholder="Search By customers"
                >
                  <ng-option
                    *ngFor="let item of customersObjects | keyvalue"
                    value="{{ item.key }}"
                  >
                    {{ item.value }}
                  </ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 pr-0">
              <div class="input-daterange input-group" data-plugin-datepicker>
                <span class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-calendar-alt"></i>
                  </span>
                </span>
                <input
                  type="text"
                  [(ngModel)]="filterData.startDate"
                  name="startDate"
                  (click)="startDate.toggle()"
                  ngbDatepicker
                  #startDate="ngbDatepicker"
                  class="form-control"
                  placeholder="mm/dd/yyyy"
                  readonly
                />
                <span
                  class="
                    input-group-text
                    border-left-0 border-right-0
                    rounded-0
                  "
                >
                  to
                </span>
                <input
                  type="text"
                  [(ngModel)]="filterData.endDate"
                  name="endDate"
                  (click)="endDate.toggle()"
                  ngbDatepicker
                  #endDate="ngbDatepicker"
                  class="form-control"
                  placeholder="mm/dd/yyyy"
                  readonly
                />
              </div>
            </div>

            <div class="col-md-2 col-lg-2">
              <button
                type="submit"
                [disabled]="isSearch"
                (click)="searchSale()"
                class="btn btn-sm btn-success"
              >
                Search
              </button>
              <button
                type="button"
                class="btn btn-sm btn-success ml-3"
                [disabled]="isSearch"
                (click)="resetFilter()"
              >
                Reset
              </button>
            </div>
            <div class="col-md-5 col-lg-5 text-right pr-2">
              <a
                routerLink="/accounts/sales/receipts/add"
                class="btn btn-success btn-sm ml-2"
                style="color: white"
                ><i class="fas fa-plus"></i> Add Sales Payment Received
              </a>
            </div>
          </div>
        </form>
      </header>

      <section class="m-2">
        <div class="row mb-3">
          <div class="col-lg-12">
            <div class="bg-white p-3 text-dark">
              <div class="form-group row">
                <div class="col-lg-12">
                  <table
                    class="table table-bordered table-striped mb-0 simple-table"
                  >
                    <thead>
                      <tr class="">
                        <th class="text-2">Date</th>
                        <th class="text-2">Payment#</th>
                        <th class="text-2">Customer</th>
                        <th class="text-2">Reference#</th>
                        <th class="text-2">Invoice#</th>
                        <th class="text-2">Payment Mode</th>
                        <th class="text-2">Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="allReceipts.length === 0" class="text-center">
                        <td colspan="9">{{ dataMessage }}</td>
                      </tr>
                      <tr *ngFor="let item of allReceipts; let i = index">
                        <td
                          class="cursorpoint"
                          routerLink="/accounts/sales/receipts/detail/{{
                            item.saleID
                          }}"
                        >
                          {{ item.txnDate | date: "yyyy/MM/dd" }}
                        </td>
                        <td
                          class="cursorpoint"
                          routerLink="/accounts/sales/receipts/detail/{{
                            item.saleID
                          }}"
                        >
                          {{ item.sRPTNo }}
                        </td>
                        <td
                          class="cursorpoint"
                          routerLink="/accounts/sales/receipts/detail/{{
                            item.saleID
                          }}"
                        >
                          {{ customersObjects[item.customerID] }}
                        </td>
                        <td
                          class="cursorpoint"
                          routerLink="/accounts/sales/receipts/detail/{{
                            item.saleID
                          }}"
                        >
                          {{ item.payRef }}
                        </td>
                        <td
                          class="cursorpoint"
                          routerLink="/accounts/sales/receipts/detail/{{
                            item.saleID
                          }}"
                        >
                          <span
                            *ngFor="
                              let inv of item.invoiceIds;
                              let isLast = last
                            "
                          >
                            {{ invoicesList[inv] }}
                            <span *ngIf="!isLast">,</span>
                          </span>
                        </td>
                        <td
                          class="cursorpoint"
                          routerLink="/accounts/sales/receipts/detail/{{
                            item.saleID
                          }}"
                        >
                          <span *ngIf="item.payMode === 'cash'">Cash</span>
                          <span *ngIf="item.payMode === 'cheque'">Cheque</span>
                          <span *ngIf="item.payMode === 'eft'">EFT</span>
                          <span *ngIf="item.payMode === 'credit_card'"
                            >Credit Card</span
                          >
                          <span *ngIf="item.payMode === 'debit_card'"
                            >Debit Card</span
                          >
                          <span *ngIf="item.payMode === 'demand_draft'"
                            >Demand Draft</span
                          >
                        </td>
                        <td>{{ item.totalAmt }} {{ item.currency }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>
</section>
