#general {
    display: block;
  }
  #pickUp,
  #drop {
    display: none;
  }
  
  
  
  .topnav{float: left; margin-top: 20px; padding: 0px;}
  .topnav ul{list-style-type: none; float: left; margin: 0; padding: 0;}
  /* .topnav ul li{float: left;} */
  .topnav ul li {float: left;color: #2e353e; text-decoration: none; font-weight: 600; padding:6px 15px; border-radius: 50px; margin: 0 4px;}
  .topnav ul li:hover{color: #000; background: #fff;; text-decoration: none;}
  .topnav ul li.active{color: #000; background: #fff;; text-decoration: none;}