<section class="body" *ngIf="showDetails">
 <div class="inner-wrapper">
  <section role="main" class="content-body pt-0 pr-0 pl-0">
    <header class="page-header pr-5">
      <div class="row pr-1 mr-1" style="padding-top:10px;">
        <div class="col-md-4 col-lg-4 font-weight-bold text-4 text-dark"> <h5 class="m-0 font-weight-bold">Invoice# - {{invoice.invNo}} <span class="badge badge-dark p-1">{{invoice.invStatus | uppercase}}</span></h5></div>
        <div class="col-md-8 col-lg-8 text-right">
          <a  routerLink="/accounts/invoices/edit/{{invID}}"  class="btn btn-default btn-sm mr-2"><i
            class="fas fa-pencil-alt"></i> Edit Invoice</a>
            <button class="btn btn-sm btn-success mr-1" (click)="generatePDF()">Print Invoice</button>
           <a routerLink="/accounts/invoices/list" class="btn btn-default btn-sm"><i class="fas fa-list"></i> All Invoices</a>
        </div>
      </div>
    </header>
    <section class="m-2">
      <div class="row mb-3">
        <div class="col-lg-6 offset-lg-3">
          <section class="invoice-wrapper p-0" style="background-color: #fff; border-bottom: 0px !important;" id="print_wrap">
            <table width="90%" border="0" align="center" valign="top" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                  <td colspan="2"><h1 class="font-weight-bold text-dark f-60">{{invoice.invSubject | titlecase}}</h1></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td width="50%" valign="top">
                  <h2 class="text-dark mb-0 font-weight-bold text-5">{{carrier.carrierName | titlecase}}</h2>
                  <p class="text-dark">{{carrierAddress.address}},{{carrierAddress.cityName}},
                    {{carrierAddress.stateName}},
                    {{carrierAddress.countryName}},
                    {{carrierAddress.zipCode}}
                    <br>
                  <strong>Phone:</strong> {{carrier.phone}}<br>
                  <strong>Email:</strong> {{carrier.email}}
                  </p>
                  </td>
                  <td valign="top"><table width="80%" border="0" align="right" cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <td align="right">
                        <h2 class="text-dark mb-0 font-weight-bold text-5">By Salesperson</h2>
                      <p class="text-dark"><span *ngIf="invoice.invSalesman !== null && invoice.invSalesman !== undefined && invoice.invSalesman !== '' ">{{invoice.invSalesman}}</span>
                      </p>
                        </td>
                      </tr>
                    </tbody>
                  </table></td>
                </tr>
                <tr>
                  <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                  <td><table width="90%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td><h2 class="text-dark mb-0 font-weight-bold text-7 bordbtm3">Invoice Detail</h2></td>
                      </tr>
                    </tbody>
                  </table></td>

                  <td><table width="90%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td><h2 class="text-dark mb-0 font-weight-bold text-7 bordbtm3">Invoice To</h2></td>
                      </tr>
                    </tbody>
                  </table></td>
                </tr>
                <tr>
                  <td valign="top"><table width="90%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="40%">
                        <p class="text-dark mb-0 text-3"><strong>Invoice:</strong>
                      </p>
                        </td>
                        <td><p class="text-dark mb-0">{{invoice.invNo}}</p>
                  </td>
                      </tr>
                      <tr>
                        <td>
                        <p class="text-dark mb-0 text-3"><strong>Invoice Date:</strong>
                      </p>
                        </td>
                        <td><p class="text-dark mb-0">{{invoice.txnDate}}</p>
                  </td>
                      </tr>
                     <tr>
                        <td>
                        <p class="text-dark mb-0 text-3"><strong>Due Date:</strong>
                      </p>
                        </td>
                        <td><p class="text-dark mb-0">{{invoice.invDueDate}}</p>
                  </td>
                      </tr>
                      <tr>
                        <td>
                        <p class="text-dark mb-0 text-3"><strong>Terms:</strong>
                      </p>
                        </td>
                        <td><p class="text-dark mb-0"><span *ngIf="invoice.invPayTerms === '15' || invoice.invPayTerms === '30' || invoice.invPayTerms === '45' ">{{invoice.invPayTerms}} Days</span>
                          <span *ngIf="invoice.invPayTerms === 'dueReceipt' ">Due On Receipt</span>
                          <span *ngIf="invoice.invPayTerms === 'dueEnd' ">Due End Of The Month</span>
                          <span *ngIf="invoice.invPayTerms === 'custom' ">Custom</span></p>
                  </td>
                      </tr>
                      <tr>
                        <td>
                        <p class="text-dark mb-0 text-3"><strong>Invoice Subject:</strong>
                      </p>
                        </td>
                        <td><p class="text-dark mb-0">{{invoice.invSubject |titlecase}}</p>
                  </td>
                      </tr>
                    </tbody>
                  </table></td>
             <td width="50%" valign="top">
                  <h3 class="text-dark mb-0 font-weight-bold text-4">{{customersObjects[invoice.customerID] | titlecase}}</h3>
                  <p class="text-dark">{{customerAddress}},<span *ngIf="customerAddressType === 'manual'">{{customerCityName}}, {{customerStateName}}, {{customerCountryName}},</span>{{customerZipcode}}<br>
                  <strong>Phone:</strong> {{ customerPhone }}<br>
                  <strong>Email:</strong> {{ customerEmail }}
                  </p>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                  <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                  <td colspan="2">
                  <table width="100%" border="1" bordercolor="#adadad" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr bgcolor="#f3f3f3">
                        <td width="46%" class="pl-3 pt-2"><p class="text-3 font-weight-bold text-dark mb-2">Description (Commodity/Services)</p></td>
                        <td width="18%" class="pr-3 pt-2 text-right"><p class="text-3 font-weight-bold text-dark mb-2">Quantity/Hours</p></td>
                        <td width="18%" class="pr-3 pt-2 text-right"><p class="text-3 font-weight-bold text-dark mb-2">Price/Rate ({{invoice.invCur}})</p></td>
                        <td width="18%" class="pr-3 pt-2 text-right"><p class="text-3 font-weight-bold text-dark mb-2">Amount ({{invoice.invCur}})</p></td>
                      </tr>
                      <tr *ngFor="let dt of invoice.details; let d = index;">
                        <td class="pl-3 pt-2"><p class="text-3 text-dark mb-2">  {{dt.commodityService}}</p></td>
                        <td class="pr-3 pt-2 text-right"><p class="text-3 text-dark mb-2"> {{dt.qtyHours}}</p></td>
                        <td class="pr-3 pt-2 text-right"><p class="text-3 text-dark mb-2"> {{dt.priceRate | number : '1.2-2'}}</p></td>
                        <td class="pr-3 pt-2 text-right"><p class="text-3 text-dark mb-2">{{dt.amount | number : '1.2-2'}}</p></td>
                      </tr>
                    </tbody>
                  </table>

                  </td>
                </tr>
                <tr>
                  <td colspan="2"><table width="100%" border="0" bordercolor="#adadad" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td width="84%" class="pr-3 pt-2 text-right"><p class="text-4 font-weight-bold text-dark mb-2">Discount <span *ngIf="invoice.discountUnit === '%'">({{invoice.discount}})%</span></p></td>
                        <td class="pr-3 pt-2 text-right"><p class="text-4 text-dark mb-2">{{invoice.discountAmount | number : '1.2-2'}}</p></td>
                      </tr>
                      <tr>
                        <td class="pr-3 pt-2 text-right"><p class="text-3 font-weight-bold text-dark mb-2">Sub Total</p></td>
                        <td class="pr-3 pt-2 text-right"><p class="text-3 text-dark mb-2">{{invoice.subTotal | number : '1.2-2'}}</p></td>
                      </tr>
                      <tr>
                        <td class="pr-3 pt-2 text-right"><p class="text-3 font-weight-bold text-dark mb-2">Tax( <span class="font-weight-semibold">{{statesObjects[invoice.invStateProvince]}}</span> )</p></td>
                        <td class="pr-3 pt-2 text-right"><p class="text-3 text-dark mb-2">{{invoice.taxAmount | number : '1.2-2'}}</p></td>
                      </tr>
                      <tr>
                        <td class="pr-3 pt-2 text-right"><p class="text-3 font-weight-bold text-dark mb-2">Total</p></td>
                        <td bgcolor="#f3f3f3" class="pr-3 pt-2 text-dark font-weight-bold text-right">{{invoice.finalAmount | number : '1.2-2'}}</td>
                      </tr>
                      <tr>
                        <td class="pr-3 pt-2 text-right"><p class="text-3 font-weight-bold text-dark mb-2">Amount Paid</p></td>
                        <td class="pr-3 pt-2 text-right"><p class="text-3 text-dark mb-2">{{invoice.amountReceived | number : '1.2-2'}}</p></td>
                      </tr>
                      <tr>
                        <td class="pr-3 pt-2 text-right"><p class="text-3 font-weight-bold text-dark mb-2">Amount Due</p></td>
                        <td bgcolor="#f3f3f3" class="pr-3 pt-2 text-dark font-weight-bold text-right">{{invoice.balance | number : '1.2-2'}}</td>
                      </tr>
                    </tbody>
                  </table></td>
                </tr>
                <tr>
                  <td colspan="2">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            <table width="90%" border="0" align="center" valign="top" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td width="12%"> <p class="text-dark mb-0 text-3"><strong>Remarks:</strong>
                  </p></td>
                  <td>{{invoice.remarks}}</td>
                </tr>
              </tbody>
            </table>
          </section>
          <section class="mt-5 bg-white p-4">
            <p class="font-weight-bold text-5 text-dark" style="margin-left: 15px;">Journal Details</p>
            <div class="col-xl-12 col-12 mb-3">
              <table class="table table-bordered table-hover" width="90%">
                <thead>
                  <tr>
                    <th>Account Name</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Debit</th>
                    <th>Credit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let dt of invoice.transactionLog">
                    <td><span *ngIf="dt.actIDType === 'actID'">{{accountsObjects[dt.accountID] | titlecase}}</span>
                       <span *ngIf="dt.actIDType === 'actIntID'">{{accountsIntObjects[dt.accountID] | titlecase}}</span></td>
                    <td>{{customersObjects[dt.name] | titlecase}}</td>
                    <td>{{dt.type | titlecase}}</td>
                    <td><span *ngIf="dt.trxType === 'debit'">{{dt.amount | number : '1.2-2'}}&nbsp; {{dt.currency}}</span></td>
                    <td><span *ngIf="dt.trxType === 'credit'">{{dt.amount | number : '1.2-2'}}&nbsp; {{dt.currency}}</span></td>
                  </tr>
                  <tr>
                    <td colspan="3" class="font-weight-bold text-right">Total</td>
                    <td>{{total | number : '1.2-2'}} {{invoice.invCur}}</td>
                    <td>{{total | number : '1.2-2'}} {{invoice.invCur}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </div>
      </div>
    </section>
  </section>
 </div>
</section>

