<section class="body">
	<!-- start: header -->
	<app-header></app-header>
	<!-- end: header -->
  
	<div class="inner-wrapper">
	  <!-- start: sidebar -->
	  <app-sidebar></app-sidebar>
	  <!-- end: sidebar -->
  
	  <section role="main" class="content-body pl-0">
		<header class="page-header">
		  <form class="form-horizontal" method="get" name="form" id="form_">
			 <div class="row pr-4 pl-2" style="padding-top:10px;">
				<div class="col-md-2 col-lg-2 pr-0">
				   <div class="input-group input-group-md mb-3">
					<input class="form-control" name="amount" [(ngModel)]="amount" >
				   </div>
				</div>
				<div class="col-lg-2 col-md-2 pl-2 pr-0">              
				  <div class="form-group">
					<div class="input-group">
					   <span class="input-group-prepend positionsta">
						 <span class="input-group-text" (click)="from.toggle()"
						   ><i class="fas fa-calendar-alt"></i
						 ></span>
					   </span>
					   <input
						 class="form-control"
						 placeholder="Enter Start Date"
						 name="fromDate" [(ngModel)]="fromDate" ngbDatepicker #from="ngbDatepicker"
					   />
					 </div>				   
				  </div> 
				 </div>
				 <div class="col-lg-2 col-md-2 pr-0 pl-2">
					<div class="form-group">
					   <div class="input-group">
						  <span class="input-group-prepend positionsta">
							<span class="input-group-text" (click)="to.toggle()"
							  ><i class="fas fa-calendar-alt"></i
							></span>
						  </span>
						  <input
							class="form-control"
							placeholder="Enter End Date"
							name="toDate" [(ngModel)]="toDate" ngbDatepicker #to="ngbDatepicker"
						  />
						</div>					  
					 </div>					  
				</div>
				<div class="col-md-1  col-lg-1 pl-2">
				   <button type="submit" (click)="fuelEntries()" class="btn btn-sm btn-success">Search</button>
				</div>
				<div class="col-md-5  col-lg-5 text-right pr-5 page-buttons">
				   <div class="btn-group flex-wrap">
					  <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Actions<span class="caret"></span></button>
					  <div class="dropdown-menu" role="menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
				
						 <a class="dropdown-item text-1" href="">Import</a>
						 <a class="dropdown-item text-1" href="">Export</a>
					  </div>
				   </div>
				   <a routerLink="/fleet/expenses/fuel/add" class="btn btn-success btn-sm ml-2" style="color:white;"><i class="fas fa-plus"></i> Add Fuel Entry</a>
				</div>
			 </div>
		  </form>
	   </header>
		<div class="row">
		  <div class="col pr-0">
			 <section class="card">
				<div class="card-body">
				   <table
				  class="table table-bordered table-responsive table-hover table-striped mb-0"  datatable [dtOptions]="dtOptions"  *ngIf="fuelList.length > 0">
				  <thead>
					<tr>
						<th style="min-width: 50px !important;">Date</th>
						<th>Time</th>
						<th>Card Number</th>
						<th>Driver ID</th>
						<th>Driver Name</th>
						<th>Unit#</th>
						<th>Sub-Fleet</th>
						<th>Hub Miles</th>
						<th>Odometer Miles</th>
						<th>Trip No</th>
						<th>Invoice</th>
						<th>T/S Code</th>
						<th>In Dir</th>
						<th>T/S Name</th>
						<th>T/S City</th>
						<th>ST</th>
						<th>Total Invoice</th>
						<th>Fee</th>
						<th>PPU</th>
						<th>Fuel_UOM</th>
						<th>Fuel_CUR</th>
						<th>RFuel_UOM</th>
						<th>RFuel_CUR</th>
						<th>Oil_CUR</th>
						<th>Add_CUR</th>
						<th>Cash Adv</th>
						<th>Tax</th>
						<!-- <th>Amount</th>
						<th>RFuel_UOM</th>
						<th>RFuel_CUR</th>
						<th>Oil_CUR</th>
						<th>Add_CUR</th>
						<th>Cash Adv</th>
						<th>Tax</th> -->
						<th>Amount Billed</th>
						<th>Svc Bill</th>
						<th>Chain</th>
						<th>Ambest</th>
						<th>MPU</th>
						<th>Action</th>                
					 
					 
					</tr>
				  </thead>
				  <tbody>
					<tr *ngFor="let fuelEntry of fuelList">					 
					    <td routerLink="/fleet/expenses/fuel/detail/{{ fuelEntry.entryID }}">{{ fuelEntry.fuelDate }}</td>
						<td>Time</td>
						<td >Card Number</td>
						<td>Driver ID</td>
						<td>Driver Name</td>
						<td>
							<span *ngIf = "fuelEntry.unitType === 'vehicle'">{{vehicleList[fuelEntry.unitID]}}</span>
							<span *ngIf = "fuelEntry.unitType === 'reefer'">{{assetList[fuelEntry.unitID]}}</span>
						</td>
						<td>Sub-Fleet</td>
						<td>Hub Miles</td>
						<td routerLink="/fleet/expenses/fuel/detail/{{ fuelEntry.entryID }}">{{ fuelEntry.additionalDetails.odometer }}</td>
						<td routerLink="/fleet/expenses/fuel/detail/{{ fuelEntry.entryID }}">{{ tripList[fuelEntry.tripID]}}</td>
						<td>Invoice</td>
						<td>T/S Code</td>
						<td>In Dir</td>
						<td>T/S Name</td>
						<td>T/S City</td>
						<td>ST</td>
						<td>Total Invoice</td>
						<td>Fee</td>
						<td>PPU</td>
						<td>Fuel_UOM</td>
						<td>Fuel_CUR</td>
						<td>RFuel_UOM</td>
						<td>RFuel_CUR</td>
						<td>Oil_CUR</td>
						<td>Add_CUR</td>
						<td>Cash Adv</td>
						<td>Tax</td>
						<td routerLink="/fleet/expenses/fuel/detail/{{ fuelEntry.entryID }}">{{ fuelEntry.amountPaid}}</td>
						<!-- <td>RFuel_UOM</td>
						<td>RFuel_CUR</td>
						<td>Oil_CUR</td>
						<td>Add_CUR</td>
						<td>Cash Adv</td>
						<td>Tax</td>
						<td>Amount Billed</td> -->
						<td>Svc Bill</td>
						<td>Chain</td>
						<td>Ambest</td>
						<td>MPU</td>
					  <td><div class="btn-group flex-wrap">
						<button type="button" class="mb-1 mt-1 mr-1 btn" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></button>
						<div class="dropdown-menu" role="menu">
						   <a routerLink="/fleet/expenses/fuel/edit/{{fuelEntry.entryID }}" class="dropdown-item text-1" >Edit</a>
						   <button type="button" class="dropdown-item text-1" (click)="deleteFuelEntry(fuelEntry.entryID)">Delete</button>
						</div>
					 </div></td>	
					</tr>
				  </tbody>
				</table>
				<div *ngIf="!fuelList.length > 0" class="alert alert-info m-0 text-center" role="alert">
					No records found
					
				 </div>
				</div>
			 </section>
			
		  </div>
	   </div>
  
	  </section>
	</div>
  </section>