<section class="body">
    <div class="inner-wrapper">
        <section role="main" class="content-body pr-0 pt-0 pl-0">
            <header class="page-header pr19 pl7">
                <div class="row" style="padding-top: 10px">
                    <div class="col-md-2 col-lg-2 pr-0">
                      <div class="input-group input-group-md">
                        <input type="text" autocomplete="off" name="searchUserName" [(ngModel)]="searchUserName"
                          placeholder="Search user by name" class="form-control" (input)="getSuggestions($event.target.value)">
                     </div>
                     <div *ngIf="suggestedUsers?.length > 0" class="result-suggestions">
                        <ul>
                           <li *ngFor="let suggestedUser of suggestedUsers" style="cursor: pointer;"
                           (click)="setUser(suggestedUser.contactID, suggestedUser.firstName, suggestedUser.lastName)"
                           >{{ suggestedUser.firstName }}  {{ suggestedUser.lastName }}</li>
                        </ul>
                     </div>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <button type="submit" (click)="searchFilter()"
                            class="btn btn-sm btn-success mr-2">Search</button>
                        <button type="button" (click)="resetFilter()" class="btn btn-sm btn-success">Reset</button>
                    </div>
                    <div class="col-md-8 col-lg-8 text-right pr-1">
                        <a [routerLink]="['/manage', 'users', 'add']" class="btn btn-success btn-sm ml-2"
                            style="color: white"><i class="fas fa-plus"></i> Add User</a>
                    </div>
                </div>
            </header>

            <section class="m-2">
                <div class="row mb-3">
                   <div class="col-lg-12">
                      <div class="bg-white p-3 text-dark">
                         <div class="form-group row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table
                                        class="row-border hover table table-bordered table-striped mb-0">
                                        <thead>
                                            <tr>
                                               <th>Employee ID</th>
                                               <th>Name</th>
                                               <th >Username</th>
                                               <th>Department</th>
                                               <th>User Type</th>
                                               <th>Phone</th>
                                               <th>Email</th>
                                               <!-- <th>Status</th> -->
                                               <th>Actions</th>
                                            </tr>
                                         </thead>
                                        <tbody>
                                            <tr *ngIf="users.length == 0" class="text-center">
                                                <td colspan="8">{{ dataMessage }}</td>
                                            </tr>
                                            <tr *ngFor="let user of users">
                                                <td  routerLink="/manage/users/detail/{{user.contactID}}">{{user.employeeID}}</td>
                                                <td  routerLink="/manage/users/detail/{{user.contactID}}">{{user.firstName}}&nbsp; {{user.lastName}}</td>
                                                <td  routerLink="/manage/users/detail/{{user.contactID}}">{{user.userLoginData.userName ? user.userLoginData.userName : '-'}} </td>
                                                <td  routerLink="/manage/users/detail/{{user.contactID}}">{{user.userAccount.department}}</td>
                                                <td  routerLink="/manage/users/detail/{{user.contactID}}">{{user.userLoginData.userType ? user.userLoginData.userType : '-'}}</td>
                                                <td  routerLink="/manage/users/detail/{{user.contactID}}">{{user.phone}}</td>
                                                <td  routerLink="/manage/users/detail/{{user.contactID}}">{{user.email}}</td>
                                                <!-- <td  routerLink="/manage/users/detail/{{user.userName}}">{{user.currentStatus}}</td> -->
                                                <td><div class="btn-group flex-wrap">
                                                      <button type="button" class="mb-1 mt-1 mr-1 btn" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></button>
                                                      <div class="dropdown-menu" role="menu">
                                                         <a class="dropdown-item text-1" routerLink="/manage/users/edit/{{user.contactID}}">Edit</a>
                                                          <button class="dropdown-item text-1 modal-with-form" (click)="deleteUser(user.contactID)">Delete</button>
                                                      </div>
                                                   </div></td>
                                             </tr>
                                        </tbody>
                                    </table>
                                    
                                </div>
                                <div class="row mt-3 dtPaginate" *ngIf="users.length > 0">
                                    <div class="col-6">
                                        Showing {{ userStartPoint }} to {{ userEndPoint }} of {{ totalRecords }} enteries
                                    </div>
                                    <div class="col-6 text-right">
                                        <button type="button" class="btn btn-default mr-2" (click)="prevResults()" [disabled]="userPrev">Prev</button>
                                        <button type="button" class="btn btn-default" (click)="nextResults()" [disabled]="userNext">Next</button>
                                    </div>
                                </div>
                            </div>
                           
                         </div>
                      </div>
                   </div>
                </div>
                
                
                
             </section>


        </section>
    </div>
</section>
