<section class="body">
  <div class="inner-wrapper">
    <section role="main" class="content-body">
      <header class="page-header pr-5">
        <h4 class="text-4 mt-0 mb-0 text-dark">Manage</h4>
      </header>

      <div class="routing-overview__wrapper m-3">
        <div class="row">
          <!-- <div class="col-6 pr-2 mb-3" routerLink="/manage/alerts/list">
                    <div class="bg-white cursorpoint p-3 d-flex justify-content-between align-items-center text-dark">
                        <div>
                            
                            <h3 class="mt-1 mb-0 font-weight-bold">Alerts</h3>
                        </div>
                        <div class="grey-bg p-4" style="color: #979797;">
                            <i class="fas fa-bell text-dark" style="font-size:20px;"></i>
                        </div>
                    </div>
                    </div> -->

          <div class="col-6 pr-2 mb-3" routerLink="/manage/devices/list">
            <div
              class="
                bg-white
                cursorpoint
                p-3
                d-flex
                justify-content-between
                align-items-center
                text-dark
              "
            >
              <div>
                <h3 class="mt-1 mb-0 font-weight-bold">Device</h3>
              </div>
              <div class="grey-bg p-4" style="color: #979797">
                <i class="fas fa-tablet text-dark" style="font-size: 20px"></i>
              </div>
            </div>
          </div>

          <div class="col-6 pr-2 mb-3" routerLink="/manage/users/list">
            <div
              class="
                bg-white
                cursorpoint
                p-3
                d-flex
                justify-content-between
                align-items-center
                text-dark
              "
            >
              <div>
                <h3 class="mt-1 mb-0 font-weight-bold">Users</h3>
              </div>
              <div class="grey-bg p-4" style="color: #979797">
                <i class="fas fa-user text-dark" style="font-size: 20px"></i>
              </div>
            </div>
          </div>

          <div class="col-6 pr-2 mb-3" routerLink="/manage/settings/overview">
            <div
              class="
                bg-white
                cursorpoint
                p-3
                d-flex
                justify-content-between
                align-items-center
                text-dark
              "
            >
              <div>
                <h3 class="mt-1 mb-0 font-weight-bold">Setting</h3>
              </div>
              <div class="grey-bg p-4" style="color: #979797">
                <i class="fas fa-cog text-dark" style="font-size: 20px"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
