<section class="body">
  <!-- start: header -->
  <app-header></app-header>

  <!-- end: header -->

  <div class="inner-wrapper">
    <!-- start: sidebar -->
    <app-sidebar></app-sidebar>
    <!-- end: sidebar -->

    <section role="main" class="content-body">
      <header class="page-header">
        <h2>{{ title }}</h2>

        <div class="right-wrapper text-right">
          <ol class="breadcrumbs">
            <li>
              <a href="/">
                <i class="fas fa-home"></i>
              </a>
            </li>
            <li>
              <span>{{ parentTitle }}</span>
            </li>
            <li>
              <span>{{ title }}</span>
            </li>
          </ol>
        </div>
      </header>

      <div class="row">
        <div class="col">
          <section class="card">
            <header class="card-header">
              <h2 class="card-title">Details</h2>
            </header>
            <div class="card-body">
              <form
                class="form-horizontal form-bordered"
                method="get"
                name="form"
                id="form_"
              >
                <div class="form-group row">
                  <div class="col-lg-6">
                    <label
                      class="control-label text-lg-right pt-2"
                      for="inputDefault"
                      >User Name</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="userName"
                      [(ngModel)]="userName"
                    />
                  </div>
                  <div class="col-lg-6">
                    <label
                      class="control-label text-lg-right pt-2"
                      for="inputDefault"
                      >Password</label
                    >
                    <input
                      type="password"
                      class="form-control"
                      name="password"
                      [(ngModel)]="password"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-6">
                    <label
                      class="control-label text-lg-right pt-2"
                      for="inputDefault"
                      >First Name</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="firstName"
                      [(ngModel)]="firstName"
                    />
                  </div>
                  <div class="col-lg-6">
                    <label
                      class="control-label text-lg-right pt-2"
                      for="inputDefault"
                      >Last Name</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="lastName"
                      [(ngModel)]="lastName"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-12">
                    <label
                      class="control-label text-lg-right pt-2"
                      for="inputDefault"
                      >Address</label
                    >
                    <textarea
                      class="form-control"
                      rows="3"
                      name="address"
                      [(ngModel)]="address"
                    ></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-3">
                    <label
                      class="control-label text-lg-right pt-2"
                      for="inputDefault"
                      >Phone</label
                    >
                    <input
                      type="number"
                      class="form-control"
                      name="phone"
                      [(ngModel)]="phone"
                    />
                  </div>
                  <div class="col-lg-3">
                    <label
                      class="control-label text-lg-right pt-2"
                      for="inputDefault"
                      >Email</label
                    >
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      [(ngModel)]="email"
                    />
                  </div>
                  <div class="col-lg-3">
                    <label
                      class="control-label text-lg-right pt-2"
                      for="inputDefault"
                      >Group</label
                    >
                    <select
                      data-plugin-selectTwo
                      class="form-control populate"
                      name="groupID"
                      [(ngModel)]="groupID"
                    >
                      <optgroup label="">
                        <option
                          *ngFor="let group of groups"
                          value="{{ group.groupID }}"
                          >{{ group.groupName }}</option
                        >
                      </optgroup>
                    </select>
                  </div>
                  <div class="col-lg-3">
                    <label
                      class="control-label text-lg-right pt-2"
                      for="inputDefault"
                      >Login Enable</label
                    >
                    <input
                      type="checkbox"
                      [checked]="loginEnabled"
                      (change)="loginEnabled = !loginEnabled"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-12">
                    <button
                      class="btn btn-dark mt-4 modal-confirm"
                      (click)="addDriver()"
                    >
                      Submit
                    </button>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-12">
                    <!-- <p class="text text-danger" *ngIf="hasError">{{Error}}</p> -->
                    <p class="text text-success" *ngIf="hasSuccess">
                      {{ Success }}
                    </p>
                  </div>
                </div>
              </form>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
</section>
