<!----- -<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" type = "ball-clip-rotate"><p style="color: white" > Loading... </p></ngx-spinner> ----->
<section class="body">
  <div class="inner-wrapper">
    <section role="main" class="content-body pl-0 pr-0 pt-0">
      <header class="page-header">
        <div class="row" style="padding-top:10px;">
          <div class="col-md-2 col-lg-2">
            <div class="input-group input-group-md mb-3">
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </div>
          <div class="col-lg-2 col-md-2">
            <select class="form-control pull-left form-control-sm mb-0">
              <option value="2">All</option>
              <option value="2">Current Assets</option>
              <option value="2">Bank</option>
              <option value="2">Credit Card/Loan</option>
              <option value="2">Depreciation</option>
              <option value="2">Direct Expenses</option>
              <option value="2">Equity</option>
              <option value="2">Expenses</option>
              <option value="2">Fixed Assets</option>
              <option value="2">Future Assets</option>
              <option value="2">Liabilities</option>
              <option value="2">Future Liabilities</option>
              <option value="2">Other Income</option>
              <option value="2">Overheads</option>
              <option value="2">Sales</option>
            </select>
          </div>
          <div class="col-md-1  col-lg-1">
            <button type="submit" class="btn btn-sm btn-success">Search</button>
          </div>
          <div class="col-md-7  col-lg-7 text-right">
            <button (click)="showAcModal()" class="btn btn-success btn-sm "
              style="color:white;"><i class="fas fa-plus"></i> Add Account</button>
          </div>
        </div>
      </header>
      <div class="row">
        <div class="col-lg-12 pr-0">
          <section class="card">
            <div class="card-body">
              <div class="row bg-white">
                <div class="col-lg-12">
                  <table class="table table-bordered table-hover table-striped mb-0 simple-table">
                    <thead>
                      <tr class="bgcol2">
                        <th class="text-2">Account Name</th>
                        <th class="text-2">Account Number</th>
                        <th class="text-2">Account Type</th>
                        <!-- <th class="text-2">Detail Type</th> -->
                        <th class="text-2">Description</th>
                        <th class="text-2">Running Balance</th>
                        <th class="text-2">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let ac of accounts">
                        <td routerLink="/accounts/chart-accounts/detail/{{ac.actID}}">{{ac.actName}}</td>
                        <td routerLink="/accounts/chart-accounts/detail/{{ac.actID}}">{{ac.actNo}}</td>
                        <td routerLink="/accounts/chart-accounts/detail/{{ac.actID}}">{{ac.actType}}</td>
                        <td routerLink="/accounts/chart-accounts/detail/{{ac.actID}}">{{ac.actDesc}}</td>
                        <td routerLink="/accounts/chart-accounts/detail/{{ac.actID}}">{{ac.actBal}}&nbsp; {{ac.actBalCurrency}}</td>
                        <td>
                          <div class="btn-group flex-wrap">
                            <button type="button" class="btn" data-toggle="dropdown"><i
                                class="fas fa-ellipsis-v"></i></button>
                            <div class="dropdown-menu" role="menu">
                              <button type="button" (click)="editAccount(ac.actID)" class="dropdown-item text-1">Edit</button>
                               <!-- <button type="button" data-target="#addAccountModal" data-toggle="modal" class="dropdown-item text-1">Edit</button> -->
                               <button type="button" class="dropdown-item text-1" (click)="deleteAccount(ac.actID)">Delete</button>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
</section>
<div class="modal fade" id="addAccountModal" tabindex="-1" role="dialog" aria-labelledby="addAccountModal"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{modalTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="far fa-window-close modal-dismiss" style="font-size:25px;"> </i>
        </button>
      </div>
      <div class="modal-body text-dark">
<app-add-account [childMessage]="parentMessage"></app-add-account>
      </div>
    </div>
  </div>
</div>
