#company_Settings {
  display: block;
}
#unit_settings,
#asset_settings,
#driver_performance {
  display: none;
}



/* safety page classes */
.border_bottom
{
  border-bottom: 1px solid #777;
}
.border_top
{
  border-top: 1px solid #777;
}
.font_1rem
{
  font-size: 1rem;
}
.pad_0
{
    padding: 0px !important;
}
.alert_icon_safety
{
    height: 25px;
    width: 25px;
    line-height: 25px;
    background-color: #777;
    border-radius: 50%;
    color: white;
}

.safety_icon_size
{
    font-size: 20px;
}
.height_70p
{
    height: 70px;
}

.safety_card_height
{
    max-height: 380px !important;
    overflow: scroll;
}

/* cycle table cell width */
.cell_width
{
   min-width:350px;
}

/* ADD NEW VEHICLE TOP NAV BAR */

.addv_topnav{float: left; margin-top: 20px; padding: 0px;}
.addv_topnav ul{list-style-type: none; float: left; margin: 0; padding: 0;}
/* .addv_topnav ul li{float: left;} */
.addv_topnav ul li {float: left;color: #2e353e; text-decoration: none; font-weight: 600; padding:6px 15px; border-radius: 50px; margin: 0 4px;}
.addv_topnav ul li:hover{color: #000; background: #fff;; text-decoration: none;}
.addv_topnav ul li.active{color: #000; background: #fff;; text-decoration: none;}

.sub-heading-new-vehicle
{
font-size: 1rem;
color: black;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #000;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #333;
  cursor: pointer;
}