<app-fixed-right-sidebar></app-fixed-right-sidebar>
<header class="header">
    <div class="logo-container">
        <a href="#" class="logo">
            <img src="assets/img/logo.png" width="" height="" alt="FH Admin Logo" />
        </a>
        <div class="d-md-none toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
            <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
        </div>

        <div class="header-nav collapse">
            <div class="header-nav-main header-nav-main-square">
                <nav>
                    <ul class="nav">
                        <li class="" [class.active]="navSelected === 'fleet'">
                            <a class="nav-link" [routerLink]="" (click)="onNavSelected('fleet')" >
                                Fleet
                            </a>
                        </li>
                        <li class="" [class.active]="navSelected === 'compliance'">
                            <a class="nav-link" [routerLink]="" (click)="onNavSelected('compliance')">
                                Compliance
                            </a>
                        </li>
                        <!-- <li class="" [class.active]="navSelected === 'alert'">
                            <a class="nav-link" [routerLink]="" (click)="onNavSelected('alert')">
                                Alert
                            </a>
                        </li>
                        <li class="" [class.active]="navSelected === 'setting'">
                            <a class="nav-link" [routerLink]="" (click)="onNavSelected('setting')">
                                Setting
                            </a>
                        </li> -->
                        <!-- <li class="" [class.active]="navSelected === 'dispatch'">
                            <a class="nav-link" [routerLink]="" (click)="onNavSelected('dispatch')">
                                Routing & Dispatch
                            </a>
                        </li> -->
                        <li class="" [class.active]="navSelected === 'dispatch'">
                            <a class="nav-link" [routerLink]="" (click)="onNavSelected('dispatch')">
                                Routing & Dispatch 
                            </a>
                        </li>
                        <li class="" [class.active]="navSelected === 'safety'">
                            <a class="nav-link" [routerLink]="" (click)="onNavSelected('safety')">
                                Safety
                            </a>
                        </li>
                        <li class="" [class.active]="navSelected === 'accounts'">
                            <a class="nav-link" [routerLink]="['/accounts','accounts','Chart-Accounts']" (click)="onNavSelected('accounts')">
                                Accounts
                            </a>
                        </li>

                        <li class="" [class.active]="navSelected === 'manage'">
                            <a class="nav-link" [routerLink]="" (click)="onNavSelected('manage')">
                                Manage
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <!-- start: search & user box -->
    <div class="header-right pt-2">

        <!-- <form action="#" class="search nav-form">
            <div class="input-group">
                <input type="text" class="form-control" name="q" id="q" placeholder="Search...">
                <span class="input-group-append">
								<button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button>
							</span>
            </div>
        </form> -->




        <!-- <span class="separator"></span> -->

        <div id="userbox" class="userbox">
            <a href="#" data-toggle="dropdown">
                <figure class="profile-picture">
                    <img src="assets/img/fh.png" alt="Joseph Doe" class="rounded-circle" data-lock-picture="img/!logged-user.jpg" />
                </figure>
                <!-- <div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@okler.com">
                    <span class="name">Fleet Manager</span>
                    <span class="role">administrator</span>
                </div> -->

                <i class="fa custom-caret"></i>
            </a>

            <div class="dropdown-menu">
                <ul class="list-unstyled mb-2 text-dark">
                    <li class="divider"></li>
                    <li>
                       <a role="menuitem" tabindex="-1" href="#companyProfileModal" class="modal-with-form"><i class="fas fa-building text-dark"></i> Company Profile</a>
                    </li>
                    <li>
                       <a role="menuitem" tabindex="-1" href="#"><i class="fas fa-user text-dark"></i> Account Setting</a>
                    </li>
                    <li>
                       <a role="menuitem" tabindex="-1" routerLink="" (click)="Logout()"><i class="fas fa-power-off text-dark"></i> Logout</a>
                    </li>
                 </ul>
            </div>
        </div>
    </div>
    <!-- end: search & user box -->
</header>
