<header class="header">
    <div class="logo-container">
        <a href="#" class="logo">
            <img [src]="logoSrc" width="" height="" alt="FH Admin Logo" class="img-fluid" />
        </a>
        <div class="d-md-none toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html"
            data-fire-event="sidebar-left-opened">
            <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
        </div>

        <div class="header-nav collapse">
            <div class="header-nav-main header-nav-main-square">
                <nav>
                    <ul class="nav">
                        <li class="" [class.active]="navSelected === 'fleet'" *ngIf="isFleetEnabled">
                            <a class="nav-link" [routerLink]="['/Map-Dashboard']" (click)="onNavSelected('fleet')">
                                Fleet
                            </a>
                        </li>
                        <li class="" [class.active]="navSelected === 'compliance'" *ngIf="isComplianceEnabled">
                            <a class="nav-link" [routerLink]="['/compliance', 'hos', 'logs']"
                                (click)="onNavSelected('compliance')">
                                Compliance
                            </a>
                        </li>
                        <li class="" [class.active]="navSelected === 'dispatch'" *ngIf="isDispatchEnabled">

                            <a class="nav-link" [routerLink]="['/dispatch', 'overview']"
                                (click)="onNavSelected('dispatch')">
                                Routing & Dispatch
                            </a>
                        </li>
                        <li class="" [class.active]="navSelected === 'safety'" *ngIf="isSafetyEnabled">
                            <a class="nav-link" [routerLink]="['/safety', 'overview']"
                                (click)="onNavSelected('safety')">
                                Safety
                            </a>
                        </li>

                        <li class="" [class.active]="navSelected === 'accounts'" *ngIf="isAccountsEnabled">
                            <a class="nav-link" [routerLink]="['/accounts','overview']" (click)="onNavSelected('accounts')">
                                Accounts
                            </a>
                        </li>

                        <li class="" [class.active]="navSelected === 'reports'" *ngIf="isReportsEnabled">
                            <a class="nav-link" [routerLink]="['/manage','allreport']" (click)="onNavSelected('reports')">
                                Reports
                            </a>
                        </li>

                        <li class="" [class.active]="navSelected === 'manage'" *ngIf="isManageEnabled">
                            <a class="nav-link" [routerLink]="['/manage','overview']" (click)="onNavSelected('manage')">
                                Manage
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="header-right">
        <a href="javascript:;" data-toggle="modal" data-target="#allContactsModal"
            class="modal-with-form address-book-icon" title="Address Book">
            <i class="far fa-address-book text-dark" style="font-size:20px;"></i>
        </a>
        <div id="userbox" class="userbox mt-0">

            <a href="#" data-toggle="dropdown">
                <figure class="profile-picture text-uppercase font-weight-bold">
                    <span>{{nickName}}</span>
                </figure>
                <div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@okler.com">
                    <span class="name">{{ currentUserName }}</span>
                    <span class="role">{{ userRole }}</span>
                </div>

                <i class="fa custom-caret"></i>
            </a>

            <div class="dropdown-menu">
                <ul class="list-unstyled mb-2 text-dark">
                    <li class="divider"></li>
                    <li>
                        <a role="menuitem" tabindex="-1" routerLink="/manage/company/detail/{{currentCarrierID}}"
                            class="modal-with-form"><i class="fas fa-building"></i> Company Profile</a>
                    </li>
                    <li>
                        <a id="lnkLogout" role="menuitem" tabindex="-1" routerLink="" (click)="Logout()"><i
                                class="fas fa-power-off"></i> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<app-address-book></app-address-book>
<app-shared-modals></app-shared-modals>
