<section class="body">
  <div class="inner-wrapper">
    <section role="main" class="content-body pl-0 pt-0 pr-0">
      <header class="page-header">
        <div class="row" style="padding-top:10px;">
          <div class="col-md-4 col-lg-4">
            <h4 class="text-4 mt-0 mb-0 text-dark">Vehicle Details</h4>
          </div>
          <div class="col-md-8 col-lg-8 text-right">
            <a routerLink="/fleet/vehicles/list" class="btn btn-default btn-sm"><i class="fas fa-list"></i> Vehicles
              List</a>
            <div class="btn-group flex-wrap" *ngIf="!environment.isFeatureEnabled">
              <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown"
                aria-expanded="false">Actions<span class="caret"></span></button>
              <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                <a class="dropdown-item text-1" routerLink="/fleet/vehicles/edit/{{vehicleID }}"
                  href="javascript:;">Edit</a>
                <a class="modal-with-form dropdown-item text-1" (click)="deleteVehicle()" href="javascript:;">Delete</a>
              </div>
            </div>
          </div>
        </div>
      </header>

      <section class="m-2">

        <div class="row mb-3">
          <div class="col-12 pr10">
            <div class="bg-white p-3 text-dark">
              <div class="form-group row justify-content-between pl-2 pr-2">

                <div class="col-lg-10">
                  <label class="control-label font-weight-bold text-lg-right text-5 pt-2">Basic Details</label>
                </div>

                <div class="col-lg-3">
                  <!-- BASIC DIV -->
                  <div id="vehicle-details" class="">
                    <div class="row m-0 back-color-gray">
                      <div class="col-lg-6 p-2 font-weight-bold text-5">Vehicle Details</div>
                    </div>
                    <div class="row m-0">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Vehicle Name:</div>
                      <div class="col-lg-8 p-2 border-box">{{ vehicleIdentification }} </div>
                    </div>
                    <div class="row  m-0">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Vehicle Type:</div>
                      <div class="col-lg-8 p-2 border-box">{{ vehicleTypeObects[vehicleType] }}</div>
                    </div>
                    <div class="row  m-0">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">VIN:</div>
                      <div class="col-lg-8 p-2 border-box">{{ VIN }}</div>
                    </div>
                    <div class="row  m-0">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Plate Number:</div>
                      <div class="col-lg-8 p-2 border-box">{{ plateNumber }}</div>
                    </div>
                    <div class="row  m-0">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Year:</div>
                      <div class="col-lg-8 p-2 border-box">{{ year }}</div>
                    </div>
                    <div class="row  m-0">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Make:</div>
                      <div class="col-lg-8 p-2 border-box">{{vehicleManufacturersList[manufacturerID] }}</div>
                    </div>
                    <div class="row  m-0">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Model:</div>
                      <div class="col-lg-8 p-2 border-box">{{ vehicleModelList[modelID] }}</div>
                    </div>
                    <div class="row  m-0">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Country:</div>
                      <div class="col-lg-8 p-2 border-box">Canada</div>
                    </div>
                    <div class="row  m-0">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Province:</div>
                      <div class="col-lg-8 p-2 border-box">ON</div>
                    </div>
                    <div class="row  m-0">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Assign Driver:</div>
                      <div class="col-lg-8 p-2 border-box">{{driversList[driverID]}}</div>
                    </div>
                    <div class="row  m-0">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Driver's Team:</div>
                      <div class="col-lg-8 p-2 border-box">{{driversList[teamDriverID]}}</div>
                    </div>

                    <!-- <div class="row  m-0">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Service Program:</div>
                      <div class="col-lg-8 p-2 border-box">Heavy Duty Maintenance</div>
                    </div> -->
                    <div class="row  m-0">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Annual Safety Date:
                      </div>
                      <div class="col-lg-8 p-2 border-box">{{ annualSafetyDate | date:"yyyy/MM/dd" }}</div>
                    </div>

                    <div class="row  m-0">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Status:</div>
                      <div class="col-lg-8 p-2 border-box">{{ currentStatus }}</div>
                    </div>
                    <div class="row  m-0">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Group:</div>
                      <div class="col-lg-8 p-2 border-box">{{ groupsList[groupID] }}</div>
                    </div>
                    <div class="row  m-0">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Ownership:</div>
                      <div class="col-lg-8 p-2 border-box">{{ ownership }}</div>
                    </div>

                    <div class="row  m-0" *ngIf="ownership == 'ownerOperator'">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Owner Operator:</div>
                      <div class="col-lg-8 p-2 border-box">{{ ownerOperatorName }}</div>
                    </div>

                    <div class="row  m-0">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Enable IFTA Reporting:
                      </div>
                      <div class="col-lg-8 p-2 border-box">{{ (iftaReporting) ? 'yes' : 'no' }}</div>
                    </div>

                    <div class="row  m-0">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Color:</div>
                      <div class="col-lg-8 p-2 border-box">{{ vehicleColor }}</div>
                    </div>

                    <div class="row  m-0">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Inspection Form:</div>
                      <div class="col-lg-8 p-2 border-box">{{ inspectionForms.inspectionFormName }}</div>
                    </div>
                  </div>


                  <div class="vehicle-common-box mt-4" *ngIf="slides.length >0">
                    <div class="row m-0">
                      <div class="col-lg-12 p-2 font-weight-bold text-4 border-box">Photos
                      </div>
                    </div>
                    <div class="row m-0 justify-content-center">
                      <div class="col-lg-8 p-2">
                        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                          <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                            <img src="{{slide}}" alt="" style="margin: auto;">
                          </div>
                        </ngx-slick-carousel>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-lg-9">
                  <div class="row">
                    <div class="col-lg-12 mb-3">
                      <div class="vehicle-common-box h-100">
                        <div class="row m-0 back-color-gray">
                          <div class="col-lg-12 p-2 font-weight-bold text-4">Open Issues

                            <a href="javascript:;" routerLink="/fleet/maintenance/issues/add" class="btn btn-xs btn-default pull-right"><i
                                class="fas fa-plus"></i> Add Issue</a>
                          </div>
                        </div>

                        <div class="vdtableinfoheight vdtableheight">
                          <table class="table table-responsive-lg mb-0">
                            <thead>
                              <tr>
                                <th width="20%">Issue Name</th>
                                <th width="60%">Description</th>
                                <th width="20%">Status</th>
                              </tr>
                            </thead>

                            <tbody>
                              <tr *ngIf="issues.length == 0" style="text-align: center;">
                                <td colspan="3">{{ noRecordMsg }}</td>
                              </tr>
                              <tr *ngFor="let data of issues">
                                <td>{{ data.issueName }}</td>
                                <td>{{ (data.description != '') ? data.description : '-' }}</td>
                                <td>{{ data.currentStatus }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-12 mb-3">
                      <div class="vehicle-common-box h-100">
                        <div class="row m-0 back-color-gray">
                          <div class="col-lg-12 p-2 font-weight-bold text-4">Service Reminders

                            <a href="javascript:;" routerLink="/fleet/reminders/service-reminder/add" class="btn btn-xs btn-default pull-right"><i
                                class="fas fa-plus"></i> Add Service Reminders</a>
                          </div>
                        </div>

                        <div class="vdtableinfoheight vdtableheight">
                          <table class="table table-responsive-lg mb-0">
                            <thead>
                              <tr>
                                <th width="15%">Due Date</th>
                                <th width="25%">Reminder Time</th>
                                <th width="40%">Subscriber</th>
                                <th width="20%">Task Name</th>
                              </tr>
                            </thead>

                            <tbody>
                              <tr *ngIf="serviceReminders.length == 0" style="text-align: center;">
                                <td colspan="4">{{ noRecordMsg }}</td>
                              </tr>
                              <tr *ngFor="let data of serviceReminders">
                                <td>-</td>
                                <td>Every {{ data.tasks.time }} {{ data.tasks.timeUnit }}(s) or {{ data.tasks.odometer }} miles </td>
                                <td>
                                  <span *ngFor="let users of data.subscribers; let u=index">
                                      <span *ngIf="users.type == 'user'">
                                        {{ usersList[users.id] }}
                                      </span>
                                      <span *ngIf="users.type == 'group'">
                                        {{ groupsList[users.id] }}
                                      </span>
                                      <span *ngIf="u<data.subscribers.length-1">,</span>
                                  </span>
                                </td>
                                <td>{{ tasksList[data.tasks.taskID] }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>


                    <div class="col-lg-12 mb-3">
                      <div class="vehicle-common-box h-100">
                        <div class="row m-0 back-color-gray">
                          <div class="col-lg-12 p-2 font-weight-bold text-4">Renewal Reminders

                            <a href="javascript:;" routerLink="/fleet/reminders/vehicle-renewals/add" class="btn btn-xs btn-default pull-right"><i
                                class="fas fa-plus"></i> Add Renewal Reminders</a>
                          </div>
                        </div>

                        <div class="vdtableinfoheight vdtableheight">
                          <table class="table table-responsive-lg mb-0">
                            <thead>
                              <tr>
                                <th width="15%">Due Date</th>
                                <th width="25%">Reminder Time</th>
                                <th width="40%">Subscriber</th>
                                <th width="20%">Task Name</th>
                              </tr>
                            </thead>

                            <tbody>
                              <tr *ngIf="serviceReminders.length == 0" style="text-align: center;">
                                <td colspan="4">{{ noRecordMsg }}</td>
                              </tr>
                              <tr *ngFor="let data of renewalReminders">
                                <td>{{ data.tasks.dueDate | date:"yyyy/MM/dd" }}</td>
                                <td>Every {{ data.tasks.time }} {{ data.tasks.timeUnit }}(s) or {{ data.tasks.odometer }} miles </td>
                                <td>
                                  <span *ngFor="let users of data.subscribers; let u=index">
                                    <span *ngIf="users.type == 'user'">
                                      {{ usersList[users.id] }}
                                    </span>
                                    <span *ngIf="users.type == 'group'">
                                      {{ groupsList[users.id] }}
                                    </span>
                                    <span *ngIf="u<data.subscribers.length-1">,</span>
                                </span>
                                </td>
                                <td>{{ tasksList[data.tasks.taskID] }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="vehicle-common-box mt-3">
                    <div class="row m-0 pt-1 pb-1 back-color-gray">
                      <div class="col-lg-3 font-weight-bold text-4">
                        Service Program
                      </div>
                      <div class="col-lg-5">
                      </div>
                      <div class="col-lg-4 text-right">
                      </div>
                    </div>
                  
                    <div class="vdtableinfoheight vdtableheight">
                      <table class="table table-responsive-lg">
                        <thead>
                          <tr>
                            <th width="30%">Name</th>
                            <th width="70%">Description</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngIf="servicePrograms.length == 0" style="text-align: center;">
                            <td colspan="2">{{ noRecordMsg }}</td>
                          </tr>
                          <tr *ngFor="let progran of servicePrograms">
                            <td>{{ progran.programName }}</td>
                            <td>{{ progran.description }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="vehicle-common-box mt-4">
                    <div class="row m-0">
                      <div class="col-lg-12 p-2 back-color-gray font-weight-bold border-0 text-4">Documents</div>
                    </div>
                    <table class="table table-responsive-lg mb-0">
                      <tbody>
                        <tr *ngIf="docs.length == 0" style="text-align: center;">
                          <td colspan="2">{{ noRecordMsg }}</td>
                        </tr>
                        <tr *ngFor="let data of docs; let i=index;">
                          <td width="80%">Document {{ i+1}} </td>
                          <td width="20%">
                            <a href="javascript:;" class="btn btn-deafault pull-right btn-xs" (click)="deleteDocument(data.name, i)" ><i class="fas fa-trash-alt"></i></a>
                            <a class="btn btn-deafault pull-right btn-xs" href="{{ data.path }}" target="_blank"><i class="fas fa-download"></i></a> 
                            <a href="javascript:;"  class="btn btn-deafault pull-right btn-xs" (click)="setPDFSrc(data.path)" data-toggle="modal" data-target="#viewDocModal"><i class="fas fa-eye"></i></a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-12">
            <div class="bg-white p-3 text-dark">
              <div class="form-group row justify-content-between pl-2 pr-2">

                <div class="col-lg-10">
                  <label class="control-label font-weight-bold text-lg-right text-5 pt-2">Lifecycle Details</label>
                </div>


                <div class="col-lg-6">
                  <div class="row m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Start Date:</div>
                    <div class="col-lg-8 p-2 border-box">{{ lifeCycle.startDate | date:"yyyy/MM/dd"  }}</div>
                  </div>
                  <div class="row  m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">In-Service Odometer:
                    </div>
                    <div class="col-lg-8 p-2 border-box"> {{ lifeCycle.inServiceOdometer }}</div>
                  </div>
                  <div class="row  m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Service Life in Years:
                    </div>
                    <div class="col-lg-8 p-2 border-box">{{ lifeCycle.estimatedServiceYear }}</div>
                  </div>
                  <div class="row  m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Service Life in Months:
                    </div>
                    <div class="col-lg-8 p-2 border-box">{{ lifeCycle.estimatedServiceMonths }}</div>
                  </div>

                </div>

                <div class="col-lg-6">

                  <div class="row  m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Service Life in Miles:
                    </div>
                    <div class="col-lg-8 p-2 border-box">{{ lifeCycle.estimatedServiceMiles }}</div>
                  </div>
                  <div class="row  m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Depreciation Value:
                    </div>
                    <div class="col-lg-8 p-2 border-box">{{ lifeCycle.estimatedResaleValue }}</div>
                  </div>
                  <div class="row  m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Out-of-Service Date:
                    </div>
                    <div class="col-lg-8 p-2 border-box">{{ lifeCycle.outOfServiceDate | date:"yyyy/MM/dd"  }}</div>
                  </div>
                  <div class="row  m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Out-of-Service Odometer:
                    </div>
                    <div class="col-lg-8 p-2 border-box">{{ lifeCycle.outOfServiceOdometer }}</div>
                  </div>
                </div>



              </div>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-12">
            <div class="bg-white p-3 text-dark">
              <div class="form-group row justify-content-between pl-2 pr-2">

                <div class="col-lg-10">
                  <label class="control-label font-weight-bold text-lg-right text-5 pt-2">Specifications</label>
                </div>

                <div class="col-lg-6">
                  <div class="row m-0 back-color-gray">
                    <div class="col-lg-4 p-2 font-weight-bold text-5">Dimensions</div>
                    <!-- <div class="col-lg-8 p-2 text-right" ><a href="edit-vehicle.php" class="btn btn-xs btn-default"><i class="fas fa-pencil-alt"></i>Edit</a></div> -->
                  </div>

                  <div class="row  m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Height:</div>
                    <div class="col-lg-8 p-2 border-box">{{ specifications.height }} {{ specifications.heightUnit }} </div>
                  </div>
                  <div class="row  m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Ground Clearance:</div>
                    <div class="col-lg-8 p-2 border-box">{{ specifications.groundClearnce }} {{ specifications.groundClearnceUnit }}</div>
                  </div>


                </div>
                <!-- WEIGHT DIV -->
                <div class="col-lg-6">
                  <div class="row m-0 back-color-gray">
                    <div class="col-lg-4 p-2 font-weight-bold text-5">Weight</div>
                    <!-- <div class="col-lg-8 p-2 text-right" ><a href="edit-vehicle.php" class="btn btn-xs btn-default"><i class="fas fa-pencil-alt"></i>Edit</a></div> -->
                  </div>
                  <div class="row m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Tare Weight:</div>
                    <div class="col-lg-8 p-2 border-box">{{ (specifications.tareWeight) ? specifications.tareWeight+' kg': '' }}</div>
                  </div>
                  <div class="row  m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Gross Vehicle Weight
                      Rating:</div>
                    <div class="col-lg-8 p-2 border-box">{{ (specifications.grossVehicleWeightRating)? specifications.grossVehicleWeightRating+' kg' : '' }}</div>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>



        <div class="row mb-3">
          <div class="col-12">
            <div class="bg-white p-3 text-dark">
              <div class="form-group row justify-content-between pl-2 pr-2">

                <div class="col-lg-10">
                  <label class="control-label font-weight-bold text-lg-right text-5 pt-2">Insurance Details</label>
                </div>
                <div class="col-lg-6">
                  <div class="row m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Insurance Vendor:</div>
                    <div class="col-lg-8 p-2 border-box">{{ vendors[insurance.vendorID] }}</div>
                  </div>
                  <div class="row m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Date of Issue:</div>
                    <div class="col-lg-8 p-2 border-box">{{ insurance.dateOfIssue | date:"yyyy/MM/dd" }}</div>
                  </div>
                  <div class="row m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Premium Amount:</div>
                    <div class="col-lg-8 p-2 border-box">{{ insurance.premiumAmount }} {{insurance.premiumCurrency}}</div>
                  </div>
                  <div class="row m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Date of Expiry:</div>
                    <div class="col-lg-8 p-2 border-box">{{ insurance.dateOfExpiry | date:"yyyy/MM/dd"  }}</div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="row m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Reminder:</div>
                    <div class="col-lg-8 p-2 border-box" *ngIf="insurance.reminder != null && insurance.reminder != '' ">Every {{ insurance.reminder }} {{ insurance.remiderEvery }}</div>
                    <div class="col-lg-8 p-2 border-box" *ngIf="insurance.reminder == null || insurance.reminder == '' "></div>
                  </div>
                  <div class="row m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Insurance Policy#:</div>
                    <div class="col-lg-8 p-2 border-box">{{ insurance.policyNumber }}</div>
                  </div>
                  <div class="row m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Insurance Amount:</div>
                    <div class="col-lg-8 p-2 border-box">{{ insurance.amount }} {{insurance.amountCurrency}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-12">
            <div class="bg-white p-3 text-dark">
              <div class="form-group row justify-content-between pl-2 pr-2">

                <div class="col-lg-10">
                  <label class="control-label font-weight-bold text-lg-right text-5 pt-2">Engine &amp;
                    Transmission</label>
                </div>

                <div class="col-lg-6">

                  <div class="row m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Engine Summary:</div>
                    <div class="col-lg-8 p-2 border-box">{{ engine.engineSummary }} </div>
                  </div>
                  <div class="row  m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Engine Brand:</div>
                    <div class="col-lg-8 p-2 border-box">{{ engine.engineBrand }}</div>
                  </div>
                  <div class="row  m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Cylinders:</div>
                    <div class="col-lg-8 p-2 border-box">{{ engine.cylinders }}</div>
                  </div>
                  <div class="row  m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Stroke:</div>
                    <div class="col-lg-8 p-2 border-box">{{ engine.stroke }}</div>
                  </div>
                  <div class="row  m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Valves:</div>
                    <div class="col-lg-8 p-2 border-box">{{ engine.valves }}</div>
                  </div>

                </div>
                <!-- Transmission DIV -->
                <div class="col-lg-6">

                  <div class="row m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Transmission Summary:
                    </div>
                    <div class="col-lg-8 p-2 border-box">{{ engine.transmissionSummary }}</div>
                  </div>

                  <div class="row  m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Transmission Type:</div>
                    <div class="col-lg-8 p-2 border-box">{{ engine.transmissionType }}</div>
                  </div>
                  <div class="row  m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Transmission Gears:
                    </div>
                    <div class="col-lg-8 p-2 border-box">{{ engine.transmissionGears }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-12">
            <div class="bg-white p-3 text-dark">
              <div class="form-group row justify-content-between pl-2 pr-2">

                <div class="col-lg-10">
                  <label class="control-label font-weight-bold text-lg-right text-5 pt-2">Wheels &amp; Tires</label>
                </div>

                <div class="col-lg-12">
                  <div class="row  m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Number of Tires:</div>
                    <div class="col-lg-8 p-2 border-box">{{ wheelsAndTyres.numberOfTyres }}</div>
                  </div>
                  <div class="row m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Drive Type:</div>
                    <div class="col-lg-8 p-2 border-box">{{ wheelsAndTyres.driveType }} </div>
                  </div>
                  <div class="row  m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Brake System:</div>
                    <div class="col-lg-8 p-2 border-box">{{ wheelsAndTyres.brakeSystem }}</div>
                  </div>

                </div>


              </div>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-12">
            <div class="bg-white p-3 text-dark">
              <div class="form-group row justify-content-between pl-2 pr-2">

                <div class="col-lg-10">
                  <label class="control-label font-weight-bold text-lg-right text-5 pt-2">Fluids</label>
                </div>

                <div class="col-lg-6">
                  <div class="row m-0 back-color-gray">
                    <div class="col-lg-4 p-2 font-weight-bold text-5">Fuel Tanks</div>
                    <!-- <div class="col-lg-8 p-2 text-right" ><a href="edit-vehicle.php" class="btn btn-xs btn-default"><i class="fas fa-pencil-alt"></i>Edit</a></div> -->
                  </div>
                  <div class="row m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Fuel Type:</div>
                    <div class="col-lg-8 p-2 border-box">{{ fuelTypes[fluid.fuelType] }}</div>
                  </div>
                  <div class="row  m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Fuel Tank 1 Capacity:
                    </div>
                    <div class="col-lg-8 p-2 border-box">{{ fluid.fuelTankOneCapacity }} {{fluid.fuelTankOneType}}</div>
                  </div>
                  <div class="row  m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Fuel Tank 2 Capacity:
                    </div>
                    <div class="col-lg-8 p-2 border-box" *ngIf="fluid.fuelTankTwoCapacity == ''">-</div>
                    <div class="col-lg-8 p-2 border-box" *ngIf="fluid.fuelTankTwoCapacity != ''">{{ fluid.fuelTankTwoCapacity }} {{fluid.fuelTankTwoType}}</div>
                  </div>
                </div>
                <!-- WEIGHT DIV -->
                <div class="col-lg-6">
                  <div class="row m-0 back-color-gray">
                    <div class="col-lg-4 p-2 font-weight-bold text-5">Oil</div>
                    <!-- <div class="col-lg-8 p-2 text-right" ><a href="edit-vehicle.php" class="btn btn-xs btn-default"><i class="fas fa-pencil-alt"></i>Edit</a></div> -->
                  </div>


                  <div class="row m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Oil Capacity:</div>
                    <div class="col-lg-8 p-2 border-box">{{ fluid.oilCapacity }} {{fluid.oilCapacityType}}</div>
                  </div>
                  <div class="row m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">DEF(Diesel Exhaust
                      Fluid) Capacity:</div>
                    <div class="col-lg-8 p-2 border-box">{{ fluid.def }} {{fluid.defType}}</div>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-12">
            <div class="bg-white p-3 text-dark">
              <div class="form-group row justify-content-between pl-2 pr-2">

                <div class="col-lg-10">
                  <label class="control-label font-weight-bold text-lg-right text-5 pt-2">Purchase Details</label>
                </div>

                <div class="col-lg-6">

                  <div class="row m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Purchase Vendor:</div>
                    <div class="col-lg-8 p-2 border-box">{{ vendors[purchase.purchaseVendorID] }}</div>
                  </div>
                  <div class="row  m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Purchase Price :</div>
                    <div class="col-lg-8 p-2 border-box">{{ purchase.purchasePrice }} {{purchase.purchasePriceCurrency}}</div>
                  </div>
                  <div class="row  m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Purchase Date:</div>
                    <div class="col-lg-8 p-2 border-box">{{ purchase.purchaseDate | date:"yyyy/MM/dd"  }}</div>
                  </div>
                  <div class="row m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Purchase Odometer:</div>
                    <div class="col-lg-8 p-2 border-box">{{ purchase.purchaseOdometer }}</div>
                  </div>

                </div>

                <div class="col-lg-6">


                  <div class="row  m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Warranty Expiration
                      Date:</div>
                    <div class="col-lg-8 p-2 border-box">{{ purchase.warrantyExpirationDate | date:"yyyy/MM/dd"  }}</div>
                  </div>
                  <div class="row  m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Warranty Expiration
                      Meter:</div>
                    <div class="col-lg-8 p-2 border-box"> {{ purchase.warrantyExpirationMeter }}</div>
                  </div>
                  <div class="row  m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Purchase Comments:</div>
                    <div class="col-lg-8 p-2 border-box">{{ purchase.purchaseComments }}</div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>


        <div class="row mb-3">
          <div class="col-12">
            <div class="bg-white p-3 text-dark">
              <div class="form-group row justify-content-between pl-2 pr-2">

                <div class="col-lg-10">
                  <label class="control-label font-weight-bold text-lg-right text-5 pt-2">Loan Details</label>
                </div>

                <div class="col-lg-6">

                  <div class="row m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Loan Vendor:</div>
                    <div class="col-lg-8 p-2 border-box">{{ vendors[loan.loanVendorID] }}</div>
                  </div>
                  <div class="row  m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Amount of Loan:</div>
                    <div class="col-lg-8 p-2 border-box">{{ loan.amountOfLoan }} {{loan.amountOfLoanCurrency}}</div>
                  </div>
                  <div class="row  m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Annual Percentage Rate:
                    </div>
                    <div class="col-lg-8 p-2 border-box">{{ (loan.annualPercentageRate != '') ? loan.annualPercentageRate+'%' : '' }}</div>
                  </div>
                  <div class="row m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Down Payment:</div>
                    <div class="col-lg-8 p-2 border-box">{{ loan.downPayment }} {{loan.downPaymentCurrency}}</div>
                  </div>
                  <div class="row  m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Date of Loan:</div>
                    <div class="col-lg-8 p-2 border-box">{{ loan.dateOfLoan | date:"yyyy/MM/dd"  }}</div>
                  </div>

                </div>

                <div class="col-lg-6">


                  <div class="row m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Loan End Date:</div>
                    <div class="col-lg-8 p-2 border-box">{{ loan.loadEndDate | date:"yyyy/MM/dd"  }}</div>
                  </div>

                  <div class="row  m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Number of Payments:
                    </div>
                    <div class="col-lg-8 p-2 border-box">{{ loan.numberOfPayments }}</div>
                  </div>
                  <div class="row  m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Monthly Payment:</div>
                    <div class="col-lg-8 p-2 border-box">{{ loan.monthlyPayment }} {{loan.monthlyPaymentCurrency}}</div>
                  </div>
                  <div class="row  m-0">
                    <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Notes:</div>
                    <div class="col-lg-8 p-2 border-box"> {{ loan.notes }}</div>
                  </div>

                </div>


              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>
</section>

<!-- VIEW DOCUMENT MODAL -->
<div class="modal fade" id="viewDocModal" tabindex="-1" role="dialog" aria-labelledby="viewDocModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="viewDocModalLabel">View Document</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="form-row">
               <div class="form-group col-md-12">
                  <div>
                     <iframe [src]='pdfSrc' title="" width="100%" height="400px"> </iframe>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
         </div>
      </div>
   </div>
</div>