<section class="body">

   <!-- start: header -->
   <app-header></app-header>
   <!-- end: header -->

   <div class="inner-wrapper">
      <!-- start: sidebar -->
      <app-sidebar></app-sidebar>
      <!-- end: sidebar -->


      <section role="main" class="content-body pr-0 pl-0 pt-0">
         <header class="page-header pr-5">
            <div class="row pr-1 mr-1" style="padding-top:10px;">
               <div class="col-md-4 col-lg-4">
                  <h4 class="font-weight-bold text-4 mt-0 mb-0 text-dark">Add Critical Event</h4>
               </div>
               <div class="col-md-8 col-lg-8 text-right pr-1">
                  <a href="javascript:;" routerLink="/safety/critical-events" class="btn btn-default btn-sm"><i
                        class="fas fa-list"></i> Events List</a>
               </div>

            </div>
            <div class="col-md-8  col-lg-8 text-right pr-4">
               <a href="javascript:;" routerLink="/safety/critical-events" class="btn btn-default btn-sm"><i
                     class="fas fa-list"></i> Events List</a>
            </div>
         </header>
         <div class="add-incident__main">
            <div class="card pr-0">
               <div class="card-body">
                  <div class="row">
                     <div class="col pr-0">
                        <form class="form-horizontal form-bordered text-dark">
                           <div class="form-group row">
                              <div class="col-lg-5 offset-lg-1">
                                 <div class="row">
                                    <div class="col-lg-5">
                                       <label class="control-label font-weight-bold text-lg-right pt-2">Date</label>
                                       <input [(ngModel)]="event.eventDate" name="eventDate" type="text"
                                          placeholder="Enter event date" (click)="d.toggle()" ngbDatepicker
                                          #d="ngbDatepicker" class="form-control" readonly>

                                    </div>
                                    <div class="col-lg-5">
                                       <label class="control-label font-weight-bold text-lg-right pt-2">Time</label>
                                       <input type="text" class="form-control" [ngxTimepicker]="timep" [format]="24"
                                          readonly [(ngModel)]="event.eventTime" name="eventTime"
                                          placeholder="Enter event time">
                                       <ngx-material-timepicker #timep></ngx-material-timepicker>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-lg-10">
                                       <label class="control-label font-weight-bold text-lg-right pt-2">Location</label>
                                       <input type="text" class="form-control" (keyup)="searchTerm.next($event);"
                                          [(ngModel)]="event.location" name="location"
                                          placeholder="Start typing to get location suggestions" autocomplete="off">

                                       <ul class="p-0 m-0 text-left map-search__results bg-white" *ngIf="searchResults">
                                          <li *ngFor="let item of searchResults;">
                                             <a href="javascript:;" (click)="assignLocation(item.address.label)"
                                                title="{{item.address.label}}">{{item.address.label}}</a>
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-lg-10">
                                       <label class="control-label font-weight-bold text-lg-right pt-2">Driver Name
                                          &nbsp; <span class="text-1 optional-label-color">(optional)</span>
                                       </label>
                                       <ng-select [(ngModel)]="event.driverUsername" name="driverUsername"
                                          placeholder="Select driver name">
                                          <ng-option class="text-capitalize" *ngFor="let driver of drivers"
                                             value="{{ driver.userName }}">{{ driver.fullName }}</ng-option>
                                       </ng-select>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-lg-10">
                                       <label class="control-label font-weight-bold text-lg-right pt-2">Vehicle
                                          &nbsp; <span class="text-1 optional-label-color">(optional)</span>
                                       </label>
                                       <ng-select [(ngModel)]="event.vehicleID" name="vehicleID"
                                          placeholder="Select vehicle">
                                          <ng-option class="text-capitalize" *ngFor="let vehicle of vehicles"
                                             value="{{ vehicle.vehicleID }}">{{ vehicle.vehicleIdentification }}
                                          </ng-option>
                                       </ng-select>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-lg-10">

                                       <label class="control-label font-weight-bold text-lg-right pt-2">Severity
                                          &nbsp; <span class="text-1 optional-label-color">(optional)</span>
                                       </label>
                                       <ng-select [(ngModel)]="event.severity" name="severity"
                                          placeholder="Select Severity">
                                          <ng-option class="text-capitalize" *ngFor="let data of severity"
                                             value="{{ data.value }}">{{ data.name }}</ng-option>
                                       </ng-select>
                                    </div>

                                 </div>
                                 <div class="row">
                                    <div class="col-lg-10">
                                       <label class="control-label font-weight-bold text-lg-right pt-2">Criticality Type
                                          &nbsp; <span class="text-1 optional-label-color">(optional)</span>
                                       </label>
                                       <ng-select [(ngModel)]="event.criticalityType" name="criticalityType"
                                          placeholder="Select criticality type">
                                          <ng-option class="text-capitalize" *ngFor="let data of criticalityType"
                                             value="{{ data.value }}">{{ data.name }}</ng-option>
                                       </ng-select>
                                    </div>
                                 </div>
                              </div>

                              <div class="col-lg-5 offset-lg-1">
                                 <div class="row">
                                    <div class="col-lg-10">

                                       <label class="control-label font-weight-bold text-lg-right pt-2">Trip ID
                                          &nbsp; <span class="text-1 optional-label-color">(optional)</span>
                                       </label>
                                       <ng-select [(ngModel)]="event.tripID" name="tripID" placeholder="Select trip ID">
                                          <ng-option class="text-capitalize" *ngFor="let data of trips"
                                             value="{{ data.tripID }}">{{ data.tripNo }}</ng-option>
                                       </ng-select>
                                    </div>

                                 </div>
                                 <div class="row">
                                    <div class="col-lg-10">
                                       <label class="control-label font-weight-bold text-lg-right pt-2">Assigned To
                                          &nbsp; <span class="text-1 optional-label-color">(optional)</span>
                                       </label>
                                       <ng-select [(ngModel)]="event.assignedUsername" name="assignedUsername"
                                          placeholder="Select assigned user">
                                          <ng-option class="text-capitalize" *ngFor="let data of users"
                                             value="{{ data.userName }}">{{ data.fullName }}</ng-option>
                                       </ng-select>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-lg-10">
                                       <label class="control-label font-weight-bold text-lg-right pt-2">Upload Documents
                                          &nbsp; <span class="text-1 optional-label-color">(optional)</span>
                                       </label>
                                       <input type="file" class="form-control border-0 p-0" name="upload-doc"
                                          (change)="selectDocuments($event, 'uploadedDocs')">
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-lg-10">
                                       <label class="control-label font-weight-bold text-lg-right pt-2">Add Incident
                                          Video
                                          &nbsp; <span class="text-1 optional-label-color">(optional)</span>
                                       </label>
                                       <input type="file" class="form-control border-0 p-0" name="add_vid"
                                          (change)="selectDocuments($event, 'uploadedVideos')">
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-lg-10">
                                       <label class="control-label font-weight-bold text-lg-right pt-2">Remarks
                                          &nbsp; <span class="text-1 optional-label-color">(optional)</span>
                                       </label>
                                       <textarea class="form-control" rows="3" placeholder="Enter Remarks"
                                          name="remarks" [(ngModel)]="event.remarks"></textarea>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-lg-11 text-right">
                                 <button type="button" class="btn btn-default mt-4 mr-3"
                                    routerLink="safety/critical-events">Cancel</button>
                                 <a href="javascript:;" (click)="addEvent()"
                                    class="btn btn-success mt-4 modal-confirm">Submit</a>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
</section>