<section class="body">
   <!-- start: header -->
   <app-header></app-header>
   <!-- end: header -->
   <div class="inner-wrapper">
      <!-- start: sidebar -->
      <app-sidebar></app-sidebar>
      <!-- end: sidebar -->
      <section role="main" class="content-body">
         <header class="page-header pr-5">
            <div class="row " style="padding-top:10px;">
               <div class="col-md-4 col-lg-4 font-weight-bold text-4 text-dark"> Create ACE Manifest </div>
               <div class="col-md-8  col-lg-8 text-right pr-4"> <a [routerLink]="['/dispatch', 'cross-border','eManifests']" class="btn btn-default btn-sm"><i class="fas fa-list"></i> ACE Manifests</a> </div>
            </div>
         </header>
         <div class="row text-dark">
            <div class="col">
               <section class="card">
                  <div class="card-body">
                     <form class="form-horizontal form-bordered" method="get" name="form" id="form_">
                        <div class="form-group row">
                           <div class="col-lg-12">
                              <label class="control-label font-weight-bold font-bold text-lg-right text-dark text-4 font-weight-bold pt-2">Start new ACE eManifest</label>
                           </div>
                           <div class="col-lg-5 offset-lg-1">
                              <div class="form-group row">
                                 <div class="col-lg-3 pr-0">
                                    <label class="control-label font-weight-bold text-lg-right pt-2">Trip Number</label>
                                    <ng-select (change)="tripNumberFn()"  name="SCAC" [(ngModel)]="SCAC">                                      
                                    <ng-option value="SAVL">SAVL</ng-option>
                                    <ng-option value="SXTF">SXTF</ng-option>
                                    <ng-option value="THXL">THXL</ng-option>
                                    <ng-option value="MLCM">MLCM</ng-option>
                                    <ng-option value="BYTM">BYTM</ng-option>
                                    <ng-option value="SWRR">SWRR</ng-option>
                                    <ng-option value="CAYR">CAYR</ng-option>
                                    <ng-option value="HYLD">HYLD</ng-option>
                                    </ng-select>
                                 </div>
                                 <div class="col-lg-7 pl-0">
                                    <label class="control-label font-weight-bold text-lg-right pt-2">&nbsp;</label>
                                    <ng-select (change)="tripNumberFn()"  name="tripNo" [(ngModel)]="tripNo">                                      
                                    <ng-option *ngFor = "let trip of trips" [value]="trip.tripNo">{{trip.tripNo}}</ng-option>                                      
                                    </ng-select>                                           
                                 </div>
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2">US Port of Arrival</label>
                                    <ng-select  name="Usport" [(ngModel)]="USport">                                      
                                    <ng-option *ngFor = "let port of USports" [value]="port.code">Code: {{port.code}}, Location: {{port.portOfEntry}}</ng-option>                                      
                                    </ng-select> 
                                 </div>
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2">Estimated Arrival Date</label>
                                    <input
                                    class="form-control"
                                    placeholder="dd-mm-yyyy"
                                    name="date" [(ngModel)]="date"  (click)="d.toggle()" ngbDatepicker #d="ngbDatepicker"
                                    />
                                 </div>
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2">Estimated Arrival Time</label>
                                    <ngb-timepicker name="time" [(ngModel)]="time"></ngb-timepicker>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-5">
                              <div class="form-group row">
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2">Assign Vehicle</label>
                                    <ng-select name="vehicleID" [(ngModel)]="vehicleID" (change)="fetchVehicleData($event)">                                      
                                    <ng-option *ngFor = "let vehicle of vehicles" [value]="vehicle.vehicleID">{{vehicle.vehicleIdentification}}</ng-option>                                      
                                    </ng-select>
                                 </div>
                                 <div class="col-lg-2  mar-top-37">
                                    <a href="#addVehicleModal" class="modal-with-form btn btn-sm btn-success"><i class="fas fa-plus"></i></a>
                                 </div>
                                 <div class="col-lg-5">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" onclick="show_truck_seal_input()">Add Seal</label>
                                    <ngx-tags-input class="form-control input-lg" (onTagsChanged)="onTagsChanged($event)" [removeLastOnBackspace]="true" [maxTags]="4" [(ngModel)]="tags" name="tags"></ngx-tags-input>
                                 </div>
                                 <div class="col-lg-5 text-right">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" onclick="show_truck_IIT_input()">Add IIT</label>
                                    <select class="form-control" id="truck_IIT_input" style="display: none;">
                                       <option value="1">Select IIT Status</option>
                                       <option value="1">Trip contains IIT's covered under 10.41(a) with carriers bond</option>
                                       <option value="1">Trip contains IIT's covered under 10.41(a) with importers bond</option>
                                    </select>
                                 </div>
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2">Assign Trailer</label>
                                    <ng-select [multiple]="true" [(ngModel)]="assetId" name="assetId" (change)="getAssetData($event)">                                      
                                    <ng-option *ngFor = "let asset of assets" [value]="asset.assetID">{{asset.assetIdentification}}</ng-option>                                      
                                    </ng-select>
                                 </div>
                                 <div class="col-lg-2 mar-top-37">
                                    <a href="#addAssetModal" class="modal-with-form btn btn-sm btn-success"><i class="fas fa-plus"></i></a>
                                 </div>
                                 <div class="col-lg-5">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" onclick="show_trailer_seal_input()">Add Seal</label>
                                    <ngx-tags-input class="form-control input-lg" (onTagsChanged)="onTagsChangedAsset($event)" [removeLastOnBackspace]="true" [maxTags]="4" [(ngModel)]="assetTags" name="assetTags"></ngx-tags-input>
                                 </div>
                                 <div class="col-lg-5 text-right">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" onclick="show_trailer_IIT_input()">Add IIT</label>
                                    <select class="form-control" id="trailer_IIT_input" style="display: none;">
                                       <option value="1">Select IIT Status</option>
                                       <option value="1">Trip contains IIT's covered under 10.41(a) with carriers bond</option>
                                       <option value="1">Trip contains IIT's covered under 10.41(a) with importers bond</option>
                                    </select>
                                 </div>
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Assign Driver</label>
                                    <ng-select  [multiple]="true" [(ngModel)]="driverId" name="driverId" (change)="getDriverData($event)">                                      
                                    <ng-option *ngFor = "let driver of drivers" [value]="driver.driverID">{{driver.firstName}}</ng-option>                                      
                                    </ng-select>
                                 </div>
                                 <div class="col-lg-2  mar-top-37">
                                    <a href="#addDriverModal" class="modal-with-form btn btn-sm btn-success"><i class="fas fa-plus"></i></a>
                                 </div>
                                 <!-- <div class="col-lg-5">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" onclick="show_team_driver_input()">Add Team Driver</label>
                                    <div id="team_driver_input" style="display: none;">
                                       <div class="row">
                                          <div class="col-lg-9 pr-0">
                                             <select data-plugin-selectTwo class="form-control populate">
                                                <optgroup label="Select Team Driver">
                                                   <option value="1">Anchal</option>
                                                   <option value="2">Harmeet</option>
                                                   <option value="2">Harman</option>
                                                   <option value="2">Jaskarn </option>
                                                   <option value="2">Heena</option>
                                                </optgroup>
                                             </select>
                                          </div>
                                          <div class="col-lg-3">
                                             <a href="#addDriver" class="modal-with-form btn btn-sm btn-success"><i class="fas fa-plus"></i></a>
                                          </div>
                                       </div>
                                    </div>
                                 </div> -->
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" onclick="show_passenger_input()">Add Passenger</label>                                    
                                    <select data-plugin-selectTwo class="form-control populate">
                                       <optgroup label="Select Passenger">
                                          <option value="1">Anchal</option>
                                          <option value="2">Harmeet</option>
                                          <option value="2">Harman</option>
                                          <option value="2">Jaskarn </option>
                                          <option value="2">Heena</option>
                                       </optgroup>
                                    </select>
                                 </div>
                                          <div class="col-lg-2 mar-top-37">
                                             <button type="button" data-toggle="modal" data-target="#passengerModal" class="btn btn-sm btn-success"><i class="fas fa-plus"></i></button>
                                          </div>
                                      
                                   
                                
                              </div>
                           </div>
                        </div>
                        <div class="form-group row">
                           <div class="col-lg-12">
                              <label class="control-label font-weight-bold text-lg-right text-dark text-4  pt-2">ACE Shipment Details</label>
                           </div>
                           <div class="col-lg-5 offset-lg-1">
                              <div class="form-group row">
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2">Shipment Type</label>
                                    <ng-select  name="shipmentType" [(ngModel)]="shipmentType">                                      
                                    <ng-option *ngFor = "let shipment of shipmentTypeList" [value]="shipment.code">{{shipment.description}}</ng-option>                                      
                                    </ng-select>
                                 </div>
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2">Shipment Control Number</label>
                                    <div class="row">
                                       <div class="col-lg-4 pr-0">
                                          <ng-select (change)="shipmentNumberFn()"  name="SCACShipment" [(ngModel)]="SCACShipment">                                      
                                          <ng-option value="SAVL">SAVL</ng-option>
                                          <ng-option value="SXTF">SXTF</ng-option>
                                          <ng-option value="THXL">THXL</ng-option>
                                          <ng-option value="MLCM">MLCM</ng-option>
                                          <ng-option value="BYTM">BYTM</ng-option>
                                          <ng-option value="SWRR">SWRR</ng-option>
                                          <ng-option value="CAYR">CAYR</ng-option>
                                          <ng-option value="HYLD">HYLD</ng-option>
                                          </ng-select>
                                       </div>
                                       <div class="col-lg-8 pl-0">
                                          <input type="text" class="form-control"  (change)="shipmentNumberFn()"  name="shipmentInput" [(ngModel)]="shipmentInput">                                        
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2">Province of Loading</label>
                                    <ng-select  name="provinceOfLoading" [(ngModel)]="provinceOfLoading">                                      
                                    <ng-option *ngFor = "let state of states" [value]="state.stateCode">{{state.stateName}}</ng-option>                                      
                                    </ng-select>
                                 </div>
                                 <!-- <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2">Attached to Trip Number</label>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <select data-plugin-selectTwo class="form-control populate">
                                                <optgroup label="">
                                                   <option value="1">111</option>
                                                   <option value="2">112</option>
                                                   <option value="2">333</option>
                                                   <option value="2">456</option>
                                                </optgroup>
                                             </select>
                                        </div>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>                                            
                                    </div> -->
                              </div>
                           </div>
                           <div class="col-lg-5">
                              <div class="form-group row">
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2">Assign Shipper</label>
                                    <select data-plugin-selectTwo class="form-control populate">
                                       <optgroup label="Select Shipper">
                                          <option value="Art Place">Art Place</option>
                                          <option value="Canadian Lava Co.">Canadian Lava Co.</option>
                                          <option value="Howard Electric INC.">Howard Electric INC.</option>
                                          <option value="Searcy Trucking Ltd">Searcy Trucking Ltd</option>
                                          <option value="Titan Transline">Titan Transline</option>
                                          <option value="JADE TRANSPORT LTD">JADE TRANSPORT LTD</option>
                                          <option value="Precision">Precision</option>
                                          <option value="TEAMS Transport">TEAMS Transport</option>
                                       </optgroup>
                                    </select>
                                 </div>
                                 <div class="col-lg-2  mar-top-37">
                                    <a href="#addShipperModal" class="modal-with-form btn btn-sm btn-success"><i class="fas fa-plus"></i></a>
                                 </div>
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2">Assign Consignee</label>
                                    <select data-plugin-selectTwo class="form-control populate">
                                       <optgroup label="Select Consignee">
                                          <option value="8889 Heather Street Meaford, ON N4L 5M1">8889 Heather Street Meaford, ON N4L 5M1</option>
                                          <option value="78 Ridge Drive Porters Lake, NS B3E 1R8">78 Ridge Drive Porters Lake, NS B3E 1R8</option>
                                          <option value="5 Military Dr. Rivière-du-Loup, QC G5R 1T1">5 Military Dr. Rivière-du-Loup, QC G5R 1T1</option>
                                          <option value="279 Eagle Dr. Prince Rupert, BC V8J 4J1">279 Eagle Dr. Prince Rupert, BC V8J 4J1</option>
                                          <option value="461 Bedford St. St. Mary's, ON N4X 5N0">461 Bedford St. St. Mary's, ON N4X 5N0 </option>
                                          <option value="84 Wellington Dr. Dufferin County, ON L0N 9G9">84 Wellington Dr. Dufferin County, ON L0N 9G9</option>
                                       </optgroup>
                                    </select>
                                    <div class="dropdown-table w-100 dropdown-menu">
                                       <a class="dropdown-item" href="#">8889 Heather Street Meaford, ON N4L 5M1</a>
                                       <a class="dropdown-item" href="#">78 Ridge Drive Porters Lake, NS B3E 1R8</a>
                                       <a class="dropdown-item" href="#">5 Military Dr. Rivière-du-Loup, QC G5R 1T1</a>
                                       <a class="dropdown-item" href="#">5 Military Dr. Rivière-du-Loup, QC G5R 1T1</a>
                                       <a class="dropdown-item" href="#">5 Military Dr. Rivière-du-Loup, QC G5R 1T1</a>
                                       <a class="dropdown-item" href="#">5 Military Dr. Rivière-du-Loup, QC G5R 1T1</a>
                                    </div>
                                 </div>
                                 <div class="col-lg-2 mar-top-37">
                                    <a href="#addConsigneeModal" class="modal-with-form btn btn-sm btn-success"><i class="fas fa-plus"></i></a>
                                 </div>
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Assign Broker</label>
                                    <select data-plugin-selectTwo class="form-control populate">
                                       <optgroup label="Select Broker">
                                          <option value="FreightFinder">FreightFinder</option>
                                          <option value="Landstar">Landstar</option>
                                          <option value="JB Hunt">JB Hunt</option>
                                          <option value="Forest Commodities Boards">Forest Commodities Boards</option>
                                          <option value="Online Freight Services">Online Freight Services</option>
                                          <option value="uShip">uShip</option>
                                          <option value="DirectFreight">DirectFreight</option>
                                       </optgroup>
                                    </select>
                                 </div>
                                 <div class="col-lg-2  mar-top-37">
                                    <a href="#addBrokerModal" class="modal-with-form btn btn-sm btn-success"><i class="fas fa-plus"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="row mb-2">
                           <div class="col-lg-6">
                              <label class="control-label font-weight-bold text-lg-right text-dark text-4 pt-2">General Commodity Details</label>
                           </div>
                           <div class="col-lg-6">
                              <label class="control-label font-weight-bold text-lg-right text-dark text-4 pt-2">Hazardous Material Details</label>
                           </div>
                        </div>
                        <div class="form-group row" *ngFor="let commodity of commodities;let i = index">
                           <div class="col-lg-5 offset-lg-1">
                              <div class="row">
                                
                                 <div class="col-lg-5">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Loaded On</label>
                                    <ng-select  name="commodity.loadedOn.type{{i}}" [(ngModel)]="commodity.loadedOn.type" (change)="loadedOnFn($event)">                                      
                                       <ng-option  value="TRUCK">TRUCK</ng-option>
                                       <ng-option  value="TRAILER">TRAILER</ng-option>                                      
                                       </ng-select>
                                 </div>
                                 <div class="col-lg-5" *ngIf = "loadedType === 'TRUCK'">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Number</label>
                                    <ng-select  name="commodity.loadedOn.number{{i}}" [(ngModel)]="commodity.loadedOn.number">                                      
                                       <ng-option *ngFor = "let vehicle of vehicles" [value]="vehicle.vehicleID">{{vehicle.vehicleIdentification}}</ng-option>                                      
                                       </ng-select>
                                 </div>
                                 <div class="col-lg-5" *ngIf = "loadedType === 'TRAILER'">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Number</label>
                                    <ng-select  name="commodity.loadedOn.number{{i}}" [(ngModel)]="commodity.loadedOn.number" (change)="getAssetNumber($event)">                                      
                                       <ng-option *ngFor = "let asset of assets" [value]="asset.assetID">{{asset.assetIdentification}}</ng-option>                                      
                                       </ng-select>
                                 </div>
                              </div>
                              <div class="row" *ngIf = "shipmentType === 'BRASS' || shipmentType === 'BRASS_MULTIPLE'">
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >C4 Line Release Number </label>
                                    <input type="text" class="form-control" name="commodity.c4ReleaseNumber{{i}}" [(ngModel)]="commodity.c4ReleaseNumber">
                                 </div>                                
                              </div>
                              <div class="row" *ngIf = "shipmentType === 'IN_BOND' || shipmentType === 'SECTION_321' || shipmentType === 'SECTION_321_FDA'">
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Value </label>
                                    <input type="text" class="form-control" name="commodity.value{{i}}" [(ngModel)]="commodity.value">
                                 </div>                                
                              </div>
                              <div class="row" *ngIf = "shipmentType === 'SECTION_321' || shipmentType === 'SECTION_321_FDA'">
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Country of Origin </label>
                                    <ng-select   name="commodity.countryOfOrigin{{i}}" [(ngModel)]="commodity.countryOfOrigin">                                      
                                       <ng-option *ngFor = "let country of countries" [value]="country.countryCode">{{country.countryName}}</ng-option>                                      
                                       </ng-select>
                                 </div>                                
                              </div>
                              <div class="row">
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Commodity</label>
                                    <input type="text" class="form-control" name="commodity.description{{i}}" [(ngModel)]="commodity.description">
                                 </div>
                                 <div class="col-lg-5">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Quantity</label>
                                    <div class="row">
                                       <div class="col-lg-5 pr-0">
                                          <input type="number" class="form-control" name="commodity.quantity{{i}}" [(ngModel)]="commodity.quantity">                                                    
                                       </div>
                                       <div class="col-lg-7 pl-0">
                                          <ng-select  name="commodity.packagingUnit{{i}}" [(ngModel)]="commodity.packagingUnit">                                      
                                             <ng-option *ngFor = "let packagingUnit of packagingUnitsList" [value]="packagingUnit.code">{{packagingUnit.name}}</ng-option>                                      
                                             </ng-select>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-lg-5">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Weight</label>
                                    <div class="row">
                                       <div class="col-lg-5 pr-0">
                                          <input type="number" class="form-control" name="commodity.weight{{i}}" [(ngModel)]="commodity.weight">                                                    
                                       </div>
                                       <div class="col-lg-7 pl-0">
                                          <select data-plugin-selectTwo class="form-control populate"  name="commodity.weightUnit{{i}}" [(ngModel)]="commodity.weightUnit">
                                             <optgroup label="">
                                                <option value="LB">Pounds</option>
                                                <option value="KG">Kilograms</option>
                                             </optgroup>
                                          </select>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Marks & Numbers</label>
                                    <div class="row">
                                       <div class="col-lg-3"><input type="text" class="form-control"  name="commodity.marksAndNumbers.one{{i}}" [(ngModel)]="commodity.marksAndNumbers.one" ></div>
                                       <div class="col-lg-3"><input type="text" class="form-control"  name="commodity.marksAndNumbers.two{{i}}" [(ngModel)]="commodity.marksAndNumbers.two" ></div>
                                       <div class="col-lg-3"><input type="text" class="form-control"  name="commodity.marksAndNumbers.three{{i}}" [(ngModel)]="commodity.marksAndNumbers.three" ></div>
                                       <div class="col-lg-3"><input type="text" class="form-control"  name="commodity.marksAndNumbers.four{{i}}" [(ngModel)]="commodity.marksAndNumbers.four" ></div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-5">
                              <div class="form-group row">
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Hazmat Code</label>
                                    <input type="number" class="form-control" name="commodity.hazmatDetails.unCode{{i}}" [(ngModel)]="commodity.hazmatDetails.unCode">
                                 </div>
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Emergency Contact Name</label>
                                    <input type="text" class="form-control" name="commodity.hazmatDetails.emergencyContactName{{i}}" [(ngModel)]="commodity.hazmatDetails.emergencyContactName">
                                 </div>
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Contact Number</label>
                                    <input type="tel" class="form-control" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="commodity.hazmatDetails.contactPhone{{i}}" [(ngModel)]="commodity.hazmatDetails.contactPhone">
                                 </div>
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Contact Email</label>
                                    <input type="text" class="form-control" name="commodity.hazmatDetails.contactEmail{{i}}" [(ngModel)]="commodity.hazmatDetails.contactEmail">
                                 </div>
                                 <!-- <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Comments</label>
                                    <textarea class="form-control" rows="3"></textarea>
                                    </div> -->
                              </div>
                           </div>
                        </div>
                        <div class="form-group row">
                           <div class="col-lg-11">
                              <button type="button" (click)="addCommodity()" class="btn btn-sm btn-success pull-right">Add More Commodity</button>
                           </div>
                        </div>
                        <div class="form-group row">
                           <div class="col-lg-11 text-right">
                              <button type="button" onclick="goBack()" class="btn btn-default m-1">Cancel</button>
                              <button type="button" (click)="showDate() " class="btn btn-success m-1">Submit</button>
                           </div>
                        </div>
                     </form>
                  </div>
               </section>
            </div>
         </div>
      </section>
   </div>
</section>
<!-- PASSENGER MODAL -->
<div class="modal fade" id="passengerModal" tabindex="-1" role="dialog" aria-labelledby="passengerModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="passengerModalLabel">Passenger Details</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <form>
            <div *ngFor="let passenger of passengers;let i = index">
               <div class="form-group">
                  <div class="row">
                     <div class="col-lg-6"> <label class="col-form-label">First Name</label>
                        <input type="text" class="form-control" name="passenger.firstName" [(ngModel)]="passenger.firstName">
                     </div>
                     <div class="col-lg-6"> <label class="col-form-label">Last Name</label>
                        <input type="text" class="form-control"  name="passenger.lastName" [(ngModel)]="passenger.lastName">
                     </div>
                  </div>             
               </div>
               <div class="form-group">
                  <div class="row">
                     <div class="col-lg-6"> <label class="col-form-label">Gender</label>
                        <select data-plugin-selectTwo class="form-control populate"  name="passenger.gender" [(ngModel)]="passenger.gender">
                           <optgroup label="">
                              <option value="M">Male</option>
                              <option value="F">Female</option>
                           </optgroup>
                        </select>
                     </div>
                     <div class="col-lg-6"> <label class="col-form-label">Date of Birth</label>
                        <input
                        class="form-control"
                        placeholder="dd-mm-yyyy"
                        name="passenger.dob" [(ngModel)]="passenger.dob"  (click)="d.toggle()" ngbDatepicker #d="ngbDatepicker"
                        />
                     </div>
                  </div>             
               </div>
               <div class="form-group">
                  <div class="row">
                     <div class="col-lg-6"> <label class="col-form-label">Country of Citizenship</label>
                        <ng-select   name="passenger.countryOfCitizenship" [(ngModel)]="passenger.countryOfCitizenship">                                      
                           <ng-option *ngFor = "let country of countries" [value]="country.countryCode">{{country.countryName}}</ng-option>                                      
                           </ng-select>
                     </div>
                     <div class="col-lg-6"> <label class="col-form-label">Fast Card#</label>
                        <input type="text" class="form-control" name="passenger.fastNumber" [(ngModel)]="passenger.fastNumber">
                     </div>
                  </div>             
               </div>
               <!-- <div class="form-group" *ngFor="let document of passenger['document'];let i = index">
                  <div class="row">
                     <div class="col-lg-6"> <label class="col-form-label">Document#</label>
                        <input type="text" class="form-control" name="document.documentNumber{{i}}" [(ngModel)]="document.documentNumber">
                     </div>
                     <div class="col-lg-6"> <label class="col-form-label">Document Type</label>
                        <ng-select  name="document.documentType{{i}}" [(ngModel)]="document.documentType">                                      
                           <ng-option *ngFor = "let document of documentTypeList" [value]="document.code">{{document.description}}</ng-option>                                      
                           </ng-select>
                     </div>
                  </div>  
                  <div class="row">
                     <div class="col-lg-6"> <label class="col-form-label">Issuing Country</label>
                        <ng-select (change)="getStatesDoc()"  name="document.issuingCountry{{i}}" [(ngModel)]="document.issuingCountry">                                      
                           <ng-option *ngFor = "let country of countries" [value]="country.countryCode">{{country.countryName}}</ng-option>                                      
                           </ng-select>
                     </div>
                     <div class="col-lg-6"> <label class="col-form-label">Issuing State</label>
                        <ng-select  name="document.issuingState{{i}}" [(ngModel)]="document.issuingState">                                      
                           <ng-option *ngFor = "let state of passengerDocStates" [value]="state.stateCode">{{state.stateName}}</ng-option>                                      
                           </ng-select>
                     </div>
                  </div>           
               </div> -->
               <div class="form-group">
                  <div class="row">
                     <div class="col-lg-12"><button type="button" (click)="addDocument()" class="btn btn-success btn-sm pull-right">Add More Document(s)</button></div>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <div class="row">
                  <div class="col-lg-12"><button type="button" (click)="addMorePassenger()" class="btn btn-success btn-sm pull-right">Add More Passenger(s)</button></div>
               </div>
            </div>
          </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <button type="button" (click)="addPassenger()" class="btn btn-success">Save</button>
       </div>
     </div>
   </div>
 </div>