<section class="cheque-wrapper">
    <table width="100%">
        <tbody>
            <tr>
                <td>
                    <table width="100%">
                        <tr>
                            <td width="40%" class="title text-left" valign="top">
                                <h3 class="margin_bottom0 margin_top0"> XYZ INC</h3>
                                <p class="font10 margin_top1"> N. Enterprise St <br>
                                    Orange, USA 92865</p>
                            </td>
                            <td width="30%" class="title text-center" valign="top">
                                <p class="font12 font-bold margin_top0"> DATE</p>
                                22-Jul-2021
                            </td>
                            <td width="30%" class="title text-center" valign="top">
                                <p class="font12 font-bold  line_height99 margin_top0" style="margin-bottom: 7px; padding-top: 5px;"> CHEQUE NUMBER<br>
                                    NUMERO DE CH&#201;QUE</p>                                        
                                <span class="font16">2298972021</span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr style="margin-top: 3px;">
                <td class="cheque-inner-wrapper">
                    <table width="100%">
                        <tr>
                            <td>
                                <table width="100%" class="class_border p0"  style="border-spacing: 0px !important;">
                                    <thead>
                                        <tr class="font11 font-bold">
                                            <th width="20%" class="border_bottom border_right line_height95 p0">REFERENCE NO.<br>No
                                                DE REFERENCE</th>
                                            <th width="15%" class="border_bottom border_right">DATE</th>
                                            <th width="40%" class="border_bottom border_right">PARTICULARS -
                                                PARTICULARIT&#201;S</th>
                                            <th width="25%" class="border_bottom">NET AMOUNT<br>MONTANT NET</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="height: 490px;">
                                            <div>
                                                <td class="p10 border_right" valign="top"></td>
                                                <td class="p10 border_right" valign="top">19-Jul-2021</td>
                                                <td class="p10 border_right" valign="top">Mr. Smith</td>
                                                <td class="p10 text-right" valign="top">4,789.67</td>
                                            </div>
                                        </tr>
                                        <tr>
                                            <td class="p10 border_right" valign="top"></td>
                                            <td class="p10 border_right" valign="top"></td>
                                            <td class="p10 border_right text-right" valign="top">TOTAL</td>
                                            <td class="p10 text-right" valign="top">4,789.67</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="100%">
                                <table width="100%">
                                    <tbody>
                                        <tr class="font10 font-bold">
                                            <td width="40%">REMITTANCE STATEMENT - &#201;TAT DES REMISES</td>
                                            <td width="60%" style="text-align:right">DETACH BEFORE DEPOSITING - A
                                                D&#201;TTACHER
                                                AVANT ENCAISSEMENT</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%">
                        <tr>
                            <td width="40%" class="title text-left" valign="middle">
                                <h3 class="margin_bottom0"> XYZ INC</h3>
                                <p class="font10 margin_top1"> N. Enterprise St <br>
                                    Orange, USA 92865</p>
                            </td>
                            <td width="20%" class="title text-left line_height90" valign="middle">
                                <span  class="font-bold font10">TD Canada Trust</span><br>
                                <span class="font9">206 Saddletone Circle NE<br></span>
                                <span class="font9">Calgary, AB, T3J0C9</span>
                            </td>
                            <td width="20%" class="title text-right " valign="middle">
                                <p class="margin_top1 font12 font-bold line_height99"> CHEQUE NUMBER
                                    NUMERO DE CH&#201;QUE</p>
                            </td>
                            <td width="15%" class="title text-right font16" style="padding-top: 25px;" valign="top">
                                2298972021
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="cheque-inner-wrapper">
                    <table width="100%">
                        <tbody>
                            <tr style="padding-top: 5px;">
                                <td width="10%" class="font9 font-bold" style="line-height: 90%;">PAY EXACTLY CDN FUNDS<br><br>A PAYER
                                    EXACTEMENT FONDS CDN</td>
                                <td width="45%" style="position: relative;">
                                    <div class="back-class"></div>
                                    <div class="front-class font33 font-bold" style="letter-spacing: 1.6px;">
                                        *******$4,789.67
                                    </div>
                                    <div style="padding-top: 30px;" class="font4">
                                     <span style="word-spacing: 11.5px; padding-left: 3px;">AST AST AST AST AST AST AST</span> 
                                     <span  style="word-spacing: 6.5px; padding-left: 10px;">DOLLAR FOUR COM SEVEN EIGHT NINE PER SIX SEVEN</span>
                                    </div>
                                </td>

                                <td width="45%">
                                    <table width="100%">
                                        <tbody>
                                            <tr class="text-right">
                                                <td width="50%" class="font-bold" style="padding-top: 2;" valign="top">DATE</td>
                                                <td width="50%">
                                                    <div class="font17" style="letter-spacing: 6px;">12012021</div>
                                                    <div class="font10" style="letter-spacing: 8.5px;">DDMMYYYY</div>
                                                </td>
                                            </tr>
                                            <tr class="text-right">
                                                <td class="font-bold font19">$</td>
                                                <td class="font19" style="letter-spacing: 1.4px;">***4,789.67</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                                <tr>
                                    <td width="10%" class="font9 font-bold" style="line-height: 90%;">PAY TO THE ORDER<br><br>A PAYER
                                        A L'ORDRE DE</td>
                                    <td width="40%">
                                        <div class="font10" style="line-height: 100%;">
                                            174457 Alberta Ltd.<br>
                                            432 East LakeView Pl<br>
                                            Chestermere, AB<br>
                                            T1X 1W3
                                        </div>
                                    </td>

                                    <td width="50%">
                                        <table width="100%">
                                            <tbody>
                                                <tr>
                                                    <td width="100%" class="font5 font-bold text-right">Canadian Funds</td>
                                                </tr>
                                                <tr>
                                                    <td width="100%" class="font7 line_height95">PER<br>PAR</td>
                                                </tr>
                                                <tr>
                                                    <td width="100%" class="font9 bor_top text-right">
                                                        AUTHORIZED SIGNATURE - SIGNATURE AUTHORISEE
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="100%" class="font7 line_height95">PER<br>PAR</td>
                                                </tr>
                                                <tr>
                                                    <td width="100%" class="font9 bor_top text-right">
                                                        AUTHORIZED SIGNATURE - SIGNATURE AUTHORISEE
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                          
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height: 34px;"></td>
            </tr>
            <tr>
                <td class="text-center">
                    <p style="margin-bottom: 0px;" class="routingNo"> O00012544O T81069D004T 8106D5019107O</p>
                </td>
            </tr>
            <tr>
                <td style="height: 20px;"></td>
            </tr>
        </tbody>
    </table>
</section>