/* .chqbg{background:url(img/chq-bg.jpg) 0 0 repeat; height:300px; width:100%;} */
	
@font-face {
  font-family: 'Open Sans', sans-serif, 'micr';
  /* font-family: micr; */
  /* src: url(css/fonts/MICR.ttf); */
}

.routingNo {
  font-family: 'micrFont'; font-size: 20px; color: #000;
}

.chqbg{
  /* background:url(img/chq-bg.jpg) 0 0 repeat;  */
  height:300px; 
  width:100%;
}

@font-face {
  font-family: 'micrFont';
  src: url('../../../../assets/css/micrenc.eot'); /* IE9 Compat Modes */
  src: url('../../../../assets/css/micrenc.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../../../../assets/css/micrenc.woff2') format('woff2'), /* Super Modern Browsers */
      url('../../../../assets/css/micrenc.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../../../assets/css/micrenc.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../../../assets/css/micrenc.svg#svgFontName') format('svg'); /* Legacy iOS */
}
.class_border {
  border: 1px solid #000;
}

.border_right {
  border-right: 1px solid #000;
}

.border_bottom {
  border-bottom: 1px solid #000;
}

.font22 {
  font-size: 22px !important;
}
  
.font-weight-semibold {
  font-weight: 600 !important;
}

.amt-wordsN ul li span {
  font-size: 14px;
  letter-spacing: -0.2px;
}
.amt-wordsN {
  float: right;
}

.amt-wordsN ul {
  list-style: none;
  padding-left: 0px;
}

.amt-wordsN ul li {
  float: left;
  text-align: center;
}
.amt-wordsN ul li p {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  margin-bottom: 0px;
}
.amt-wordsN ul li+li {
  padding-left: 10px;
}