<section class="body-sign">
    <div class="center-sign">
        <div class="col-sm-12 log" >
            <a href="#" class="">
                <img src="./assets/img/logologin.png" alt="FH Admin" />
            </a>
        </div>

        <div class="panel card-sign">
            <div class="card-title-sign mt-3 text-center">
                <h2 class="text-uppercase font-weight-normal m-0">Driver Login</h2>
            </div>
            <div class="card-body">
                <form action="select-vehicle.html" method="post">
                    <div class="form-group mb-3">
                        <div class="input-group">
                            <div class="logiconm mr-3">
                                <i class="fas fa-user logicon text-5"></i>
                            </div>
                            <input name="username" type="text" placeholder="Email ID or Username" class="form-control login form-control-lg" [(ngModel)]="userName" />

                        </div>
                    </div>

                    <div class="form-group mb-3">

                        <div class="input-group">
                            <div class="logiconm mr-3">
                                <i class="fas fa-lock logicon text-5"></i>
                            </div>
                            <input name="pwd" type="password" placeholder="Password" class="form-control login form-control-lg" [(ngModel)]="password" />

                        </div>

                    </div>

                    <div class="row">

                       <p *ngIf="hasError" class="text text-danger">{{Error}}</p>
                    </div>

                    <div class="row">

                        <div class="col-sm-12 text-center">
                            <!--<button type="submit" class="btn btn-primary btn-lg mt-2" (click)="LoginAction()">Submit</button>-->
                            <button type="submit" class="btn btn-primary btn-lg mt-2" (click)="loginAction1()">Submit</button>

                        </div>
                    </div>



                </form>
            </div>
        </div>


    </div>
</section>