<section class="body">

  <div class="inner-wrapper">
    <section role="main" class="content-body pl-0 pt-0">
      <header class="page-header">
        <div class="row pr-5 " style="padding-top:10px;">
          <div class="col-md-4 col-lg-4 font-weight-bold text-4 text-dark">
            Sensor #6454 <span class="badge badge-success text-3">Active</span>
          </div>
          <div class="col-md-8  col-lg-8 text-right">
            <a href="sensors.php" class="btn btn-sm btn-default"><i class="fas fa-list"></i> Sensors List</a>

            <div class="btn-group flex-wrap">
              <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown"
                aria-expanded="false">Actions<span class="caret"></span></button>
              <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                <a class="dropdown-item text-1" href="edit-sensor.php">Edit </a>
                <a class="modal-with-form dropdown-item text-1" href="#deleteModal">Delete</a>
              </div>
            </div>
            <a href="add-sensor.php" class="btn btn-success btn-sm"><i class="fas fa-plus"></i> Add Sensor</a>
          </div>
        </div>
      </header>
      <div class="row">
        <div class="col">
          <div class="card-body text-dark">
            <form class="form-horizontal form-bordered" method="get">
              <div class=" row">

                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-lg-12">
                      <table class="table table-bordered table-responsive-lg">
                        <tbody>
                          <tr>
                            <td width="40%" class="back-color-gray font-weight-bold">Sensor Name</td>
                            <td width="60%">Test EM21 </td>
                          </tr>
                          <tr>
                            <td class="back-color-gray font-weight-bold">Status</td>
                            <td><span class="badge badge-success text-3">Active</span></td>
                          </tr>
                          <tr>
                            <td class="back-color-gray font-weight-bold">Model</td>
                            <td>FH-345</td>
                          </tr>
                          <tr>
                            <td class="back-color-gray font-weight-bold">ID</td>
                            <td>Fh-345667</td>
                          </tr>
                          <tr>
                            <td class="back-color-gray font-weight-bold">Signal</td>
                            <td>Offline-since 01/02/2020</td>
                          </tr>
                          <tr>
                            <td class="back-color-gray font-weight-bold">Description</td>
                            <td>This is about the sensors.</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>


                </div>
                <div class="col-lg-6">

                </div>
              </div>
            </form>
          </div>

          <!-- Delete MODAL -->
          <div id="deleteModal" class="modal-block modal-block-primary mfp-hide">
            <section class="card">
              <header class="card-header">
                <h2 class="card-title">Corfirm Action</h2>
              </header>
              <div class="card-body text-dark">
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label for="inputEmail4">Are you sure?</label>
                    </div>
                  </div>
                </form>
              </div>
              <footer class="card-footer">
                <div class="row">
                  <div class="col-md-12 text-right">
                    <button class="btn btn-danger modal-confirm">OK</button>
                    <button class="btn btn-default modal-dismiss">Cancel</button>
                  </div>
                </div>
              </footer>
            </section>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
