<style>
  .extra {
    display: none;
  }
</style>
<section class="body">
  <div class="inner-wrapper">
    <section role="main" class="content-body pr-0 pt-0">
      <header class="page-header pr27 pl18">
        <form class="form-horizontal" method="get">
          <div class="row" style="padding-top: 10px">
            <div class="col-md-2 col-lg-2 pr-0">
              <div class="input-group input-group-md mb-3">
                <input type="text" autocomplete="off" name="vehicleIdentification" placeholder="Search vehicle by name" [(ngModel)]="vehicleIdentification" class="form-control" (input)="getSuggestions($event.target.value)" />
              </div>
              <div *ngIf="suggestedVehicles?.length > 0" class="result-suggestions">
                <ul class="text-capitalize">
                  <li *ngFor="
                                    let suggestedVehicle of suggestedVehicles
                                  " style="cursor: pointer" (click)="
                                    setVehicle(
                                      suggestedVehicle.vehicleID,
                                      suggestedVehicle.vehicleIdentification
                                    )
                                  ">
                    {{ suggestedVehicle.vehicleIdentification }}
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-2 col-lg-2 pr-0">
              <ng-select class="form-control bgnone populate" name="currentStatus" [(ngModel)]="currentStatus" placeholder="Select status">
                <ng-option value="active">Active</ng-option>
                <ng-option value="inActive">Inactive</ng-option>
                <ng-option value="outOfService">Out of Service</ng-option>
                <ng-option value="sold">Sold</ng-option>
              </ng-select>
            </div>
            <div class="col-md-2 col-lg-2 pr-0">
              <button type="submit" (click)="searchFilter()" class="btn btn-sm btn-success mr-3">
                Search
              </button>
              <button type="button" (click)="resetFilter()" class="btn btn-sm btn-success">
                Reset
              </button>
            </div>
            <div class="col-md-2 col-lg-6 text-right">
              <a routerLink="/manage/settings/vehicles/overview" class="btn btn-success btn-sm"><i class="fas fa-arrow-left"></i> Go Back</a>
            </div>
          </div>
        </form>
      </header>

      <div class="routing-overview__wrapper m-2">
        <form class="form-horizontal" method="get">
          <div class="row">
            <div class="col-lg-12 col-xl-12 mb-4">
              <div class=" ">
                <ul class="nav nav-tabs top-tabs">
                  <!-- <li class="nav-item active">
                                            <a class="nav-link active" href="#drlistset" data-toggle="tab">Vehicle Listing</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#dstatusset" data-toggle="tab">Vehicle Status</a>
                                        </li> -->
                  <li class="nav-item active">
                    <a class="nav-link active" href="#deletedVehicles" data-toggle="tab">Restore Deleted Vehicles</a>
                  </li>
                  <!--
                                        <li class="nav-item">
                                            <a class="nav-link" href="#impexpset" data-toggle="tab">Import/Export</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#mperset" data-toggle="tab">Manage Access</a>
                                        </li>
                                        -->
                </ul>

                <div class="tab-content mt-2" style="box-shadow: none; border: none">
                  <!-- driver listing -->
                  <div id="drlistset" class="tab-pane">
                    <div class="row pt-2">
                      <div class="col-12">
                        <p class="text-4 font-weight-bold text-dark">
                          Set the visibility of vehicle listing to:
                        </p>
                      </div>

                      <div class="col-5 offset-lg-1">
                        <div class="radio">
                          <label>
                            <input type="radio" name="ds" id="ds" class="driver-type" checked="checked" />
                            Active Vehicle
                          </label>
                        </div>
                        <span class="text-2">By this setting active vehicle show only in driver
                          listing</span>
                      </div>

                      <div class="col-5">
                        <div class="radio">
                          <label>
                            <input type="radio" name="ad" id="ad" class="driver-type" />
                            Show Both Active/Inactive Vehicle
                          </label>
                        </div>
                        <span class="text-2">In this setting all listing (active, in active)
                          show</span>
                      </div>
                    </div>
                  </div>

                  <!-- vehicle status -->
                  <div id="dstatusset" class="tab-pane">
                    <div class="row">
                      <div class="col-10">
                        <p class="text-4 font-weight-bold text-dark">
                          Activate or deactivate your drivers:
                        </p>
                      </div>
                      <div class="col-2 text-right">
                        <a routerLink="/manage/settings/vehicle" class="btn btn-success btn-sm modal-with-form"><i class="fas fa-plus"></i> Change Status</a>
                      </div>
                      <div class="col-12">
                        <table class="table table-striped table-bordered simple-table">
                          <thead>
                            <tr style="background-color: #ccc">
                              <th>Vehicle Name</th>
                              <th>Vehicle Number</th>
                              <th>Status</th>
                              <th>Status Date/Time</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Volvo</td>
                              <td>V-54226</td>
                              <td>Active</td>
                              <td>10/03/2020, 07:20 PM</td>
                              <td>
                                <div class="switch switch-sm switch-dark">
                                  <input type="checkbox" name="switch" data-plugin-ios-switch checked="checked" />
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td>Ford</td>
                              <td>F-C23565</td>
                              <td>Inactive</td>
                              <td>10/05/2020, 10:25 AM</td>
                              <td>
                                <div class="switch switch-sm switch-dark">
                                  <input type="checkbox" name="switch" data-plugin-ios-switch checked="checked" />
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td>Toyota</td>
                              <td>T9480</td>
                              <td>Active</td>
                              <td>14/02/2020, 11:45 AM</td>
                              <td>
                                <div class="switch switch-sm switch-dark">
                                  <input type="checkbox" name="switch" data-plugin-ios-switch checked="checked" />
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <!-- deleted vehicle list -->
                  <section class="m-2">
                    <div class="row mb-3">
                          <div class="col-lg-12" style="height: calc(90vh - 149px); overflow-y: scroll">
                            <p-table #dt 
                            [value]="vehicles" 
                            [resizableColumns]="true" 
                            columnResizeMode="expand" 
                            scrollDirection="both" 
                            [columns]="selectedColumns" 
                            [loading]="!loaded" 
                            styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped" 
                            scrollHeight="100%" 
                            autoLayout="true" 
                            columnResizeMode="fit">
                              <ng-template pTemplate="caption">
                                <div class="p-d-flex d-flex justify-content-between align-items-center">
                                  <div>
                                    <h3 class="m-0">Deleted Vehicles</h3>
                                  </div>
                                  <div class="text-right">
                                   <span>Showing {{dt.filteredValue ? dt.filteredValue.length : dt.totalRecords}} of {{dt.totalRecords}} Entries.</span>
                                    &nbsp;
                                    <button type="button" pButton (click)="refreshData()" pTooltip="Refresh" class="p-button-outlined mr-2" icon="fas fa-sync"></button>
                                    <button pButton pRipple pTooltip="Clear Filter" class="p-button-outlined mr-2" icon="pi pi-filter-slash" (click)="clear(dt)"></button>
                                    <button type="button" pButton pRipple class="p-button-outlined mr-2" icon="fas fa-regular fa-file-excel" (click)="dt.exportCSV()" pTooltip="Excel"></button>
                                    <p-multiSelect [options]="dataColumns" [(ngModel)]="selectedColumns" optionLabel="header" selectedItemsLabel="{0} columns selected" [style]="{ minWidth: '200px' }" placeholder="Choose Columns">
                                    </p-multiSelect>
                                  </div>
                                </div>
                              </ng-template>
                              <!-- Header template of DataTable -->
                              <ng-template pTemplate="header" let-columns>
                                <tr>
                                  <th *ngFor="let dataColumns of columns" [pSortableColumn]="dataColumns.field" pResizableColumn>
                                    <div [ngSwitch]="dataColumns.field">
                                      <!--  Status Filter Customization -->
                                      <span *ngSwitchCase="'currentStatus'">
                                        <div class="flex justify-content-center align-items-center" alignFrozen="left" pFrozenColumn [frozen]="true">
                                          {{ dataColumns.header }}
                                          <p-sortIcon [field]="dataColumns.field"></p-sortIcon>
                                          <p-columnFilter [type]="dataColumns.type" [field]="dataColumns.field" [showOperator]="false" matchMode="contains" [showMatchModes]="false" [showAddButton]="false" display="menu">
                                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                              <p-multiSelect [options]="[
                                        { name: 'Active', value: 'active' },
                                        { name: 'InActive', value: 'inActive' },
                                        {
                                          name: 'Out of Service',
                                          value: 'outOfService'
                                        },
                                        { name: 'Sold', value: 'sold' }
                                      ]" placeholder="Any" (onChange)="filter($event.value)" optionLabel="name" optionValue="value">
                                                <ng-template let-option pTemplate="item">
                                                  <div>
                                                    <span class="ml-1">{{
                                            option.name
                                          }}</span>
                                                  </div>
                                                </ng-template>
                                              </p-multiSelect>
                                            </ng-template>
                                          </p-columnFilter>
                                        </div>
                                      </span>
                                      <span *ngSwitchDefault>
                                        <div class="flex justify-content-center align-items-center" alignFrozen="right" pFrozenColumn [frozen]="true">
                                          {{ dataColumns.header }}
                                          <p-sortIcon [field]="dataColumns.field"></p-sortIcon>
                                          <p-columnFilter [type]="dataColumns.type" [field]="dataColumns.field" matchMode="contains" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" display="menu">
                                          </p-columnFilter>
                                        </div>
                                      </span>
                                    </div>
                                  </th>
                                  <th style="width: 130px" alignFrozen="right" pFrozenColumn [frozen]="true">
                                    Actions
                                  </th>
                                </tr>
                              </ng-template>
                              <ng-template pTemplate="body" let-vehicle let-columns="columns" let-rowIndex="rowIndex">
                                <tr>
                                  <td *ngFor="let dataColumns of columns">
                                    <div [ngSwitch]="dataColumns.field">
                                      <span *ngSwitchCase="'vehicleIdentification'">
                                        <span class="font-weight-bold line-height-lg text-capitalize">{{ vehicle.vehicleIdentification }}</span>
                                      </span>

                                      <span *ngSwitchCase="'VIN'">
                                        <span>{{ vehicle.VIN }}</span>
                                      </span>

                                      <span *ngSwitchCase="'lifeCycle.startDate'">
                                        <span>
                                          {{
                                    vehicle.lifeCycle.startDate
                                      | date: "yyyy/MM/dd"
                                  }}
                                        </span>
                                      </span>

                                      <span *ngSwitchCase="'manufacturerID'">
                                        <span class="text-capitalize">
                                          {{
                                    vehicle.manufacturerID
                                      ? vehicle.manufacturerID
                                      : "-"
                                  }}
                                        </span>
                                      </span>

                                      <span *ngSwitchCase="'modelID'">
                                        <span class="text-capitalize">
                                          {{ vehicle.modelID ? vehicle.modelID : "-" }}
                                        </span>
                                      </span>

                                      <span *ngSwitchCase="'year'">
                                        <span>
                                          {{vehicle.year}}
                                        </span>
                                      </span>

                                      <span *ngSwitchCase="'annualSafetyDate'">
                                        <span>
                                          {{
                                    vehicle.annualSafetyDate
                                      | date: "yyyy/MM/dd"
                                  }}
                                  <td>
                                    </span>
                                    </span>

                                    <span *ngSwitchCase="'ownership'">
                                      <span>
                                        {{
                                    vehicle.ownership ? vehicle.ownership : "-"
                                  }}
                                      </span>
                                    </span>

                                    <span *ngSwitchCase="'driverName'">
                                      <span>
                                        {{
                                    driversList[vehicle.teamDriverID]
                                      ? driversList[vehicle.teamDriverID]
                                      : "-"
                                  }}
                                      </span>
                                    </span>

                                    <span *ngSwitchCase="'teamDriverName'">
                                      <span>
                                        {{
                                    driversList[vehicle.teamDriverID]
                                      ? driversList[vehicle.teamDriverID]
                                      : "-"
                                  }}
                                      </span>
                                    </span>

                                    <span *ngSwitchCase="'plateNumber'">
                                      <span>
                                        {{
                                    vehicle.plateNumber
                                      ? vehicle.plateNumber
                                      : "-"
                                  }}
                                      </span>
                                    </span>

                                    <span *ngSwitchCase="'currentStatus'">
                                      <span class="badge badge-dark p-1 text-uppercase">{{ vehicle.currentStatus }}</span>
                                    </span>
                          </div>
                          </td>

                          <td style="width: 6%; overflow: inherit !important" pFrozenColumn alignFrozen="right" [frozen]="true">
                            <div class="dropdown dropright">
                              <button (click)="rm.toggle($event)" class="bg-transparent border-0" type="button" id="dropdownMenuButton-{{ rowIndex }}">
                                <i class="fas fa-ellipsis-v"></i>
                              </button>
                              <p-overlayPanel #rm [showCloseIcon]="true">
                                <ng-template pTemplate>
                                  <a (click)="rm.hide(); restoreVehicle(vehicle)" style="text-align:left" class="dropdown-item text-4">Restore</a>
                                </ng-template>
                              </p-overlayPanel>
                            </div>
                          </td>
                          </tr>
                          </ng-template>
                          <ng-template pTemplate="emptymessage" let-columns>
                            <td colspan="12" class="text-center">
                              <br />
                              {{ dataMessage }}
                              <br /> <br />
                            </td>
                          </ng-template>
                          <ng-template pTemplate="summary" let-columns>
                            <div class="col-lg-12 mt-3 text-center" *ngIf="lastEvaluatedKey !== 'end' && vehicles.length !== 0">
                              <button type="button " (click)="onScroll($event)" class="btn btn-success btn-sm text-light">
                                Load More..
                              </button>
                              <br /><br />
                            </div>

                            <div class="col-lg-12 mt-3 text-center" *ngIf="lastEvaluatedKey === 'end'">
                              Total Records: {{ vehicles.length }}
                            </div>
                          </ng-template>
                          </p-table>
                        </div>
                      </div>
             </section>
       </div>
  </div>
  </div>
  </div>
  </form>
  </div>
</section>
</div>
</section>