<section class="body">
  <!-- start: header -->
  <app-header></app-header>

  <!-- end: header -->

  <div class="inner-wrapper">
    <!-- start: sidebar -->
    <app-sidebar></app-sidebar>
    <!-- end: sidebar -->

    <section role="main" class="content-body">
      <header class="page-header">
        <h2>{{ title }}</h2>

        <div class="right-wrapper text-right">
          <ol class="breadcrumbs">
            <li></li>

            <li>
              <span>{{ title }}</span>
            </li>
          </ol>
        </div>
      </header>
      <div class="row">
        <div class="col">
          <section class="card">
            <header class="card-header">
              <h2 class="card-title">Item Entry Form</h2>
            </header>
            <div class="card-body">
              <form
                class="form-horizontal form-bordered"
                method="get"
                name="form"
                id="form_"
              >
                <div class="form-group row">
                  <div class="col-lg-4">
                    <label
                      class="control-label text-lg-right pt-2"
                      for="inputDefault"
                      >Item Name</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="itemName"
                      [(ngModel)]="itemName"
                    />
                  </div>
                  <div class="col-lg-4">
                    <label
                      class="control-label text-lg-right pt-2"
                      for="inputDefault"
                      >Opening Stock</label
                    >
                    <input
                      type="number"
                      class="form-control"
                      name="openingStock"
                      [(ngModel)]="openingStock"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-4">
                    <label
                      class="control-label text-lg-right pt-2"
                      for="inputDefault"
                      >Default Purchase Price</label
                    >
                    <input
                      type="number"
                      class="form-control"
                      name="defaultPurchasePrice"
                      [(ngModel)]="defaultPurchasePrice"
                    />
                  </div>
                  <div class="col-lg-4">
                    <label
                      class="control-label text-lg-right pt-2"
                      for="inputDefault"
                      >Default Purchase Vendor</label
                    >
                    <select
                      data-plugin-selectTwo
                      class="form-control populate"
                      name="defaultPurchaseVendor"
                      [(ngModel)]="defaultPurchaseVendor"
                    >
                      <option
                        *ngFor="let vendor of vendors"
                        value="{{ vendor.vendorID }}"
                        >{{ vendor.vendorName }}</option
                      >
                    </select>
                  </div>
                  <div class="col-lg-4">
                    <label
                      class="control-label text-lg-right pt-2"
                      for="inputDefault"
                      >Default Tax Account</label
                    >
                    <select
                      data-plugin-selectTwo
                      class="form-control populate"
                      name="defaultTaxAccount"
                      [(ngModel)]="defaultTaxAccount"
                    >
                      <optgroup label="">
                        <option
                          *ngFor="let account of taxAccounts"
                          value="{{ account.accountID }}"
                          >{{ account.accountName }}</option
                        >
                      </optgroup>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-12">
                    <label
                      class="control-label text-lg-right pt-2"
                      for="inputDefault"
                      >Description</label
                    >
                    <textarea
                      class="form-control"
                      rows="3"
                      name="description"
                      [(ngModel)]="description"
                    ></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-12">
                    <button
                      class="btn btn-dark mt-4 modal-confirm"
                      (click)="updateItem()"
                    >
                      Submit
                    </button>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-12">
                    <!-- <p class="text text-danger" *ngIf="hasError">{{Error}}</p> -->
                    <p class="text text-success" *ngIf="hasSuccess">
                      {{ Success }}
                    </p>
                  </div>
                </div>
              </form>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
</section>
