<section class="body">

    <!-- start: header -->
    <app-header></app-header>

    <!-- end: header -->



    <div class="inner-wrapper">
        <!-- start: sidebar -->
        <app-sidebar></app-sidebar>
        <!-- end: sidebar -->

        <section role="main" class="content-body">
            <header class="page-header">
                <h2>{{title}}</h2>

                <div class="right-wrapper text-right">
                    <ol class="breadcrumbs">
                        <li>
                            <a [routerLink]="">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                        <li><span>Shippers</span></li>
                        <li><span>{{title}}</span></li>
                    </ol>
                </div>
            </header>
            <div class="row">
                <div class="col">
                    <section class="card">
                        <header class="card-header">


                            <h2 class="card-title">Shipper</h2>
                        </header>
                        <div class="card-body">
                            <form class="form-horizontal form-bordered" method="get" name="form" id="form_">

                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <label class="control-label text-lg-right pt-2" for="inputDefault">Shipper
                                            Name</label>
                                        <input type="text" class="form-control" [(ngModel)]="shipperName"
                                            name="shipperName">
                                    </div>
                                </div>
                               <div class="form-group row">
                                  <div class="col-lg-12">
                                     <label class="control-label text-lg-right text-dark text-4 pt-2">Address</label>
                                 </div>
                                 <div class="col-lg-4">
                                    <label class="control-label text-lg-right pt-2">Country</label>
                                    <select
                                    data-plugin-selectTwo
                                    class="form-control populate"
                                    name="countryID"
                                    (change)="getStates()"
                                    [(ngModel)]="countryID"
                                  >
                                    <option
                                      *ngFor="let country of countries"
                                      value="{{ country.countryID }}"
                                      >{{ country.countryName }}</option
                                    >
                                  </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="control-label text-lg-right pt-2">State</label>
                                        <select
                                        data-plugin-selectTwo
                                        class="form-control populate"
                                        name="stateID"
                                        (change)="getCities()"
                                        [(ngModel)]="stateID"
                                      >
                                        <option
                                          *ngFor="let state of states"
                                          value="{{ state.stateID }}"
                                          >{{ state.stateName }}</option
                                        >
                                      </select> 

                                     </div>
                                     <div class="col-lg-4">
                                        <label class="control-label text-lg-right pt-2">City</label>
                                        <select
                                        data-plugin-selectTwo
                                        class="form-control populate"
                                        name="cityID"
                                        [(ngModel)]="cityID"
                                      >
                                        <option
                                          *ngFor="let city of cities"
                                          value="{{ city.cityID }}"
                                          >{{ city.cityName }}</option>
                                      </select>
                                     </div>
                                     <div class="col-lg-4">
                                        <label class="control-label text-lg-right pt-2">Zip Code</label>
                                        <input type="text" class="form-control" [(ngModel)] = "addressZip" name="addressZip" (ngModelChange) = "addressZip = $event.toUpperCase()"/>
                                        </div>
                                        <div class="col-lg-4">
                                           <label class="control-label text-lg-right pt-2">Street Number</label>
                                           <input type="text" class="form-control" [(ngModel)] = "streetNumber" name="streetNumber">
                                        </div>
                                        <div class="col-lg-4">
                                           <label class="control-label text-lg-right pt-2">Street Name</label>
                                           <input type="text" class="form-control" [(ngModel)] = "streetName" name="streetName">
                                        </div>
                               </div>
                               
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                      <label
                                        class="control-label text-lg-right pt-2"
                                        for="inputDefault"
                                        >Geo-location</label>
                                    </div>
                  
                                    <div class="col-lg-12 col-xl-12 btn" (click)="initMap()">
                                      <div class="card card-default">
                                        <div class="card-header">
                                          <h4 class="card-title m-0">
                                            <span class="pull-left">
                                              Set Address
                                            </span>
                                            <span class="pull-right"><i class="fas fa-angle-down"></i></span>
                                          </h4>
                                        </div>
                                      </div>
                                    </div>
                  
                                    <div
                                      class="col-lg-12 col-xl-12"
                                      id="map-div"
                                      style="display: none;">
                                      <div class="card-body p-0">
                                        <div
                                          class="map"
                                          id="map"
                                          style="
                                            width: 100%;
                                            height: 700px;
                                            border-radius: 5px;
                                            padding: 10px;
                                          "
                                        ></div>
                                      </div>
                                    </div>
                                  </div>

                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <label class="control-label text-lg-right text-dark text-4 pt-2">Contact Information</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="control-label text-lg-right pt-2">Phone
                                            Number</label>
                                        <input type="number" class="form-control" [(ngModel)]="phone" name="phone">
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="control-label text-lg-right pt-2">Email</label>
                                        <input type="email" class="form-control" [(ngModel)]="email" name="email">
                                    </div>
                                    <div class="col-lg-4">
                                      <label class="control-label text-lg-right pt-2">Fax</label>
                                      <input type="number" class="form-control" [(ngModel)]="fax" name="fax">
                                  </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label class="control-label text-lg-right pt-2">Tax
                                            ID</label>
                                        <input type="text" class="form-control"  name="taxID"
                                            [(ngModel)]="taxID">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <button class="btn btn-dark mt-4 modal-confirm" type="submit"
                                            (click)="updateShipper()">Submit</button>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <p class="text text-success" *ngIf="hasSuccess">{{Success}}</p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>

        </section>
    </div>






</section>