<style>
    #map_view {
        display: inline-block;
        height: 700px;
        width: 100%;
    }
</style>
<section class="body">

    <!-- start: header -->
    <app-header></app-header>
    <!-- end: header -->

    <div class="inner-wrapper">
        <!-- start: sidebar -->
        <app-sidebar></app-sidebar>
        <!-- end: sidebar -->

        <section role="main" class="content-body pl-0 pt-0 pr-0">
            <header class="page-header">
                <div class="row pr-5 " style="padding-top:10px;">
                    <div class="col-md-4 col-lg-4 font-weight-bold text-4 text-dark">
                        Event Details
                    </div>
                    <div class="col-md-8  col-lg-8 text-right pr-4">
                        <!-- <a href="#assignSafetyProgramModal" class="btn btn-sm btn-success modal-with-form "><i class="fas fa-list"></i> Assign Safety Program</a> -->

                        <a href="javascript:;" routerLink = "/safety/critical-events" class="btn btn-sm btn-default"><i class="fas fa-list"></i> Events
                            List</a>
                        <div class="btn-group flex-wrap">
                            <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false">Actions<span class="caret"></span></button>
                            <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                <a class="dropdown-item text-1" href="javascript:;" routerLink="/safety/critical-events/edit-event/{{eventID}}">Edit</a>
                                <a class="modal-with-form dropdown-item text-1" href="javascript:;"
                                data-toggle="modal" data-target="#deleteModal">Delete</a>
                            </div>
                        </div>
                        <a href="javascript:;" routerLink="/safety/critical-events/add-event" class="btn btn-success btn-sm"><i class="fas fa-plus"></i> Add
                            Event</a>
                    </div>
                </div>
            </header>
            <div class="row">
                <div class="col pr-0">
                    <div class="card-body text-dark">
                        <form class="form-horizontal form-bordered" method="get">

                            <div class="row cmaindiv">
                                <div class="col-md-3 col-lg-3">
                                    <div class="text-center p-4 cerbor">
                                        <i class="fa fa-user text-7"></i>
                                        <br>
                                        <p class="mb-0 text-5 font-weight-bold text-dark">{{ event.driverName }}</p>
                                        <p class="mb-0">DRIVER NAME</p>
                                    </div>
                                </div>

                                <div class="col-md-3 col-lg-3">
                                    <div class="text-center p-4 cerbor">
                                        <i class="far fa-calendar-check text-7"></i>
                                        <br>
                                        <p class="mb-0 text-5 font-weight-bold text-dark">{{ event.criticalityType }}</p>
                                        <p class="mb-0">EVENT TYPE</p>
                                    </div>
                                </div>

                                <div class="col-md-3 col-lg-3">
                                    <div class="text-center p-4 cerbor">
                                        <i class="far fa-calendar-alt text-7"></i>
                                        <br>
                                        <p class="mb-0 text-5 font-weight-bold text-dark">{{ event.eventDate }} {{ event.eventTime }}</p>
                                        <p class="mb-0">DATE</p>
                                    </div>
                                </div>

                                <div class="col-md-3 col-lg-3">
                                    <div class="text-center p-4">
                                        <i class="fas fa-map-marker-alt text-7"></i>
                                        <br>
                                        <p class="mb-0 text-5 font-weight-bold text-dark">{{ event.location }}</p>
                                        <p class="mb-0">LOCATION</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-md-8 col-lg-8">
                                    <!-- <label class="control-label font-weight-bold font-bold text-lg-right text-dark text-4 font-weight-bold pt-2">Front View</label> -->
                                    <div class="safety-deails__map">
                                        <iframe width="100%" height="100%"
                                            src="https://www.youtube.com/embed/y4lX98Ch-gI" frameborder="0"
                                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen=""></iframe>
                                    </div>
                                    <div class="safety-deails__map mt-4">
                                        <iframe width="100%" height="100%"
                                            src="https://www.youtube.com/embed/y4lX98Ch-gI" frameborder="0"
                                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen=""></iframe>
                                    </div>
                                </div>

                                <div class="col-md-4 col-lg-4">
                                    <div class="vehicle-common-box">
                                        <div class="mapclass" id="map_view">
                                            <div id="map" class=""></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-lg-12">
                                    <div id="DataTables_Table_16_wrapper"
                                        class="dataTables_wrapper dt-bootstrap4 no-footer">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="dataTables_length" id="DataTables_Table_16_length">
                                                    <label>Show <select name="DataTables_Table_16_length"
                                                            aria-controls="DataTables_Table_16"
                                                            class="custom-select custom-select-sm form-control form-control-sm">
                                                            <option value="10">10</option>
                                                            <option value="25">25</option>
                                                            <option value="50">50</option>
                                                            <option value="100">100</option>
                                                        </select> entries</label></div>
                                            </div>
                                            <div class="col-lg-6"></div>
                                        </div>
                                        <div class="table-responsive">
                                            <table
                                                class="table table-responsive-lg table-bordered table-striped mb-0 simple-table dataTable no-footer"
                                                id="DataTables_Table_16" role="grid" style="width: 1013px;">
                                                <thead>
                                                    <tr class="font-weight-bold" role="row">
                                                        <td width="10%" class="sorting_asc" tabindex="0"
                                                            aria-controls="DataTables_Table_16" rowspan="1" colspan="1"
                                                            data-column-index="0" aria-sort="ascending"
                                                            aria-label="Status: activate to sort column descending"
                                                            style="width: 62px;">Status</td>
                                                        <td width="10%" class="sorting" tabindex="0"
                                                            aria-controls="DataTables_Table_16" rowspan="1" colspan="1"
                                                            data-column-index="1"
                                                            aria-label="Time: activate to sort column ascending"
                                                            style="width: 63px;">Time</td>
                                                        <td width="10%" class="sorting" tabindex="0"
                                                            aria-controls="DataTables_Table_16" rowspan="1" colspan="1"
                                                            data-column-index="2"
                                                            aria-label="Duration: activate to sort column ascending"
                                                            style="width: 63px;">Duration</td>
                                                        <td width="20%" class="sorting" tabindex="0"
                                                            aria-controls="DataTables_Table_16" rowspan="1" colspan="1"
                                                            data-column-index="3"
                                                            aria-label="Location: activate to sort column ascending"
                                                            style="width: 164px;">Location</td>
                                                        <td width="10%" class="sorting" tabindex="0"
                                                            aria-controls="DataTables_Table_16" rowspan="1" colspan="1"
                                                            data-column-index="4"
                                                            aria-label="Odometer: activate to sort column ascending"
                                                            style="width: 66px;">Odometer</td>
                                                        <td width="40%" class="sorting" tabindex="0"
                                                            aria-controls="DataTables_Table_16" rowspan="1" colspan="1"
                                                            data-column-index="5"
                                                            aria-label="Notes: activate to sort column ascending"
                                                            style="width: 367px;">Notes</td>
                                                    </tr>
                                                </thead>
                                                <tbody>





                                                    <tr role="row" class="odd">
                                                        <td class="sorting_1"><span class="offduty">OFF</span>OFF Duty
                                                        </td>
                                                        <td> 12:00:00 AM</td>
                                                        <td>7 mins 11 secs</td>
                                                        <td>12.8 km S of Portage, WI</td>
                                                        <td>5658 miles</td>
                                                        <td>This is real good business in the world evenin time of
                                                            crisis.</td>
                                                    </tr>
                                                    <tr role="row" class="even">
                                                        <td class="sorting_1"><span class="onduty">ON</span>ON Duty</td>
                                                        <td> 12:00:00 AM</td>
                                                        <td>7 mins 11 secs</td>
                                                        <td>12.8 km S of Portage, WI</td>
                                                        <td>5658 miles</td>
                                                        <td>This is real good business in the world evenin time of
                                                            crisis.</td>
                                                    </tr>
                                                    <tr role="row" class="odd">
                                                        <td class="sorting_1"><span class="onduty">ON</span>ON Duty</td>
                                                        <td> 12:00:00 AM</td>
                                                        <td>7 mins 11 secs</td>
                                                        <td>12.8 km S of Portage, WI</td>
                                                        <td>5658 miles</td>
                                                        <td>This is real good business in the world evenin time of
                                                            crisis.</td>
                                                    </tr>
                                                    <tr role="row" class="even">
                                                        <td class="sorting_1"><span class="sbduty">SB</span>Sleeper</td>
                                                        <td> 12:00:00 AM</td>
                                                        <td>7 mins 11 secs</td>
                                                        <td>12.8 km S of Portage, WI</td>
                                                        <td>5658 miles</td>
                                                        <td>This is real good business in the world evenin time of
                                                            crisis.</td>
                                                    </tr>
                                                    <tr role="row" class="odd">
                                                        <td class="sorting_1"><span class="ymduty">YM</span>Yard Move
                                                        </td>
                                                        <td> 12:00:00 AM</td>
                                                        <td>7 mins 11 secs</td>
                                                        <td>12.8 km S of Portage, WI</td>
                                                        <td>5658 miles</td>
                                                        <td>This is real good business in the world evenin time of
                                                            crisis.</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="dataTables_paginate paging_simple_numbers"
                                            id="DataTables_Table_16_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button page-item previous disabled"
                                                    id="DataTables_Table_16_previous"><a href="#"
                                                        aria-controls="DataTables_Table_16" data-dt-idx="0" tabindex="0"
                                                        class="page-link">Previous</a></li>
                                                <li class="paginate_button page-item active"><a href="#"
                                                        aria-controls="DataTables_Table_16" data-dt-idx="1" tabindex="0"
                                                        class="page-link">1</a></li>
                                                <li class="paginate_button page-item next disabled"
                                                    id="DataTables_Table_16_next"><a href="#"
                                                        aria-controls="DataTables_Table_16" data-dt-idx="2" tabindex="0"
                                                        class="page-link">Next</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

<div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog" style="max-width: 600px;">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Confirm Action</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this record?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="deleteEvent()">Delete</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
</div>
