<section class="body">
   <!-- start: header -->
   <app-header></app-header>
   <!-- end: header -->

   <div class="inner-wrapper">
       <!-- start: sidebar -->
       <app-sidebar></app-sidebar>
       <!-- end: sidebar -->

       <section role="main" class="content-body pt-0 pl-0">
           <header class="page-header">
              <div class="row pr-5" style="padding-top:10px;">
                 <div class="col-md-4 col-lg-4 font-weight-bold text-4 text-dark">
                    {{pageTitle}}
                 </div>
                 <div class="col-md-8  col-lg-8 text-right">
                    <a routerLink="/fleet/maintenance/service-log/list" class="btn btn-default btn-sm mx-2" style="color:black;"><i class="fas fa-list"></i>  Service Log</a>
                 </div>
              </div>
           </header>
           <div class="row" data-select2-id="19">
              <div class="col" data-select2-id="18">
                 <div class="card-body text-dark" data-select2-id="17">
                    <form class="form-horizontal form-bordered" method="get" data-select2-id="16">
                       <div class="form-group row">
                          <div class="col-lg-12">
                             <label class="control-label font-weight-bold font-bold text-lg-right text-dark text-4 font-weight-bold pt-2">Service Details</label>
                          </div>
                          <div class="col-lg-5 offset-lg-1">
                           <div class="row">
                              <div class="col-lg-12">
                                 <div class="row">
                                    <div class="col-lg-3">
                                       <label class="control-label font-weight-bold text-lg-right"
                                          >Unit Type:</label>
                                    </div>
                                    <div class="col-lg-6">
                                      <div class="btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-outline btn-fleet mr-2" [class.active]="serviceData.unitType === 'vehicle'" style="width:110px;" (click) = "onChangeUnitType('vehicle')">
                                          <input type="radio" [(ngModel)]="serviceData.unitType" name="unitType" checked hidden value="vehicle" > Vehicle </label>
                                        <label class="btn btn-outline btn-fleet mr-2 " style="width:110px;" [class.active]="serviceData.unitType === 'asset'" (click) = "onChangeUnitType('asset')">
                                          <input type="radio" [(ngModel)]="serviceData.unitType" name="unitType"
                                               hidden value="asset" > Asset </label>
                                      </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                             <!-- <div class="row" *ngIf="serviceData.unitType === 'vehicle'">
                                <div class="col-lg-10">
                                   <label class="control-label font-weight-bold font-bold text-lg-right pt-2" for="inputDefault">Group of Vehicle</label>
                                   <ng-select [(ngModel)]="serviceData.vehicleGroup" name="vehicleGroup" style="width: 100%;" class="form-control populate">
                                      <ng-option *ngFor="let group of groups;" value="{{group.groupID}}">{{group.groupName}}</ng-option>
                                   </ng-select>
                                </div>
                             </div> -->
                             <div class="row" *ngIf="serviceData.unitType === 'vehicle'">
                                <div class="col-lg-10">
                                   <label class="control-label font-weight-bold font-bold text-lg-right pt-2" for="inputDefault">Vehicle ID</label>
                                   <ng-select (change)="getVehicleIssues($event)" [(ngModel)]="serviceData.vehicleID" name="vehicleID" style="width: 100%;">
                                       <ng-option *ngFor="let vehicle of vehicles;" value="{{vehicle.vehicleID}}">{{vehicle.vehicleIdentification}}</ng-option>
                                   </ng-select>
                                </div>
                             </div>
                             <div class="row" *ngIf="serviceData.unitType === 'asset'">
                              <div class="col-lg-10">
                                 <label class="control-label font-weight-bold font-bold text-lg-right pt-2" for="inputDefault">Asset ID</label>
                                 <ng-select (change)="getAssetIssues($event)" [(ngModel)]="serviceData.assetID" name="assetID" style="width: 100%;">
                                     <ng-option *ngFor="let asset of assets;" value="{{asset.assetID}}">{{asset.assetIdentification}}</ng-option>
                                 </ng-select>
                              </div>
                           </div>
                             <div class="row pt-2" *ngIf="serviceData.unitType === 'vehicle'">
                                <div class="col-lg-10">
                                   <label class="control-label font-weight-bold font-bold text-lg-right pt-2">Odometer</label>
                                   <input [(ngModel)]="serviceData.odometer" name="odometer" type="text" class="form-control">
                                </div>
                             </div>
                             <div class="row pt-2">
                                <div class="col-lg-10">
                                   <label class="control-label font-weight-bold font-bold text-lg-right pt-2">Completion Date</label>
                                   <input type="text" placeholder="DD/MM/YYYY"
                                   (click)="d1.toggle()" ngbDatepicker #d1="ngbDatepicker" [(ngModel)]="serviceData.completionDate" name="completionDate" class="form-control">
                                </div>
                             </div>
                             <div class="row">
                                <div class="col-lg-10" data-select2-id="118">
                                   <label class="control-label font-weight-bold font-bold text-lg-right pt-2">Vendor ID</label>
                                   <ng-select [(ngModel)]="serviceData.vendorID" name="vendorID" style="width: 100%;">
                                       <ng-option *ngFor="let vendor of vendors;" value="{{vendor.vendorID}}">{{vendor.vendorName}}</ng-option>
                                          
                                   </ng-select>
                                </div>
                                <div class="col-lg-2  mar-top-37">
                                   <a href="#addVendorModal" class="btn btn-sm btn-success modal-with-form"><i class="fas fa-plus"></i></a>
                                </div>
                             </div>
                          </div>
                          <div class="col-lg-5 offset-lg-1">
                             <div class="row pt-2">
                                <div class="col-lg-10">
                                   <label class="control-label font-weight-bold font-bold text-lg-right pt-2">Reference</label>
                                   <input [(ngModel)]="serviceData.reference" name="reference" type="text" class="form-control">
                                </div>
                             </div>
                             <div class="row pt-2">
                                <div class="col-lg-10">
                                   <label class="control-label font-weight-bold font-bold text-lg-right pt-2">Location</label>
                                   <input [(ngModel)]="serviceData.location" name="location" type="text" class="form-control">
                                </div>
                             </div>
                             <div class="row">
                                <div class="col-lg-10">
                                   <label class="control-label font-weight-bold font-bold text-lg-right pt-2">Description</label>
                                   <textarea [(ngModel)]="serviceData.description" name="description" class="form-control" rows="3"></textarea>
                                </div>
                             </div>
                          </div>
                       </div>
                       <!-- ISSUE DETAILS AREA -->
                       <div class=" form-group row" *ngIf="issues">
                          <div class="col-lg-12">
                             <label class="control-label font-weight-bold font-bold text-lg-right text-dark text-4  pt-2">Issue Details</label>
                          </div>
                          <div class="col-lg-10 offset-lg-1">
                             <div class="row">
                                <div class="col-lg-12 mb-2 text-right">
                                   <a routerLink="/fleet/maintenance/issues/add" class="btn btn-sm btn-success"><i class="fas fa-plus"></i>Add Issue</a>
                                </div>
                                <table class="table table-bordered table-responsive-lg table-striped mb-0" id="openIssueTable">
                                   <thead>
                                      <tr>
                                         <th width="5%"></th>
                                         <th width="65%">Issue</th>
                                         <th width="20%">Assigned To</th>
                                      </tr>
                                   </thead>
                                   <tbody>
                                      <tr *ngFor="let issue of issues;">
                                         <td><input (change)="selectIssues($event, issue.issueID)" type="checkbox"></td>
                                         <td>{{issue.issueName}}</td>
                                         <td>{{issue.assignedTo}}</td>
                                      </tr>
                                      <tr *ngIf="!issues?.length > 0">
                                          <td colspan="3">No Issue Found</td>
                                      </tr>
                                   </tbody>
                                </table>
                             </div>
                          </div>
                       </div>
                       <div class="form-group row" *ngIf="issues">
                          <div class="col-lg-12">
                             <label class="control-label font-weight-bold text-lg-right text-dark text-4  pt-2">Service Tasks</label>
                          </div>
                          <div class="col-lg-5 offset-lg-1">
                             <div class="row pt-2">
                                <div class="col-lg-10">
                                   <label class="control-label font-weight-bold font-bold text-lg-right pt-2">Select Service Task</label>
                                    <ng-select [items]="tasks" [(ngModel)]="selectedTasks" name="selectedTasks" bindLabel="taskName" 
                                         (add)="addTasks()"  [multiple]=true style="width: 100%;" (clear)="clearTaks('tasks')" (remove)="removeTasks($event)"
                                    ></ng-select>
                                </div>
                             </div>
                          </div>
                          <div class="col-lg-5 offset-lg-1" *ngIf="serviceData.unitType !== 'asset'"> 
                             <div class="row pt-2">
                                <div class="col-lg-10 text-right">
                                   <a href="javascript:;" (click)="openReminders()"><label class="btn btn-dark text-3 pt-2">Service Reminders<span class="text-danger font-weight-bold"> {{reminders.length}}</span></label></a>
                                </div>
                             </div>
                          </div>
                          <div class="col-lg-10 offset-lg-1">
                             <div class="row pt-4">
                                <table class="table table-bordered table-striped">
                                   <thead>
                                      <tr>
                                         <th width="30%">Task</th>
                                         <th width="35%">Schedule</th>
                                         <th width="10%">Labor</th>
                                         <!-- <th width="10%">Subtotal</th> -->
                                         <th width="5%">Action</th>
                                      </tr>
                                   </thead>
                                   <tbody> 
                                      <tr *ngFor="let item of serviceData.allServiceTasks.serviceTaskList; let i = index;">
                                         <td>{{item.taskName}}</td>
                                         <td>{{item.schedule}}</td>
                                         <td><input type="text" value="0.00" name="laborCost{{i}}}" [(ngModel)]="item.laborCost" (blur)="calculateTasks()" class="form-control"></td>
                                         <!-- <td><input type="text" value="0.00" name="{{item.labor}}" class="form-control"></td> -->
                                         <td><i (click)="remove('tasks', item, i)" class="far fa-trash-alt"></i></td>
                                      </tr>
                                   </tbody>
                                </table>
                             </div>
                             <div class="row pt-2">
                                <table class="table">
                                   <tbody>
                                      <tr>
                                         <td width="30%"></td>
                                         <td width="35%" class="text-right"></td>
                                         <td width="10%"><label class="control-label font-weight-bold text-5"></label></td>
                                         <td width="10%"><label class="control-label font-weight-bold text-5">$ <span [innerHtml]="totalLabors">0.00</span></label></td>
                                         <td width="5%"></td>
                                      </tr>
                                   </tbody>
                                </table>
                             </div>
                             <div class="row">
                                <div class="col-lg-1 offset-lg-10">
                                   <label class="control-label font-weight-bold font-bold text-lg-right pt-2" for="inputDefault">Discount(%)</label>                                           
                                </div>
                                <div class="col-lg-1">
                                   <input [(ngModel)]="serviceData.allServiceTasks.discountPercent" name="discountPercent" type="text" value="0.00" (blur)="calculateTasks()" class="form-control" id="inputDefault">
                                </div>
                             </div>
                             <div class="row">
                                <div class="col-lg-1 offset-lg-10">
                                   <label class="control-label font-weight-bold font-bold text-lg-right pt-2" for="inputDefault">Tax(%)</label>                                           
                                </div>
                                <div class="col-lg-1">
                                   <input [(ngModel)]="serviceData.allServiceTasks.taxPercent" name="taxPercent" type="text" value="0.00" class="form-control" (blur)="calculateTasks()">
                                </div>
                             </div>
                             <div class="row">
                                <div class="col-lg-1 offset-lg-10">
                                   <label class="control-label font-weight-bold font-bold text-lg-right pt-2" for="inputDefault">Total($)</label>                                           
                                </div>
                                <div class="col-lg-1">
                                   <input [(ngModel)]="serviceData.allServiceTasks.total" name="total" type="text" class="form-control" id="inputDefault">
                                </div>
                             </div>
                          </div>
                       </div>
                       <div class="form-group row" *ngIf="issues">
                          <div class="col-lg-12">
                             <label class="control-label font-weight-bold text-lg-right text-dark text-4  pt-2">Service Parts</label>
                          </div>
                          <div class="col-lg-5 offset-lg-1">
                             <div class="row pt-2">
                                <div class="col-lg-10" data-select2-id="14">
                                   <label class="control-label font-weight-bold font-bold text-lg-right pt-2">Select Service Parts</label>
                                   <ng-select [items]="inventory" [(ngModel)]="selectedParts" name="selectedParts" bindLabel="name" 
                                   (add)="addParts()" [multiple]=true (clear)="clearTaks('parts')" style="width: 100%;"></ng-select>
                                   
                                </div>
                             </div>
                          </div>
                          <div class="col-lg-5 offset-lg-1">
                             <div class="row pt-2">
                                <div class="col-lg-10 text-right">
                                   <a href="#partModal" class="modal-with-form"><label class="btn btn-dark text-3 pt-2">Part Missing, Click Here To Request</label></a>
                                </div>
                             </div>
                          </div>
                          <div class="col-lg-10 offset-lg-1">
                             <div class="row pt-4">
                                <table class="table table-bordered table-striped">
                                   <thead>
                                      <tr>
                                         <th width="20%">Parts Number</th>
                                         <th width="35%">Description</th>
                                         <th width="10%">Quantity</th>
                                         <th width="10%">Rate</th>
                                         <th width="10%">Amount</th>
                                         <th width="5%">Action</th>
                                      </tr>
                                   </thead>
                                   <tbody>
                                      <tr *ngFor="let part of serviceData.allServiceParts.servicePartsList; let j = index;">
                                         <td>{{part.partNumber}}</td>
                                         <td>{{part.description}}</td>
                                         <td><input type="text" [(ngModel)]="part.quantity" name="quantity{{j}}" (blur)="calculateParts()" value="0.00" class="form-control"></td>
                                         <td><input type="text" [(ngModel)]="part.rate" name="rate{{j}}" value="0.00" (blur)="calculateParts()" class="form-control"></td>
                                         <td><input type="text" [(ngModel)]="part.partCost" name="partCost{{j}}" value="0.00" class="form-control"></td>
                                         <td><i (click)="remove('parts', j)" class="far fa-trash-alt"></i></td>
                                      </tr>
                                   </tbody>
                                </table>
                             </div>
                             <div class="row pt-2">
                                <table class="table">
                                   <tbody>
                                      <tr>
                                         <td width="20%"></td>
                                         <td width="35%" class="text-right"></td>
                                         <td width="10%"><label [innerHtml]="totalQuantity" class="control-label font-weight-bold text-5">0</label></td>
                                         <td width="10%"></td>
                                         <td width="10%"><label [innerHtml]="totalPartsPrice"  class="control-label font-weight-bold text-5">$ 0.00</label></td>
                                         <td width="5%"></td>
                                      </tr>
                                   </tbody>
                                </table>
                             </div>
                             <div class="row">
                                <div class="col-lg-1 offset-lg-10">
                                   <label class="control-label font-weight-bold font-bold text-lg-right pt-2" for="inputDefault">Discount(%)</label>                                           
                                </div>
                                <div class="col-lg-1">
                                   <input [(ngModel)]="serviceData.allServiceParts.discountPercent" name="parts-discountPercent" type="text" value="0.00" (blur)="calculateParts()" class="form-control" id="inputDefault">
                                </div>
                             </div>
                             <div class="row">
                                <div class="col-lg-1 offset-lg-10">
                                   <label class="control-label font-weight-bold font-bold text-lg-right pt-2" for="inputDefault">Tax(%)</label>                                           
                                </div>
                                <div class="col-lg-1">
                                   <input [(ngModel)]="serviceData.allServiceParts.taxPercent" name="parts-taxPercent" type="text" (blur)="calculateParts()" value="0.00" class="form-control" id="inputDefault">
                                </div>
                             </div>
                             <div class="row">
                                <div class="col-lg-1 offset-lg-10">
                                   <label class="control-label font-weight-bold font-bold text-lg-right pt-2" for="inputDefault">Total</label>                                           
                                </div>
                                <div class="col-lg-1">
                                   <input [(ngModel)]="serviceData.allServiceParts.total" name="parts-total" type="text" class="form-control" id="inputDefault">
                                </div>
                             </div>
                          </div>
                       </div>
                       <div class="form-group row">
                          <div class="col-lg-12">
                             <label class="control-label font-weight-bold font-bold text-lg-right text-dark text-4  pt-2">Additional Details</label>
                          </div>
                          <div class="col-lg-5 offset-lg-1">
                             <div class="row pt-2">
                                <div class="col-lg-10">
                                   <label class="control-label font-weight-bold font-bold text-lg-right pt-2" for="inputDefault1">Attach Photo</label>
                                   <input (change)="selectDocuments($event, 'uploadedPhotos')" name="uploadedPhotos" multiple  type="file" class="form-control p-0" id="inputDefault1">
                                </div>
                                <!-- <div class="col-lg-2  mar-top-37">
                                   <a href="" class="btn btn-sm btn-success"><i class="fas fa-plus"></i></a>
                                </div> -->
                             </div>
                          </div>
                          <div class="col-lg-5 offset-lg-1">
                             <div class="row pt-2">
                                <div class="col-lg-10">
                                   <label class="control-label font-weight-bold font-bold text-lg-right pt-2" for="inputDefault">Attach Document</label>
                                   <input (change)="selectDocuments($event, 'uploadedDocs')" name="uploadedDocuments" multiple type="file" class="form-control p-0" id="inputDefault">
                                </div>
                                <!-- <div class="col-lg-2  mar-top-37">
                                   <a href="" class="btn btn-sm btn-success"><i class="fas fa-plus"></i></a>
                                </div> -->
                             </div>
                          </div>
                       </div>
                       <div class="form-group row">
                       </div>
                       <div class="form-group row">
                          <div class="col-lg-11 text-right">
                             <a routerLink="/fleet/maintenance/service-log/list" class="btn btn-default" id="">Cancel</a>
                             <a *ngIf="!logID" (click)="addService()" class="btn btn-success" id="nextBtn">Save</a>
                             <a *ngIf="logID" (click)="updateService()" class="btn btn-success">Update</a>
                          </div>
                       </div>
                    </form>
                 </div>
              </div>
           </div>
           

           
        </section>
   </div>
</section>

<!-- Delete MODAL -->
<div class="modal fade" id="serviceReminderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width: 600px;">
    <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title">Service Reminders</h5>
           <button aria-label="Close" class="close" data-dismiss="modal" type="button"><i class="far fa-window-close modal-dismiss" style="font-size:25px;"></i></button>
        </div>
        <div class="modal-body">
           
            <table class="table">
               <tbody>
                  <tr *ngFor="let reminder of reminders;">
                     <td width="80%">
                        <span class="text-dark text-4 font-weight-bold">{{tasksObject[reminder.reminderTasks.task]}}</span><br>
                        <span class="font-size-12">{{reminder.reminderTasks.remindByDays}} days or {{reminder.reminderTasks.odometer}} miles</span><br>
                        <!-- <span class="text-warning">Due: 3 months from now · 467 mi from now</span> -->
                     </td>
                     <td width="20%" class="text-right">
                        <a href="javascript:;" *ngIf="!reminder.buttonShow" (click)="addListedTasks()" class="btn btn-default btn-xs"><i class="fas fa-plus text-success"></i> Add</a>
                        <a href="javascript:;" *ngIf="reminder.buttonShow" (click)="removeListedTasks()" class="btn btn-danger btn-xs"><i class="fas fa-plus text-white"></i> Remove</a>
                     </td>
                  </tr>
                  <tr *ngIf="!reminders?.length > 0">
                     <td colspan="2">No Reminders Found</td>
                  </tr>
               </tbody>
            </table>
                 
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
     </div>
  </div>
</div>



<div id="partModal" class="modal-block modal-block-primary mfp-hide">
   <section class="card">
      <header class="card-header">
         <h2 class="card-title">Request To Any Part</h2>
      </header>
      <div class="card-body text-dark">
         <form>
            <div class="form-row">
               <div class="form-group col-md-12">
                  <div class="row pt-2">
                     <div class="col-lg-6">
                        <label class="control-label font-weight-bold font-bold text-lg-right pt-2">Part ID</label>
                        <input type="text" class="form-control">
                     </div>
                     <div class="col-lg-6">
                        <label class="control-label font-weight-bold font-bold text-lg-right pt-2">Quantity</label>
                        <input type="text" class="form-control">
                     </div>
                  </div>

                  <div class="row pt-2">
                     <div class="col-lg-12">
                        <label class="control-label font-weight-bold font-bold text-lg-right pt-2">Preferred Vendor</label>
                        <input type="text" class="form-control">
                     </div>
                  </div>

                  <div class="row pt-2">
                  <div class="col-lg-12 text-center">
                     <a href="" class="btn btn-default" id="">Cancel</a>
                     <a href="" class="btn btn-success" id="nextBtn">Submit</a>
                  </div>
                  </div>


               </div>
            </div>
         </form>
      </div>
      <footer class="card-footer">
         <div class="row">
            <div class="col-md-12 text-right">
               <button class="btn btn-default modal-dismiss">Close</button>
            </div>
         </div>
      </footer>
   </section>
</div>


