
.qtumbtn{margin-top: 38px !important;}


/*
::-webkit-scrollbar {
    width: 8px;
  }
 */
 ::-webkit-scrollbar {
  width: 2px;
}
 
::-webkit-scrollbar:horizontal {
  width: 2px;
}


  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #dedede ; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #5c5c5c; 
  }

  
  
  /* chat classes start from here*/
.chat-menu{float: left;}
.chat-icon {
    display: block;
    transition: all .2s;
    opacity: 1; float: left;
    width: 20%;
}

.chat-icon img {
  border-radius: 50px !important ;  
  width: 44px;
  height: 44px;
}

.chat-name {
  display: block;
  float:  right;
  width: 75%;
}

.chat-name p{margin-bottom: 0px; font-weight: 600; line-height: 14px; color: #000;}
.chat-name span{margin:0px 0 2px 0; font-size: 0.8em; line-height: 10px; color: #a8a8a8;}

/*Name*/
.chat-hdicon {
  display: block;
  transition: all .2s;
  opacity: 1; float: left;
  margin-right: 20px;
}

.chat-hdicon img {
border-radius: 50px !important ;  
width: 44px;
height: 44px;
}

.chat-headname {
display: block;
float:  left;
}

.chat-headname p{margin-bottom: 0px; font-weight: 600; line-height: 14px; color: #000;}
.chat-headname span{margin:0px 0 2px 0; font-size: 0.8em; line-height: 10px; color: #a8a8a8;}

.chat-body{padding: 20px; background: #f2f2f2;}

.chat-day{text-align: center; margin-bottom: 10px;}
.chat-daytext{text-transform: uppercase; display: block; margin: auto;}
.chatdaybg{background: #fafafa; padding: 5px; font-size: 0.8em;}

.chat-message{margin-bottom: 15px;}
.chat-message-own{text-align: right;}

.chat-message-own .chat-message-text {
  background-color: #2e353e;
  color: #ffffff; display: inline-block;
  text-align: left; padding: 5px; border-radius: 5px;
}


/*attachment in chat*/
.media .media-body {
  word-break: break-word;
}

.message-document {
  margin: 5px 0;
}

.message-document li {border-bottom: 0px !important; color: #fff;}
.message-document li:hover{background: none !important; text-decoration: none !important; border-bottom: 0px !important;}

.message-document h5 a {
  color: #ffffff !important; text-decoration: none;
}


.message-document p {
  text-align: left;
  margin-bottom: 0;
}

.message-document h5 {
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
}


.chat-message-other{text-align: left;}

.chat-message-other .chat-message-texto {
  background-color: #fff;
  color: #333; display: inline-block;
  text-align: left; padding: 5px; border-radius: 5px;
}


.chat-footer {
  background-color: #fff;
  padding: 5px 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.03);
  border-left: 1px solid rgba(0, 0, 0, 0.03);
  float: right;
  bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
    
}


.chatinput-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.chatinput{width: 96% !important; margin-left: 4%; margin-right: 3%; border-radius: 60px;}

@media (max-width:1720px){
.chatinput{width: 91% !important; margin-left: 5%;}
}

@media (max-width:1600px){
  .chatinput{width: 90% !important; margin-left: 6%;}
  }

@media (max-width:1440px){
    .chatinput{width: 89% !important; margin-left: 7%;}
  }

  @media (max-width:1000px){
    .chatinput{width: 87% !important; margin-left: 9%;}
  }

@media (max-width:900px){
    .chatinput{width: 84% !important; margin-left: 10%;}
  }

  @media (max-width:768px){
    .chatinput{width: 82% !important; margin-left: 11%;}
  }

  @media (max-width:568px){
    .chatinput{width: 80% !important; margin-left: 12%;}
  }

  @media (max-width:468px){
    .chatinput{width: 80% !important; margin-left: 12%;}
  }



  /*
.input-group-prepend {
  position: absolute; top: 5px; left: 5px;
}
*/

.chat-messagebar .chatinput-group .input-group-prepend a {
  font-size: 20px;
  color: #4c595f;
  margin-top: 5px;
}

.input-group-prepend2 {
  position: absolute; top: 5px; right: 5px;
}

.chat-messagebar .chatinput-group .input-group-prepend2 a {
  font-size: 20px;
  color: #4c595f;
  margin-top: 5px; margin-right: 5px;
}

/*geo fencing classes*/
#map {
  height: 100%;
}



/*mis class*/

.topnav{float: left; margin-top: 20px; padding: 0px;}
.topnav ul{list-style-type: none; float: left; margin: 0; padding: 0;}
.topnav ul li{float: left;}
.topnav ul li a{color: #2e353e; text-decoration: none; font-weight: 600; padding:6px 15px; border-radius: 50px; margin: 0 4px;}
.topnav ul li a:hover{color: #000; background: #fff;; text-decoration: none;}
.topnav ul li a.active{color: #000; background: #fff;; text-decoration: none;}



/* Violation classes and Dispatch Schedule circle */

.cirred{background:#cc0019; margin-top: 5px; margin-right: 5px; float: left; border-radius: 50px; width: 12px;  height: 12px;}
.ciryel{background:#ffce0c; margin-top: 5px; margin-right: 5px; float: left; border-radius: 50px; width: 12px;  height: 12px;}
.cirgrn{background:#47a447; margin-top: 5px; margin-right: 5px; float: left; border-radius: 50px; width: 12px;  height: 12px;}
.cirblue{background:#2a9aff; margin-top: 5px; margin-right: 5px; float: left; border-radius: 50px; width: 12px;  height: 12px;}
.cirorg{background:#fd9000; margin-top: 5px; margin-right: 5px; float: left; border-radius: 50px; width: 12px;  height: 12px;}
.cirltgrey{background:#dddddd; margin-top: 5px; margin-right: 5px; float: left; border-radius: 50px; width: 12px;  height: 12px;}
.cirltblk{background:#000; margin-top: 5px; margin-right: 5px; float: left; border-radius: 50px; width: 12px;  height: 12px;}


/* duty status classes */





/* profile pic classes*/

.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -17%;
  width: 100%;
  border: none;
  border-radius: 0;
  font-size: 15px; color: #fff;
  background: #212529b8;
 
}

.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}


/* map classes */
.mapclass{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  
}

.mapclass .mapclassmain{ 
    height:100%;
    width:100%;
    position: fixed !important; 

}

/*driver list classes*/
.onduty{
  background: #1a621a;
  float:left;
  border-radius:50px;
  font-size: 10px;
  padding:0px 15px;
  text-align: center;
  color: #fff;;
  margin-right: 5px;
}

.offduty{
  background: #3f3f3f;
  float:left;
  border-radius:50px;
  font-size: 10px;
  padding:0px 15px;
  text-align: center;
  color: #fff;;
  margin-right: 5px;
}

.sbduty{
  background: #878787;
  float:left;
  border-radius:50px;
  font-size: 10px;
  padding:0px 15px;
  text-align: center;
  color: #fff;;
  margin-right: 5px;
}

.dutyonly{
  background: #47a447;
  float:left;
  border-radius:50px;
  font-size: 10px;
  padding:0px 15px;
  text-align: center;
  color: #fff;;
  margin-right: 5px;

  
}


.pcduty{
  background: #0d6bbb;
  float:left;
  border-radius:50px;
  font-size: 10px;
  padding:0px 15px;
  text-align: center;
  color: #fff;;
  margin-right: 5px;
}


.ymduty{
  background: #0d6bbb;
  float:left;
  border-radius:50px;
  font-size: 10px;
  padding:0px 15px;
  text-align: center;
  color: #fff;;
  margin-right: 5px;
}





/* graph page classes */
.gmainbox{float: left;}
.gleftbox{float: left; padding-top: 60px; padding-right: 10px;}
.gbox{background: url(../graph/graph.png) #fff; float: left; border: solid 2px #777576; width: 1296px; height: 304px;}
.gtime{float: left; width: 1296px;}
.gtime ul{list-style: none; float: left; padding-left: 0px;}
.gtime ul li{float: left; font-size: 15px; font-weight: 600; color: #000;}
.gtime ul li.one{padding-right: 44px;}
.gtime ul li.two{padding-right: 45px;}
.gtime ul li.three{padding-right: 40px;}
.gtime ul li.four{padding-right: 30px;}
.grightbox{float: left; padding-top: 60px; padding-left: 10px;}




/* graph page 2 classes */
.gmainbox2{float: left;}
.gbox2{background: url(../graph/graph2.png) #fff; float: left; width: 1334px; height: 343px; padding: 40px 0 0 40px;}
.gtime{float: left; width: 1296px;}
.grightbox2{position: fixed; right: 0px; padding-top: 60px;}


@media (max-width:2560px)
{
  .grightbox2{right:240px;}

}

@media (max-width:1920px)
{
  .grightbox2{right:210px;}
}

@media (max-width:1880px)
{
  .grightbox2{right:150px;}
}

@media (max-width:1820px)
{
  .grightbox2{right:120px;}
}

@media (max-width:1790px)
{
  .grightbox2{right:80px;}
}

@media (max-width:1750px)
{
  .grightbox2{right:40px;}
}

@media (max-width:1684px)
{
  .grightbox2{right:0px;}
}



@media (max-width:1680px)
{
  .grightbox2{right:0px;}
  .gmainbox2{float: left; overflow-x:scroll; width:1290px;}
}


@media (max-width:1620px)
{
  .gmainbox2{float: left; overflow-x:scroll; width:1250px;}
}

@media (max-width:1584px)
{
  .gmainbox2{float: left; overflow-x:scroll; width:1200px;}
}

@media (max-width:1540px)
{
  .gmainbox2{float: left; overflow-x:scroll; width:1150px;}
}

@media (max-width:1486px)
{
  .gmainbox2{float: left; overflow-x:scroll; width:1100px;}
}

@media (max-width:1440px)
{
  .gmainbox2{float: left; overflow-x:scroll; width:1050px;}
}

@media (max-width:1384px)
{
  .gmainbox2{float: left; overflow-x:scroll; width:1000px;}
}


@media (max-width:1334px)
{
  .gmainbox2{float: left; overflow-x:scroll; width:940px;}
}

@media (max-width:1278px)
{
  .gmainbox2{float: left; overflow-x:scroll; width:880px;}
}


@media (max-width:1220px)
{
  .gmainbox2{float: left; overflow-x:scroll; width:800px;}
}

@media (max-width:1140px)
{
  .gmainbox2{float: left; overflow-x:scroll; width:760px;}
}


@media (max-width:1096px)
{
  .gmainbox2{float: left; overflow-x:scroll; width:700px;}
}


@media (max-width:1040px)
{
  .gmainbox2{float: left; overflow-x:scroll; width:650px;}
}

@media (max-width:990px)
{
  .gmainbox2{float: left; overflow-x:scroll; width:600px;}
}

@media (max-width:940px)
{
  .gmainbox2{float: left; overflow-x:scroll; width:560px;}
}

@media (max-width:896px)
{
  .gmainbox2{float: left; overflow-x:scroll; width:500px;}
}

@media (max-width:838px)
{
  .gmainbox2{float: left; overflow-x:scroll; width:450px;}
}

@media (max-width:788px)
{
  .gmainbox2{float: left; overflow-x:scroll; width:430px;}
}

@media (max-width:768px)
{
  .gmainbox2{float: left; overflow-x:scroll; width:660px;}
}

@media (max-width:730px)
{
  .gmainbox2{float: left; overflow-x:scroll; width:600px;}
}

@media (max-width:668px)
{
  .gmainbox2{float: left; overflow-x:scroll; width:500px;}
}

@media (max-width:570px)
{
  .gmainbox2{float: left; overflow-x:scroll; width:420px;}
}

/* DVIR */
.dvirChk{min-width: 5%; float: left;}
.dvirFields{min-width: 13%; float: left;}

/* GeoFence Description Page */
.geofields{min-width: 15%; float: left;}
.geofieldsdesc{min-width: 50%; float: left;}

/* hos report class*/
.hosvalue{min-width: 14%; float: left;}



.hoshvalue{background: #c4c4c4; min-height: 40px;
  /* line-height: 40px; */
  margin-bottom: 0px;}



.hosgmainbox2{float: left; width: 100%;}
.hosgbox2{background: url(../graph/graph2.png) #fff; float: left; width: 1334px; height: 343px; padding: 40px 0 0 40px;}
.gtime{float: left; width: 1296px;}
.hosgrightbox2{float: right; padding-top: 60px; margin-right: 5%;}



/*dashboard drive list classes*/

.drivermain{position: relative;}
.drivelist{
  position: absolute; width: 454px;
  background: #f5f5f5; height: 100%; padding-bottom: 100px;
  position: fixed;  z-index: 999;
  right:0px; top: 110px; 
}

.driverdetail{float: left; background: #fff; width: 100%; padding:10px 10px;border-top: 2px solid white;border-left: 2px solid white;border-right: 2px solid white;
  border-bottom: 2px solid #bec8d1;
  }
.driverdetail:hover{
  border: 2px solid black;
}



/* .driverdetail a{display: block; height: 425px; text-decoration:none; border: solid 3px #fff; padding:10px 10px;}
.driverdetail a:hover{background: #f0f0f0; text-decoration:none; border: solid 3px #000;} */
.driverstatus{width: 100%;}
.curtime{width: 120px; margin-right: 10px; float: left; border-right:solid 1px #333;}
.curcycle{width: 130px; float: left;  }

.iconR{position: absolute;
  right:454px; 
  top: 350px;
  }

  .iconR a{background: #fff; padding: 10px;}
  .iconR a{background: #ebebeb;}

  .iconL{position: absolute;
    right:0px; 
    top: 370px;
    }
  
    .iconL a{background: #fff; padding: 10px;}
    .iconL a{background: #ebebeb;}

    
    /*dashboard drive detail classes*/
    .driverdetail2{float: left; background: #f5f5f5; width: 100%;
      border-bottom: 1px solid #bec8d1; padding:10px 10px;}
 
      .vinfo{background:#fff; border:solid 1px #dcdcdc;
        min-height:200px; border-radius:6px; margin-top:20px;
        margin-bottom:20px;}
        .vinfo .vdetail{padding: 10px;}
/* PICK UP BUTTON CLASS */
.pickup
{
  background: crimson;
  border-radius: 50px;
  font-size: 10px;
  padding: 2px 5px;
  text-align: center;
  color: #fff;
}

/* DROP OFF BUTTON CLASS */
.dropoff
{
  background: gray;
  border-radius: 50px;
  font-size: 10px;
  padding: 2px 5px;
  text-align: center;
  color: #fff;
}


/*dashboard driver list classes*/

.drivermain{position: relative;}
.driverminilist{
  position: absolute; width: 300px;
  background: #f5f5f5; height: 100%;
  position: fixed;
  right:48px; top: 110px; 
}
.iconRmini{position: absolute;
  right:293px; 
  top: 370px;
  }

  .iconRmini a{background: #fff; padding: 10px;}
  .iconRmini a{background: #ebebeb;}

  .iconLmini{position: absolute;
    right:-5px; 
    top: 370px;
    }
  
    .iconLmini a{background: #fff; padding: 10px;}
    .iconLmini a{background: #ebebeb;}
.driverdetailMap{float: left; background: #f5f5f5; width: 100%;
  border-bottom: 1px solid #bec8d1;}

.driverdetailMap a{display: block; height: 165px; text-decoration:none; padding:10px 10px;}
.driverdetailMap a:hover{background: #fff; text-decoration:none;}
.driverstatus{width: 100%; float: left; padding: 5px;}
.curtime{width: 120px; margin-right: 10px; float: left; border-right:solid 1px #333;}
.curcycle{width: 130px; float: left;  }

/* trip  info*/
.tripscrolbar{height: 150px; margin-top: 0px; position: relative;}

.tripbar{width:500px; height: 5px; background: #727272;
position: absolute; left: 0; top: 60px; z-index: 100;}
.tripbarfinish{width:200px; height: 5px; background: #0fd50a;
  position: absolute; left: 0; top: 60px; z-index: 500;
}

.tripbar1{width:100px; height: 3px; background: #727272;
  position: absolute; left: 0; top: 60px; z-index: 100;}

.tripbarfinish1{width:100px; height: 3px; background: #0fd50a;
    position: absolute; left: 0; top: 60px; z-index: 500;
  }

 .tripdot1{width: 12px; height: 12px; border-radius: 50%;
  background: #141414; z-index: 999; position: absolute;
  left: 0; top: 55px;}



.tripbar2{width:100px; height: 3px; background: #000000;
    position: absolute; left: 100px; top: 60px; z-index: 400;}
  
.tripbarfinish2{width:100px; height: 3px; background: #0fd50a;
      position: absolute; left: 100px; top: 60px; z-index: 500;
}

.tripbarred2{width:100px; height: 3px; background: #ff0000;
  position: absolute; left: 100px; top: 60px; z-index: 500;
}


.tripdot2{width: 12px; height: 12px; border-radius: 50%;
    background: #141414; z-index: 999; position: absolute;
    left: 100px; top: 55px;}


    .tripbar3{width:100px; height: 3px; border: dashed 1px #000000;
      position: absolute; left: 200px; top: 60px; z-index: 400;}
    
  .tripbarfinish3{width:100px; height: 3px; background: #0fd50a;
        position: absolute; left: 100px; top: 60px; z-index: 500;
      }

.tripdot3{width: 12px; height: 12px; border-radius: 50%;
      background: #141414; z-index: 999; position: absolute;
      left: 200px; top: 55px;}

.tripdot4{width: 12px; height: 12px; border-radius: 50%;
        background: #141414; z-index: 999; position: absolute;
        left: 300px; top: 55px;}

.tripdot5{width: 12px; height: 12px; border-radius: 50%;
          background: #141414; z-index: 999; position: absolute;
          left: 400px; top: 55px;}

.tripdot6{width: 12px; height: 12px; border-radius: 50%;
            background: #ff0000; z-index: 999; position: absolute;
            left: 472px; top: 55px;}
/* trip info date time */

.tripdt1{z-index: 999; width: 50px; position: absolute;left: -7px  ; top: 10px; text-align: center;}
.tripdt2{z-index: 999; width: 50px; position: absolute;left: 80px; top: 10px; text-align: center;}
.tripdt3{z-index: 999; width: 50px; position: absolute;left: 180px; top: 10px; text-align: center;}
.tripdt4{z-index: 999; width: 50px; position: absolute;left: 280px; top: 10px; text-align: center;}
.tripdt5{z-index: 999; width: 50px; position: absolute;left: 380px; top: 10px; text-align: center;}
.tripdt6{z-index: 999; width: 50px;   position: absolute;left: 445px; top: 10px; text-align: center;}

/* trip info location */
.triploc1{z-index: 999; width: 50px; position: absolute;left: 0px  ; top: 80px; text-align: center;}
.triploc2{z-index: 999; width: 50px; position: absolute;left: 80px; top: 80px; text-align: center;}
.triploc3{z-index: 999; width: 50px; position: absolute;left: 180px; top: 80px; text-align: center;}
.triploc4{z-index: 999; width: 50px; position: absolute;left: 280px; top: 80px; text-align: center;}
.triploc5{z-index: 999; width: 50px; position: absolute;left: 380px; top: 80px; text-align: center;}
.triploc6{z-index: 999; width: 50px;   position: absolute;left: 445px; top: 80px; text-align: center;}



/* trip info new classes with new style 18.05.20 , trip info vertical */

.tripsmain{height:130px; width: 100%; margin-top: 0px; position: relative;}

.tripvertibar{width:6px; height:50px; background: #000;
  float: left; margin-left: 10px; position: relative;
  }
.triptimemile{position: absolute; left: 34px; top: 10px;
  min-width: 200px; font-size: 16px;}


.tripcirlce{width: 100%; float: left; margin-bottom: 0px;}
.tripcirlce a{width:25px; height:25px; border-radius: 50%; float: left;
background: #646464; color: #fff; text-decoration: none; text-align: center;}

.tripvet-scrollbar {
	position: relative;
	height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}

.tripvet-scroll-y {
	display: block;
}

.addtrip-odnuscrollbar {
	position: relative;
	height: 600px;
	overflow-y: auto;
	overflow-x: hidden;
}


.tripvertifinish{width:4px; height:80px; background: #0fd50a;
    position: absolute; left: 4px; top:0px; z-index: 500; }



.tripvertiyellow{width:2px; height:80px; background: #ffa800;
      position: absolute; left: 4px; top:0px; z-index: 500; }

.tripvertired{width:2px; height:30px; background: #ff0000;
        position: absolute; left: 4px; top:10px; z-index: 500; }




.trip1{z-index:999; width: 100%;  position: absolute; left: 0; top: 30px;}
.trip1 p{width: 100%; display: block; position: absolute; left: 20px; top:-10px;}

.trip2{z-index:999; width: 100%;  position: absolute; left: 0; top: 70px;}
.trip2 p{width: 100%; display: block; position: absolute; left: 20px; top:-10px;}
  



/* HOS driver insight classes di mean drive insite rejected */


.dionduty{border: solid 2px #f0bd0b; float: left;
width: 100%; padding:2% 5%; font-size: 20px; color:#f0bd0b;
}

.didriving{border: solid 2px #167efa; float: left;
  width: 100%; padding:2% 5%; font-size: 20px; color:#167efa;
  }
  .dioffduty{border: solid 2px #fc3142; float: left;
    width: 100%; padding:2% 5%; font-size: 20px; color:#fc3142;
  }

/* HOS driver insight classes di mean drive insite rejected end */


/* HOS driver insight classes di mean drive insite rejected end */
.maindriverbox{border:solid 1px #dedede; float: left; width: 100%; padding: 3%;}
.maindriverbox2{border-left:solid 2px #545454; background: #fff; float: left; width: 100%; padding: 3%;}
.driverbar{float: left; width: 100%;}
.ditotald{font-size: 50px; float: left; color: #000;
  padding-top: 10px; font-weight: 600;}
  



  /* widget classes dispatch dashboard classed start */
.widgetmain{background: #fff; height: 400px;}
.widgettopbar{background: #f6f6f6; width: 100%; float: left; padding:0px   10px;}
.widgettopbar2{background: #000; width: 100%; float: left; padding: 10px;}

.wtopnav{float: left; margin:10px 0; padding: 0px; width: 100%;}
.wtopnav ul{list-style-type: none; float: left; margin: 0; padding:0 10px;}
.wtopnav ul li{float: left;}
.wtopnav ul li a{color: #2e353e; text-decoration: none; font-weight:600; padding:6px 15px; border-radius: 50px; margin: 0 4px;}
.wtopnav ul li a:hover{color: #000; background: #c4c4c4;; text-decoration: none;}
.wtopnav ul li a.active{color: #000; background: #c4c4c4;; text-decoration: none;}

.wleft{width: 50%; float: left; margin-bottom: 10px;}
.wright{width: 50%; float: right; margin-bottom: 10px;}

.widgetinfo{float: left; width: 100%; background: #fff;
  height:400px; padding: 10px;}

  .widgetchid{float: left; width: 100%; border-bottom: solid 1px #ddd;
  margin-bottom: 10px;}

  .minwidth60{min-width: 60px;}
  .minwidth127{min-width: 127px;}




/* ********************* dashboard chat main box classes start here ********************** */
  
  .dchatmb{
    width: 280px; height: 460px;
    position: absolute; background: #fff; border-radius:7px 7px 0 0;
    left: 0px; bottom: 0px; z-index: 99999 !important;
  }

  /* Button used to open the chat form */
.open-button {
  background-color: #333; z-index:9999;
  color: #fff; padding: 10px 20px;
  border: none; cursor: pointer;
  position: fixed; bottom: 0px;
  left: 0px; width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none; bottom: 0; right: 15px;
  
}

.dchathead{
  background: #333; width: 100%;
  height: 50px; border-radius:7px 7px 0 0;}


  /* chat input of all chat boxes */
  .dcinput{
    width: 73% !important;
    margin-left: 17%;
    border-radius: 60px;}

 


/* chat box 1*/
  .dchatb1{
    width: 280px; height: 460px; display: none;
    position: absolute; background: #fff; border-radius:7px 7px 0 0;
    left: 281px; bottom: 0px; z-index: 99999 !important;
  }

  .dchathead1{
    background: #f6f6f6; width: 100%;
    height: 50px; border-radius:7px 7px 0 0;}


    /* chat box 2*/
  .dchatb2{
    width: 280px; height: 460px; display: none;
    position: absolute; background: #fff; border-radius:7px 7px 0 0;
    left: 562px; bottom: 0px; z-index: 99999 !important;
  }

  .dchathead2{
    background: #f6f6f6; width: 100%;
    height: 50px; border-radius:7px 7px 0 0;}


      /* chat box 3*/
  .dchatb3{
    width: 280px; height: 460px; display: none;
    position: absolute; background: #fff; border-radius:7px 7px 0 0;
    left: 843px; bottom: 0px; z-index: 99999 !important;
  }

  .dchathead3{
    background: #f6f6f6; width: 100%;
    height: 50px; border-radius:7px 7px 0 0;}

     /* chat box 4*/
  .dchatb4{
    width: 280px; height: 460px; display: none;
    position: absolute; background: #fff; border-radius:7px 7px 0 0;
    left: 1124px; bottom: 0px; z-index: 99999 !important;
  }

  .dchathead4{
    background: #f6f6f6; width: 100%;
    height: 50px; border-radius:7px 7px 0 0;}


    /* ********************* chat classes end here ********************** */




    /* ********************* yard entery page classes start here ********************** */

    /* geofenc map serach*/

.gfmap{position: relative;}
.gfmaps{
width: 400px;
position: absolute;
right: 20px; top: 10px;

}

    /* ********************* yard entery page classes end here ********************** */


/* ********************* vehicle new page classes start here ********************** */

/* Safety Parameters */

    .slidecontainer {width: 100%;}
    
    .slider {
      -webkit-appearance: none;
      width: 100%; height: 10px; background: #d3d3d3;
      outline: none;  opacity: 1;
      -webkit-transition: .2s; transition: opacity .2s;
    }
    
    .slider:hover { opacity: 1;}
    
    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;  width: 20px; height: 20px;
      background: #000; cursor: pointer;
    }
    
    .slider::-moz-range-thumb {
      width: 20px; height: 20px; background: #333;  cursor: pointer;
    }

    /* ********************* vehicle new page classes end here ********************** */


    .positionfix{position: fixed !important;}
    .positionsta{position: static !important;}


    
  /* make borde red for validation */
  .redBorder {
    border: solid 1px #C10000;
  }
  
 
  
  /* Mapbox CSS */
  
        #map {
          /* height:100vh;
          top: 10;
          bottom: 0; */
          width: 100%;
        }
        /* #map1 {
          height:800px;
          top: 10;
          bottom: 0;
          width: 100%;
        }
        #map2 {
          height:800px;
          top: 10;
          bottom: 0;
          width: 100%;
        } */
        .match-parent {
          width: 100%;
          height: 100%;
        }
  
        .filter-group {
          font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
          font-weight: 600;
          position: absolute;
          top: 10px;
          right: 10px;
          z-index: 1;
          border-radius: 3px;
          width: 120px;
          color: #fff;
        }
  
        .filter-group input[type="checkbox"]:first-child + label {
          border-radius: 3px 3px 0 0;
        }
  
        .filter-group label:last-child {
          border-radius: 0 0 3px 3px;
          border: none;
        }
  
        .filter-group input[type="checkbox"] {
          display: none;
        }
  
        .filter-group input[type="checkbox"] + label {
          background-color: #3386c0;
          display: block;
          cursor: pointer;
          padding: 10px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        }
  
        .filter-group input[type="checkbox"] + label {
          background-color: #3386c0;
          text-transform: capitalize;
        }
  
        .filter-group input[type="checkbox"] + label:hover,
        .filter-group input[type="checkbox"]:checked + label {
          background-color: #4ea0da;
        }
  
        .filter-group input[type="checkbox"]:checked + label:before {
          content: "âœ”";
          margin-right: 5px;
        }    
    
.mapboxgl-ctrl-geocoder--icon{display: none !important;}







/* full bottom part */

.mainbtmsec {
  position: absolute; padding:10px 60px;
  width: 100%;
  background:#fff;
  background-size: cover;
  height: 247px;
  z-index: 9999;
  left: 0px;
  bottom: 0px;
}
.tempgraph{
  background:url(../img/temp-graph.png);
  width: 1100px; height: 149px; float: left;
}


/* full top part */

.maintopsec {
  padding:10px 20px;
  width: 100%;
  background:#fff;
  background-size: cover;
  
}


.speedgraph{
  background:url(../img/speed-graph.png) 10px 0 no-repeat;
  width: 990px; height: 149px; float: left;
}

/* trip info on dashbaord with stops */

.tripondash{float: left; background: #f5f5f5; width: 100%;
  border-bottom: 1px solid #bec8d1;}

.tripondash a{display: block; text-decoration:none; padding:10px 10px;}
.tripondash a:hover{background: #fff; text-decoration:none;}




/* load board classes start */

td.loadid a{color:#000 !important;}

.delload{background: #ffd3d3 !important;}
.compload{background: #e6ffe8 !important;}
.penload{background: #fff1e6 !important;}
.orload{background: #e6f5ff !important;}


/* load board dashboard */
.widgetload{background: #fff;}
.widgettbload{background: #f6f6f6; width: 100%; float: left; padding:0px   10px;}
.widgetlinfo{float: left; width: 100%; background: #fff;
   padding: 10px;}

.dsnumber{width: 50px; float: right; font-weight: 700;}

.lbwheading{font-size: 30px; float: left; color: #000;
  padding-top: 10px; font-weight: 600;}

.LTLload{background: #2b2b2b; color: #fff; float: left; padding:0 0.3em; border-radius: 3px; margin-right: 4px;}
.FTLload{background: #47a447; color: #fff; float: left; padding:0 0.3em; border-radius: 3px; margin-right: 4px;}




/* dispatch  page */
.disbox{float: left; width: 25%; padding: 1%;}
.disbar{float: left; width: 100%;}
.maindisbox{position: relative;}
.disbtmpart{position: absolute; bottom: 0px;}



/* create load  page */
.labelmt{margin-top: 6px !important;}
.labelalign{text-align: right; padding-right: 0px;}

@media screen and (max-width: 991px)
{
  .labelalign{text-align: left;}
}


.divderrel{position: relative;}
.midledriver{background: #dcdcdc; width: 1px; height: 700px; left: 48%; position: absolute;}
.midleicon{left: 47%; top: 42%; position: absolute;}






/*****************  har classes start  *********************************/


/* safety page classes */
.border_bottom
{
  border-bottom: 1px solid #777;
}
.border_top
{
  border-top: 1px solid #777;
}
.font_1rem
{
  font-size: 1rem;
}
.pad_0
{
    padding: 0px !important;
}
.alert_icon_safety
{
    height: 25px;
    width: 25px;
    line-height: 25px;
    background-color: #777;
    border-radius: 50%;
    color: white;
}

.safety_icon_size
{
    font-size: 20px;
}
.height_70p
{
    height: 70px;
}

.safety_card_height
{
    max-height: 380px !important;
    overflow: scroll;
}

/* cycle table cell width */
.cell_width
{
   min-width:350px;
}

/* ADD NEW VEHICLE TOP NAV BAR */

.addv_topnav{float: left; margin-top: 20px; padding: 0px;}
.addv_topnav ul{list-style-type: none; float: left; margin: 0; padding: 0;}
/* .addv_topnav ul li{float: left;} */
.addv_topnav ul li {float: left;color: #2e353e; text-decoration: none; font-weight: 600; padding:6px 15px; border-radius: 50px; margin: 0 4px;}
.addv_topnav ul li:hover{color: #000; background: #fff;; text-decoration: none;}
.addv_topnav ul li.active{color: #000; background: #fff;; text-decoration: none;}

/* ADD VEHICLE INFORMATION */
#vehicle_new_details
{
  display: block;
}
#vehicle_new_lifecycle,
#vehicle_new_specifications,
#vehicle_new_wheels,
#vehicle_new_engine,
#vehicle_new_settings,
#vehicle_new_fluids
{
display: none;
}

.sub-heading-new-vehicle
{
font-size: 1rem;
color: black;
}

/* Stock Quantity */
.table-stock-qty-td
{
  vertical-align: middle!important;
}

/* Stock Assignment Add button setting */
.mar-top-asg-stock-btn
{
     margin-top: 37px;
}

.mar-top-30
{
     margin-top: 30px;
}
.mar-top-37
{
     margin-top: 37px;
}



/* BUSINESS PAGE CSS */
  .business_image_style{
    height: 250px;
    width: 250px;
    border-radius: 5%;
  }
  .margin_50
  {
    margin-top: 50px;
  }

  /* TEXT UNDERLINE */
  .text-underline{
    text-decoration: underline;
  }

.businessmaps{width: 200px;position: absolute;right: 20px;top: 10px;}

.wizard-tabs ul > li.active .badge {
  background-color: #000!important;
}

.business-radio-box
{
  border: 0.5px solid;
    padding: inherit;
}

.account-body{
  margin: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

/* PRICE PLAN */
.price-plan{
  margin: 0;
  padding: 0;
  text-align: center;
}
.price-card{
  border: 1px solid #AAA;
  border-radius: 5px;
  color: #444;
  font-family: auto;
  transition: transform 0.4s;

}
.price-card:hover{
  transform: scale(1.1);
}
.price-card:active{
  transform: scale(1.05);
}
.price-card-header, .price-card-footer
{
  font-size: 25px;
  height: 50px;
  background: #aaa;
  font-weight: bolder;
  padding-top: 10px;

}
.price-card-body{
  height: fit-content;
  text-align: center;
  margin: 15px;;
}
.price-tag{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  /* background-color: #f96f52; */
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin: auto;
  color: white;
  display: flex;
  align-items: center;
}
.price-button{
  height: 30px;
  width: 150px;
  /* background-color: orange; */
  margin:auto;
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
  color: white;
}
.contact-price{
  font-size: 22px;
}

.owner-color{
  background-color: #F96F52;
}
.small-color{
  background-color:#41A18A;
}
.medium-color{
  background-color: #CF73A9;
}
.large-color{
  background-color: #4E8DD3;
}

/* IFTA PAGE */
.ifta-tabs{
  font-size: 15px;
}
.ifta-tabs ul{
  margin: 5px;
}
.ifta-tabs ul li{
  display: inline;
  padding: 7px;
  font-weight: bold;
  cursor: pointer;
}
.ifta-tabs ul li:hover{
color: black;
text-decoration: underline;
}
.ifta-tabs ul li:active{
  color: black;
  text-decoration: underline;
  }

  #summary-div
  {
    display: block;
  }
  #trip-reports-div
  {
    display: none;
  }
  #fuel-purchases-div
  {
    display: none;
  }

  .margin-left-35{
    margin-left: 35px;
  }


  /* DOCUMENTS PAGE */
  .document_box{
    height: 300px;
    width: auto;
    border-radius: 5px;
    border: 1px solid #aaa;
    box-shadow: 2px 2px 1px #aaa;
    text-align: center;
    margin: 10px;
  }
  .document_box_title
  {
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    font-family: inherit;
  }

  .document-top-box
  {
    border: 0.5px solid #aaa;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #aaa;
    padding: 30px;
    margin: 10px;
    margin-bottom: 20px;
  }
  .document-type-image{
    height: 40px;
    width: 40px;
  }

  .social-icons
  {
    height: 25px;
    width: 25px;
  }


  .ifta-label
  {
    width: 50px;
    border: 0.4px solid #ddd;
    border-radius: 10%;
    text-align: center;
  }

  .ifta-icon-size
  {
    font-size: 25px;
  }

  .card-border
  {
    border: 0.4px solid #ddd;
  }



/*****************  har classes end  *********************************/

.temp_graph{
  cursor: pointer;
}
/* temp dashboard */

.dashboard{
  position: absolute; width:1082px;
  background: #f5f5f5; padding-bottom: 10px;
  position: fixed;  z-index: 9;
  bottom:0px; left: 270px; 
}
#hawk-btn
{
  position: absolute;
  bottom:-200px; left: 1%;
  z-index: 99999;
  background-color: white;
  color: #000;
  padding: 10px;
}
#cam-btn{
  position: absolute;
  bottom:0px; left: 44%; 
  position: fixed;  z-index: 99999;
  background-color: white;
  color: #000;
  padding: 10px;
}
#cam-close-btn,#cam-close-btn2{
  position: relative;
  bottom:28px; left: 50%; 
   z-index: 99999;
  background-color: white;
  color: #000;
  padding: 10px;
}
.iconT{position: absolute;
  bottom:118px; 
  left: 1100px;
  }

  .iconT a{background: #fff; padding: 10px;}
  .iconT a{background: #ebebeb;}

  .iconB{position: absolute;
    bottom:320px; 
    left: 570px;
    }
  
.iconB a{background: #fff; padding: 10px;}
.iconB a{background: #ebebeb;}






  /*****************  common classes  *********************************/

  /* border solid */
  .bordall{border: solid 1px #dddddd;}
  .bordleft{border-left: solid 1px #dddddd;}
  .bordright{border-right: solid 1px #dddddd;}
  .bordtop{border-top: solid 1px #dddddd;}
  .bordbtm{border-bottom: solid 1px #dddddd;}

  /* border dashed */
  .bordtopdas{border-top: dashed 1px #aaa;}

  /* box */
  .boxshadow1{box-shadow: 0 0 0 3px #f6f6f6;}
  .boxshadow0{box-shadow: none !important;}

  /* width */
  .w100{width: 100%;}
  .w150px{width: 150px;}

  /* color */
  .blue1{color: #1c79c8;}
  .colorgrey{color:#555555;}

  .red{ color:#C10000;}
  .red1{ color:#fe4e37;}

  .green1{color: #1eb54f;}


  /* bg color */
  .bgcol1{background: #f0f0f0;}
  .bgcol2{background: #dcdcdc;}

  /* line height */
  .LH16{line-height: 16px !important;}

  /* cursor */
  .cursorpoint{cursor: pointer;}

/* cursor */
.text-white{color: #fff;}
  .divcenter{display: flex; justify-content: center;}

.profile-heading
{
  background: #777;
  height: 30px;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding-top: 3px;
  border-radius: 5px;
}

/* TABLE ROW HOVER */
/* table tbody tr:hover{
  background-color: #ccc;
} */


/*  Driver profile Page  */
.summary_box
{
 
  padding: 20px;
}



#photoDiv{
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: white;
}

.back-color-gray{
  background-color: #eee;
  border: 0.5px solid #ddd;
}
.border-box{
  border: 0.5px solid #ddd;
}


/* Daljit Classes Starts here */

.f-40 {
  font-size: 40px !important;
}


/*--Incidents Css--*/
.incident-tabs.nav-tabs li {
    padding: 0
}
.incident-tabs.nav-tabs li .nav-link {
    color: #2e353e;
    text-decoration: none;
    font-weight: 600;
    padding: 6px 15px;
    border-radius: 50px;
    border: none;
    margin: 0;
    background: transparent;
}
.incident-tabs.nav-tabs .nav-link.active, 
.incident-tabs.nav-tabs .nav-link:hover,
.incident-tabs.nav-tabs .nav-link.active:hover,
.incident-tabs.nav-tabs .nav-link.active:focus {
    color: #000;
    background: #fff;
    border: none;
    text-decoration: none;
}
.tab-pane.active{
    text-decoration: none !important;
}
#incident-tabs li.active {
    text-decoration: none;
}
#hos-list,#incidents-list,#scorecard-list {
    display: none;
}
.safety-overview__main .maindriverbox {
    cursor: pointer;
}
.maindriverbox.active {
    background-color: #ecedf0;
}
.dataTables_length {
    display: none;
}

/* Safety Details css*/
.safety-deails__map {
    width: 100%;
    height: 400px;
}
.back-color-gray {
    background-color: #eee;
    border: 0.5px solid #ddd;
}

/*--Add Alert--*/
.add-alert__listing {
    list-style: none;
    padding: 0;
}
.add-alert__listing li {
    margin: 10px 10px 0 0;
    text-align: center;
}
.add-alert__listing li a {
    padding: 5px 20px;
    border-radius: 20px;
    text-decoration: none;
    border: 1px solid #dcdcdc;
    position: relative;
    font-size: 14px;
}
.add-alert__listing li a.active {
    background: #343434;
    color: #fff;
    border-color: #343434;
}
.add-alert__listing li .check-icon {
    position: absolute;
    top: 10px;
    right: 10px;
}
.alert-container {
    border: 2px solid #dcdcdc;
    padding: 30px;  
}
.lh-normal {
    line-height: normal;
}
.driver-vehicle__main .nav-tabs li .nav-link {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid transparent;
    color: #678;
}
.driver-vehicle__main .nav-tabs .nav-link.active {
    text-decoration: none;
    border-bottom: 1px solid #787;
}
.alert-container {
    display: none;
}
.alert-container.active {
    display: block;
    text-decoration: none;
}

/*--Reports--*/
.reports-sidebar,
.reports-tabs__content {
    border: 1px solid #e6e6e6;
}
.reports-sidebar ul{
    list-style: none;
}
.reports-sidebar ul li a{
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 15px;
    float: left;
    margin-left: -2px;
    border-radius: 0; 
    position: relative;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.reports-sidebar ul li a.active,
.reports-sidebar ul li a:hover{
    text-decoration: none !important;
    color: #000 !important;
    border-left: 1px solid #424242;
    border-right: 1px solid #424242;
    background-color: #efefef !important;
}
/* .reports-sidebar ul li a.active::after {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f054";
} */
.reports-sidebar ul li:last-child a{
    border-bottom: none;
}
.active{
    text-decoration: none !important; 
}

html.fixed .reports-wrapper {
    padding-top: 60px;
}
.reports-search {
    max-width: 65%;
    margin: 0 auto;
}
.reports-listing a {
    padding: 10px 15px;
    display: block;
    line-height: normal;
    text-decoration: none !important;
    border-bottom: 1px solid #e6e6e6;
    transition: all 0.3s linear 0s;
    position: relative;
}
.reports-listing a:last-child {
    border: none;
}
/* .reports-listing a::after {
    position: absolute;
    top: 25px;
    right: 25px;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f054";
    color: #d2d2d2;
} */
.reports-listing a:hover{
    background-color: #f7f4f4;
    text-decoration: underline!important;
}
.reports-listing h4 {
    font-size: 13px;
}
.reports-listing span {
    font-size: 0.8rem;
    color: #607587;
}
.report-dtl__content .card{
  border: 1px solid #DADADA;
}
.report-dtl__content .card-header {
  background-color: #343434;
  color: #fff;
  text-transform: uppercase;
}

.dataTables_empty {
  /* display: none; */
  padding: 10px !important
}

.no-data-available {
  text-align: center;
}


.table-scroll-y {
  display: block;
}

.table-scrollplan {
  position: relative;
  height: 650px;
  overflow: auto;
}


.notespr {
width: 90%;
height: 50px;
overflow: auto;
}


/* new IFTA look page */

.newbgifta{background:#767676 !important;}
.btnround40{border-radius:40px;}
.btnifta{background:#464646 !important; border: none !important;}
.btnifta:hover{background:#161616 !important;}





/* new classes update after tester rashmi testing */

.dataTables_wrapper .dataTables_paginate .paginate_button:hover
{
border: 1px solid #e9ecef !important;
border-radius: 0.25rem !important;
background: #e9ecef !important;
}

.dutystatwd{min-width: 11.5rem !important;}



table.dataTable thead th, table.dataTable thead td {
  padding: 10px 10px !important;
}

/*top padding should be equal of vehicle table between numbering and count*/
.dataTables_wrapper .dataTables_info{padding-top: 1.5em !important;}


.dropdown-menu{z-index:1010 !important;}

.checkboxalign{vertical-align: middle !important;}

/*drop down icon for common pages*/
.togglecolor::after{
  color:#999;
  margin-top: 8px !important;
  float: right !important;
}


/*drop down icon on asset page*/
.toggleright::after{margin-top: 8px !important; float: right !important; color:#999;}


/* Page body colro ligh grey class */
.pagebody{background: #ecedf0 !important;}

/* placeholder classes */
::-webkit-input-placeholder { /* Edge */
  color: e1e1e1 !important;
  font-size: 12px !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: e1e1e1 !important;
  font-size: 12px !important;
}

::placeholder {
  color: e1e1e1 !important;
  font-size: 12px !important;
}
/* Optional label color */
.optional-label-color {
  color: e1e1e1 !important;
}

.suggestionClass {
  cursor: pointer;
  color: black;
  background-color: white;
  z-index: 99999;
  padding-left: 5px;
}
.suggestionClass:hover{
  background-color: #e1e1e1;

}

.mandfield{color: #ff0000;}

.mt-1-c1, .my-1-c1
{
  margin-top: 0.15rem !important;
}

.bggreyn{background: #f6f6f6 !important;}



/* miles buttons */
.btn-miles {
  color: rgb(0, 0, 0); float:left;
  background-color: #fff; border-radius:2px; padding:8px; min-width: 149px;
  font-size:13px; border: solid 1px #dedede;
  font-weight: 600;
}

.btn-miles.active, .btn-miles:active {
  color: rgb(255, 255, 255) !important; float:left;
  background-color: rgb(34, 34, 34) !important;
  border-color: rgb(34, 34, 34) !important;
}


/* load type in new order page */
.wltype{width:135px;}

.btnw200px{width: 200px;}
.btnw100px{width: 100px;}
.btnw90px{width: 90px;}

/* load type in new order page */
.wltype{width:135px;}
/* yes/no buttons */
.btn-yesno {
  color:#000 !important; float:left;
  background-color: #fff; border-radius:2px; padding:8px; min-width: 80px;
  font-size:13px; border: solid 1px #dedede !important;
  font-weight: 600;
}

.btn-yesno.active, .btn-miles:active {
  color: #fff !important; float:left;
  background-color: rgb(34, 34, 34) !important;
  border-color: rgb(34, 34, 34) !important;
}
 

/* height */
.heighta{height:auto !important;}