.gbox {
  background: url(../graph/graph.png) #fff;
  float: left;
  border: solid 2px #777576;
  width: 1296px;
  height: 304px;
}

/*594*/
.gbox2 {
  background: url(../graph/graph2.png) #fff;
  float: left;
  width: 1334px;
  height: 343px;
  padding: 40px 0 0 40px;
}

/*871*/
.hosgbox2 {
  background: url(../graph/graph2.png) #fff;
  float: left;
  width: 1334px;
  height: 343px;
  padding: 40px 0 0 40px;
}

/*1951*/
.tempgraph {
  background: url(../img/temp-graph.png);
  width: 1100px;
  height: 149px;
  float: left;
}

/*1956*/
.speedgraph {
  background: url(../img/speed-graph.png) 10px 0 no-repeat;
  width: 990px;
  height: 149px;
  float: left;
}

/*theme 297*/
html.boxed body {
  background: url(../img/patterns/gray_jean.png) repeat;
  padding-bottom: 5px;
}

/*theme 8597*/
.carousel-areas {
  background: transparent url(../img/patterns/stripes.png) repeat 0 0;
  margin-bottom: -10px;
  padding: 10px 10px 0 10px;
  border-radius: 6px 6px 0 0;
}

/*theme 12185*/
.arrow {
  background: transparent url(../img/arrows.png) no-repeat 0 0;
  width: 47px;
  height: 120px;
  display: inline-block;
  position: relative;
}

/*theme 12193*/
.arrow.arrow-light {
  background-image: url(../img/arrows-dark.png);
}

/*theme 16105*/
.jstree-default .jstree-checkbox {
  background-image: url(../img/jstree.png) !important;
}

/*theme 19975*/
.body-locked {
  background: url(../img/patterns/noisy_net.png) repeat;
  max-width: none;
  min-height: 400px;
}

/*theme 20041*/
.mfp-lock-screen.mfp-bg {
  background: #000 url(../img/patterns/noisy_net.png) repeat;
  opacity: 0.99;
  z-index: 9998;
}
