<section class="body">
  <!-- start: header -->
  <app-header></app-header>

  <!-- end: header -->

  <div class="inner-wrapper">
    <!-- start: sidebar -->
    <app-sidebar></app-sidebar>
    <!-- end: sidebar -->
    <section role="main" class="content-body">
      <header class="page-header">
        <h2>Expense Transactions</h2>
        <div class="right-wrapper text-right">
          <ol class="breadcrumbs pr-3">
            <li>
              <a href="index.html">
                <i class="fas fa-home"></i>
              </a>
            </li>
            <li><span>Expense Transactions</span></li>
          </ol>
        </div>
      </header>

      <section class="card mb-4">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-lg-12 text-right">
              <a href="#" class="mb-1 mt-1 mr-1 btn-sm btn btn-success"
                >Export To Excel</a
              >
              <a href="#" class="mb-1 mt-1 mr-1 btn-sm btn btn-success"
                ><i class="fas fa-plus"></i> Add Recuring Expenses</a
              >
              <div class="btn-group flex-wrap">
                <button
                  type="button"
                  class="mr-1 btn-sm btn btn-success dropdown-toggle"
                  data-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fas fa-plus"></i> Upload Fuel Expense
                  <span class="caret"></span>
                </button>
                <div
                  class="dropdown-menu"
                  role="menu"
                  x-placement="bottom-start"
                  style="
                    position: absolute;
                    will-change: transform;
                    top: 0px;
                    left: 0px;
                    transform: translate3d(0px, 35px, 0px);
                  "
                >
                  <a class="dropdown-item text-1" href="#"
                    >Upload Fuel Expense</a
                  >
                  <a class="dropdown-item text-1" href="#"
                    >Upload Fleet One Expenses</a
                  >
                  <a class="dropdown-item text-1" href="#"
                    >Upload Comdata Expenses</a
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-2 text-right">
              <label
                class="control-label pull-right text-dark font-weight-bold text-4 pt-1"
                >Duration:</label
              >
            </div>
            <div class="col-lg-2 pl-0">
              <select class="form-control pull-left form-control-sm mb-3">
                <option>Last 1 Month</option>
                <option>Last 1 Week</option>
                <option>Year To Date</option>
                <option>Previous Year To Date</option>
                <option>Custome Date</option>
              </select>
            </div>

            <div class="col-lg-2 text-right">
              <label
                class="control-label pull-right text-dark font-weight-bold text-4 pt-1"
                >Expense Category:</label
              >
            </div>
            <div class="col-lg-2 block pl-0">
              <select class="form-control pull-left form-control-sm mb-3">
                <option>Select Category</option>
                <option>Accessorial Income</option>
                <option>Advance</option>
                <option>Fuel Surcharge</option>
                <option>Income from Sales</option>
                <option>Income Reimbursement</option>
                <option>Interest Income</option>
                <option>Lease Income</option>
                <option>Mileage Income</option>
                <option>Miscellaneous Income</option>
                <option>Other Income</option>
                <option>Tarp</option>
                <option>Tax Collected</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-2 text-right">
              <label
                class="control-label pull-right text-dark font-weight-bold text-4 pt-1"
                >From Date:</label
              >
            </div>
            <div class="col-lg-2 block pl-0">
              <div class="input-group">
                <span class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-calendar-alt"></i>
                  </span>
                </span>
                <input
                  type="text"
                  data-plugin-datepicker=""
                  placeholder="Day/Month/Year"
                  class="form-control"
                />
              </div>
            </div>

            <div class="col-lg-2 text-right">
              <label
                class="control-label pull-right text-dark font-weight-bold text-4 pt-1"
                >To Date:</label
              >
            </div>
            <div class="col-lg-2 pl-0">
              <div class="input-group">
                <span class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-calendar-alt"></i>
                  </span>
                </span>
                <input
                  type="text"
                  data-plugin-datepicker=""
                  placeholder="Day/Month/Year"
                  class="form-control"
                />
              </div>
            </div>

            <div class="col-lg-4 text-right">
              <button class="btn btn-default mt-0 mr-4 modal-confirm">
                Reset
              </button>
              <button class="btn btn-dark mt-0 modal-confirm">Search</button>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-2 col-md-12 mt-4">
              <div class="maindriverbox">
                <div class="driverbar">
                  <h2 class="pull-left mt-0 mb-0 text-4">
                    Total No. of Other Expense
                  </h2>
                </div>
                <div class="">
                  <h1 class="text-6 font-weight-bold mt-0 pt-0 mb-0">2</h1>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-12 mt-4">
              <div class="maindriverbox">
                <div class="driverbar">
                  <h2 class="pull-left mt-0 mb-0 text-4">
                    Total No. of Other Expense
                  </h2>
                </div>
                <div class="">
                  <h1 class="text-6 font-weight-bold mt-0 pt-0 mb-0">0</h1>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-12 mt-4">
              <div class="maindriverbox">
                <div class="driverbar">
                  <h2 class="pull-left mt-0 mb-0 text-4">
                    Total No. of Expense
                  </h2>
                </div>
                <div class="">
                  <h1 class="text-6 font-weight-bold mt-0 pt-0 mb-0">2</h1>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-12 mt-4">
              <div class="maindriverbox">
                <div class="driverbar">
                  <h2 class="pull-left mt-0 mb-0 text-4">
                    Total Amount of Other Expense
                  </h2>
                </div>
                <div class="">
                  <h1 class="text-6 font-weight-bold mt-0 pt-0 mb-0">$60.00</h1>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-12 mt-4">
              <div class="maindriverbox">
                <div class="driverbar">
                  <h2 class="pull-left mt-0 mb-0 text-4">
                    Total Amount of Fuel Expense
                  </h2>
                </div>
                <div class="">
                  <h1 class="text-6 font-weight-bold mt-0 pt-0 mb-0">$0.00</h1>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-12 mt-4">
              <div class="maindriverbox">
                <div class="driverbar">
                  <h2 class="pull-left mt-0 mb-0 text-4">
                    Total Amount of Expense
                  </h2>
                </div>
                <div class="">
                  <h1 class="text-6 font-weight-bold mt-0 pt-0 mb-0">$60.00</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="row">
        <div class="col">
          <section class="card">
            <div class="card-body">
              <div class="row mb-2">
                <div class="col-lg-12 text-right">
                  <a href="#" class="mb-1 mt-1 mr-1 btn-sm btn btn-success"
                    >Delete Expense</a
                  >
                  <a href="#" class="mb-1 mt-1 mr-1 btn-sm btn btn-success"
                    ><i class="fas fa-plus"></i> Add Fuel Expense</a
                  >
                  <a href="#" class="mb-1 mt-1 mr-1 btn-sm btn btn-success"
                    ><i class="fas fa-plus"></i> Add Other Expense</a
                  >
                </div>
              </div>

              <table
                class="table table-bordered table-striped mb-0"
                id="datatable-default"
              >
                <thead>
                  <tr class="bgcol2">
                    <th>
                      <input type="checkbox" checked="" id="checkboxExample1" />
                    </th>
                    <th class="text-2">Expense Date</th>
                    <th class="text-2">Paid By</th>
                    <th class="text-2">Payee</th>
                    <th class="text-2">Expense Category</th>
                    <th class="text-2">Payment Mode</th>
                    <th class="text-2">Description</th>
                    <th class="text-2">Amount</th>
                    <th class="text-2">Expense Type</th>
                    <th class="text-2">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <input type="checkbox" checked="" id="checkboxExample1" />
                    </td>
                    <td>05/29/2020</td>
                    <td>-</td>
                    <td>Gaurav</td>
                    <td>Meals</td>
                    <td>Cash</td>
                    <td>-</td>
                    <td>$10.00</td>
                    <td>-</td>
                    <td class="actions">
                      <a href="#" title="view"><i class="fas fa-eye"></i></a>
                      <a href="#" title="edit"><i class="fas fa-edit"></i></a>
                      <a href="#" title="delete"
                        ><i class="far fa-trash-alt"></i
                      ></a>
                      <a href="#" title="clone"><i class="fas fa-clone"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="checkbox" checked="" id="checkboxExample1" />
                    </td>
                    <td>05/29/2020</td>
                    <td>-</td>
                    <td>Pankaj</td>
                    <td>Parking</td>
                    <td>Credit Card</td>
                    <td>Parking</td>
                    <td>$50.00</td>
                    <td>-</td>
                    <td class="actions">
                      <a href="#" title="view"><i class="fas fa-eye"></i></a>
                      <a href="#" title="edit"><i class="fas fa-edit"></i></a>
                      <a href="#" title="delete"
                        ><i class="far fa-trash-alt"></i
                      ></a>
                      <a href="#" title="clone"><i class="fas fa-clone"></i></a>
                    </td>
                  </tr>

                  <tr>
                    <td
                      class="text-right font-weight-bold"
                      colspan="7"
                      rowspan="1"
                    >
                      Total
                    </td>
                    <td class="font-weight-bold">$60.00</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
</section>
