<section class="body">
    <!-- start: header -->
    <app-header></app-header>
    <!-- end: header -->

    <div class="inner-wrapper">
        <!-- start: sidebar -->
        <app-sidebar></app-sidebar>
        <!-- end: sidebar -->

        <section role="main" class="content-body pl-0 pt-0">
            <header class="page-header">
                <div class="row pr-5 pl-1" style="padding-top:10px;">
                    <div class="col-md-2 col-lg-2 pr-0">
                        <ng-select placeholder="Search By Contact">
                                       
                            <ng-option *ngFor="let contact of contacts" value="{{contact.contactID}}">{{contact.firstName}}</ng-option>
                          
                      </ng-select>
                    </div>
                    <div class="col-lg-2 col-md-2 pl-1 pr-0">
                        <ng-select placeholder="Search By Renewal Type">
                                       
                            <ng-option value="Licence">Licence</ng-option>
                            <ng-option value="Certification">Certification</ng-option>
                         
                      </ng-select>
                    </div>
                    <div class="col-md-2 col-lg-2 pl-1 pr-0">
                        <div class="btn-group flex-wrap" style="width:100%;">
                            <button type="button" class="btn btn-default btn-md dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Search Renewals<span class="caret"></span></button>
                            <div class="dropdown-menu" role="menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 31px, 0px);">
                                <a class="dropdown-item text-1" href="">All Renewals</a>
                                <a class="dropdown-item text-1" href="">Overdue Only</a>
                                <a class="dropdown-item text-1" href="">Overdue + Due Soon</a>
                                <a class="dropdown-item text-1" href="">Due Soon Only</a>
                            </div>
                        </div>
                        </div>
                    <div class="col-md-1  col-lg-1 pl-1">
                        <button type="submit"  class="btn btn-sm btn-success">Search</button>
                     </div>                 

                    <div class="col-md-5  col-lg-5 text-right page-buttons">
                        <div class="btn-group flex-wrap mr-1">
                            <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false">Actions<span class="caret"></span></button>
                            <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">                               
                                <a class="dropdown-item text-1" href="">Import</a>
                                <a class="dropdown-item text-1" href="">Export</a>
                            </div>
                        </div>
                        <a routerLink="/fleet/reminders/contact-renewals/add" class="btn btn-sm btn-success mr-1"><i
                                class="fas fa-plus"></i> Add
                            Contact Renewal Reminder</a>

                        
                    </div>
                </div>
            </header>
            <section class="card bg-white">
                <div class="wtopnav">
                    <ul class="nav nav-tabs top-tabs">
                        <li class="nav-item"><a class="nav-link" routerLink="/fleet/reminders/service-reminder/list">Service Reminders </a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/fleet/reminders/vehicle-renewals/list">Vehicle Renewals </a></li>
                        <li class="nav-item"><a class="nav-link active" routerLink="/fleet/reminders/contact-renewals/list">Contact Renewals </a>
                        </li>
                    </ul>
                </div>
            </section>
            <div class="row text-dark">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-bordered table-responsive-lg table-striped mb-0"  datatable [dtOptions]="dtOptions"  *ngIf="remindersData.length > 0">
                                <thead>
                                    <tr>
                                        <th>Contact</th>
                                        <th>Contact Renewal Type</th>
                                        <th>Send Reminder </th>
                                        <th>Licence Exp.</th>
                                        <th>Subscribers</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of remindersData;"  style="cursor: pointer;">                                       
                                        <td >{{contactList[item.reminderIdentification]}}</td>
                                        <td>
                                            <span class="text-danger font-weight-bold font-size-12" *ngIf ="item.reminderTasks.remainingDays === 0 ||  0 > item.reminderTasks.remainingDays">Overdue<br></span>
                                            <span class="text-warning font-weight-bold font-size-12" *ngIf = "5 > item.reminderTasks.remainingDays && item.reminderTasks.remainingDays > 0">Due Soon<br></span>
                                            <span
                                                class="font-weight-bold" title="Task">{{item.reminderTasks.task}}</span></td>
                                        <td><span
                                                class="font-size-12">{{item.reminderTasks.remindByDays}} Days Before</span></td>
                                        <td ><span class="font-size-12">{{item.reminderTasks.dueDate}}</span></td>
                                        <td><span *ngFor="let s of item.subscribers">
                                            <span *ngIf="s.subscriberType === 'user'">{{s.subscriberIdentification}},</span>
                                            <span *ngIf="s.subscriberType === 'group'">{{groups[s.subscriberIdentification]}},</span>
                                        </span></td>
                                        <td>
                                            <div class="btn-group flex-wrap">
                                                <button type="button" class="btn p-0" data-toggle="dropdown"><i
                                                        class="fas fa-ellipsis-v"></i></button>
                                                <div class="dropdown-menu" role="menu">
                                                    <a class="dropdown-item text-1" href="#">Send Notifications</a>
                                                    <a routerLink="/fleet/reminders/contact-renewals/edit/{{item.reminderID }}" class="dropdown-item text-1" >Edit</a>
                                                    <a href="javascript:;" class="dropdown-item text-1" (click)="deleteRenewal(item.reminderID)">Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div *ngIf="!remindersData.length > 0" class="alert alert-info m-0 text-center" role="alert">
                                No records found
                                
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

<!-- Delete MODAL -->
<div id="deleteModal" class="modal-block modal-block-primary mfp-hide">
    <div class="card">
        <header class="card-header">
            <h2 class="card-title">Corfirm Action</h2>
        </header>
        <div class="card-body text-dark">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">Are you sure?</label>
                    </div>
                </div>
            </form>
        </div>
        <footer class="card-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-danger modal-confirm">OK</button>
                    <button class="btn btn-default modal-dismiss">Cancel</button>
                </div>
            </div>
        </footer>
    </div>
</div>

<!--   edit Contact Reminder -->
<div id="editContactReminder" class="modal-block modal-block-primary mfp-hide">
    <section class="card">
        <header class="card-header">
            <h2 class="card-title">Edit Reminder</h2><span class="text-info">License Renewal</span>
        </header>
        <div class="card-body text-dark">
            <form>
                <div class="form-row">
                    <div class="form-group col-lg-12">
                        <label class="control-label font-weight-bold">Next Due At</label>
                        <input type="date" class="form-control">
                    </div>
                </div>
                <div class="form-row mt-2">
                    <div class="form-group col-lg-12">
                        <label class="control-label font-weight-bold">Due soon Threshold</label>
                        <div class="row">
                            <div class="col-lg-3">
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-lg-4">
                                <select data-plugin-selecttwo="" class="form-control populate">
                                    <optgroup label="">
                                        <option value="1">Day(s)</option>
                                        <option value="2">Week(s)</option>
                                        <option value="2">Month(s)</option>
                                        <option value="2">Year(s)</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row mt-2">

                    <div class="col-lg-5">
                        <div class="checkbox-custom">
                            <input type="checkbox">
                            <label class="control-label font-weight-bold">Send Email?</label>
                        </div>
                    </div>
                </div>
                <div class="form-row mt-2">
                    <div class="form-group col-lg-12">
                        <label class="control-label font-weight-bold">Users</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </form>
        </div>
        <footer class="card-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-success modal-confirm">Save</button>
                    <button class="btn btn-default modal-dismiss">Cancel</button>
                </div>
            </div>
        </footer>
    </section>
</div>