<section class="body">
   <div class="inner-wrapper">
      <section role="main" class="content-body p-0">
         <header class="page-header" *ngIf="activeDiv === 'ace'">
            <form class="form-horizontal" method="get">
               <div class="row" style="padding-top:10px;">
                  <div class="col-md-2 col-lg-2">
                     <ng-select [(ngModel)]="filterCategory" name="filterCategory" placeholder="Search by Category"
                        (change)="categoryChange($event,'ace')">
                        <ng-option *ngFor="let data of categoryFilter" value="{{ data.value }}"> {{ data.name }}
                        </ng-option>
                     </ng-select>
                  </div>

                  <div class="col-md-2 col-lg-2 pr-0 pl-2">
                     <div class="input-group input-group mb-3"
                        *ngIf="filterCategory != 'driver' && filterCategory != 'vehicle' && filterCategory !='entryPort'">
                        <input type="text" name="aceSearch" [(ngModel)]="aceSearch" class="form-control"
                           placeholder="Search" />
                     </div>

                     <ng-select [(ngModel)]="aceSearch" name="aceSearch" placeholder="Search By Driver"
                        *ngIf="filterCategory == 'driver'">
                        <ng-option *ngFor="let data of driversList | keyvalue" value="{{ data.key }}"> {{ data.value }}
                        </ng-option>
                     </ng-select>

                     <ng-select [(ngModel)]="aceSearch" name="aceSearch" placeholder="Search By Vehicle"
                        *ngIf="filterCategory == 'vehicle'">
                        <ng-option *ngFor="let data of vehiclesList | keyvalue" value="{{ data.key }}"> {{ data.value }}
                        </ng-option>
                     </ng-select>

                     <ng-select [(ngModel)]="aceSearch" name="aceSearch" placeholder="Search By Port Entry"
                        *ngIf="filterCategory == 'entryPort'">
                        <ng-option *ngFor="let data of USPortsObjects | keyvalue" value="{{ data.key }}"> {{ data.value
                           }}</ng-option>
                     </ng-select>
                  </div>
                  <div class="col-lg-3 col-md-3">
                     <div class="input-daterange input-group">
                        <span class="input-group-prepend">
                           <span class="input-group-text">
                              <i class="fas fa-calendar-alt"></i>
                           </span>
                        </span>
                        <input [(ngModel)]="fromDate" name="fromDate" type="text" placeholder="yyyy/mm/dd"
                           (click)="from.toggle()" ngbDatepicker #from="ngbDatepicker" class="form-control"
                           autocomplete="off">
                        <span class="input-group-text border-left-0 border-right-0 rounded-0">
                           to
                        </span>
                        <input [(ngModel)]="toDate" name="toDate" type="text" placeholder="yyyy/mm/dd"
                           (click)="to.toggle()" ngbDatepicker #to="ngbDatepicker" class="form-control"
                           autocomplete="off">
                     </div>
                  </div>
                  <div class="col-md-2  col-lg-2">
                     <button type="submit" (click)="searchACEFilter()"
                        class="btn btn-sm btn-success mr-2">Search</button>
                     <button type="button" (click)="resetACEFilter()" class="btn btn-sm btn-success">Reset</button>
                  </div>
                  <div class="col-md-3 col-lg-3 text-right">
                     <div class="btn-group flex-wrap" *ngIf="!environment">
                        <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown"
                           aria-expanded="false">Actions<span class="caret"></span></button>
                        <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                           style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">

                           <a class="dropdown-item " href="">Import</a>
                           <a class="dropdown-item " href="">Export</a>
                        </div>
                     </div>

                  </div>
               </div>
            </form>
         </header>
         <header class="page-header" *ngIf="activeDiv === 'aci'">
            <form class="form-horizontal" method="get">
               <div class="row" style="padding-top:10px;">
                  <div class="col-md-2 col-lg-2">
                     <ng-select [(ngModel)]="aciFilterCategory" name="aciFilterCategory"
                        placeholder="Search by Category" (change)="categoryChange($event,'aci')">
                        <ng-option *ngFor="let data of categoryFilter" value="{{ data.value }}"> {{ data.name }}
                        </ng-option>
                     </ng-select>
                  </div>
                  <div class="col-md-2 col-lg-2 pr-0 pl-2">
                     <div class="input-group input-group mb-3"
                        *ngIf="aciFilterCategory != 'driver' && aciFilterCategory != 'vehicle' &&  aciFilterCategory != 'entryPort'">
                        <input type="text" name="aciSearch" [(ngModel)]="aciSearch" class="form-control"
                           placeholder="Search" />
                     </div>
                     <ng-select [(ngModel)]="aciSearch" name="aciSearch" placeholder="Search By Driver"
                        *ngIf="aciFilterCategory == 'driver'">
                        <ng-option *ngFor="let data of driversList | keyvalue" value="{{ data.key }}"> {{ data.value }}
                        </ng-option>
                     </ng-select>
                     <ng-select [(ngModel)]="aciSearch" name="aciSearch" placeholder="Search By Vehicle"
                        *ngIf="aciFilterCategory == 'vehicle'">
                        <ng-option *ngFor="let data of vehiclesList | keyvalue" value="{{ data.key }}"> {{ data.value }}
                        </ng-option>
                     </ng-select>
                     <ng-select [(ngModel)]="aciSearch" name="aciSearch" placeholder="Search By Port Entry"
                        *ngIf="aciFilterCategory == 'entryPort'">
                        <ng-option *ngFor="let data of canadianPortsObjects | keyvalue" value="{{ data.key }}"> {{
                           data.value }}</ng-option>
                     </ng-select>
                  </div>
                  <div class="col-lg-3 col-md-3">
                     <div class="input-daterange input-group">
                        <span class="input-group-prepend">
                           <span class="input-group-text">
                              <i class="fas fa-calendar-alt"></i>
                           </span>
                        </span>
                        <input [(ngModel)]="aciFromDate" name="aciFromDate" type="text" placeholder="yyyy/mm/dd"
                           (click)="from.toggle()" ngbDatepicker #from="ngbDatepicker" class="form-control"
                           autocomplete="off">
                        <span class="input-group-text border-left-0 border-right-0 rounded-0">
                           to
                        </span>
                        <input [(ngModel)]="aciToDate" name="aciToDate" type="text" placeholder="yyyy/mm/dd"
                           (click)="to.toggle()" ngbDatepicker #to="ngbDatepicker" class="form-control"
                           autocomplete="off">
                     </div>
                  </div>
                  <div class="col-md-2  col-lg-2">
                     <button type="submit" (click)="searchACIFilter()"
                        class="btn btn-sm btn-success mr-2">Search</button>
                     <button type="button" (click)="resetACIFilter()" class="btn btn-sm btn-success">Reset</button>
                  </div>
                  <div class="col-md-3 col-lg-3 text-right">
                     <div class="btn-group flex-wrap" *ngIf="!environment">
                        <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown"
                           aria-expanded="false">Actions<span class="caret"></span></button>
                        <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                           style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">

                           <a class="dropdown-item " href="">Import</a>
                           <a class="dropdown-item " href="">Export</a>
                        </div>
                     </div>
                     <a [routerLink]="['/dispatch','cross-border','ACI-new-eManifest']"
                        class="btn btn-success btn-sm mx-2" style="color:white;"><i class="fas fa-plus"></i> Add ACI
                        eManifest</a>
                  </div>
               </div>
            </form>
         </header>
         <div id="list_view">

            <div class="row">
               <div class="col text-capitalize">
                  <div class="bg-white p-3 text-dark">
                     <p-tabView>

                        <p-tabPanel header="ACE eManifest">
                           <p-table #dt responsiveLayout="scroll" styleClass="p-datatable-md" [value]="ACEList"
                              [columns]="ACE_Options" [resizableColumns]="true" columnResizeMode="expand"
                              scrollDirection="both" [scrollable]="true" [loading]="!loaded"
                              styleClass="p-datatable-md p-datatable-gridlines p-datatable-striped" [scrollable]="true"
                              scrollHeight="100%">
                              <!-- Caption template of data table -->
                              <ng-template pTemplate="caption">
                                 <div class="p-d-flex d-flex justify-content-between align-items-center">
                                    <div>
                                       <h3 class="m-0">ACE Manifests</h3>
                                    </div>

                                    <div class="text-right">
                                       <span>Showing {{ ACEList.length }} entries </span>
                                       &nbsp;
                                       <button type="button" pButton (click)="refreshData()" pTooltip="Refresh"
                                          class="p-button-outlined mr-2" icon="fas fa-sync"></button>
                                       <button type="button" pButton pTooltip="Add"
                                          [routerLink]="['/dispatch','cross-border','ace-manifest']"
                                          class="p-button-outlined mr-2" icon="pi pi-plus"></button>
                                       <button pButton pRipple pTooltip="Clear Filter" class="p-button-outlined mr-2"
                                          icon="pi pi-filter-slash" (click)="clear(dt)"></button>

                                       <button type="button" pButton pRipple class="p-button-outlined mr-2"
                                          icon="fas fa-regular fa-file-excel" (click)="dt.exportCSV()"
                                          pTooltip="Excel"></button>

                                       <p-multiSelect [options]="ACE_Options" [(ngModel)]="selectedColumns"
                                          optionLabel="header" selectedItemsLabel="{0} columns selected"
                                          [style]="{ minWidth: '200px' }" placeholder="Choose Columns">
                                       </p-multiSelect>
                                    </div>
                                 </div>
                              </ng-template>
                              <ng-template pTemplate="header" let-columns>
                                 <tr>
                                    <th *ngFor="let col of columns" [ngStyle]="{ width: col.width }"
                                       style="cursor: pointer" [pSortableColumn]="columns.field" pResizableColumn>
                                       {{col.header}}
                                       <p-sortIcon [field]="columns.field"> </p-sortIcon>
                                       <p-columnFilter type="text" [field]="columns.field" matchMode="contains"
                                          [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"
                                          display="menu">
                                       </p-columnFilter>
                                    </th>
                                    <th alignFrozen="right" pFrozenColumn [frozen]="true">
                                       Actions
                                    </th>
                                 </tr>

                              </ng-template>
                              <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                                 <tr>
                                    <td *ngFor="let col of columns" style="cursor: pointer;"
                                       [ngStyle]="{ width: col.width }" (click)="detailPage(rowData.mID)">
                                       <div [ngSwitch]="col.field">
                                          <span *ngSwitchCase="'tripNumber'">
                                             <b>
                                                {{
                                                get(rowData, col.field)
                                                }}</b>
                                          </span>
                                          <span *ngSwitchCase="'shipments'">
                                             <b>
                                                {{
                                                get(rowData, col.field)
                                                }}</b>
                                          </span>
                                          <span *ngSwitchCase="'shipTypes'">
                                             <b>
                                                {{
                                                get(rowData, col.field)
                                                }}</b>
                                          </span>
                                          <span *ngSwitchCase="'arrDateTime'">
                                             <b>
                                                {{
                                                get(rowData, col.field) | titlecase
                                                }}</b>
                                          </span>
                                          <span *ngSwitchCase="'usPortOfArrival'">
                                             <b>
                                                {{
                                                get(rowData, col.field) | titlecase
                                                }}</b>
                                          </span>
                                          <span *ngSwitchCase="'drivers'">
                                             <b>
                                                {{
                                                get(rowData, col.field) | titlecase
                                                }}</b>
                                          </span>
                                          <span *ngSwitchCase="'truck'">
                                             <b>
                                                {{
                                                get(rowData, col.field) | titlecase
                                                }}</b>
                                          </span>
                                          <span *ngSwitchCase="'assets'">
                                             <b>
                                                {{
                                                get(rowData, col.field) | titlecase
                                                }}</b>
                                          </span>
                                          <span *ngSwitchCase="'shippers'">
                                             <b>
                                                {{
                                                get(rowData, col.field) | titlecase
                                                }}</b>
                                          </span>
                                          <span *ngSwitchCase="'receivers'">
                                             <b>
                                                {{
                                                get(rowData, col.field) | titlecase
                                                }}</b>
                                          </span>
                                          <span *ngSwitchCase="'status'">
                                             <b class="badge text-uppercase"
                                                [ngClass]="[(rowData.status == 'Cancelled Manifest') ? 'cancel-color' :
                                             (rowData.status == 'Transmitted to CBP') ? 'transmitted-color' :
                                             (rowData.status == 'Truck Released at Border') ? 'truck-release-color' :
                                             (rowData.status == 'Complete Manifest and Entry Numbers On File with CBP') ? 'complete-file-color' :
                                             (rowData.status == 'CBP Returned Error') ? 'returned-color' :
                                             (rowData.status == 'Truck Arrived at Border') ? 'truck-arr-color ' :
                                             (rowData.status == 'Preliminary Manifest On File with CBP') ? 'preliminary-color ' :
                                             (rowData.status == 'Complete Manifest On File with CBP') ? 'complete-cbp-color' :  'draft-color']">
                                                {{
                                                get(rowData, col.field) | titlecase
                                                }}</b>
                                          </span>
                                       </div>
                                    </td>
                                    <td style="overflow: inherit !important" pFrozenColumn alignFrozen="right"
                                       [frozen]="true">
                                       <div class="dropdown dropbottom">
                                          <button (click)="op.toggle($event)" class="bg-transparent border-0"
                                             type="button" id="dropdownMenuButton-{{ rowIndex }}">
                                             <i class="fas fa-ellipsis-v"></i>
                                          </button>
                                          <p-overlayPanel #op [showCloseIcon]="true" [style]="{ width: '160px' }">
                                             <ng-template pTemplate>
                                                <a routerLink="/dispatch/cross-border/ace-manifest/{{rowData.mID }}"
                                                   class="dropdown-item ">Edit </a>
                                                <button type="button" class="dropdown-item "
                                                   (click)="deleteACEEntry($event, rowData.mID)">Delete</button>

                                             </ng-template>
                                          </p-overlayPanel>
                                       </div>
                                    </td>
                                 </tr>
                              </ng-template>
                              <!-- Empty Template -->
                              <ng-template pTemplate="emptymessage" let-columns>
                                 <div class="col-lg-12 mt-3 text-center">
                                    {{ dataMessage }}
                                    <br /><br />
                                 </div>
                              </ng-template>
                           </p-table>
                        </p-tabPanel>
                        <p-tabPanel header="ACI eManifest">
                           Content 2
                        </p-tabPanel>
                     </p-tabView>
                  </div>
                  <!-- <section class="card">
                     <div class="card-body">

                        <div class="tab-content p-0">
                           <div class="tab-pane show table-responsive active" id="ace-emanifest" role="tabpanel"
                              aria-labelledby="ace-tab">
                              <table class="table table-bordered table-responsive-lg table-striped mb-0" id="ace">
                                 <thead>
                                    <tr>
                                       <th>Trip#</th>
                                       <th>Shipment#</th>
                                       <th>Shipment type</th>
                                       <th width="8%">Est. date/time</th>
                                       <th>Port of entry</th>
                                       <th>Driver</th>
                                       <th>Vehicle</th>
                                       <th>Asset</th>
                                       <th>Consignor</th>
                                       <th>Consignee</th>
                                       <th width="15%">Status</th>
                                       <th width="5%">Actions</th>
                                    </tr>
                                 </thead> 
                                          <tbody>
                                    <tr *ngIf="ACEList.length == 0" class="text-center">
                                       <td colspan="12">{{ dataMessage }}</td>
                                    </tr>
                                    <tr *ngFor="let aceManifest of ACEList;">
                                       <td routerLink="/dispatch/cross-border/ACE-details/{{aceManifest.manifestID }}">
                                          {{aceManifest.tripNumber}}</td>
                                       

                                       <td routerLink="/dispatch/cross-border/ACE-details/{{aceManifest.manifestID }}">
                                          <span
                                             *ngFor="let shipment of aceManifest.shipments">{{shipment.SCAC}}{{shipment.shipmentControlNumber}},</span>
                                       </td>
                                       <td routerLink="/dispatch/cross-border/ACE-details/{{aceManifest.manifestID }}">
                                          <span
                                             *ngFor="let shipment of aceManifest.shipments">{{aceShipmentTypeObjects[shipment.type]}},</span>
                                       </td>
                                       <td routerLink="/dispatch/cross-border/ACE-details/{{aceManifest.manifestID }}">
                                          {{aceManifest.estimatedArrivalDate | date : 'yyyy/MM/dd' }} &nbsp;
                                          {{aceManifest.estimatedArrivalTime}}</td>
                                       <td routerLink="/dispatch/cross-border/ACE-details/{{aceManifest.manifestID }}">
                                          {{USPortsObjects[aceManifest.usPortOfArrival]}}</td>
                                       <td routerLink="/dispatch/cross-border/ACI-details/{{aceManifest.manifestID }}">
                                          <span>{{driversList[aceManifest.mainDriver]}}</span><span
                                             *ngIf="aceManifest.coDrivers.length>0"><span
                                                *ngFor="let driver of aceManifest.coDrivers">,{{driversList[driver]}}</span></span>
                                       </td>
                                       <td routerLink="/dispatch/cross-border/ACE-details/{{aceManifest.manifestID }}">
                                          {{vehiclesList[aceManifest.truck.truckID]}}</td>
                                       <td routerLink="/dispatch/cross-border/ACE-details/{{aceManifest.manifestID }}">
                                          <span
                                             *ngFor="let trailer of aceManifest.trailers;let i = index">{{assetsList[trailer.assetID]}}<span
                                                *ngIf="i != aceManifest.trailers.length-1">,</span></span>
                                       </td>
                                       <td routerLink="/dispatch/cross-border/ACE-details/{{aceManifest.manifestID }}">
                                          <span
                                             *ngFor="let shipment of aceManifest.shipments; let i=index">{{contactList[shipment.shipperID]}}<span
                                                *ngIf="i != aceManifest.shipments.length-1">,</span></span>
                                       </td>
                                       <td routerLink="/dispatch/cross-border/ACE-details/{{aceManifest.manifestID }}">
                                          <span
                                             *ngFor="let shipment of aceManifest.shipments; let i = index">{{contactList[shipment.consigneeID]}}<span
                                                *ngIf="i != aceManifest.shipments.length-1">,</span></span>
                                       </td>
                                       <td routerLink="/dispatch/cross-border/ACE-details/{{aceManifest.manifestID }}">
                                          <span class="statusBtn"
                                             [ngClass]="[(aceManifest.currentStatus =='Cancelled_Manifest') ? 'cancelBtn' :
                                        (aceManifest.currentStatus =='Transmitted_to_CBP') ? 'transmittedBtn' :
                                        (aceManifest.currentStatus =='Truck_Released_at_Border') ? 'truckReleasedBtn' :
                                        (aceManifest.currentStatus =='Complete_Manifest_and_Entry_Numbers_On_File_with_CBP') ? 'completeManifestEntryBtn' :
                                        (aceManifest.currentStatus =='CBP_Returned_Error') ? 'CBPReturnedErrorBtn' :
                                        (aceManifest.currentStatus =='Truck_Arrived_at_Border') ? 'truckArrivedBtn' :
                                        (aceManifest.currentStatus =='Preliminary_Manifest_On_File_with_CBP') ? 'preliminaryBtn' :
                                        (aceManifest.currentStatus =='Complete_Manifest_On_File_with_CBP') ? 'completeBtn' :  'draftBtn']">{{aceManifest.currentStatus}}</span>
                                       </td>
                                       <td>
                                          <div class="btn-group flex-wrap">
                                             <button type="button" class="mb-1 mt-1 mr-1 btn" data-toggle="dropdown"><i
                                                   class="fas fa-ellipsis-v"></i></button>
                                             <div class="dropdown-menu" role="menu">
                                                <a routerLink="/dispatch/cross-border/ACE-edit-eManifest/{{aceManifest.manifestID }}"
                                                   class="dropdown-item ">Edit</a>
                                                <button type="button" class="dropdown-item "
                                                   (click)="deleteACEEntry(aceManifest)">Delete</button>
                                             </div>
                                          </div>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                          <div class="row mt-3 dtPaginate" *ngIf="ACEList.length > 0 && activeDiv == 'ace'">
                              <div class="col-6">
                                 Showing {{ aceStartPoint }} to {{ aceEndPoint }} of {{ totalRecords }} enteries
                              </div>
                              <div class="col-6 text-right">
                                 <button type="button" class="btn btn-default mr-2" (click)="prevResults('ace')"
                                    [disabled]="acePrev">Prev</button>
                                 <button type="button" class="btn btn-default" (click)="nextResults('ace')"
                                    [disabled]="aceNext">Next</button>
                              </div>
                           </div> 
                           <div class="tab-pane table-responsive" id="aci-emanifest" role="tabpanel"
                              aria-labelledby="aci-tab">
                              <table class="table table-bordered table-responsive-lg table-striped mb-0" id="aci">
                                 <thead>
                                    <tr>
                                       <th>Trip#</th>
                                       <th>Cargo control#</th>
                                       <th>Shipment type</th>
                                       <th width="8%">Est. date/time</th>
                                       <th>Port of entry</th>
                                       <th>Driver</th>
                                       <th>Vehicle</th>
                                       <th>Asset</th>
                                       <th>Consignor</th>
                                       <th>Consignee</th>
                                       <th width="15%">Status</th>
                                       <th width="5%">Actions</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr *ngIf="ACIList.length == 0" class="text-center">
                                       <td colspan="12">{{ dataMessageACI }}</td>
                                    </tr>
                                    <tr *ngFor="let aciManifest of ACIList;">
                                       <td routerLink="/dispatch/cross-border/ACI-details/{{aciManifest.manifestID }}">
                                          {{aciManifest.tripNumber}}</td>
                                       <td routerLink="/dispatch/cross-border/ACI-details/{{aciManifest.manifestID }}">
                                          <span
                                             *ngFor="let shipment of aciManifest.shipments">{{shipment.CCC}}{{shipment.cargoControlNumber}},</span>
                                       </td>
                                       <td routerLink="/dispatch/cross-border/ACI-details/{{aciManifest.manifestID }}">
                                          <span
                                             *ngFor="let shipment of aciManifest.shipments">{{aciShipmentTypeObjects[shipment.shipmentType]}},</span>
                                       </td>
                                       <td routerLink="/dispatch/cross-border/ACI-details/{{aciManifest.manifestID }}">
                                          {{aciManifest.estimatedArrivalDate | date: 'yyyy/MM/dd'}} &nbsp;
                                          {{aciManifest.estimatedArrivalTime}}</td>
                                       <td routerLink="/dispatch/cross-border/ACI-details/{{aciManifest.manifestID }}">
                                          {{ canadianPortsObjects[aciManifest.portOfEntry]}}</td>
                                       <td routerLink="/dispatch/cross-border/ACI-details/{{aciManifest.manifestID }}">
                                          <span>{{driversList[aciManifest.mainDriver]}}</span><span
                                             *ngIf="aciManifest.coDrivers.length>0"><span
                                                *ngFor="let driver of aciManifest.coDrivers">,{{driversList[driver]}}</span></span>
                                       </td>
                                       <td routerLink="/dispatch/cross-border/ACI-details/{{aciManifest.manifestID }}">
                                          {{vehiclesList[aciManifest.truck.truckID]}} </td>
                                       <td routerLink="/dispatch/cross-border/ACI-details/{{aciManifest.manifestID }}">
                                          <span
                                             *ngFor="let trailer of aciManifest.trailers;let i = index">{{assetsList[trailer.assetID]}}<span
                                                *ngIf="i != aciManifest.trailers.length-1">,</span></span>
                                       </td>
                                       <td routerLink="/dispatch/cross-border/ACI-details/{{aciManifest.manifestID }}">
                                          <span
                                             *ngFor="let shipment of aciManifest.shipments;let i = index">{{contactList[shipment.shipperID]}}<span
                                                *ngIf="i != aciManifest.shipments.length-1">,</span></span>
                                       </td>
                                       <td routerLink="/dispatch/cross-border/ACI-details/{{aciManifest.manifestID }}">
                                          <span
                                             *ngFor="let shipment of aciManifest.shipments;let i = index">{{contactList[shipment.consigneeID]}}<span
                                                *ngIf="i != aciManifest.shipments.length-1">,</span></span>
                                       </td>
                                       <td routerLink="/dispatch/cross-border/ACI-details/{{aciManifest.manifestID }}">
                                          <span class="statusBtn" [ngClass]="[(aciManifest.currentStatus =='Cancelled_Manifest') ? 'ACIcancelBtn' :
                                        (aciManifest.currentStatus =='Transmitted_to_CBSA') ? 'ACItransmittedBtn' :
                                        (aciManifest.currentStatus =='On_File_with_CBSA') ? 'ACIonFileCBSABtn' :
                                        (aciManifest.currentStatus =='Released') ? 'ACIReleasedBtn' :
                                        (aciManifest.currentStatus =='CBSA_Returned_Error') ? 'CBSAReturnedErrorBtn' :
                                        (aciManifest.currentStatus =='On_File_with_Match_Notice') ? 'ACIMatchNoticeBtn' :
                                        (aciManifest.currentStatus =='On_File_with_Transaction_Number(s)') ? 'ACIOnFileTransactionBtn' :
                                        (aciManifest.currentStatus =='Arrival_Reported_at_Border') ? 'ACIArrivalBorderBtn' :
                                        (aciManifest.currentStatus =='Rejected_After_Arrival_at_Border') ? 'ACIRejectedAtBorderBtn' :
                                          'ACIdraftBtn']">{{aciManifest.currentStatus}}</span>
                                       </td>
                                       <td>
                                          <div class="btn-group flex-wrap">
                                             <button type="button" class="mb-1 mt-1 mr-1 btn" data-toggle="dropdown"><i
                                                   class="fas fa-ellipsis-v"></i></button>
                                             <div class="dropdown-menu" role="menu">
                                                <a routerLink="/dispatch/cross-border/ACI-edit-eManifest/{{aciManifest.manifestID }}"
                                                   class="dropdown-item ">Edit</a>
                                                <button type="button" class="dropdown-item "
                                                   (click)="deleteACIEntry(aciManifest)">Delete</button>
                                             </div>
                                          </div>
                                       </td>
                                    </tr>
                                 </tbody
                              </table>
                           </div>
                         <div class="row mt-3 dtPaginate" *ngIf="ACIList.length > 0 && activeDiv == 'aci'">
                              <div class="col-6">
                                 Showing {{ aciStartPoint }} to {{ aciEndPoint }} of {{ totalACIRecords }} enteries
                              </div>
                              <div class="col-6 text-right">
                                 <button type="button" class="btn btn-default mr-2" (click)="prevResults('aci')"
                                    [disabled]="aciPrev">Prev</button>
                                 <button type="button" class="btn btn-default" (click)="nextResults('aci')"
                                    [disabled]="aciNext">Next</button>
                              </div>
                           </div>
                        </div>

                     </div>
                  </section> -->
               </div>
            </div>
         </div>
      </section>
   </div>
</section>


<p-confirmPopup></p-confirmPopup>