<section class="body">
    <!-- start: header -->
    <app-header></app-header>
    <!-- end: header -->
  
    <div class="inner-wrapper">
        <!-- start: sidebar -->
        <app-sidebar></app-sidebar>
        <!-- end: sidebar -->
  
        <section role="main" class="content-body p-0">
            <header class="page-header pr-5" *ngIf="activeDiv === 'ace'">
               <form class="form-horizontal" method="get">
                  <div class="row px-2" style="padding-top:10px;">
                     <div class="col-md-2 col-lg-2 pr-0 pl-2">
                        <div class="input-group input-group mb-3">
                            <input type="text" name="aceSearch" [(ngModel)]="aceSearch" class="form-control"
                                placeholder="Search SCAC/trip/shipment#/type/status" />
                        </div>
                    </div>
                     <div class="col-md-2 col-lg-2">
                        <div class="input-group input-group mb-3">
                            <input type="text" autocomplete="off" name="vehicleIdentification" placeholder="Search vehicle"
                                [(ngModel)]="vehicleIdentification" class="form-control"
                                (input)="getSuggestions($event.target.value)" />
                        </div>
                        <div *ngFor="let suggestedVehicle of suggestedVehicles" class="suggestionClass" (click)="
                            setVehicle(
                                suggestedVehicle.vehicleID,
                                suggestedVehicle.vehicleIdentification
                            )
                            ">
                            {{ suggestedVehicle.vehicleIdentification }}
                        </div>
                    </div>
                     <!-- <div class="col-md-2  col-lg-2">
                        <ng-select [(ngModel)]="currentStatus" name="currentStatus" placeholder="Search by status">
                           <ng-option value="Draft">Draft</ng-option>
                           <ng-option value="Cancelled Manifest">Cancelled Manifest</ng-option>
                           <ng-option value="Transmitted to CBP">Transmitted to CBP</ng-option>
                           <ng-option value="Preliminary Manifest on File with CBP">Preliminary Manifest On File with CBP</ng-option>
                           <ng-option value="CBP Returned Error">CBP Returned Error</ng-option>
                           <ng-option value="Complete Manifest On File with CBP">Complete Manifest On File with CBP</ng-option>
                           <ng-option value="Complete Manifest and Entry Numbers On File with CBP">Complete Manifest and Entry Numbers On File with CBP</ng-option>                        
                           <ng-option value="Truck Arrived at Border">Truck Arrived at Border</ng-option>
                           <ng-option value="Truck Released at Border">Truck Released at Border</ng-option>
                        </ng-select>
                     </div> -->
                     <div class="col-lg-3 col-md-3">
                        <div class="input-daterange input-group">
                            <span class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-calendar-alt"></i>
                                </span>
                            </span>
                            <input 
                            [(ngModel)]="startDate" name="startDate"
                            type="text" 
                            placeholder="DD-MM-YYYY"
                            (click)="from.toggle()" ngbDatepicker #from="ngbDatepicker"
                            class="form-control" autocomplete="off"> 
                            <span class="input-group-text border-left-0 border-right-0 rounded-0">
                                to
                            </span>
                            <input 
                            [(ngModel)]="endDate" name="endDate"
                            type="text" 
                            placeholder="DD-MM-YYYY"
                            (click)="to.toggle()" ngbDatepicker #to="ngbDatepicker"
                            class="form-control" autocomplete="off"> 
                        </div>
                    </div>
                     <div class="col-md-2  col-lg-2">
                        <button type="submit" (click)="searchACEFilter()"
                                class="btn btn-sm btn-success mr-2">Search</button>
                            <button type="button" (click)="resetACEFilter()" class="btn btn-sm btn-success">Reset</button>
                     </div>
                     <div class="col-md-3 col-lg-3 text-right">                        
                        <div class="btn-group flex-wrap">
                           <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Actions<span class="caret"></span></button>
                           <div class="dropdown-menu" role="menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                            
                              <a class="dropdown-item text-1" href="">Import</a>
                              <a class="dropdown-item text-1" href="">Export</a>
                           </div>
                        </div>
                        <a [routerLink] = "['/dispatch','cross-border','ACE-new-eManifest']"  class="btn btn-success btn-sm mx-2" style="color:white;"><i class="fas fa-plus"></i> Add ACE eManifest</a>
                     </div>
                  </div>
               </form>
            </header>
            <header class="page-header pr-5" *ngIf="activeDiv === 'aci'">
               <form class="form-horizontal" method="get">
                  <div class="row px-2" style="padding-top:10px;">
                     <div class="col-md-2 col-lg-2 pr-0 pl-2">
                        <div class="input-group input-group mb-3">
                            <input type="text" name="aciSearch" [(ngModel)]="aciSearch" class="form-control"
                                placeholder="Search CCC/trip/shipment#/type/status" />
                        </div>
                    </div>
                     <div class="col-md-2 col-lg-2">
                        <div class="input-group input-group mb-3">
                            <input type="text" autocomplete="off" name="vehicleIdentificationACI" placeholder="Search vehicle"
                                [(ngModel)]="vehicleIdentificationACI" class="form-control"
                                (input)="getSuggestionsACI($event.target.value)" />
                        </div>
                        <div *ngFor="let suggestedVehicle of suggestedVehiclesACI" class="suggestionClass" (click)="
                            setVehicleACI(
                                suggestedVehicle.vehicleID,
                                suggestedVehicle.vehicleIdentification
                            )
                            ">
                            {{ suggestedVehicle.vehicleIdentification }}
                        </div>
                    </div>
                     <!-- <div class="col-md-2  col-lg-2">
                           <ng-select [(ngModel)]="currentStatusACI" name="currentStatusACI" placeholder="Search by status">
                              <ng-option value="Draft">Draft</ng-option>
                              <ng-option value="Cancelled">Cancelled</ng-option>
                              <ng-option value="Transmitted to CBSA">Transmitted to CBSA</ng-option>
                              <ng-option value="CBSA Returned Error">CBSA Returned Error</ng-option>
                              <ng-option value="On File with CBSA">On File with CBSA</ng-option>
                              <ng-option value="On File with Match Notice">On File with Match Notice</ng-option>
                              <ng-option value="On File with Transaction Number(s)">On File with Transaction Number(s)</ng-option>
                              <ng-option value="Arrival Reported at Border">Arrival Reported at Border</ng-option>
                              <ng-option value="Rejected After Arrival at Border">Rejected After Arrival at Border</ng-option>
                              <ng-option value="Released">Released</ng-option>
                           </ng-select>                       
                     </div> -->
                     <div class="col-lg-3 col-md-3">
                        <div class="input-daterange input-group">
                            <span class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-calendar-alt"></i>
                                </span>
                            </span>
                            <input 
                            [(ngModel)]="aciStartDate" name="aciStartDate"
                            type="text" 
                            placeholder="DD-MM-YYYY"
                            (click)="from.toggle()" ngbDatepicker #from="ngbDatepicker"
                            class="form-control" autocomplete="off"> 
                            <span class="input-group-text border-left-0 border-right-0 rounded-0">
                                to
                            </span>
                            <input 
                            [(ngModel)]="aciEndDate" name="aciEndDate"
                            type="text" 
                            placeholder="DD-MM-YYYY"
                            (click)="to.toggle()" ngbDatepicker #to="ngbDatepicker"
                            class="form-control" autocomplete="off"> 
                        </div>
                    </div>
                     <div class="col-md-2  col-lg-2">
                        <button type="submit" (click)="searchACIFilter()" class="btn btn-sm btn-success mr-2">Search</button>
                        <button type="button" (click)="resetACIFilter()" class="btn btn-sm btn-success">Reset</button>
                     </div>
                     <div class="col-md-3 col-lg-3 text-right">
                        
                        <div class="btn-group flex-wrap">
                           <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Actions<span class="caret"></span></button>
                           <div class="dropdown-menu" role="menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                            
                              <a class="dropdown-item text-1" href="">Import</a>
                              <a class="dropdown-item text-1" href="">Export</a>
                           </div>
                        </div>
                        <a [routerLink] = "['/dispatch','cross-border','ACI-new-eManifest']"   class="btn btn-success btn-sm mx-2" style="color:white;"><i class="fas fa-plus"></i> Add ACI eManifest</a>

                     </div>
                  </div>
               </form>
            </header>
            <div id="list_view">
               <ul class="nav nav-tabs top-tabs p-2" id="eManifests-tabs" role="tablist">
                  <li class="nav-item">
                     <a class="nav-link {{ aceClass }}" id="ace-emanifest-tab" (click)="changeTab('ace')" role="tab" aria-controls="ace-emanifest" aria-selected="true">ACE eManifest</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link {{ aciClass }}" id="aci-emanifest-tab" (click)= "changeTab('aci')" role="tab" aria-controls="aci-emanifest" aria-selected="false">ACI eManifest</a>
                  </li>
               </ul>
            <div class="row">
               <div class="col">
                  <section class="card">
                     <div class="card-body">
                         <div class="tab-content p-0">
                           <div class="tab-pane show active" id="ace-emanifest" role="tabpanel" aria-labelledby="ace-tab">
                              <table class="table table-bordered table-responsive-lg table-striped mb-0" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="ace">
                                 <thead>
                                    <tr> 
                                       
                                       <th>Trip#</th>
                                       <!-- <th>SCAC Code</th>                                           -->
                                      
                                       <th>Shipment#</th>
                                       <th>Type</th>
                                       <th>Est Date</th>
                                       <th>Driver</th>
                                       <th>Truck</th>                                          
                                       <th>Trailer</th>
                                       <th>Shipper</th>
                                       <th>Consignee</th>
                                       <th>Status</th>
                                       <th>Action</th>  
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr *ngFor = "let aceManifest of ACEList;">       
                                       <td routerLink="/dispatch/cross-border/ACE-details/{{aceManifest.entryID }}">{{aceManifest.SCAC}}{{aceManifest.tripNumber}}</td>
                                       <!-- <td routerLink="/dispatch/cross-border/ACE-details/{{aceManifest.entryID }}">{{aceManifest.SCAC}}</td>-->
                                      
                                       <td routerLink="/dispatch/cross-border/ACE-details/{{aceManifest.entryID }}"><span *ngFor = "let shipment of aceManifest.shipments">{{shipment.SCAC}}{{shipment.shipmentControlNumber}},</span></td>
                                       <td routerLink="/dispatch/cross-border/ACE-details/{{aceManifest.entryID }}"><span *ngFor = "let shipment of aceManifest.shipments">{{shipment.type}}</span></td>
                                       <td routerLink="/dispatch/cross-border/ACE-details/{{aceManifest.entryID }}">{{aceManifest.estimatedArrivalDate}} &nbsp; {{aceManifest.estimatedArrivalTime}}</td>                                
                                       <td routerLink="/dispatch/cross-b order/ACE-details/{{aceManifest.entryID }}"><span *ngFor = "let driver of aceManifest.drivers;">{{driversList[driver]}},</span></td>
                                       <td routerLink="/dispatch/cross-border/ACE-details/{{aceManifest.entryID }}">
                                          {{vehiclesList[aceManifest.truck.truckID]}}
                                       </td>
                                       <td routerLink="/dispatch/cross-border/ACE-details/{{aceManifest.entryID }}"><span *ngFor = "let trailer of aceManifest.trailers">{{assetsList[trailer.assetID]}},</span></td>
                                       <td routerLink="/dispatch/cross-border/ACE-details/{{aceManifest.entryID }}"><span *ngFor = "let shipment of aceManifest.shipments">{{shippersList[shipment.shipperID]}}</span></td>
                                       <td routerLink="/dispatch/cross-border/ACE-details/{{aceManifest.entryID }}"><span *ngFor = "let shipment of aceManifest.shipments">{{consigneesList[shipment.consigneeID]}}</span></td>
                                       <td routerLink="/dispatch/cross-border/ACE-details/{{aceManifest.entryID }}"><span class="badge badge-dark p-1">{{aceManifest.currentStatus}}</span></td>
                                       <td><div class="btn-group flex-wrap">
                                          <button type="button" class="mb-1 mt-1 mr-1 btn" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></button>
                                          <div class="dropdown-menu" role="menu">
                                             <a routerLink="/dispatch/cross-border/ACE-edit-eManifest/{{aceManifest.entryID }}" class="dropdown-item text-1" >Edit</a>
                                              <button type="button" class="dropdown-item text-1" (click)="deleteACEEntry(aceManifest.entryID)">Delete</button> 
                                          </div>
                                        </div></td>                                       
                                    </tr> 
                                 </tbody>
                                 <!-- <tbody *ngIf="ACEList.length === 0">
                                    <tr>
                                        <td colspan="13" class="no-data-available">No records found</td>
                                    </tr>
                                <tbody> -->
                              </table>                              
                           </div>
                           <div class="tab-pane" id="aci-emanifest" role="tabpanel" aria-labelledby="aci-tab">
                               <table class="table table-bordered table-responsive-lg table-striped mb-0" datatable [dtOptions]="dtOptionsACI" [dtTrigger]="dtTriggerACI" id="aci">
                                 <thead>
                                    <tr>
                                       
                                       <th>Trip#</th>
                                       <!-- <th>CCC Code</th>                                           -->
                                       
                                       <th>Cargo Control Number</th>
                                       <th>Type</th>
                                       <th>Est Date</th>
                                       <th>Driver</th>
                                       <th>Truck</th>                                          
                                       <th>Trailer</th>
                                       <th>Shipper</th>
                                       <th>Consignee</th>
                                       <th>Status</th>
                                       <th>Action</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr *ngFor = "let aciManifest of ACIList;">      
                                       <td  routerLink="/dispatch/cross-border/ACI-details/{{aciManifest.entryID }}">{{aciManifest.tripNumber}}</td>
                                        <!-- <td>{{aciManifest.CCC}}</td>                                           -->
                    
                                       <td routerLink="/dispatch/cross-border/ACI-details/{{aciManifest.entryID }}"><span *ngFor = "let shipment of aciManifest.shipments">{{shipment.CCC}}{{shipment.cargoControlNumber}},</span></td>
                                       <td routerLink="/dispatch/cross-border/ACI-details/{{aciManifest.entryID }}"><span *ngFor = "let shipment of aciManifest.shipments">{{shipment.shipmentType}}</span></td>
                                       <td  routerLink="/dispatch/cross-border/ACI-details/{{aciManifest.entryID }}">{{aciManifest.estimatedArrivalDate}} &nbsp; {{aciManifest.estimatedArrivalTime}}</td>                                 
                                       <td routerLink="/dispatch/cross-border/ACI-details/{{aciManifest.entryID }}"><span *ngFor = "let driver of aciManifest.drivers">{{driversList[driver]}},</span></td>
                                       <td routerLink="/dispatch/cross-border/ACI-details/{{aciManifest.entryID }}">{{vehiclesList[aciManifest.truck.truckID]}}  </td>
                                       <td routerLink="/dispatch/cross-border/ACI-details/{{aciManifest.entryID }}"><span *ngFor = "let trailer of aciManifest.trailers">{{assetsList[trailer.assetID]}},</span></td>
                                       <td routerLink="/dispatch/cross-border/ACI-details/{{aciManifest.entryID }}"><span *ngFor = "let shipment of aciManifest.shipments">{{shippersList[shipment.shipperID]}}</span></td>
                                       <td routerLink="/dispatch/cross-border/ACI-details/{{aciManifest.entryID }}"><span *ngFor = "let shipment of aciManifest.shipments">{{consigneesList[shipment.consigneeID]}}</span></td>
                                       <td routerLink="/dispatch/cross-border/ACI-details/{{aciManifest.entryID }}"><span class="badge badge-dark p-1">{{aciManifest.currentStatus}}</span></td>
                                       <td><div class="btn-group flex-wrap">
                                          <button type="button" class="mb-1 mt-1 mr-1 btn" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></button>
                                          <div class="dropdown-menu" role="menu">
                                             <a routerLink="/dispatch/cross-border/ACI-edit-eManifest/{{aciManifest.entryID }}" class="dropdown-item text-1" >Edit</a>
                                              <button type="button" class="dropdown-item text-1" (click)="deleteACIEntry(aciManifest.entryID)">Delete</button> 
                                          </div>
                                        </div></td>                                       
                                    </tr> 
                                    
                                 </tbody>
                                 <!-- <tbody *ngIf="ACIList.length === 0">
                                    <tr>
                                        <td colspan="13" class="no-data-available">No records found</td>
                                    </tr>
                                <tbody> -->
                              </table>
                           </div>
                        </div>
                        
                     </div>
                  </section>
               </div>
            </div>
            </div>
         </section>
    </div>
</section>
  
