.statusBtn {
  padding: 4px;
  color: #fff;
  border-radius: 5px;
  font-size: 11px;
  font-weight: bold;
}

/* ACE button classes */

.draft-color {
  background-color: #f0e68c;
  font-size: 0.75rem;
}
.cancel-color {
  background-color: #ff0000;
  font-size: 0.75rem;
}
.transmitted-color {
  background-color: #ffd700;
  font-size: 0.75rem;
}
.preliminary-color {
  background-color: #add8e6;
  font-size: 0.75rem;
}
.returned-color {
  background-color: #8b0000;
  color: #ffffff;
  font-size: 0.75rem;
}
.complete-file-color {
  background-color: #0000ff;
  font-size: 0.75rem;
}
.complete-cbp-color {
  background-color: #90ee90;
  font-size: 0.75rem;
}
.truck-arr-color {
  background-color: #008000;
  font-size: 0.75rem;
}
.truck-release-color {
  background-color: #7cfc00;
  font-size: 0.75rem;
}
.cancelBtn {
  background-color: #d91714;
}
.draftBtn {
  background-color: #000;
}
.transmittedBtn {
  background-color: #dfd936;
}
.preliminaryBtn {
  background-color: #b1e984;
}
.completeBtn {
  background-color: #5cb85c;
}
.truckArrivedBtn {
  background-color: #52aa0c;
}
.truckReleasedBtn {
  background-color: #66c31d;
}
.CBPReturnedErrorBtn {
  background-color: #f93121;
}
.completeManifestEntryBtn {
  background-color: #43ea20;
}

/* ACI Button classes */
.ACIcancelBtn {
  background-color: #d91714;
}
.ACIdraftBtn {
  background-color: #000;
}
.ACItransmittedBtn {
  background-color: #dfd936;
}
.ACIonFileCBSABtn {
  background-color: #ffff00;
}
.ACIReleasedBtn {
  background-color: #66c31d;
}
.CBSAReturnedErrorBtn {
  background-color: #f93121;
}
.ACIRejectedAtBorderBtn {
  background-color: #e20000;
}
.ACIMatchNoticeBtn {
  background-color: #eeee11;
}
.ACIOnFileTransactionBtn {
  background-color: #ffe400;
}
.ACIArrivalBorderBtn {
  background-color: #52aa0c;
}
