.statusBtn {
  padding: 4px;
  color: #FFF;
  border-radius: 5px;
  font-size: 11px;
  font-weight: bold;
}

.cancelBtn {
  background-color: #D91714;
}
.draftBtn {
  background-color: #000;
}
.transmittedBtn {
  background-color: #DFD936;
}
.preliminaryBtn {
  background-color: #B1E984;
}
.completeBtn {
  background-color: #5cb85c;
}
.truckArrivedBtn {
  background-color: #52AA0C;
}
.truckReleasedBtn {
  background-color: #66C31D;
}
.CBPReturnedErrorBtn {
  background-color: #F93121;
}
.completeManifestEntryBtn {
  background-color: #43EA20;
}
