<section class="body">
  <!-- start: header -->
  <app-header></app-header>
  <!-- end: header -->

  <div class="inner-wrapper">
    <!-- start: sidebar -->
    <app-sidebar></app-sidebar>
    <!-- end: sidebar -->
    <section role="main" class="content-body">
      <header class="page-header">
        <h2>HOS Summary</h2>
        <div class="right-wrapper text-right">
          <ol class="breadcrumbs pr-3">
            <li>
              <a href="index.html">
                <i class="fas fa-home"></i>
              </a>
            </li>
            <li><span>HOS Summary</span></li>
          </ol>
        </div>
      </header>

      <!--
        <section class="card mb-4">
         <div class="card-body">
            <h2 class="card-title mt-3">Drivers Insights</h2>
            
            <div class="row">
                 <div class="col-lg-2 col-md-12 text-left">
                      <h1 class="font-weight-normal ditotald">112</h1>   
                 </div>
                 <div class="col-lg-2 col-md-12 mt-4">
                     <div class="dionduty">
                         ON DUTY
                         <br>
                         <span class="text-5">52</span>
                     </div>    
                 </div>
                 <div class="col-lg-2 col-md-12 mt-4">
                     <div class="didriving">
                         ON DUTY
                         <br>
                         <span class="text-5">30</span>
                     </div>    
                 </div>
                 <div class="col-lg-2 col-md-12 mt-4">
                     <div class="dioffduty">
                         ON DUTY
                         <br>
                         <span class="text-5">40</span>
                     </div>    
                 </div>
             </div>
         </div>
      </section>
      -->

      <section class="card mb-4">
        <div class="card-body">
          <h2 class="card-title mt-3">Drivers Insights</h2>

          <div class="row">
            <div class="col-lg-3 col-md-12 mt-4">
              <div class="maindriverbox">
                <div class="driverbar">
                  <span class="pull-right text-10 text-dark"
                    ><i class="fas fa-user"></i
                  ></span>
                  <h2
                    class="pull-left mt-0 text-5 font-weight-semibold text-dark"
                  >
                    Driver Name
                  </h2>
                </div>

                <div class="">
                  <h1 class="ditotald">112</h1>
                  <div class="pull-right text-right mt-2">
                    <p class="mb-0 text-dark text-4 font-weight-semibold">
                      52 ON
                    </p>
                    <p class="mb-0 text-dark text-4 font-weight-semibold">
                      30 OFF
                    </p>
                    <p class="mb-0 text-dark text-4 font-weight-semibold">
                      40 D
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-12 mt-4">
              <div class="maindriverbox">
                <div class="driverbar">
                  <span class="pull-right text-10 text-dark"
                    ><i class="fas fa-exclamation-triangle"></i
                  ></span>
                  <h2
                    class="pull-left mt-0 text-5 font-weight-semibold text-dark"
                  >
                    Violation
                  </h2>
                </div>

                <div class="">
                  <h1 class="ditotald">14</h1>
                  <div class="pull-right text-right mt-2">
                    <p class="mb-0 text-dark text-4 font-weight-semibold">
                      5 Break
                    </p>
                    <p class="mb-0 text-dark text-4 font-weight-semibold">
                      5 Cycle
                    </p>
                    <p class="mb-0 text-dark text-4 font-weight-semibold">
                      4 Drive
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-12 mt-4">
              <div class="maindriverbox">
                <div class="driverbar">
                  <span class="pull-right text-10 text-dark"
                    ><i class="fas fa-exclamation-triangle"></i
                  ></span>
                  <h2
                    class="pull-left mt-0 text-5 font-weight-semibold text-dark"
                  >
                    Near Violation
                  </h2>
                </div>

                <div class="">
                  <h1 class="ditotald">95</h1>
                  <div class="pull-right text-right mt-2">
                    <p class="mb-0 text-dark text-4 font-weight-semibold">
                      45 Break
                    </p>
                    <p class="mb-0 text-dark text-4 font-weight-semibold">
                      30 Cycle
                    </p>
                    <p class="mb-0 text-dark text-4 font-weight-semibold">
                      20 Drive
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-12 mt-4">
              <div class="maindriverbox">
                <div class="driverbar">
                  <span class="pull-right text-10 text-dark"
                    ><i class="fas fa-user"></i
                  ></span>
                  <h2
                    class="pull-left mt-0 text-5 font-weight-semibold text-dark"
                  >
                    Driver Name
                  </h2>
                </div>

                <div class="">
                  <h1 class="ditotald">112</h1>
                  <div class="pull-right text-right mt-2">
                    <p class="mb-0 text-dark text-4 font-weight-semibold">
                      52 ON
                    </p>
                    <p class="mb-0 text-dark text-4 font-weight-semibold">
                      30 OFF
                    </p>
                    <p class="mb-0 text-dark text-4 font-weight-semibold">
                      40 D
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="row">
        <div class="col-lg-12">
          <section class="card">
            <header class="card-header">
              <!-- <div class="card-actions">
                         <a href="#" class="card-action card-action-toggle" data-card-toggle=""></a>
                         <a href="#" class="card-action card-action-dismiss" data-card-dismiss=""></a>
                     </div> -->

              <h2 class="card-title">HOS Information</h2>
            </header>
            <div class="card-body" style="display: block;">
              <table class="table table-bordered table-striped mb-0">
                <thead>
                  <tr>
                    <th>Driver/Vehicle</th>
                    <th>Cycle</th>
                    <th>Status</th>
                    <th class="cell_width">Time to Break</th>
                    <th class="cell_width">Daily Drive Time Remaining</th>
                    <th class="cell_width">Cycle Drive Time Remaining</th>
                  </tr>
                </thead>
                <tbody>


                <tr *ngFor="let summary of summary$ | async">

                  <td>{{summary.driver}}</td>
                  <td>{{summary.cycle}}</td>
                  <td>{{summary.status}}</td>
                  <td>
                    <div class="progress progress-xs progress-squared light">
                      <div
                              class="progress-bar progress-bar-success"
                              role="progressbar"
                              [attr.aria-valuenow]="summary.timeToBreak.current"
                              aria-valuemin="0"
                              [attr.aria-valuemax]="summary.timeToBreak.max"
                              style="width: 40%;"
                      >
                        {{summary.timeToBreak.current*100/summary.timeToBreak.max  }}%
                      </div>
                    </div>
                    <div class="text-right">{{summary.timeToBreak.max * 1000 | date:'HH:mm:ss'}}</div>
                  </td>
                  <td>
                    <div class="progress progress-xs progress-squared light">
                      <div
                              class="progress-bar progress-bar-success"
                              role="progressbar"
                              [attr.aria-valuenow]="summary.cycleDriveTimeRemaining.current"
                              aria-valuemin="0"
                              [attr.aria-valuemax]="summary.cycleDriveTimeRemaining.max"
                              style="width: 30%;"
                      >
                        {{summary.cycleDriveTimeRemaining.current*100/summary.cycleDriveTimeRemaining.max  }}%
                      </div>
                    </div>
                    <div class="text-right">{{summary.cycleDriveTimeRemaining.max * 1000 | date:'HH:mm:ss'}}</div>
                  </td>
                  <td>
                    <div class="progress progress-xs progress-squared light">
                      <div
                              class="progress-bar progress-bar-success"
                              role="progressbar"
                              [attr.aria-valuenow]="summary.dailyDriveTimeRemaining.current"
                              aria-valuemin="0"
                              [attr.aria-valuemax]="summary.dailyDriveTimeRemaining.max"
                              style="width: 90%;"
                      >
                        {{summary.dailyDriveTimeRemaining.current*100/summary.dailyDriveTimeRemaining.max  }}%
                      </div>
                    </div>
                    <div class="text-right">{{summary.dailyDriveTimeRemaining.max * 1000 | date:'HH:mm:ss'}}</div>
                  </td>

                </tr>



                </tbody>
              </table>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
</section>
