<ul class="nav nav-main mr-0 bg-white">
  <li routerLinkActive="nav-active">
    <a class="nav-link"
          [routerLink]="['/accounts', 'chart-accounts', 'list']"
        >
        <i class="fas fa-users-cog fa-fw" aria-hidden="true"></i>
      <span>Chart of Accounts</span>
    </a>
  </li>
  <li routerLinkActive="nav-active">
    <a class="nav-link"
          [routerLink]="['/accounts', 'income', 'list']"
        >
        <i class="fas fa-users-cog fa-fw" aria-hidden="true"></i>
      <span>Income Transactions</span>
    </a>
  </li>
  <li routerLinkActive="nav-active">
    <a class="nav-link"
          [routerLink]="['/accounts', 'expense', 'list']"
        >
        <i class="fas fa-users-cog fa-fw" aria-hidden="true"></i>
      <span>Expense Transactions</span>
    </a>
  </li>
  <!-- <li class="nav-parent" appNavOpened routerLinkActive="nav-expanded">
    <a class="nav-link" href="#">
      <i class="fa fa-users" aria-hidden="true"></i>
      <Span>Driver Settlements</Span>
    </a>
    <ul class="nav nav-children">
      <li routerLinkActive="nav-active">
        <a
          class="nav-link"
          routerLink="[]"
        >
          Driver Non-Settled
        </a>
      </li>

      <li routerLinkActive="nav-active">
        <a
          class="nav-link"
          [routerLink]="['/accounts', 'driver-settlements', 'Driver-Payments']"
        >
          Driver Payments
        </a>
      </li>
      <li routerLinkActive="nav-active">
        <a
          class="nav-link"
          [routerLink]="['/accounts', 'driver-settlements', 'Recurring-Deductions']"
        >
          Recurring Deductions
        </a>
      </li>
    </ul>
  </li> -->
</ul>
