<ul class="nav nav-main">
  <li class="nav-parent">
    <a class="nav-link" href="#">
      <i class="fas fa-exclamation-circle" aria-hidden="true"></i>
      <span>Countries</span>
    </a>
    <ul class="nav nav-children">
      <li>
        <a class="nav-link" routerLink="/Add-Country">
          Add Country
        </a>
      </li>
      <li>
        <a class="nav-link" routerLink="/Country-List">
          Country List
        </a>
      </li>
    </ul>
  </li>

  <li class="nav-parent">
    <a class="nav-link" href="#">
      <i class="fas fa-exclamation-circle" aria-hidden="true"></i>
      <span>States</span>
    </a>
    <ul class="nav nav-children">
      <li>
        <a class="nav-link" routerLink="/Add-State">
          Add State
        </a>
      </li>
      <li>
        <a class="nav-link" routerLink="/State-List">
          State List
        </a>
      </li>
    </ul>
  </li>

  <li class="nav-parent">
    <a class="nav-link" href="#">
      <i class="fas fa-exclamation-circle" aria-hidden="true"></i>
      <span>Cities</span>
    </a>
    <ul class="nav nav-children">
      <li>
        <a class="nav-link" routerLink="/Add-City">
          Add City
        </a>
      </li>
      <li>
        <a class="nav-link" routerLink="/City-List">
          City List
        </a>
      </li>
    </ul>
  </li>

  <li class="nav-parent">
    <a class="nav-link" href="#">
      <i class="fas fa-check-square" aria-hidden="true"></i>
      <span>Manufacturers</span>
    </a>
    <ul class="nav nav-children">
      <li>
        <a class="nav-link" routerLink="/Add-Manufacturer">
          Add Manufacturer
        </a>
      </li>
      <li>
        <a class="nav-link" routerLink="/Manufacturers-List">
          Manufacturer List
        </a>
      </li>
    </ul>
  </li>

  <li class="nav-parent">
    <a class="nav-link" href="#">
      <i class="fas fa-check-square" aria-hidden="true"></i>
      <span>Models</span>
    </a>
    <ul class="nav nav-children">
      <li>
        <a class="nav-link" routerLink="/Add-Model">
          Add Model
        </a>
      </li>
      <li>
        <a class="nav-link" routerLink="/Models-List">
          Model List
        </a>
      </li>
    </ul>
  </li>

  <li class="nav-parent">
    <a class="nav-link" href="#">
      <i class="fas fa-check-square" aria-hidden="true"></i>
      <span>Groups</span>
    </a>
    <ul class="nav nav-children">
      <li>
        <a class="nav-link" routerLink="/Add-Group">
          Add Group
        </a>
      </li>
      <li>
        <a class="nav-link" routerLink="/Group-List">
          Group List
        </a>
      </li>
    </ul>
  </li>

  <li class="nav-parent">
    <a class="nav-link" href="#">
      <i class="fas fa-check-square" aria-hidden="true"></i>
      <span>Alerts</span>
    </a>
    <ul class="nav nav-children">
      <li>
        <a class="nav-link" routerLink="/Add-Alert">
          Add Alert
        </a>
      </li>
      <li>
        <a class="nav-link" routerLink="/Alerts-List">
          Alert List
        </a>
      </li>
    </ul>
  </li>

  <li class="nav-parent">
    <a class="nav-link" href="#">
      <i class="fas fa-check-square" aria-hidden="true"></i>
      <span>Ticket Types</span>
    </a>
    <ul class="nav nav-children">
      <li>
        <a class="nav-link" routerLink="/Add-Ticket-Type">
          Add Ticket Type
        </a>
      </li>
      <li>
        <a class="nav-link" routerLink="/Ticket-Types-List">
          Ticket Types List
        </a>
      </li>
    </ul>
  </li>

  <li class="nav-parent">
    <a class="nav-link" href="#">
      <i class="fas fa-check-square" aria-hidden="true"></i>
      <span>Cycles</span>
    </a>
    <ul class="nav nav-children">
      <li>
        <a class="nav-link" routerLink="/Add-Cycle">
          Add Cycle
        </a>
      </li>
      <li>
        <a class="nav-link" routerLink="/Cycle-List">
          Cycle List
        </a>
      </li>
    </ul>
  </li>
  <li class="nav-parent">
    <a class="nav-link" href="#">
      <i class="fas fa-exclamation-circle" aria-hidden="true"></i>
      <span>Carriers</span>
    </a>
    <ul class="nav nav-children">
      <li>
        <a class="nav-link" routerLink="/Add-Carrier">
          Add Carrier
        </a>
      </li>
      <li>
        <a class="nav-link" routerLink="/Carriers-List">
          Carriers List
        </a>
      </li>
    </ul>
  </li>
</ul>
