<ul class="nav nav-main">

  <li class="nav-parent" appNavOpened>
    <a class="nav-link" href="#">
      <i class="fas fa-truck-loading" aria-hidden="true"></i>
      <span>Compliance</span>
    </a>
    <ul class="nav nav-children">
      <li>
        <a class="nav-link" [routerLink]="['/hos', 'compliance', 'summary']">
          Summary
        </a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="['/fleet', 'assets', 'Assets-List']">
          Detailed
        </a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="['/fleet', 'assets', 'Assets-List']">
          Uncertified
        </a>
      </li>
    </ul>
  </li>
</ul>
