<ul class="nav nav-main">
  <li routerLinkActive="nav-active">
    <a class="nav-link" routerLink="[]">
      <i class="fa fa-globe" aria-hidden="true"></i>
      <span>Alerts</span>
    </a>
  </li>

  <li class="nav-parent" appNavOpened routerLinkActive="nav-expanded">
    <a class="nav-link" href="#">
      <i class="fa fa-users" aria-hidden="true"></i>
      <span>Reports</span>
    </a>
    <ul class="nav nav-children">
      <li class="nav-parent" routerLinkActive="nav-expanded">
        <a>
          Logs
        </a>
        <ul class="nav nav-children">
          <li routerLinkActive="nav-active">
            <a
              class="nav-link"
              routerLink="['/fleet', 'expenses', 'fuel', 'Add-Fuel-Entry']"
            >
              Log Detail
            </a>
          </li>

          <li routerLinkActive="nav-active">
            <a
              class="nav-link"
              routerLink="['/fleet', 'expenses', 'fuel', 'Fuel-Entry-List']"
            >
              HOS Violation Detail
            </a>
          </li>
          <li routerLinkActive="nav-active">
            <a
              class="nav-link"
              routerLink="['/fleet', 'expenses', 'fuel', 'Fuel-Entry-List']"
            >
              Violation & Error Summary
            </a>
          </li>
          <li routerLinkActive="nav-active">
            <a
              class="nav-link"
              routerLink="['/fleet', 'expenses', 'fuel', 'Fuel-Entry-List']"
            >
              Form & Manner Error Detail
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-parent" routerLinkActive="nav-expanded">
        <a>
          Vehicles
        </a>
        <ul class="nav nav-children">
          <li routerLinkActive="nav-active">
            <a
              class="nav-link"
              routerLink="['/fleet', 'expenses', 'fuel', 'Add-Fuel-Entry']"
            >
            Vehicles Detail
            </a>
          </li>

          <li routerLinkActive="nav-active">
            <a
              class="nav-link"
              routerLink="['/fleet', 'expenses', 'fuel', 'Fuel-Entry-List']"
            >
              Location History
            </a>
          </li>
          <li routerLinkActive="nav-active">
            <a
              class="nav-link"
              routerLink="['/fleet', 'expenses', 'fuel', 'Fuel-Entry-List']"
            >
              Fault Codes
            </a>
          </li>
          <li routerLinkActive="nav-active">
            <a
              class="nav-link"
              routerLink="['/fleet', 'expenses', 'fuel', 'Fuel-Entry-List']"
            >
              Vehicle Gateways Detail
            </a>
          </li>
          <li routerLinkActive="nav-active">
            <a
              class="nav-link"
              routerLink="['/fleet', 'expenses', 'fuel', 'Fuel-Entry-List']"
            >
              Data Usage Summary
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-parent" routerLinkActive="nav-expanded">
        <a>
          Maintenance
        </a>
        <ul class="nav nav-children">
          <li routerLinkActive="nav-active">
            <a
              class="nav-link"
              routerLink="['/fleet', 'expenses', 'fuel', 'Add-Fuel-Entry']"
            >
            Maintenance Reminder Detail
            </a>
          </li>

          <li routerLinkActive="nav-active">
            <a
              class="nav-link"
              routerLink="['/fleet', 'expenses', 'fuel', 'Fuel-Entry-List']"
            >
            Maintenance History Detail
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-parent" routerLinkActive="nav-expanded">
        <a>
          Inspection Reports
        </a>
        <ul class="nav nav-children">
          <li routerLinkActive="nav-active">
            <a
              class="nav-link"
              routerLink="['/fleet', 'expenses', 'fuel', 'Add-Fuel-Entry']"
            >
            Inspection Reports Detail
            </a>
          </li>

          <li routerLinkActive="nav-active">
            <a
              class="nav-link"
              routerLink="['/fleet', 'expenses', 'fuel', 'Fuel-Entry-List']"
            >
            Log without Inspection Reports
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-parent" routerLinkActive="nav-expanded">
        <a>
          Drivers
        </a>
        <ul class="nav nav-children">
          <li routerLinkActive="nav-active">
            <a
              class="nav-link"
              routerLink="['/fleet', 'expenses', 'fuel', 'Add-Fuel-Entry']"
            >
            Drivers  Detail
            </a>
          </li>

          <li routerLinkActive="nav-active">
            <a
              class="nav-link"
              routerLink="['/fleet', 'expenses', 'fuel', 'Fuel-Entry-List']"
            >
            Scorecards Summary
            </a>
          </li>
          <li routerLinkActive="nav-active">
            <a
              class="nav-link"
              routerLink="['/fleet', 'expenses', 'fuel', 'Fuel-Entry-List']"
            >
            Scorecards Events
            </a>
          </li>
          <li routerLinkActive="nav-active">
            <a
              class="nav-link"
              routerLink="['/fleet', 'expenses', 'fuel', 'Fuel-Entry-List']"
            >
            Drivers Workload
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-parent" routerLinkActive="nav-expanded">
        <a>
          IFTA
        </a>
        <ul class="nav nav-children">
          <li routerLinkActive="nav-active">
            <a
              class="nav-link"
              routerLink="['/fleet', 'expenses', 'fuel', 'Add-Fuel-Entry']"
            >
            Distance Summary
            </a>
          </li>

          <li routerLinkActive="nav-active">
            <a
              class="nav-link"
              routerLink="['/fleet', 'expenses', 'fuel', 'Fuel-Entry-List']"
            >
            IFTA Trip Reports
            </a>
          </li>
          <li routerLinkActive="nav-active">
            <a
              class="nav-link"
              routerLink="['/fleet', 'expenses', 'fuel', 'Fuel-Entry-List']"
            >
            Fuel Purchases
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-parent" routerLinkActive="nav-expanded">
        <a>
          Trips
        </a>
        <ul class="nav nav-children">
          <li routerLinkActive="nav-active">
            <a
              class="nav-link"
              routerLink="['/fleet', 'expenses', 'fuel', 'Add-Fuel-Entry']"
            >
            Activity Detail
            </a>
          </li>

          <li routerLinkActive="nav-active">
            <a
              class="nav-link"
              routerLink="['/fleet', 'expenses', 'fuel', 'Fuel-Entry-List']"
            >
            Trips Summary
            </a>
          </li>
          <li routerLinkActive="nav-active">
            <a
              class="nav-link"
              routerLink="['/fleet', 'expenses', 'fuel', 'Fuel-Entry-List']"
            >
            Trips Detail
            </a>
          </li>
          <li routerLinkActive="nav-active">
            <a
              class="nav-link"
              routerLink="['/fleet', 'expenses', 'fuel', 'Fuel-Entry-List']"
            >
            Disconnects  Detail
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-parent" routerLinkActive="nav-expanded">
        <a>
          Utilization
        </a>
        <ul class="nav nav-children">
          <li routerLinkActive="nav-active">
            <a
              class="nav-link"
              routerLink="['/fleet', 'expenses', 'fuel', 'Add-Fuel-Entry']"
            >
            Vehicle Utilization
            </a>
          </li>

          <li routerLinkActive="nav-active">
            <a
              class="nav-link"
              routerLink="['/fleet', 'expenses', 'fuel', 'Fuel-Entry-List']"
            >
            Driver's Vehicle Utilization
            </a>
          </li>
          <li routerLinkActive="nav-active">
            <a
              class="nav-link"
              routerLink="['/fleet', 'expenses', 'fuel', 'Fuel-Entry-List']"
            >
            Idling Events
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-parent" routerLinkActive="nav-expanded">
        <a>
          Geofences
        </a>
        <ul class="nav nav-children">
          <li routerLinkActive="nav-active">
            <a
              class="nav-link"
              routerLink="['/fleet', 'expenses', 'fuel', 'Add-Fuel-Entry']"
            >
            Geofence Summary
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </li>

  <li routerLinkActive="nav-active">
    <a class="nav-link" routerLink="[]">
      <i class="fa fa-globe" aria-hidden="true"></i>
      <span>Settings</span>
    </a>
  </li>

</ul>
