<ul class="nav nav-main mr-0 bg-white">
  <li routerLinkActive="nav-active">
    <a class="nav-link" [routerLink]="['/safety','overview']">
      <i class="far fa-hospital"></i>
      <span>Safety Overview</span>
    </a>
  </li>

  <li routerLinkActive="nav-active"> 
    <a class="nav-link" [routerLink]="['/safety', 'critical-events']">
      <i class="fas fa-calendar-alt"></i>
      <span>Critical Events</span>
    </a>
  </li>

  <li routerLinkActive="nav-active"> 
    <a class="nav-link" [routerLink]="['/safety', 'incidents']">
      <i class="fas fa-exclamation-triangle"></i>
      <span>Incidents</span>
    </a>
  </li>

  <li routerLinkActive="nav-active"> 
    <a class="nav-link" [routerLink]="['/safety', 'hos-violations']">
      <i class="fas fa-car-crash"></i>
      <span>HOS Violations</span>
    </a>
  </li>

  <li routerLinkActive="nav-active"> 
    <a class="nav-link" [routerLink]="['/safety', 'drivers-scorecard']">
      <i class="fas fa-user-shield"></i>
      <span>Driver scorecard</span>
    </a>
  </li>

</ul>