.brbtmgf{border-bottom: 0px !important;}
.geofence-search {
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 700;
    width: 20rem;
}
.geofence-search ul{
    list-style: none;
}
.geofence-search a {
    text-decoration: none;
    transition: all 0.3s linear 0s;
}
.geofence-search a:hover {
    background-color: #363636;
    color: #fff;
}
.map-search__results {
    left: unset;
    top: unset;
    display: none;
}
.map-search__results ul{
    list-style: none;
}
.show-search__result .map-search__results {
    display: block !important;
}

