<section class="body">

    <!-- start: header -->
    <app-header></app-header>

    <!-- end: header -->



    <div class="inner-wrapper">
        <!-- start: sidebar -->
        <app-sidebar></app-sidebar>
        <!-- end: sidebar -->

        <section role="main" class="content-body">
            <header class="page-header">
                <h2>{{title}}</h2>

                <div class="right-wrapper text-right">
                    <ol class="breadcrumbs">
                        <li>
                            <a href="/">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                        <li><span>Vehicles</span></li>
                        <li><span>{{title}}</span></li>
                    </ol>


                </div>
            </header>



            <div class="row">
                <div class="col">
                    <section class="card">
                        <header class="card-header">


                            <h2 class="card-title">{{title}}</h2>
                        </header>
                        <div class="card-body">
                            <form class="form-horizontal form-bordered" method="get">
                                <div class="form-group row">
                                    <!--<div class="col-lg-6">-->
                                        <!--<label class="control-label text-lg-right pt-2" for="inputDefault">Vechile ID</label>-->
                                        <!--<input type="text" class="form-control" [(ngModel)]="vehicleID" name="vehicle id">-->
                                    <!--</div>-->
                                    <div class="col-lg-12">
                                        <label class="control-label text-lg-right pt-2" for="inputDefault">Carrier Name</label>
                                        <input type="text" class="form-control" [(ngModel)]="carrierName" name="carrierName">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <label class="control-label text-lg-right text-dark text-4 pt-2" for="inputDefault">Address</label>
                                    </div>

                                    <div class="col-lg-4">
                                        <label class="control-label text-lg-right pt-2" for="inputDefault">Address ID</label>

                                        <select data-plugin-selectTwo class="form-control populate" [(ngModel)]="addressID" name="addressID">
                                            <optgroup label="">
                                                <option >1980</option>
                                                <option >1981</option>
                                                <option >1982</option>
                                                <option >1983</option>
                                                <option >1984</option>
                                                <option >1985</option>
                                                <option >1986</option>
                                                <option >1987</option>
                                                <option >1988</option>
                                                <option >1989</option>
                                                <option >1990</option>
                                                <option >1991</option>
                                                <option >1992</option>
                                                <option >1993</option>
                                                <option >1994</option>
                                                <option >1995</option>
                                                <option >1996</option>
                                                <option >1997</option>
                                                <option >1998</option>
                                                <option >1999</option>
                                                <option >2000</option>
                                                <option >2001</option>
                                                <option >2002</option>
                                                <option >2003</option>
                                                <option >2004</option>
                                                <option >2005</option>
                                                <option >2006</option>
                                                <option >2007</option>
                                                <option >2008</option>
                                                <option >2009</option>
                                                <option >2010</option>
                                                <option >2011</option>
                                                <option >2012</option>
                                                <option >2013</option>
                                                <option >2014</option>
                                                <option >2015</option>
                                                <option >2016</option>
                                                <option >2017</option>
                                                <option >2018</option>
                                                <option >2019</option>
                                                <option >2020</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="control-label text-lg-right pt-2" for="inputDefault">Tax ID</label>
                                        <select data-plugin-selectTwo class="form-control populate" [(ngModel)]="taxID" name="taxID">
                                            <optgroup label="">
                                                <option value="1">Tesla</option>
                                                <option >BMW</option>
                                                <option >GM</option>
                                                <option >Ford</option>
                                                <option >Fiat</option>
                                                <option >Daimler</option>
                                                <option >Honda</option>
                                                <option >Hyundai</option>
                                                <option >Kia</option>
                                                <option >Nissan</option>
                                                <option >Rivian</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="control-label text-lg-right pt-2" for="inputDefault">State</label>
                                        <select data-plugin-selectTwo class="form-control populate" [(ngModel)]="state" name="state">
                                            <optgroup label="">
                                                <option>ST8189LD</option>
                                                <option >ZZ0189LD</option>
                                                <option >FK36189D</option>
                                                <option >IT55855G</option>
                                                <option >POLD2132</option>
                                                <option >QJ23659W</option>
                                                <option >454564564</option>
                                                <option >1231231456789</option>
                                                <option >789798001</option>
                                                <option >0416546503</option>
                                                <option >KDF2355U</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <label class="control-label text-lg-right text-dark text-4 pt-2" for="inputDefault">Settings</label>
                                    </div>

                                    <div class="col-lg-6">
                                        <label class="control-label text-lg-right pt-2" for="inputDefault">Locale</label>
                                        <input type="text" class="form-control"  [(ngModel)]="locale" name="locale">
                                    </div>

                                    <div class="col-lg-6">
                                        <label class="control-label text-lg-right pt-2" for="inputDefault">Distance Unit</label>
                                        <input type="text" class="form-control"  [(ngModel)]="distanceUnit" name="distanceUnit">
                                    </div>

                                    <div class="col-lg-6">
                                        <label class="control-label text-lg-right pt-2" for="inputDefault">Weight Unit</label>
                                        <input type="text" class="form-control"  [(ngModel)]="weightUnit" name="weightUnit">
                                    </div>

                                    <div class="col-lg-6">
                                        <label class="control-label text-lg-right pt-2" for="inputDefault">Temp Unit</label>
                                        <input type="text" class="form-control"  [(ngModel)]="tempUnit" name="tempUnit">
                                    </div>

                                    <div class="col-lg-6">
                                        <label class="control-label text-lg-right pt-2" for="inputDefault">HA</label>
                                        <input type="text" class="form-control"  [(ngModel)]="HA" name="HA">
                                    </div>

                                    <div class="col-lg-6">
                                        <label class="control-label text-lg-right pt-2" for="inputDefault">HB</label>
                                        <input type="text" class="form-control"  [(ngModel)]="HB" name="HB">
                                    </div>

                                    
                                    <div class="col-lg-6">
                                        <label class="control-label text-lg-right pt-2" for="inputDefault">Log Time</label>
                                        <input type="text" class="form-control"  [(ngModel)]="logTime" name="logTime">
                                    </div>

                                </div>

                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <label class="control-label text-lg-right pt-2" for="inputDefault">Super User Name</label>
                                        <input type="text" class="form-control" [(ngModel)]="superUserName" name="superUserName">
                                    </div>

                                    <div class="col-lg-12">
                                        <label class="control-label text-lg-right pt-2" for="inputDefault">Current Status</label>
                                        <input type="text" class="form-control" [(ngModel)]="currentStatus" name="currentStatus">
                                    </div>

                                    <div class="col-lg-12">
                                        <label class="control-label text-lg-right pt-2" for="inputDefault">Carrier Number</label>
                                        <input type="text" class="form-control" [(ngModel)]="carrierNumber" name="carrierNumber">
                                    </div>

                                </div>

                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <button class="btn btn-dark mt-4 modal-confirm" (click)="updateCarrier()">Submit</button>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-lg-12">

                                        <p class="text text-danger" *ngIf="hasError">{{Error}}</p>
                                        <p class="text text-success" *ngIf="hasSuccess">{{Success}}</p>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>



    <div id="modalAnim" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <!--<h4 class="modal-title">Assign Quantum</h4>-->
                </div>
                <div class="modal-body">
                    <h4 class="modal-title">Assign Quantum</h4>
                    <select data-plugin-selectTwo class="form-control populate" [(ngModel)]="quantumSelected" name="quantum info" (ngModelChange)="onChange($event)">
                        <option *ngFor="let q of quantumsList" value="{{q.quantumID}}">{{q.sNo}}</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!--<div id="modalAnim" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide">-->
        <!--<section class="card">-->
            <!--<header class="card-header">-->
                <!--<h2 class="card-title">Assign Quantum</h2>-->
            <!--</header>-->
            <!--<div class="card-body">-->
                <!--<div class="modal-wrapper">-->
                    <!--<select data-plugin-selectTwo class="form-control populate" [(ngModel)]="vin" name="quantum info">-->
                        <!--<optgroup label="">-->
                            <!--<option value="1">Quantum 1</option>-->
                            <!--<option >Quantum 2</option>-->
                            <!--<option >Quantum 3</option>-->
                            <!--<option value="2">Quantum 4</option>-->
                            <!--<option value="2">Quantum 5</option>-->
                        <!--</optgroup>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
            <!--<footer class="card-footer">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-12 text-right">-->
                        <!--<a class="btn btn-dark modal-confirm">Submit</a>-->
                        <!--<button class="btn btn-default modal-dismiss">Cancel</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</footer>-->
        <!--</section>-->
    <!--</div>-->


</section>