<section class="body">
    <div class="inner-wrapper">
        <section role="main" class="content-body pl-0 pr-0 pt-0">
            <header class="page-header">
                <h2>Payment</h2>
                <div class="right-wrapper text-right">
                    <div class="pull-right pr-2"> <a routerLink="/accounts/payments/driver-payments/list"
                            class="mb-1 mt-1 mr-1 mr-5 btn btn-default btn-sm"><i class="fas fa-list"></i> All
                            Payments</a> </div>
                </div>
            </header>
            <section class="card mt-0 mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col pr-0">
                            <div class="card-body text-dark">
                                <form class="form-horizontal form-bordered" method="get" #paymentForm="ngForm">
                                    <div class="row">
                                        <div class="col-lg-5 offset-lg-1">
                                            <div class="row" id="settlementListDiv">
                                                <div class="col-lg-10">
                                                    <label
                                                        class="control-label font-weight-bold font-bold text-lg-right pt-2">Pay
                                                        To <span class="mandfield text-2 ml-1"><sup>*</sup></span></label>
                                                    <ng-select [(ngModel)]="paymentData.paymentTo" name="pamentTo"
                                                        placeholder="Select type" #paymenttTO="ngModel" required (change)="resetEntityVal()">
                                                        <ng-option value="driver">Driver</ng-option>
                                                        <ng-option value="carrier">Carrier</ng-option>
                                                        <ng-option value="owner_operator">Owner Operator</ng-option>
                                                    </ng-select>

                                                    <div *ngIf="paymenttTO.invalid && (paymenttTO.dirty || paymenttTO.touched)" class="text-danger">
                                                        <div *ngIf="paymenttTO.errors.required">
                                                            Pay To is required.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="row" id="settlementListDiv">
                                                <!-- <div class="col-lg-5">
                                                    <label
                                                        class="control-label font-weight-bold font-bold text-lg-right pt-2">Payment#<span class="mandfield text-2 ml-1"><sup>*</sup></span></label>
                                                    <input type="text" class="form-control" [(ngModel)]="paymentData.paymentNo" name="paymentNo" placeholder="Enter payment#" #payNo="ngModel" required>
                                                    <div *ngIf="payNo.invalid && (payNo.dirty || payNo.touched)" class="text-danger">
                                                        <div *ngIf="payNo.errors.required">
                                                            Payment# is required.
                                                        </div>
                                                    </div>
                                                </div> -->
                                                <div class="col-lg-10">
                                                    <label
                                                        class="control-label font-weight-bold font-bold text-lg-right pt-2">Payment
                                                        Date<span class="mandfield text-2 ml-1"><sup>*</sup></span>
                                                    </label>
                                                    <input [(ngModel)]="paymentData.txnDate" name="txnDate" type="text"
                                                        placeholder="yyyy/mm/dd" (click)="txnDate.toggle()" ngbDatepicker
                                                        #txnDate="ngbDatepicker" class="form-control" autocomplete="off"
                                                        [minDate]="dateMinLimit" [maxDate]="futureDatesLimit" #paymntDate="ngModel" required>

                                                    <div *ngIf="paymntDate.invalid && (paymntDate.dirty || paymntDate.touched)" class="text-danger">
                                                        <div *ngIf="paymntDate.errors.required">
                                                            Payment date is required.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pt-2">
                                        <div class="col-lg-5 offset-lg-1">
                                            <div class="row" id="driverListDiv" *ngIf="paymentData.paymentTo === 'driver'">
                                                <div class="col-lg-10">
                                                    <label
                                                        class="control-label font-weight-bold font-bold text-lg-right pt-2">Select
                                                        Driver<span class="mandfield text-2 ml-1"><sup>*</sup></span></label>
                                                    <ng-select [(ngModel)]="paymentData.entityId" name="type" placeholder="Select Driver" #driverID="ngModel" required>
                                                        <ng-option value="{{ data.key }}"
                                                            *ngFor="let data of drivers | keyvalue">{{ data.value }}
                                                        </ng-option>
                                                    </ng-select>

                                                    <div *ngIf="driverID.invalid && (driverID.dirty || driverID.touched)" class="text-danger">
                                                        <div *ngIf="driverID.errors.required">
                                                            Driver is required.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" id="carrierListDiv" *ngIf="paymentData.paymentTo === 'carrier'">
                                                <div class="col-lg-10">
                                                    <label
                                                        class="control-label font-weight-bold font-bold text-lg-right pt-2">Select
                                                        Carrier<span class="mandfield text-2 ml-1"><sup>*</sup></span></label>
                                                    <ng-select [(ngModel)]="paymentData.entityId" name="type" placeholder="Select Carrier" #carrID="ngModel" required>
                                                        <ng-option value="{{ data.key }}"
                                                            *ngFor="let data of carriers | keyvalue">{{ data.value }}
                                                        </ng-option>
                                                    </ng-select>

                                                    <div *ngIf="carrID.invalid && (carrID.dirty || carrID.touched)" class="text-danger">
                                                        <div *ngIf="carrID.errors.required">
                                                            Carrier is required.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" id="ownerOperatorListDiv" *ngIf="paymentData.paymentTo === 'owner_operator'">
                                                <div class="col-lg-10">
                                                    <label
                                                        class="control-label font-weight-bold font-bold text-lg-right pt-2">
                                                        Select Owner Operator<span class="mandfield text-2 ml-1"><sup>*</sup></span></label>
                                                    <ng-select [(ngModel)]="paymentData.entityId" name="type" placeholder="Select Owner Operator" #oprID="ngModel" required>
                                                        <ng-option value="{{ data.key }}"
                                                            *ngFor="let data of ownerOperators | keyvalue">{{ data.value }}
                                                        </ng-option>
                                                    </ng-select>

                                                    <div *ngIf="oprID.invalid && (oprID.dirty || oprID.touched)" class="text-danger">
                                                        <div *ngIf="oprID.errors.required">
                                                            Owner operator is required.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <label class="control-label font-weight-bold pt-2">From Date</label>
                                            <input [(ngModel)]="paymentData.fromDate" name="fromDate" type="text"
                                                placeholder="yyyy/mm/dd" (click)="fromDate.toggle()" ngbDatepicker
                                                #fromDate="ngbDatepicker" class="form-control" autocomplete="off"
                                                [minDate]="dateMinLimit" [maxDate]="futureDatesLimit">
                                        </div>
                                        <div class="col-lg-2">
                                            <label class="control-label font-weight-bold pt-2">To Date</label>
                                            <input [(ngModel)]="paymentData.toDate" name="toDate" type="text"
                                                placeholder="yyyy/mm/dd" (click)="toDate.toggle()" ngbDatepicker
                                                #toDate="ngbDatepicker" class="form-control" autocomplete="off"
                                                [minDate]="dateMinLimit" [maxDate]="futureDatesLimit">
                                        </div>
                                        <div class="col-lg-2">
                                            <button class="btn btn-success mar-top-37" *ngIf="!paymentID" [disabled]="searchDisabled" (click)="fetchSettlements()">Search</button>
                                        </div>
                                    </div>
                                    <!-- DRIVER PAYMENT DIV -->
                                    <div id="driverPaymentDiv" style="display: block;">
                                        <div class="row pt-3" *ngIf="paymentID">
                                            <div class="col-lg-10 offset-lg-1">
                                                <table
                                                    class="table table-bordered table-responsive-lg  table-striped simple-table">
                                                    <thead>
                                                        <tr class="bgcol2">
                                                            <th class="text-2">Settlement#</th>
                                                            <th class="text-2">Settlement Date</th>
                                                            <th class="text-2">Settlement Type</th>
                                                            <th class="text-2">Trip#</th>
                                                            <th class="text-2">Amount</th>
                                                            <th class="text-2">Paid Amount</th>
                                                            <th class="text-2">Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngIf="settlements.length === 0" class="text-center">
                                                            <td colspan="7">
                                                                {{ dataMessage }}
                                                            </td>
                                                        </tr>
                                                        <tr *ngFor="let data of settlements; let i=index">
                                                            <td>{{ data.setNo }}</td>
                                                            <td>{{ data.txnDate | date:"yyyy/MM/dd" }}</td>
                                                            <td>{{ data.newtype }}:
                                                                <span *ngIf="data.type === 'driver'">
                                                                    {{ drivers[data.entityId] }}
                                                                </span>
                                                                <span *ngIf="data.type === 'carrier'">
                                                                    {{ carriers[data.entityId] }}
                                                                </span>
                                                                <span *ngIf="data.type === 'owner_operator'">
                                                                    {{ ownerOperators[data.entityId] }}
                                                                </span>
                                                            </td>
                                                            <td>
                                                                <span *ngFor="let trip of data.tripIds; let j=index;">
                                                                    {{ trips[trip] }}
                                                                    <span *ngIf="j < data.tripIds.length-1">,</span>
                                                                </span>
                                                            </td>
                                                            <td>{{ data.finalTotal }} CAD</td>
                                                            <td>{{ paymentData.totalAmount }} CAD</td>
                                                            <td><span class="badge badge-dark p-1 text-uppercase">{{ data.status }}</span> </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="row pt-3" *ngIf="!paymentID">
                                            <div class="col-lg-12">
                                                <h4>Settlements</h4>
                                            </div>
                                            <div class="col-lg-10 offset-lg-1">
                                                <table
                                                    class="table table-bordered table-responsive-lg  table-striped simple-table">
                                                    <thead>
                                                        <tr class="bgcol2">
                                                            <th></th>
                                                            <th class="text-2">Settlement#</th>
                                                            <th class="text-2">Settlement Date</th>
                                                            <th class="text-2">Settlement Type</th>
                                                            <th class="text-2">Trip#</th>
                                                            <th class="text-2">Amount</th>
                                                            <th class="text-2">Paid Amount</th>
                                                            <th class="text-2">Status</th>
                                                            <th class="text-2">Full Payment</th>
                                                            <th class="text-2">Payment</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngIf="settlements.length === 0" class="text-center">
                                                            <td colspan="10">{{ dataMessage }} </td>
                                                        </tr>
                                                        <tr *ngFor="let data of settlements; let i=index">
                                                            <td>
                                                                <input type="checkbox" name="stl{{i}}" [(ngModel)]="data.selected" (change)="selectedSettlements()">
                                                            </td>
                                                            <td>{{ data.setNo }}</td>
                                                            <td>{{ data.txnDate | date:"yyyy/MM/dd" }}</td>
                                                            <td>{{ data.newtype }}:
                                                                <span *ngIf="data.type === 'driver'">
                                                                    {{ drivers[data.entityId] }}
                                                                </span>
                                                                <span *ngIf="data.type === 'carrier'">
                                                                    {{ carriers[data.entityId] }}
                                                                </span>
                                                                <span *ngIf="data.type === 'owner_operator'">
                                                                    {{ ownerOperators[data.entityId] }}
                                                                </span>
                                                            </td>
                                                            <td>
                                                                <span *ngFor="let trip of data.tripIds; let j=index;">
                                                                    {{ trips[trip] }}
                                                                    <span *ngIf="j < data.tripIds.length-1">,</span>
                                                                </span>
                                                            </td>
                                                            <td>{{ data.pendingPayment }} CAD</td>
                                                            <td>{{ data.prevPaidAmount }}</td>
                                                            <td><span class="badge badge-dark p-1 text-uppercase">{{ data.status }}</span> </td>
                                                            <td class="text-center">
                                                                <input type="checkbox" [(ngModel)]="data.fullPayment" name="final{{i}}" (change)="assignFullPayment('settlement', i, data)">
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" [(ngModel)]="data.paidAmount" (input)="paymentCalculation(); checkInput('setlAmount', i)" name="paidAmount{{i}}" [disabled]="data.paidStatus">
                                                                <label id="stlErr{{i}}" class="error">{{ data.errText  }}</label>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="row pt-3" *ngIf="!paymentID">
                                            <div class="col-lg-12">
                                                <h4>Advance Payments</h4>
                                            </div>
                                            <div class="col-lg-10 offset-lg-1">
                                                <table
                                                    class="table table-bordered table-responsive-lg  table-striped simple-table">
                                                    <thead>
                                                        <tr class="bgcol2">
                                                            <th></th>
                                                            <th class="text-2">Payment#</th>
                                                            <th class="text-2">Payment Date</th>
                                                            <th class="text-2">Account#</th>
                                                            <th class="text-2">Amount</th>
                                                            <th class="text-2">Paid Amount</th>
                                                            <th class="text-2">Status</th>
                                                            <th class="text-2">Full Payment</th>
                                                            <th class="text-2">Payment</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngIf="advancePayments.length === 0" class="text-center">
                                                            <td colspan="10">{{ dataMessageAdv }} </td>
                                                        </tr>
                                                        <tr *ngFor="let data of advancePayments; let i=index">
                                                            <td>
                                                                <input type="checkbox" name="stl{{i}}" [(ngModel)]="data.selected" (change)="selectedAdvancepayments()">
                                                            </td>
                                                            <td>{{ data.paymentNo }}</td>
                                                            <td>{{ data.txnDate | date:"yyyy/MM/dd" }}</td>
                                                            <td>{{ accList[data.accountID] }}</td>
                                                            <td>{{ data.pendingPayment }} {{ data.currency }}</td>
                                                            <td>{{ data.prevPaidAmount }}</td>
                                                            <td><span class="badge badge-dark p-1 text-uppercase">{{ data.status }}</span> </td>
                                                            <td class="text-center">
                                                                <input type="checkbox" [(ngModel)]="data.fullPayment" name="advfinal{{i}}" (change)="assignFullPayment('advance', i, data)">
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" [(ngModel)]="data.paidAmount" (input)="paymentCalculation(); checkInput('advAmount', i)" name="advPaidAmount{{i}}" [disabled]="data.paidStatus">
                                                                <label id="stlErr{{i}}" class="error">{{ data.errText  }}</label>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row pt-2">
                                            <div class="col-lg-12">
                                                <h4>Settlement Information</h4>
                                            </div>
                                        </div>
                                        <div class="row pt-2">
                                            <div class="col-lg-5 offset-lg-1">
                                                <div class="row pt-1">
                                                    <div class="col-lg-5">
                                                        <label
                                                            class="control-label font-weight-bold  labelalign">Payment
                                                            Mode<span class="mandfield text-2 ml-1"><sup>*</sup></span></label>
                                                        <ng-select [(ngModel)]="paymentData.payMode" name="payMode"
                                                            placeholder="Select Payment Mode" (change)="changePaymentMode($event)" #payMode="ngModel" required>
                                                            <ng-option value="cash">Cash</ng-option>
                                                            <ng-option value="cheque">Cheque</ng-option>
                                                            <ng-option value="eft">EFT</ng-option>
                                                            <ng-option value="credit_card">Credit Card</ng-option>
                                                            <ng-option value="debit_card">Debit Card</ng-option>
                                                            <ng-option value="demand_draft">Demand Draft</ng-option>
                                                        </ng-select>

                                                        <div *ngIf="payMode.invalid && (payMode.dirty || payMode.touched)" class="text-danger">
                                                            <div *ngIf="payMode.errors.required">
                                                                Payment mode is required.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <label class="control-label font-weight-bold">Select
                                                            Account<span class="mandfield text-2 ml-1"><sup>*</sup></span></label>
                                                        <ng-select [(ngModel)]="paymentData.accountID" name="accountID" placeholder="Select Income Account" #accountID="ngModel" required>
                                                            <ng-option value="{{ data.actID }}" *ngFor="let data of accounts | async">{{ data.actName }} - {{
                                                                data.actNo }}</ng-option>
                                                        </ng-select>
                                                        <div *ngIf="accountID.invalid && (accountID.dirty || accountID.touched)" class="text-danger">
                                                            <div *ngIf="accountID.errors.required">
                                                                Account is required.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row pt-1" *ngIf="paymentData.payMode && paymentData.payMode !== 'cheque'">
                                                    <div class="col-lg-5">
                                                        <label class="control-label font-weight-bold labelalign">{{ payModeLabel }} Reference<span class="mandfield text-2 ml-1"><sup>*</sup></span></label>
                                                        <input type="text" class="form-control" [(ngModel)]="paymentData.payModeNo" name="payModeNo" placeholder="{{ payModeLabel }} Reference" #modeNo="ngModel" [required]="paymentData.payMode && paymentData.payMode !== 'cheque'">
                                                        <div *ngIf="modeNo.invalid && (modeNo.dirty || modeNo.touched)" class="text-danger">
                                                            <div *ngIf="modeNo.errors.required">
                                                                {{ payModeLabel }} Reference is required.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <label class="control-label font-weight-bold labelalign">{{ payModeLabel }} Date<span class="mandfield text-2 ml-1"><sup>*</sup></span></label>
                                                        <input [(ngModel)]="paymentData.payModeDate" name="payModeDate" type="text"
                                                            placeholder="yyyy/mm/dd" (click)="payModeDate.toggle()" ngbDatepicker
                                                            #payModeDate="ngbDatepicker" class="form-control" autocomplete="off"
                                                            [minDate]="dateMinLimit" [maxDate]="futureDatesLimit" #modeDate="ngModel" required>

                                                        <div *ngIf="modeDate.invalid && (modeDate.dirty || modeDate.touched)" class="text-danger">
                                                            <div *ngIf="modeDate.errors.required">
                                                                {{ payModeLabel }} date is required.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row pt-1" id="chequeDivDriver" *ngIf="paymentData.payMode && paymentData.payMode === 'cheque'">
                                                  <div class="col-lg-5">
                                                      <label class="control-label font-weight-bold labelalign">{{ payModeLabel }} Reference<span class="mandfield text-2 ml-1"><sup>*</sup></span></label>
                                                      <input type="text" class="form-control" placeholder="hello" [(ngModel)]="paymentData.payModeNo" name="payModeNo" placeholder="{{ payModeLabel }} Reference" readonly="paymentData.payMode && paymentData.payMode === 'cheque'">

                                                  </div>
                                                  <div class="col-lg-5">
                                                      <label class="control-label font-weight-bold labelalign">{{ payModeLabel }} Date<span class="mandfield text-2 ml-1"><sup>*</sup></span></label>
                                                      <input [(ngModel)]="paymentData.payModeDate" name="payModeDate" type="text"
                                                          placeholder="yyyy/mm/dd" (click)="payModeDate.toggle()" ngbDatepicker
                                                          #payModeDate="ngbDatepicker" class="form-control" autocomplete="off"
                                                          [minDate]="dateMinLimit" [maxDate]="futureDatesLimit" #payDate="ngModel" required>

                                                      <div *ngIf="payDate.invalid && (payDate.dirty || payDate.touched)" class="text-danger">
                                                          <div *ngIf="payDate.errors.required">
                                                              {{ payModeLabel }} Date is required.
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                            </div>
                                            <div class="col-lg-3 offset-lg-2">
                                                <div class="row">
                                                    <div class="col-lg-6 text-right">
                                                        <label class="control-label font-weight-bold">Settled
                                                            Amount</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control" [(ngModel)]="paymentData.totalAmount" name="totalAmount" disabled>
                                                    </div>
                                                    <div class="col-lg-6 offset-lg-6 pt-2" *ngIf="paymentData.paymentTo === 'driver'">
                                                        <a href="javascript:;" (click)="openPayrollModel()" class="btn btn-default modal-with-form btn-sm">Calculate
                                                            Payroll</a>
                                                    </div>
                                                </div>
                                                <div class="row pt-1">
                                                    <div class="col-lg-6 text-right">
                                                        <label class="control-label font-weight-bold">Other
                                                            Charges</label>
                                                    </div>
                                                </div>
                                                <div class="row pt-1" *ngIf="paymentData.paymentTo === 'driver'">
                                                    <div class="col-lg-6 text-right">
                                                        <label class="control-label font-weight-bold">Taxes</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control" [(ngModel)]="paymentData.taxes" name="taxes" (input)="paymentCalculation(); checkInput('tax')" disabled>
                                                        <label class="error" *ngIf="taxErr">{{ taxErr }}</label>
                                                    </div>
                                                </div>
                                                <div class="row pt-1" *ngIf="paymentData.paymentTo === 'driver'">
                                                  <div class="col-lg-6 text-right">
                                                      <label class="control-label font-weight-bold">CPP</label>
                                                  </div>
                                                  <div class="col-lg-6">
                                                      <input type="text" class="form-control" [(ngModel)]="paymentData.taxdata.cpp" name="taxdata.cpp" (input)="paymentCalculation(); checkInput('tax')" disabled>

                                                  </div>
                                              </div>
                                              <div class="row pt-1" *ngIf="paymentData.paymentTo === 'driver'">
                                                <div class="col-lg-6 text-right">
                                                    <label class="control-label font-weight-bold">EI</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" [(ngModel)]="paymentData.taxdata.ei" name="taxdata.ei" (input)="paymentCalculation(); checkInput('tax')" disabled>

                                                </div>
                                            </div>
                                                <div class="row pt-1">
                                                    <div class="col-lg-6 text-right">
                                                        <label class="control-label font-weight-bold">Advance</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control" [(ngModel)]="paymentData.advance" name="advance" (input)="paymentCalculation(); checkInput('advance')" disabled>
                                                        <label class="error">{{ advErr }}</label>
                                                    </div>
                                                </div>
                                                <div class="row pt-1">
                                                    <div class="col-lg-6 text-right">
                                                        <label class="control-label font-weight-bold">Net
                                                            Payable</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control" [(ngModel)]="paymentData.finalAmount" name="finalAmount" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row mt-4">
                                        <div class="col-lg-11 text-right">
                                            <button type="button" class="btn btn-success modal-with-form mr-2" (click)="showCheque()">Cheque preview</button>

                                            <button type="button" class="btn btn-default mr-2" (click)="cancel()">Cancel</button>
                                            <button type="button" class="btn btn-success modal-with-form" [disabled]="!paymentForm.form.valid || submitDisabled" *ngIf="!paymentID" (click)="addRecord()">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
</section>

<!-- payroll calculation modal -->
<div class="modal fade" id="payrollModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document" style="max-width: 600px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Taxes</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <section class="card">
                                <div class="card-body" style="display: block;">
                                    <div class="form-group text-dark">
                                        <div class="form-row">
                                            <div class="form-group col-lg-6">
                                                <label class="control-label font-weight-bold">Pay Period</label>
                                                <ng-select [(ngModel)]="paymentData.taxdata.payPeriod" name="payPeriod" placeholder="Select Pay Period" (change)="calculatePayroll()">
                                                    <ng-option value="{{ data.payCount }}" *ngFor="let data of payPeriods">{{ data.name }}
                                                    </ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label class="control-label font-weight-bold">State</label>
                                                <ng-select [(ngModel)]="paymentData.taxdata.stateCode" name="stateCode" placeholder="Select State" (change)="assignProvincalCode()">
                                                    <ng-option value="{{ data.stateCode }}" *ngFor="let data of states">{{ data.stateName }}
                                                    </ng-option>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-lg-6">
                                                <label class="control-label font-weight-bold">Federal Claim Code</label>
                                                <ng-select [(ngModel)]="paymentData.taxdata.federalCode" name="federalCode" placeholder="Select Federal Claim Code" disabled>
                                                    <ng-option value="claim_code_0">No Claim Amount(Claim Code 0)</ng-option>
                                                    <ng-container *ngFor="let data of claimCodes[0]">
                                                        <ng-option value="{{ data.value }}" *ngIf="data.value != 'claim_code_e'">{{ data.from | number }} - {{ data.to | number }} ({{ data.name }})</ng-option>
                                                        <ng-option value="{{ data.value }}" *ngIf="data.value == 'claim_code_e'">No Tax ({{ data.name }})</ng-option>
                                                    </ng-container>
                                                </ng-select>
                                            </div>

                                            <div class="form-group col-lg-6">
                                                <label class="control-label font-weight-bold">Provincial Claim Code</label>
                                                <ng-select [(ngModel)]="paymentData.taxdata.provincialCode" name="provincialCode" placeholder="Select Provincial Claim Code" >
                                                    <ng-option value="claim_code_0">No Claim Amount(Claim Code 0)</ng-option>
                                                    <ng-container *ngFor="let data of provincalClaimCodes">
                                                        <ng-option value="{{ data.value }}" *ngIf="data.value != 'claim_code_e' && data.value != 'claim_code_x'">{{ data.from | number }} - {{ data.to | number }} ({{ data.name }})</ng-option>
                                                        <ng-option value="{{ data.value }}" *ngIf="data.value == 'claim_code_x'">Greater than {{ data.from | number }} ({{ data.name }})</ng-option>
                                                        <ng-option value="{{ data.value }}" *ngIf="data.value == 'claim_code_e'">No Tax ({{ data.name }})</ng-option>
                                                    </ng-container>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-lg-6">
                                                <label class="control-label font-weight-bold">Federal Tax</label>
                                                <input type="text" class="form-control" name="pro_fedtax" [(ngModel)]="paymentData.taxdata.federalTax" disabled>
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label class="control-label font-weight-bold">Provincial Tax</label>
                                                <input type="text" class="form-control" name="pro_provtax" [(ngModel)]="paymentData.taxdata.provincialTax" disabled>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-lg-6">
                                                <label class="control-label font-weight-bold">CPP (Canada Pension Plan)</label>
                                                <input type="text" class="form-control" name="pro_cpp" [(ngModel)]="paymentData.taxdata.cpp" disabled>
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label class="control-label font-weight-bold">EI (Employment Insurance)</label>
                                                <input type="text" class="form-control" name="pro_ei" [(ngModel)]="paymentData.taxdata.ei" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- <div class="modal fade" id="chequeModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document" style="max-width: 1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cheque</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form>
                <div class="modal-body">
                    <app-payment-cheque></app-payment-cheque>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div> -->
<app-payment-cheque></app-payment-cheque>