<section class="body">
    <div class="inner-wrapper">
        <section role="main" class="content-body pr-0 pt-0 pl-0">
            <header class="page-header">
                <form class="form-horizontal" method="get">
                    <div class="row" style="padding-top: 10px">
                        <div class="col-md-2 col-lg-2">
                        </div>
                    </div>
                </form>
            </header>
            <section class="m-2">
                <div class="row mb-3 bg-white">
                    <div class="col-lg-4">
                        <div class=" p-3 text-dark">

                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class=" p-3 text-dark">
                            <!-- <p-gmap [options]="options" [overlays]="overlays" [style]="{'width':'100%','height':'50vh'}"></p-gmap> -->
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
</section>