a:hover {
  text-decoration: none !important;
}

label {
  display: contents;
}

.marker-info h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.map-para {
  line-height: 0px;
  margin: 0 0 0px;
  margin-top: 0;
  margin-bottom: 0;
}
