<section class="body">

    <div class="inner-wrapper">

        <section role="main" class="content-body">
            <header class="page-header">
                <div class="row" style="padding-top:10px;">
                    <div class="col-md-2 col-lg-2">
                        <ng-select [(ngModel)]="filter.driverID" class="text-capitalize" name="driverID" placeholder="Search by Driver">
                            <ng-option *ngFor="let driver of drivers"
                                value="{{ driver.driverID }}">{{ driver.firstName }} {{ driver.lastName }}</ng-option>
                        </ng-select>
                    </div>

                    <div class="col-md-2  col-lg-2">
                        <div class="input-group input-group-sm mb-3">
                            <!-- <input type="date" class="form-control" placeholder="Search By Date" (change)="searchFilter($event)" [(ngModel)]="filterValue.date"> -->
                            <input
                                [(ngModel)]="filter.date" name="date"
                                type="text"
                                placeholder="yyyy/mm/dd"
                                [maxDate]="birthDateMaxLimit"
                                [minDate]="birthDateMinLimit"
                                (click)="from.toggle()" ngbDatepicker #from="ngbDatepicker"
                                class="form-control" autocomplete="off">
                        </div>
                    </div>

                    <div class="col-md-2  col-lg-2">
                        <a href="javascript:;" (click)="searchEvent()"
                            class="btn btn-success btn-sm mr-1" style="color:white;"> Search
                        </a>
                        <a href="javascript:;" (click)="resetFilter()"
                            class="btn btn-success btn-sm" style="color:white;"> Reset
                        </a>
                    </div>

                    <div class="col-6 text-right pr-1">
                        <a href="javascript:;" (click)="refreshData()" data-toggle="tooltip" title="Refresh data" class="btn btn-success btn-sm modal-with-form mr-2">
                            <i class="fas fa-sync"></i>
                        </a>
                        <a href="javascript:;" routerLink="/safety/incidents/add-incident"
                            class="btn btn-success btn-sm mx-2" style="color:white;"><i class="fas fa-plus"></i> Add
                            Incident</a>

                    </div>
                </div>
            </header>

            <div class="row m-2">
                <div class="col-lg-12 p-0">
                    <section class="card">
                        <div class="main-panel">
                            <div infiniteScroll
                            [infiniteScrollDistance]="1"
                            [infiniteScrollUpDistance]="1"
                            [infiniteScrollThrottle]="5"
                            (scrolled)="onScroll()">
                                <div class="card-body" style="display: block;">
                                    <div class="mb-3 pb-1">
                                        <ul class="nav nav-tabs top-tabs incident-tabs" id="incident-tabs" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active navtabs" id="allSafetyIncidents-tab" href="javascript:;"
                                                (click)="fetchTabData('all')">All</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link navtabs" id="assigned-tab" href="javascript:;" (click)="fetchTabData('assigned')">Assigned</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link navtabs" id="under-review-tab" href="javascript:;" (click)="fetchTabData('investigating')">Investigating</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link navtabs" id="coaching-tab" href="javascript:;" (click)="fetchTabData('coaching')">Coaching</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link navtabs" id="resolved-tab" data-toggle="tab" href="javascript:;" (click)="fetchTabData('closed')">Closed</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-content border-0 p-0" id="myTabContent">
                                        <div class="tab-pane fade show active" id="allSafetyIncidents" role="tabpanel"
                                            aria-labelledby="allSafetyIncidents-tab">
                                            <div class="">
                                                <table
                                                    class="row-border hover table table-bordered table-striped mb-0 ">
                                                    <thead>
                                                        <tr>
                                                            <th>Driver Name</th>
                                                            <th>Vehicle</th>
                                                            <th>Event Date</th>
                                                            <th>Event Time</th>
                                                            <th>Event Source</th>
                                                            <th>Location</th>

                                                            <th>Severity</th>
                                                            <th>Assigned</th>
                                                            <th>Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody *ngIf="events.length > 0">
                                                        <tr class="cursorpoint" *ngFor="let data of events; let i= index">
                                                            <td class="cursorpoint" class="text-capitalize"
                                                            [routerLink]="data.url">
                                                                {{ driversObject[data.driverID] }}</td>
                                                                <td class="text-capitalize"  [routerLink]="data.url">{{ vehiclesObject[data.vehicleID] }}</td>
                                                            <td class="text-capitalize" [routerLink]="data.url">{{ data.eventDate  | date: 'yyyy/MM/dd' }} </td>
                                                            <td class="text-capitalize" [routerLink]="data.url">{{convertTimeFormat(data.eventTime)}}</td>
                                                            <td class="text-capitalize" [routerLink]="data.url">{{data.eventSource}}</td>
                                                            <td class="text-capitalize" [routerLink]="data.url"><span *ngIf="data.location.label != undefined">{{ data.location.label }}</span>
                                                                <span *ngIf="data.location.label === undefined">NA</span></td>

                                                            <td class="text-capitalize" [routerLink]="data.url">{{ data.severity }}</td>
                                                            <td class="text-capitalize" [routerLink]="data.url">{{ data.assigned }}</td>
                                                            <td style="width: 180px;" >
                                                                <ng-select [clearable]="false" class="form-control text-capitalize" (ngModelChange)="changeStatus(data.incidentID, $event, i);" [(ngModel)]="data.status">
                                                                    <ng-option *ngFor="let status of status_values;" value="{{status}}">{{status}}</ng-option>
                                                                </ng-select>
                                                            </td>

                                                        </tr>

                                                    </tbody>
                                                    <tbody *ngIf="events.length == 0">
                                                        <tr>
                                                            <td colspan="9" class="no-data-available"> {{dataMessage}}</td>
                                                        </tr>
                                                    <tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</section>
