.map-search__results {
    display: none;
}
.result-suggestions {
    position: absolute;
    width: calc(100% - 30px);
    z-index: 9;
    text-align: left;
}


/* 19.09.21 */
.modal-margin-top{
    margin-top: 7%;
}
