.show-search__result .map-search__results {
    display: block!important;
}
.map-search__results {
    display: none;
}
.address-item {
    margin-bottom: 20px;
    padding: 10px;
    background: #f5f5f5;
    border-radius: 5px;
}
