<section class="body">
  <div class="inner-wrapper">
    <section role="main" class="content-body pl-0 pr-0 pt-0">
      <header class="page-header">
        <div class="row pr-5 " style="padding-top:10px;">
          <div class="col-md-4 col-lg-4 font-weight-bold text-4 text-dark"> Driver Settlement# - 1279430 </div>
          <div class="col-md-8  col-lg-8 text-right pr-4"> <a routerLink="/accounts/settlements/list"
              class="btn btn-sm btn-default"><i class="fas fa-list"></i> Settlement List</a> </div>
        </div>
      </header>
      <div class="row">
        <div class="col pr-0">
          <div class="card-body text-dark">
            <form class="form-horizontal form-bordered" method="get">
              <div class=" row">
                <div class="col-lg-12 mb-4">
                  <div class="row cmaindiv">
                    <div class="col-md-4 col-lg-4">
                      <div class="text-center p-4 cerbor"> <i class="far fa-calendar-alt text-7"></i>
                        <br>
                        <p class="mb-0 text-5 font-weight-bold text-dark">Jun 23, 2020</p>
                        <p class="mb-0">DATE</p>
                      </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                      <div class="text-center p-4 cerbor"> <i class="fa fa-user text-7"></i>
                        <br>
                        <p class="mb-0 text-5 font-weight-bold text-dark">Manjot</p>
                        <p class="mb-0">DRIVER</p>
                      </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                      <div class="text-center p-4 cerbor"> <i class="fas fa-money-bill-wave text-7"></i>
                        <br>
                        <p class="mb-0 text-5 font-weight-bold text-dark">56.67 CAD</p>
                        <p class="mb-0">SETTLED AMOUNT</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 pr-0">
                  <div class="row">
                    <div class="col-lg-12">
                      <table class="table table-bordered table-responsive-lg">
                        <tbody>
                          <tr>
                            <td width="40%" class="back-color-gray font-weight-bold">Payment Type</td>
                            <td width="60%">Pay Per Mile</td>
                          </tr>
                          <tr>
                            <td class="back-color-gray font-weight-bold">Total Miles</td>
                            <td>5678</td>
                          </tr>
                          <tr>
                            <td class="back-color-gray font-weight-bold">Total Hours</td>
                            <td>456</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 pl-0">
                  <div class="row">
                    <div class="col-lg-12">
                      <table class="table table-bordered table-responsive-lg">
                        <tbody>
                          <tr>
                            <td width="40%" class="back-color-gray font-weight-bold">Trip(s)</td>
                            <td width="60%">TR-5767</td>
                          </tr>
                          <tr>
                            <td class="back-color-gray font-weight-bold">Individual Miles</td>
                            <td>5678 &nbsp;<strong>Loaded:</strong>5600<strong>Empty:</strong>78</td>
                          </tr>
                          <tr>
                            <td class="back-color-gray font-weight-bold">Team Miles</td>
                            <td>- &nbsp;<strong>Loaded:</strong>-<strong>Empty:</strong>-</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-lg-12">
                      <h5 class="font-weight-bold">Additions</h5>
                      <table class="table table-bordered">
                        <thead>
                          <tr class="bgcol2">
                            <th>Trip#</th>
                            <th>Charge Name</th>
                            <th>Description</th>
                            <th>Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>TR-76</td>
                            <td>Loading time</td>
                            <td>extra loading time</td>
                            <td>CAD 34</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-lg-12">
                      <h5 class="font-weight-bold">Deductions</h5>
                      <table class="table table-bordered">
                        <thead>
                          <tr class="bgcol2">
                            <th>Trip#</th>
                            <th>Charge Name</th>
                            <th>Description</th>
                            <th>Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>7567</td>
                            <td>example deduction</td>
                            <td>description of deduction</td>
                            <td>CAD 34</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-lg-12">
                      <h5 class="font-weight-bold">Trip Expenses</h5>
                      <table class="table table-bordered">
                        <thead>
                          <tr class="bgcol2">
                            <th>Trip#</th>
                            <th>Expense Name</th>
                            <th>Description</th>
                            <th>Expense Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1212</td>
                            <td>Fuel Expenses</td>
                            <td></td>
                            <td>240 CAD</td>
                          </tr>
                          <tr>
                            <td>78687</td>
                            <td>Maintenance Expenses</td>
                            <td></td>
                            <td>40 CAD</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-lg-12">
                      <h5 class="font-weight-bold">Journal</h5>
                      <table class="table table-bordered table-hover">
                        <thead>
                          <tr class="bgcol2">
                            <th>Account Name</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Debit</th>
                            <th>Credit</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Accounts Payable</td>
                            <td>Driver Name</td>
                            <td>Driver Settlement</td>
                            <td>0.00</td>
                            <td>5000 CAD</td>
                          </tr>
                          <tr>
                            <td>Wages Account</td>
                            <td>Driver Name</td>
                            <td>Driver Settlement</td>
                            <td>5000 CAD</td>
                            <td>0.00</td>
                          </tr>
                          <tr>
                            <td colspan="3" class="font-weight-bold text-right">Total</td>
                            <td>5000 CAD</td>
                            <td>5000 CAD</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
