<section class="body">
   <!-- start: header -->
   <app-header></app-header>
   <!-- end: header -->

   <div class="inner-wrapper">
      <!-- start: sidebar -->
      <app-sidebar></app-sidebar>
      <!-- end: sidebar -->

      <section role="main" class="content-body pt-0 pr-0 pl-0">
         <header class="page-header pr-5">
            <div class="row pr-1 mr-1" style="padding-top:10px;">

               <div class="col-md-4 col-lg-4 font-weight-bold text-4 text-dark">
                  <h4 class="text-4 font-weight-bold mt-0 mb-0 text-dark">New Service Program</h4>
               </div>

               <div class="col-md-8  col-lg-8 text-right pr-1">
                  <a routerLink="/fleet/maintenance/service-program/list" class="btn btn-default btn-sm" style="color:black;"><i
                        class="fas fa-list"></i> Service Programs List</a>
               </div>
            </div>

         </header>
         <div class="row">
            <div class="col pr-0">
               <div class="card-body text-dark">
                  <form class="form-horizontal form-bordered" id="form_" method="get">
                     <div class="form-group row">
                        <div class="col-lg-12">
                           <label
                              class="control-label font-weight-bold font-bold text-lg-right text-dark text-4 font-weight-bold pt-2">Service
                              Program Details</label>
                        </div>
                        <div class="col-lg-5 offset-lg-1">
                           <div class="row pt-2">
                              <div class="col-lg-10">
                                 <label class="control-label font-weight-bold font-bold text-lg-right pt-2">Service
                                    Program Name</label>
                                 <input [(ngModel)]="serviceData.programName" name="programName"
                                    type="text" class="form-control">
                              </div>
                           </div>
                          
                        </div>
                        <div class="col-lg-5 offset-lg-1">
                           <div class="row pt-2">
                              <div class="col-lg-10">
                                 <label
                                    class="control-label font-weight-bold font-bold text-lg-right pt-2">Description</label>
                                 <textarea [(ngModel)]="serviceData.description" name="description"
                                    class="form-control" rows="3"></textarea>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="form-group row">
                        <div class="col-lg-12">
                           <label
                              class="control-label font-weight-bold font-bold text-lg-right text-dark text-4 font-weight-bold pt-2">Service
                              Schedule Details</label>
                        </div>
                        <div class="col-lg-12 ">
                           <div class="row" *ngFor="let task of serviceData.serviceScheduleDetails;let i = index">
                              <div class="col-lg-5 offset-lg-1">
                                 <div class="row pt-2">
                                    <div class="col-lg-10">

                                       <label class="control-label font-weight-bold font-bold text-lg-right pt-2">Select
                                          Service Tasks</label>
                                       <ng-select [(ngModel)]="task.serviceTask"
                                          name="task.serviceTask{{i}}" style="width: 100%;">
                                          <ng-option *ngFor="let task of tasks;" value="{{task.taskID}}">{{task.taskName}}</ng-option>
                                       </ng-select>
                                    </div>
                                    <div class="col-lg-2  mar-top-37" *ngIf="i == 0">
                                       <a href="javascript:;" data-toggle="modal" data-target="#addServiceTaskModal" class="btn btn-sm btn-success modal-with-form"><i class="fas fa-plus"></i></a>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-lg-5 offset-lg-1">
                                 <div class="row pt-2">
                                    <div class="col-lg-10">
                                       <div class="row">
                                          <div class="col-lg-4">
                                             <label
                                                class="control-label font-weight-bold font-bold text-lg-right pt-2">Repeat
                                                By Time </label>
                                             <div class="row">
                                                <div class="col-lg-6">
                                                   <input [(ngModel)]="task.repeatByTime"
                                                   name="task.repeatByTime{{i}}" type="text" class="form-control">
                                                </div>
                                                <div class="col-lg-6 pl-0">
                                                   <select [(ngModel)]="task.repeatByTimeUnit"
                                                      name="task.repeatByTimeUnit{{i}}" data-plugin-selectTwo
                                                      class="form-control populate">
                                                      <optgroup label="">
                                                         <option value="Days">Days</option>
                                                         <option value="Weeks">Weeks</option>
                                                         <option value="Months">Months</option>
                                                      </optgroup>
                                                   </select>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="col-lg-5">
                                             <label
                                                class="control-label font-weight-bold font-bold text-lg-right pt-2">Repeat
                                                By Odometer Miles</label>
                                             <input [(ngModel)]="task.repeatByOdometer"
                                             name="task.repeatByOdometer{{i}}" type="text" class="form-control">
                                          </div>
                                          <div class="col-lg-3 pt-4 mt-2">
                                             <button *ngIf="i == 0"(click)="addDocument()" class="btn btn-success add-more">Add More</button>
                                             <button *ngIf="i != 0" class="btn btn-success" (click)="removeTasks(i)"><i class="fas fa-minus"></i></button>
                                          </div>
                                       </div>
                                       
                                    </div>
                                    <!-- <div class="col-lg-2 mar-top-37">
                                       <button type="button"
                                          class="btn btn-success btn-sm"><i class="fas fa-plus"></i>
                                       </button>
                                    </div> -->
                                 </div>
                              </div>
                           </div>
                           
                        </div>
                     </div>
                     <div class="form-group row">
                        <div class="col-lg-12">
                           <label
                              class="control-label font-weight-bold font-bold text-lg-right text-dark text-4 font-weight-bold pt-2">Vehicle
                              Details</label>
                        </div>
                        <div class="col-lg-5 offset-lg-1">
                           <div class="row pt-2">
                              <div class="col-lg-10">
                                 <label class="control-label font-weight-bold font-bold text-lg-right pt-2">Select
                                    Vehicle for Service Program</label>
                                 <ng-select [multiple]="true" [(ngModel)]="serviceData.vehicles"
                                    name="vehicles" style="width: 100%;">
                                    <ng-option *ngFor="let vehicle of vehicles" value="{{vehicle.vehicleID}}">{{vehicle.vehicleIdentification}}</ng-option>
                                 </ng-select>

                              </div>
                              <div class="col-lg-2  mar-top-37">
                                 <a href="#addVehicleModal" class="btn btn-sm btn-success modal-with-form"><i class="fas fa-plus"></i></a>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-5 offset-lg-1">
                        </div>
                     </div>
                     <div class="form-group row">
                        <div class="col-lg-12 text-right">
                           <a href="" class="btn btn-default mr-2" id="">Cancel</a>
                           <a *ngIf="!programID" (click)="addServiceProgram()" class="btn btn-success" id="nextBtn">Save</a>
                           <a *ngIf="programID" (click)="updateServiceProgram()" class="btn btn-success">Update</a>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </section>
   </div>
</section>


<div class="modal fade" id="addServiceTaskModal" tabindex="-1" role="dialog" aria-labelledby="addServiceTaskModal"
   aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" style="max-width: 600px;" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">Add Service Task</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <i class="far fa-window-close modal-dismiss" style="font-size:25px;"> </i>
            </button>
         </div>
         <div class="modal-body">
            <form class="form-horizontal form-bordered" id="form1_" method="get">
               <div class="form-row">
                  <div class="form-group col-lg-12">
                     <label class="control-label font-weight-bold">Service Task Name</label>
                     <input [(ngModel)]="taskData.taskName"
                     name="taskName" type="text" class="form-control">
                  </div>
                 
               </div>
               <div class="form-row">
                  <div class="form-group col-lg-12">
                     <div class="row">
                        <div class="col-lg-12">
                           <label class="control-label font-weight-bold text-lg-right pt-2">Description</label>
                           <textarea [(ngModel)]="taskData.description"
                           name="description" class="form-control" rows="2"></textarea>
                        </div>
                     </div>
                  </div>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button class="btn btn-success" (click)="addServiceTask()">Save</button>  
         </div>
      </div>
   </div>
</div>
