<section class="body">
  <div class="inner-wrapper">
    <section role="main" class="content-body pl-0 pr-0 pt-0">
      <header class="page-header pr19 pl11">
        <form class="form-horizontal" method="get" name="form" id="form_">
          <div class="row" style="padding-top: 10px">
            <div class="col-md-2 col-lg-2">
              <ng-select
                [(ngModel)]="unitID"
                name="unitID"
                style="width: 100%"
                placeholder="Search by Unit"
              >
                <ng-option
                  *ngFor="let data of allVehicles"
                  [value]="data.vehicleID"
                  >{{ data.vehicleIdentification }}
                </ng-option>
                <ng-option
                  *ngFor="let data of allAssets"
                  [value]="data.assetID"
                  >{{ data.assetIdentification }}</ng-option
                >
              </ng-select>
            </div>
            <!-- <div class="col-md-2 col-lg-2 pr-0 pl-2">
              <div class="input-group input-group-sm mb-3">
                <ng-select [(ngModel)]="assetUnitID" name="assetUnitID" style="width: 100%;"
                  placeholder="Search by reefer">
                 
                  </ng-option>
                </ng-select>
              </div>
            </div> -->
            <div class="col-lg-3 col-md-3 pl-0">
              <div class="input-daterange input-group">
                <span class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-calendar-alt"></i>
                  </span>
                </span>
                <input
                  [(ngModel)]="fromDate"
                  name="fromDate"
                  type="text"
                  placeholder="yyyy/mm/dd"
                  (click)="from.toggle()"
                  ngbDatepicker
                  #from="ngbDatepicker"
                  class="form-control"
                  autocomplete="off"
                  [minDate]="dateMinLimit"
                  [maxDate]="futureDatesLimit"
                />
                <span
                  class="input-group-text border-left-0 border-right-0 rounded-0"
                >
                  to
                </span>
                <input
                  [(ngModel)]="toDate"
                  name="toDate"
                  type="text"
                  placeholder="yyyy/mm/dd"
                  (click)="to.toggle()"
                  ngbDatepicker
                  #to="ngbDatepicker"
                  class="form-control"
                  autocomplete="off"
                  [minDate]="dateMinLimit"
                  [maxDate]="futureDatesLimit"
                />
              </div>
            </div>
            <div class="col-md-2 col-lg-2 pl-0">
              <button
                type="submit"
                (click)="searchFilter()"
                class="btn btn-sm btn-success mr-3"
              >
                Search
              </button>
              <button
                type="button"
                (click)="resetFilter()"
                class="btn btn-sm btn-success"
              >
                Reset
              </button>
            </div>
            <div class="col-md-5 text-right pr-1 page-buttons">
              <div class="btn-group flex-wrap" *ngIf="!environment">
                <button
                  type="button"
                  class="btn btn-success btn-sm dropdown-toggle"
                  data-toggle="dropdown"
                  aria-expanded="false"
                >
                  Actions<span class="caret"></span>
                </button>
                <div
                  class="dropdown-menu"
                  role="menu"
                  x-placement="bottom-start"
                  style="
                    position: absolute;
                    will-change: transform;
                    top: 0px;
                    left: 0px;
                    transform: translate3d(0px, 38px, 0px);
                  "
                >
                  <a class="dropdown-item text-1" href="">Import</a>
                  <a class="dropdown-item text-1" href="">Export</a>
                </div>
              </div>

              <div ngbDropdown class="d-inline-block">
                <button
                  class="btn btn-success btn-sm mr-3"
                  id="fSur"
                  data-toggle="modal"
                  data-target="#fSurcharge"
                >
                  Fuel Surcharge
                </button>
                <button
                  class="btn btn-success"
                  id="dropdownBasic1"
                  ngbDropdownToggle
                >
                  Import
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button
                    ngbDropdownItem
                    data-toggle="modal"
                    data-target="#bvdModal"
                  >
                    BVD Report
                  </button>
                  <button
                    ngbDropdownItem
                    data-toggle="modal"
                    data-target="#petroModal"
                  >
                    Petro Report
                  </button>
                </div>
              </div>
              <a
                routerLink="/fleet/fuel/add"
                class="btn btn-success btn-sm ml-3"
                style="color: white"
                ><i class="fas fa-plus"></i> Add Fuel Entry</a
              >
            </div>
          </div>
        </form>
      </header>
      <section class="m-2">
        <div class="row mb-3">
          <div class="col-lg-12">
            <div class="bg-white p-3 text-dark">
              <div class="form-group row">
                <div
                  class="col-lg-12"
                  style="height: calc(100vh - 149px); overflow-y: scroll"
                >
                  <p-table
                    #dt
                    [value]="fuelList"
                    [resizableColumns]="true"
                    columnResizeMode="fit"
                    autoLayout="true"
                    scrollDirection="both"
                    [loading]="!loaded"
                    styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
                    scrollHeight="100%"
                  >
                    <!-- Caption template of data table -->
                    <ng-template pTemplate="caption">
                      <div
                        class="p-d-flex d-flex justify-content-between align-items-center"
                      >
                        <div>
                          <h3 class="m-0">Fuel List</h3>
                        </div>

                        <div class="text-right">
                          <span
                            >Showing
                            {{
                              dt.filteredValue
                                ? dt.filteredValue.length
                                : dt.totalRecords
                            }}
                            of {{ dt.totalRecords }} Entries.</span
                          >
                          &nbsp;
                          <button
                            type="button"
                            pButton
                            (click)="refreshData()"
                            pTooltip="Refresh"
                            class="p-button-outlined mr-2"
                            icon="fas fa-sync"
                          ></button>
                          <button
                            type="button"
                            pButton
                            pTooltip="Add"
                            routerLink="/fleet/fuel/add"
                            class="p-button-outlined mr-2"
                            icon="pi pi-plus"
                          ></button>
                          <button
                            pButton
                            pRipple
                            pTooltip="Clear Filter"
                            class="p-button-outlined mr-2"
                            (click)="clear(dt)"
                            icon="pi pi-filter-slash"
                          ></button>

                          <!-- <button type="button" pButton pRipple class="p-button-outlined mr-2"
                      icon="fas fa-regular fa-file-excel" (click)="dt.exportCSV()" pTooltip="Excel"></button> -->

                          <!-- <p-multiSelect [options]="dataColumns" [(ngModel)]="selectedColumns" optionLabel="header" selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" placeholder="Choose Columns"> -->
                          <!-- </p-multiSelect> -->
                        </div>
                      </div>
                    </ng-template>
                    <!-- Header template of DataTable -->
                    <ng-template pTemplate="header" let-columns>
                      <tr>
                        <th
                          *ngFor="let column of dataColumns"
                          [pSortableColumn]="column.field"
                          pResizableColumn
                        >
                          <span>
                            <div
                              class="flex justify-content-center align-items-center"
                              alignFrozen="right"
                              pFrozenColumn
                              [frozen]="true"
                            >
                              {{ column.header }}
                              <p-sortIcon [field]="column.field"></p-sortIcon>
                              <p-columnFilter
                                [type]="column.type"
                                [field]="column.field"
                                matchMode="contains"
                                [showMatchModes]="false"
                                [showOperator]="false"
                                [showAddButton]="false"
                                display="menu"
                              >
                              </p-columnFilter>
                            </div>
                          </span>
                        </th>

                        <!-- <th style="width:100px" alignFrozen="right" pFrozenColumn [frozen]="true">Date Time</th> -->
                        <th
                          style="width: 100px"
                          alignFrozen="right"
                          pFrozenColumn
                          [frozen]="true"
                        >
                          Actions
                        </th>
                      </tr>
                    </ng-template>

                    <!-- Body Template of Data Table -->
                    <ng-template
                      pTemplate="body"
                      let-fuel
                      let-columns="columns"
                      let-rowIndex="rowIndex"
                    >
                      <tr>
                        <td style="width: 12%">
                          <span
                            style="cursor: pointer"
                            routerLink="/fleet/fuel/detail/{{
                              fuel.data.fuelID
                            }}"
                            >{{ fuel.dateTime }}</span
                          >
                        </td>
                        <td style="width: 12%">
                          <span
                            style="cursor: pointer"
                            routerLink="/fleet/fuel/detail/{{
                              fuel.data.fuelID
                            }}"
                            >{{
                              fuel.data.cardNo ? fuel.data.cardNo : "-"
                            }}</span
                          >
                        </td>
                        <td style="width: 12%">
                          <span
                            style="cursor: pointer"
                            class="font-weight-bold"
                            routerLink="/fleet/fuel/detail/{{
                              fuel.data.fuelID
                            }}"
                            >{{
                              (vehicleList[fuel.unitID]
                                ? vehicleList[fuel.unitID]
                                : ""
                              ) | titlecase
                            }}
                            {{
                              (assetList[fuel.unitID]
                                ? assetList[fuel.unitID]
                                : ""
                              ) | titlecase
                            }}</span
                          >
                        </td>
                        <td style="width: 12%">
                          <span
                            style="cursor: pointer"
                            routerLink="/fleet/fuel/detail/{{
                              fuel.data.fuelID
                            }}"
                            >{{
                              (fuel.data.useType ? fuel.data.useType : "-")
                                | titlecase
                            }}</span
                          >
                        </td>
                        <td style="width: 12%">
                          <span
                            style="cursor: pointer"
                            routerLink="/fleet/fuel/detail/{{
                              fuel.data.fuelID
                            }}"
                            >{{ fuel.data.type }}</span
                          >
                        </td>
                        <td style="width: 12%">
                          <span
                            style="cursor: pointer"
                            routerLink="/fleet/fuel/detail/{{
                              fuel.data.fuelID
                            }}"
                            >{{ fuel.data.amt }}</span
                          >
                        </td>
                        <td style="width: 10%">
                          <span
                            style="cursor: pointer"
                            routerLink="/fleet/fuel/detail/{{
                              fuel.data.fuelID
                            }}"
                            >{{ fuel.data.site ? fuel.data.site : "-" }}</span
                          >
                        </td>
                        <td style="width: 12%">
                          <span
                            style="cursor: pointer"
                            routerLink="/fleet/fuel/detail/{{
                              fuel.data.fuelID
                            }}"
                            >{{ fuel.data.city }},{{ fuel.data.state }},{{
                              fuel.data.country
                            }}</span
                          >
                        </td>
                        <td
                          style="text-align: center; width: 100px"
                          pFrozenColumn
                          alignFrozen="right"
                          [frozen]="true"
                        >
                          <button
                            id="btnEdit"
                            pButton
                            routerLink="/fleet/fuel/edit/{{ fuel.data.fuelID }}"
                            type="button"
                            icon="fas fa-user-pen"
                            class="p-button-rounded p-button-text"
                            [disabled]="fuel.fuelProvider === 'WEX'"
                          ></button>
                          <button
                            (click)="deleteFuelEntry(fuel.data.fuelID)"
                            id="btnDelete"
                            pButton
                            type="button"
                            icon="fas fa-user-slash"
                            class="p-button-rounded p-button-danger p-button-text"
                            [disabled]="fuel.fuelProvider === 'WEX'"
                          ></button>
                        </td>
                      </tr>
                    </ng-template>
                    <!-- Empty Template -->

                    <ng-template pTemplate="emptymessage" let-columns>
                      <tr>
                        <td colspan="9" class="text-center">
                          <br />
                          {{ dataMessage }}
                          <br /><br />
                        </td>
                      </tr>
                    </ng-template>
                    <!-- Summary Section with Load More button -->

                    <ng-template pTemplate="summary" let-columns>
                      <div
                        class="col-lg-12 mt-3 text-center"
                        *ngIf="
                          lastEvaluatedKey !== 'end' && fuelList.length !== 0
                        "
                      >
                        <button
                          type="button "
                          (click)="onScroll($event)"
                          class="btn btn-success btn-sm text-light"
                        >
                          Load More..
                        </button>

                        <br /><br />
                      </div>
                      <div
                        class="col-lg-12 mt-3 text-center"
                        *ngIf="lastEvaluatedKey !== 'end'"
                      >
                        Total Records: {{ fuelList.length }}
                      </div>
                      <div
                        class="col-lg-12 mt-3 text-center"
                        *ngIf="lastEvaluatedKey === 'end'"
                      >
                        Total Records: {{ fuelList.length }}
                      </div>
                    </ng-template>
                  </p-table>
                  <!-- <ngx-datatable
                      #myTable
                      class="bootstrap expandable fixedTable"
                      [rows]="fuelList"
                      [rowHeight]="rowHeight"
                      [scrollbarV]="true"
                      [messages]="{ emptyMessage: dataMessage }"
                      (scroll)="onScroll($event.offsetY)"
                      [selectionType]="SelectionType.single"
                      (select)="onFuelSelect($event)"
                    >
                      <ngx-datatable-column
                        name="Date Time"
                        [width]="300"
                        prop="dateTime"
                      >
                      </ngx-datatable-column>
                      <ngx-datatable-column
                        name=" Fuel Card#"
                        [width]="200"
                        prop="data.cardNo"
                      >
                      </ngx-datatable-column>
                      <ngx-datatable-column
                        name="Unit#"
                        [width]="200"
                        prop="unitID"
                      >
                        <ng-template
                          ngx-datatable-cell-template
                          let-rowIndex="rowIndex"
                          let-value="value"
                          let-row="row"
                        >
                          <span *ngIf="vehicleList[value]">{{
                            vehicleList[value]
                          }}</span>
                          <span *ngIf="assetList[value]">{{
                            assetList[value]
                          }}</span>
                          <span *ngIf="!assetList[value] && !vehicleList[value]"
                            >-</span
                          >
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Use Type" [width]=200 prop="data.useType">
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Fuel Type" [width]=200 prop="data.type">
                      </ngx-datatable-column>
                      <ngx-datatable-column
                        name="Fuel Amount"
                        [width]="200"
                        prop="data.amt"
                      >
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Fuel Units" [width]=200 prop="data.qty">
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Site" prop="data.site" [width]=200>
                      </ngx-datatable-column>
                      <ngx-datatable-column
                        name="Province"
                        prop="data"
                        [width]="300"
                        [sortable]="false"
                      >
                        <ng-template
                          ngx-datatable-cell-template
                          let-rowIndex="rowIndex"
                          let-value="value"
                          let-row="row"
                        >
                          {{ value.city }}, {{ value.state }}, {{ value.country }}
                        </ng-template>
                      </ngx-datatable-column>
                    </ngx-datatable> -->

                  <!-- <div class="row mt-3 dtPaginate" *ngIf="fuelList.length> 0">
                    <div class="col-6">
                      Showing {{ fuelStartPoint }} to {{ fuelEndPoint }} of {{
                      totalRecords }} enteries
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-default mr-2"
                        (click)="prevResults()"
                        [disabled]="fuelPrev">Prev</button>
                      <button type="button" class="btn btn-default"
                        (click)="nextResults()"
                        [disabled]="fuelNext">Next</button>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="col-lg-12 mt-3 text-center" *ngIf="lastEvaluatedKey !== 'end' && fuelList.length !== 0">
          <button type="button" class="btn btn-success btn-sm text-light" (click)=" initDataTable()">Load
            More..</button>
        </div> -->
      </section>
    </section>
  </div>
</section>

<div
  class="modal fade"
  id="bvdModal"
  tabindex="-1"
  role="dialog"
  area-labelledby="bvdModal"
  aria-hidden="true"
  data-keyboard="false"
  data-backdrop="static"
>
  <div
    class="modal-dialog modal-dialog-centered"
    role="document"
    style="width: 600px"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">BVD Report Upload</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <i class="far fa-window-close modal-dismiss" style="font-size: 25px">
          </i>
        </button>
      </div>
      <div class="modal-body text-dark">
        <div class="col-log-10" style="margin-left: 10px">
          <span style="font-size: 20px"
            >Please upload the BVD report in CSV fromat.</span
          >
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group col-lg-12 mb-3">
              <label
                class="control-label font-weight-bold labelmt text-3 text-dark"
                >Choose File
                <span class="mandfield text-2 ml-1"><sup>*</sup></span>
              </label>
              <input
                (change)="selectDoc($event)"
                name=""
                id="uploadedDocs"
                type="file"
                class="form-control-file"
              />
              <span style="font-size: 12px">
                *Only .csv is accepted. The maximum file size can be 15MB.</span
              >
              <!-- <div *ngIf="newDoc" class="border my-2 p-2">
                <h4 class="mt-0">Uploaded Document</h4>
                <a href="{{newDoc}}" target="_blank">Document</a>
              </div>
            </div> -->

              <div *ngIf="error.hasError"></div>
              <span class="text-danger">{{ error.message }}</span>
            </div>
            <div style="text-align: right">
              <button
                *ngIf="!reviewing"
                class="btn btn-success"
                (click)="postDocument()"
              >
                Submit
              </button>
              <button
                *ngIf="reviewing"
                class="btn btn-dark"
                type="button"
                disabled
              >
                <span
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                ></span>
                Reviewing...
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="petroModal"
  tabindex="-1"
  role="dialog"
  area-labelledby="petroModal"
  aria-hidden="true"
  data-keyboard="false"
  data-backdrop="static"
>
  <div
    class="modal-dialog modal-dialog-centered"
    role="document"
    style="width: 600px"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Petro Canada Report Upload</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <i class="far fa-window-close modal-dismiss" style="font-size: 25px">
          </i>
        </button>
      </div>
      <div class="modal-body text-dark">
        <div class="col-log-10" style="margin-left: 10px">
          <span style="font-size: 20px"
            >Please upload the Petro report in CSV fromat.</span
          >
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group col-lg-12 mb-3">
              <label
                class="control-label font-weight-bold labelmt text-3 text-dark"
                >Choose File
                <span class="mandfield text-2 ml-1"><sup>*</sup></span>
              </label>
              <input
                (change)="selectDoc($event)"
                name=""
                id="petroDocs"
                type="file"
                class="form-control-file"
              />
              <span style="font-size: 12px">
                *Only .csv is accepted. The maximum file size can be 15MB.</span
              >
              <!-- <div *ngIf="newDoc" class="border my-2 p-2">
                <h4 class="mt-0">Uploaded Document</h4>
                <a href="{{newDoc}}" target="_blank">Document</a>
              </div>
            </div> -->

              <div *ngIf="error.hasError"></div>
              <span class="text-danger">{{ error.message }}</span>
            </div>
            <div style="text-align: right">
              <button
                *ngIf="!reviewing"
                class="btn btn-success"
                (click)="postPetroDoc()"
              >
                Submit
              </button>
              <button
                *ngIf="reviewing"
                class="btn btn-dark"
                type="button"
                disabled
              >
                <span
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                ></span>
                Reviewing...
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal"
  id="fSurcharge"
  tabindex="-2"
  role="dialog"
  area-labelledby="fSurcharge"
  aria-hidden="true"
  data-keyboard="false"
  data-backdrop="static"
>
  <div
    class="modal-dialog modal-dialog-centered"
    role="document"
    style="width: 1000px"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Fuel Surcharge</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <i class="far fa-window-close modal-dismiss" style="font-size: 25px">
          </i>
        </button>
      </div>
      <div class="modal-body text-dark">
        <div class="row">
          <div class="col-lg-12">
            <p-table
              #dt
              [value]="fuelSurcharge"
              [resizableColumns]="true"
              columnResizeMode="fit"
              scrollDirection="both"
              autoLayout="true"
              [columns]="fsColumns"
              [loading]="!fsLoaded"
              styleClass=" p-datatable-sm p-datatable-gridlines p-datatable-striped"
              scrollHeight="100%"
              responsiveLayout="scroll"
            >
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th
                    *ngFor="let column of fsColumns"
                    [pSortableColumn]="column.field"
                    pResizableColumn
                  >
                    <span>
                      <div
                        class="flex justify-content-center align-items-center"
                        alignFrozen="right"
                        pFrozenColumn
                        [frozen]="true"
                      >
                        {{ column.header }}
                        <p-sortIcon [field]="column.field"> </p-sortIcon>
                        <!-- <p-columnFilter [type]="column.type" [field]="column.field" matchMode="contains"
                              [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" display="menu">
                            </p-columnFilter> -->
                      </div>
                    </span>
                  </th>
                  <th
                    style="width: 20%"
                    alignFrozen="right"
                    pFrozenColumn
                    [frozen]="true"
                  >
                    Actions
                  </th>
                </tr>
              </ng-template>
              <ng-template
                pTemplate="body"
                let-fs
                let-columns="columns"
                let-rowIndex="rowIndex"
                let-expanded="expanded"
              >
                <tr style="cursor: pointer">
                  <td style="width: 20%">
                    {{ fs.from }}
                  </td>
                  <td style="width: 20%">
                    {{ fs.to }}
                  </td>
                  <td style="width: 20%">
                    {{ fs.ltl }}
                  </td>
                  <td style="width: 20%">
                    {{ fs.tl }}
                  </td>
                  <td
                    style="text-align: center; width: 20%"
                    pFrozenColumn
                    alignFrozen="right"
                  >
                    <div class="dropdown dropright">
                      <a class="m-1" (click)="editSurcharge(fs)">Edit</a>
                      <a class="m-1" (click)="deleteSurcharge(fs)" class="m-2"
                        >Delete</a
                      >
                      <!-- <button
                      class="bg-transparent border-0"
                      type="button"
                      (click)="op.toggle($event)"
                      id="dropdownMenuButton-{{ i }}"
                      
                      
                    >
                      <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <p-overlayPanel #op [showCloseIcon]="true" [style]="{ width: '160px' }">
                      <a class="dropdown-item" (click)="op.hide();" >Edit</a>
                      <a class="dropdown-item" >Deactivate</a>
                      <a class="dropdown-item" >Activate</a>
                  </p-overlayPanel> -->
                    </div>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="summary" let-columns>
                <div
                  class="col-lg-12 mt-3 text-center"
                  *ngIf="
                    fsLastEvaluatedKey !== 'end' && fuelSurcharge.length !== 0
                  "
                >
                  <button
                    type="button "
                    (click)="onFsScroll($event)"
                    class="btn btn-success btn-sm text-light"
                  >
                    Load More..
                  </button>

                  <br /><br />
                </div>
                <div
                  class="col-lg-12 mt-3 text-center"
                  *ngIf="fsLastEvaluatedKey === 'end'"
                >
                  Total Records: {{ fuelSurcharge.length }}
                </div>
              </ng-template>
            </p-table>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <hr class="solid" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h4>{{ addUpdate }} a Fuel Surcharge</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="col-lg-12 pl-0 d-flex mt-2">
              <div>
                <label for="date">From</label>
                <input
                  type="date"
                  class="form-control mr-2"
                  name="from"
                  [(ngModel)]="fSurcharge.from"
                  [ngModelOptions]="{ standalone: true }"
                  #date="ngModel"
                  placeholder="Date"
                  required
                />
              </div>
              <div>
                <label for="to">To</label>
                <input
                  type="date"
                  class="form-control mr-2"
                  name="to"
                  [(ngModel)]="fSurcharge.to"
                  [ngModelOptions]="{ standalone: true }"
                  #date="ngModel"
                  placeholder="Date"
                  required
                />
              </div>
              <div>
                <label for="ltl">LTL</label>
                <input
                  type="text"
                  class="form-control mr-2"
                  name="ltl"
                  [(ngModel)]="fSurcharge.ltl"
                  [ngModelOptions]="{ standalone: true }"
                  #ltl="ngModel"
                  placeholder="LTL %"
                />
              </div>
              <div>
                <label for="ftl">FTL</label>
                <input
                  type="text"
                  class="form-control mr-2"
                  name="ftl"
                  [(ngModel)]="fSurcharge.tl"
                  [ngModelOptions]="{ standalone: true }"
                  #tl="ngModel"
                  required
                  placeholder="TL %"
                />
              </div>
              <div class="mt-auto">
                <button
                  *ngIf="!fsUpdate"
                  type="button"
                  class="btn btn-sm btn-success ml-1"
                  (click)="postSurcharge()"
                >
                  Save
                </button>
                <button
                  *ngIf="fsUpdate"
                  type="button"
                  class="btn btn-sm btn-success ml-1"
                  (click)="updateSurcharge()"
                >
                  Update
                </button>

                <button
                  type="button"
                  data-dismiss="modal"
                  class="btn btn-sm btn-success ml-1"
                  (click)="cancel()"
                >
                  Cancel
                </button>
              </div>
              <div
                *ngIf="
                  surchargeDisabled &&
                  date.invalid &&
                  (date.dirty || date.touched)
                "
                class="text-danger"
              >
                <div>
                  <div *ngIf="date.errors.required">Date is required</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row"></div>
      </div>
    </div>
  </div>
</div>
