<ul class="nav nav-main">
  <li class="nav-parent">
    <a class="nav-link" href="#">
      <i class="fas fa-users-cog" aria-hidden="true"></i>
      <span>Expenses</span>
    </a>
    <ul class="nav nav-children">
      <li class="nav-parent">
        <a>
          Fuel
        </a>
        <ul class="nav nav-children">
          <li>
            <a class="nav-link" routerLink="/Add-Fuel-Entry">
              Add
            </a>
          </li>

          <li>
            <a class="nav-link" routerLink="/Fuel-Entry-List">
              List
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-parent">
        <a>
          Ticket
        </a>
        <ul class="nav nav-children">
          <li>
            <a class="nav-link" routerLink="/Add-Ticket">
              Add
            </a>
          </li>

          <li>
            <a class="nav-link" routerLink="/Tickets-List">
              List
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-parent">
        <a>
          Types
        </a>
        <ul class="nav nav-children">
          <li>
            <a class="nav-link" routerLink="/Add-Expense-Type">
              Add
            </a>
          </li>

          <li>
            <a class="nav-link" routerLink="/Expenses-Type-List">
              List
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </li>

  <li class="nav-parent">
    <a class="nav-link" href="#">
      <i class="fas fa-users-cog" aria-hidden="true"></i>
      <span>Maintenance</span>
    </a>
    <ul class="nav nav-children">
      <li class="nav-parent">
        <a>
          Vendor
        </a>
        <ul class="nav nav-children">
          <li>
            <a class="nav-link" routerLink="/Add-Vendor">
              Add
            </a>
          </li>

          <li>
            <a class="nav-link" routerLink="/Vendors-List">
              List
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-parent">
        <a>
          Vehicle Service Log
        </a>
        <ul class="nav nav-children">
          <li>
            <a class="nav-link" routerLink="/Add-Vehicle-Service-Log">
              Add
            </a>
          </li>

          <li>
            <a class="nav-link" routerLink="/Vehicle-Service-Logs-List">
              List
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-parent">
        <a>
          Service Program
        </a>
        <ul class="nav nav-children">
          <li>
            <a class="nav-link" routerLink="/Add-Service-Program">
              Add
            </a>
          </li>

          <li>
            <a class="nav-link" routerLink="/Service-Program-List">
              List
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="nav-parent">
    <a class="nav-link" href="#">
      <i class="fas fa-users-cog" aria-hidden="true"></i>
      <span>Inventory</span>
    </a>
    <ul class="nav nav-children">
      <li class="nav-parent">
        <a>
          Item
        </a>
        <ul class="nav nav-children">
          <li>
            <a class="nav-link" routerLink="/Add-Item">
              Add
            </a>
          </li>

          <li>
            <a class="nav-link" routerLink="/Item-List">
              List
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-parent">
        <a>
          Item Group
        </a>
        <ul class="nav nav-children">
          <li>
            <a class="nav-link" routerLink="/Add-Item-Group">
              Add
            </a>
          </li>

          <li>
            <a class="nav-link" routerLink="/Item-Group-List">
              List
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-parent">
        <a>
          Stock Entry
        </a>
        <ul class="nav nav-children">
          <li>
            <a class="nav-link" routerLink="/Add-Entry">
              Add
            </a>
          </li>

          <li>
            <a class="nav-link" routerLink="/Entries-List">
              List
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-parent">
        <a>
          Stock Assignment
        </a>
        <ul class="nav nav-children">
          <li>
            <a class="nav-link" routerLink="/Add-Stock-Assignment">
              Add
            </a>
          </li>

          <li>
            <a class="nav-link" routerLink="/Stock-Assignment-List">
              List
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
