<section class="body">

    <!-- start: header -->
    <app-header></app-header>

    <!-- end: header -->



    <div class="inner-wrapper">
        <!-- start: sidebar -->
        <app-sidebar></app-sidebar>
        <!-- end: sidebar -->

        <section role="main" class="content-body">
            <header class="page-header">
                <h2>{{title}}</h2>

                <div class="right-wrapper text-right">
                    <ol class="breadcrumbs">
                        <li>
                            <a [routerLink]="">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                        <li><span>Shippers</span></li>
                        <li><span>{{title}}</span></li>
                    </ol>


                </div>
            </header>



            <div class="row">
                <div class="col">
                    <section class="card">
                        <header class="card-header">


                            <h2 class="card-title">Shippers</h2>
                        </header>
                        <div class="card-body">
                            <form class="form-horizontal form-bordered" method="get">

                                <div class="form-group row">



                                    <div class="col-lg-12">
                                        <label class="control-label text-lg-right pt-2" for="inputDefault">Shipper Name</label>
                                        <input type="text" class="form-control" [(ngModel)] = "shipperName" name="shipperName">
                                    </div>

                                    <div class="col-lg-12">
                                        <label class="control-label text-lg-right text-dark text-4 pt-2" for="inputDefault">Address</label><input type="text" class="form-control" [(ngModel)]="address" name="address">
                                    </div>
                                </div>



                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <label class="control-label text-lg-right text-dark text-4 pt-2" for="inputDefault">Contact Info</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="control-label text-lg-right pt-2" for="inputDefault">Phone No</label>
                                        <input type="text" class="form-control" [(ngModel)]="phone" name="phone">
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="control-label text-lg-right pt-2" for="inputDefault">Email</label>
                                        <input type="text" class="form-control" [(ngModel)]="email" name="email">
                                    </div>

                                </div>


                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <label class="control-label text-lg-right pt-2" for="inputDefault">Tax ID</label>
                                        <input type="text" class="form-control" id="inputDefault" name="taxID" [(ngModel)]="taxID">

                                    </div>




                                </div>

                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <!-- <label class="control-label text-lg-right pt-2" for="inputDefault">Status</label> -->
                                        <!-- <select data-plugin-selectTwo class="form-control populate">
                                            <optgroup label="">
                                                <option value="1">Enable</option>
                                                <option value="2">Disable</option>
                                                <option value="2">Out of Service</option>

                                            </optgroup>
                                        </select> -->
                                        <button class="btn btn-dark mt-4 modal-confirm" (click)="updateShipper()">Submit</button>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-lg-12">

                                        <p class="text text-danger" *ngIf="hasError">{{Error}}</p>
                                        <p class="text text-success" *ngIf="hasSuccess">{{Success}}</p>
                                    </div>
                                </div>



                            </form>
                        </div>
                    </section>
                </div>
            </div>

        </section>
    </div>






</section>