<style>
   #map_view {
      display: inline-block;
      height: 450px;
      width: 100%;
   }
   
</style>
<section class="body">
   <div class="inner-wrapper">
      <section role="main" class="content-body pl-0 pt-0 pr-0">
         <header class="page-header">
            <div class="row " style="padding-top:10px;">
               <div class="col-md-4 col-lg-4 font-weight-bold text-4 text-dark">
                  Incident Details
               </div>
               <div class="col-md-8  col-lg-8 text-right">
                  <!-- <a href="#assignSafetyProgramModal" class="btn btn-sm btn-success modal-with-form "><i class="fas fa-list"></i> Assign Safety Program</a> -->

                  <a href="javascript:;" routerLink="/safety/incidents" class="btn btn-sm btn-default mr-2"><i
                        class="fas fa-list"></i> Incident
                     List</a>
                  <a href="javascript:;" routerLink="/safety/incidents/add-incident" class="btn btn-success btn-sm"><i
                        class="fas fa-plus"></i> Add
                     Incident</a>
               </div>
            </div>
         </header>
         <section class="m-2">
            <div class="row mb-3">
               <div class="col-12">
                  <div class="bg-white p-3 text-dark">
                     <div class="form-group row justify-content-between pl-2 pr-2">

                        <div class="col-xl-12 col-12 pl-0 pr-0">
                           <div class="row pl-3 pr-3">
                              <div class="col-xl-4 col-4 pl-0 pr-2">
                                 <div class="safetytile p-4 border">
                                    
                                    <div class="driverbar w100">
                                       <span class="pull-right pt-1 text-4 font-weight-bold text-dark text-capitalize">{{eventDate |
                                          date: 'yyyy/MM/dd'}}</span>
                                       <h2
                                          class="pull-left line-height-xl mb-0 mt-0 text-4 font-weight-semibold text-dark">
                                          Event Date</h2>
                                    </div>
                                    <div class="w100 pull-left">
                                       <hr class="solid mt-2 mb-2">
                                    </div>
                                    <div class="driverbar">
                                       <span
                                          class="pull-right pt-1 text-4 font-weight-bold text-dark text-capitalize">{{eventTime}}</span>
                                       <h2
                                          class="pull-left line-height-lg mb-0 mt-0 text-4 font-weight-semibold text-dark">
                                          Event Time</h2>
                                    </div>
                                    <div class="w100 pull-left">
                                       <hr class="solid mt-2 mb-2">
                                    </div>
                                    <div class="driverbar">
                                       <span
                                          class="pull-right pt-1 text-4 font-weight-bold text-dark text-capitalize">{{driversObject[driver]}}</span>
                                       <h2
                                          class="pull-left line-height-lg mb-0 mt-0 text-4 font-weight-semibold text-dark">
                                          Driver Name</h2>
                                    </div>
                                    <div class="w100 pull-left">
                                       <hr class="solid mt-2 mb-2">
                                    </div>
                                    <div class="driverbar w100">
                                       <span
                                          class="pull-right pt-1 text-4 font-weight-bold text-dark text-capitalize">{{vehiclesObject[vehicle]}}</span>
                                       <h2
                                          class="pull-left line-height-xl mb-0 mt-0 text-4 font-weight-semibold text-dark">
                                          Vehicle</h2>
                                    </div>
                                    <div class="w100 pull-left">
                                       <hr class="solid mt-2 mb-2">
                                    </div>
                                    


                                 </div>
                              </div>

                              <div class="col-xl-4 col-4 pr-0 pl-2">
                                 <div class="safetytile p-4 border">
                                    
                                    <div class="driverbar w100">
                                       <span
                                          class="pull-right pt-1 text-4 font-weight-bold text-dark text-capitalize">{{assigned}}</span>
                                       <h2
                                          class="pull-left line-height-xl mb-0 mt-0 text-4 font-weight-semibold text-dark">
                                          Assigned To</h2>
                                    </div>
                                    <div class="w100 pull-left">
                                       <hr class="solid mt-2 mb-2">
                                    </div>
                                    <div class="driverbar w100">
                                       <span
                                          class="pull-right pt-1 text-4 font-weight-bold text-dark text-capitalize">{{eventSource}}</span>
                                       <h2
                                          class="pull-left line-height-xl mb-0 mt-0 text-4 font-weight-semibold text-dark">
                                          Event Source</h2>
                                    </div>
                                    <div class="w100 pull-left">
                                       <hr class="solid mt-2 mb-2">
                                    </div>
                                    <div class="driverbar">
                                       <span
                                          class="pull-right pt-1 text-4 font-weight-bold text-dark text-capitalize">
                                          <span *ngIf="incidentType == 'majorAccident'">Major Accident</span>
                                          <span *ngIf="incidentType == 'minorAccident'">Minor Accident</span>
                                          <span *ngIf="incidentType == 'overSpeeding'">Over Speeding</span>
                                       </span>
                                       <h2
                                          class="pull-left line-height-lg mb-0 mt-0 text-4 font-weight-semibold text-dark">
                                          Incident Type</h2>
                                    </div>
                                    <div class="w100 pull-left">
                                       <hr class="solid mt-2 mb-2">
                                    </div>
                                    <div class="driverbar">
                                       <span
                                          class="pull-right pt-1 text-4 font-weight-bold text-dark text-capitalize">{{severity}}</span>
                                       <h2
                                          class="pull-left line-height-lg mb-0 mt-0 text-4 font-weight-semibold text-dark">
                                          Severity</h2>
                                    </div>
                                    <div class="w100 pull-left">
                                       <hr class="solid mt-2 mb-2">
                                    </div>
                                    


                                 </div>
                              </div>

                              <div class="col-xl-4 col-4 pr-0  ">
                                 <div class="safetytile p-4 border">
                                    <div class="driverbar">
                                       <span class="pull-right pt-1 text-4 font-weight-bold text-dark text-capitalize">{{tripsObject[trip]}}</span>
                                       <h2
                                          class="pull-left line-height-lg mb-0 mt-0 text-4 font-weight-semibold text-dark">
                                          Trip ID</h2>
                                    </div>

                                    <div class="driverbar">
                                       <span
                                          class="pull-right pt-1 text-4 font-weight-bold text-dark w-50 text-right">{{location}}</span>
                                       <h2
                                          class="pull-left line-height-lg mb-0 mt-0 text-4 font-weight-semibold text-dark">
                                          Location</h2>
                                    </div>
                                    


                                 </div>
                              </div>

                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row mb-3">
               <div class="col-12">
                  <div class="bg-white p-3 text-dark">
                     <div class="row">
                        <div class="col-4 pl-2 pr-2">
                           <div class="vehicle-common-box p-3">
                              <div class="row">
                                 <div class="col-lg-6"><label class="control-label font-weight-bold text-3">Document(s)</label>
                                 </div>
                                 <div class="col-lg-6 text-right">
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-12">
                                    <div class="row mb-1" *ngFor="let doc of incidentDocs;let d= index">
                                       <div class="col-12"><a [href]="doc.path" target="_blank">Document {{d+1}} <i class="far fa-file text-dak mr-1"></i></a> </div>
                                    </div>
            
                                 </div>
                              </div>
                              <div class="row">
                                 <div  class="col-lg-12" *ngIf="incidentDocs?.length == 0">
                                    <span>No Data Found</span>
                                 </div>
                              </div>
                           </div>
                           
                        </div>
                        <div class="col-4 pr-2 pl-2">
                           <div class="vehicle-common-box p-3">
                              <div class="row">
                                 <div class="col-lg-6"><label class="control-label font-weight-bold text-3">Photo(s)</label>
                                 </div>
                                 <div class="col-lg-6 text-right">
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-12">
                                    <div class="row mb-1" *ngFor="let doc of incidentImages;let d= index">
                                       <div class="col-12"><a [href]="doc.path" target="_blank">Photo {{d+1}} <i class="far fa-file text-dak mr-1"></i></a> </div>
                                    </div>
            
                                 </div>
                              </div>
                              <div class="row">
                                 <div  class="col-lg-12" *ngIf="incidentImages?.length == 0">
                                    <span>No Data Found</span>
                                 </div>
                              </div>
                           </div>
                           
                        </div>
                        <div class="col-4 pl-2">
                           <div class="vehicle-common-box p-3">
                              <div class="row">
                                 <div class="col-lg-6"><label class="control-label font-weight-bold text-3">Video(s)</label>
                                 </div>
                                 <div class="col-lg-6 text-right">
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-12">
                                    <div class="row mb-1" *ngFor="let doc of incidentVideos;let d= index">
                                       <div class="col-12"><a [href]="doc.path" target="_blank" >Video {{d+1}} <i class="far fa-file text-dak mr-1"></i></a> </div>
                                    </div>
            
                                 </div>
                              </div>
                              <div class="row">
                                 <div  class="col-lg-12" *ngIf="incidentVideos?.length == 0">
                                    <span>No Data Found</span>
                                 </div>
                              </div>
                           </div>
                           
                        </div>
                     </div>
                  </div>
               </div>
               
            </div>
            <div class="row mb-3">
               <div class="col-6">
                  <div class="bg-white p-3 text-dark">
                     <div class="form-group row justify-content-between pl-2 pr-2">

                        <p class="mb-2 text-4 font-weight-bold text-dark">Safety Manager Internal Notes</p>
                        <div class="timeline w100 dispatch-timeline timeline-simple changelog pb-3"
                           style="min-height: 370px;overflow-x: auto; max-height: 370px;">
                           <div class="tm-body text-dark py-0">
                              <ol class="tm-items">
                                 <li *ngFor="let item of safetyNotes;">
                                    <div class="tm-box">
                                       <span class="release-date">{{item.created | date: 'yyyy/MM/dd hh:mm a'}}</span>
                                       <ul class="list-unstyled">
                                          <li>
                                             {{item.notes}}
                                          </li>
                                       </ul>
                                    </div>
                                 </li>


                              </ol>
                           </div>
                        </div>

                        <div class="w100 mt-3">
                           <textarea [(ngModel)]="newNotes" ng-trim="false" name="newNotes" class="form-control heighta"
                              placeholder=" Enter notes for the Safety Manager" rows="2"></textarea>
                        </div>
                        <div class="w100 mt-2 text-right">
                           <a (click)="addNotes()" href="javascript:;" class="btn btn-success btn-sm">Send</a>
                        </div>



                     </div>
                  </div>
               </div>

               <div class="col-6">
                  <div class="bg-white p-3 text-dark">
                     <div class="form-group row justify-content-between pl-2 pr-2">
                        <div id="map" style="height: 520px; overflow: hidden;"></div>
                     </div>
                  </div>
               </div>

            </div>



         </section>

      </section>
   </div>
</section>


<!-- VIEW DOCUMENT MODAL -->
<div class="modal fade" id="viewImagesModal" tabindex="-1" role="dialog" aria-labelledby="viewDocModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" style="max-width: 600px;" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="viewDocModalLabel">View Incident Gallery</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="col-lg-12" *ngIf="incidentImages?.length > 0">
               <div class="mb-3">
                  <div class="row">
                     <div class="col-12">
                        <ngx-slick-carousel class="carousel safety-slider" #slickModal="slick-carousel"
                           [config]="slideConfig">
                           <div ngxSlickItem *ngFor="let item of incidentImages; let i=index;" class="slide">
                              <img [src]="item.path" class="img-fluid" alt="" style="height: 400px; object-fit: cover;">
                           </div>
                        </ngx-slick-carousel>

                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-12" *ngIf="incidentImages?.length == 0">
               <span>No Data Found</span>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
         </div>
      </div>
   </div>
</div>

<!-- VIEW Videos MODAL -->
<div class="modal fade" id="viewVideosModal" tabindex="-1" role="dialog" aria-labelledby="viewDocModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" style="max-width: 600px;" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="viewDocModalLabel">View Incident Video(s)</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="col-lg-12" *ngIf="incidentVideos?.length > 0">
               <div class="mb-3">
                  <div class="row">
                     <div class="col-12">
                        <ngx-slick-carousel class="carousel safety-slider " #slickModal="slick-carousel"
                           [config]="slideConfig">
                           <div ngxSlickItem *ngFor="let item of incidentVideos; let i=index;" class="slide">
                              <div>
                                 <video id="clip" controls disablepictureinpicture controlsList="nodownload" width=530 height=264>
                                    <source [src]="item.path" type='video/mp4' />
                                 </video>
                              </div>
                              <a href="{{item.path}}" target="_blank">Download this video</a>
                           </div>
                        </ngx-slick-carousel>

                     </div>
                  </div>
               </div>
            </div>
            <div  class="col-lg-12" *ngIf="incidentVideos?.length == 0">
               <span>No Data Found</span>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
         </div>
      </div>
   </div>
</div>

<!-- VIEW Documents MODAL -->
<div class="modal fade" id="viewDocsModal" tabindex="-1" role="dialog" aria-labelledby="viewDocModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" style="max-width: 700px;" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="viewDocModalLabel">View Incident Documents</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="col-lg-12" *ngIf="incidentDocs?.length > 0">
               <div class="mb-3">
                  <div class="row">
                     <div class="col-12">
                        <ngx-slick-carousel class="carousel safety-slider" #slickModal="slick-carousel"
                           [config]="slideConfig1">
                           <div ngxSlickItem *ngFor="let item of incidentDocs; let i=index;" class="slide">
                              <iframe width="100%" height="500" frameborder="0" [src]="item.path"></iframe>
                           </div>
                        </ngx-slick-carousel>

                     </div>
                  </div>
               </div>
            </div>
            <div  class="col-lg-12" *ngIf="incidentDocs?.length == 0">
               <span>No Data Found</span>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
         </div>
      </div>
   </div>
</div>

<!-- VIEW DOCUMENT MODAL -->
<div class="modal fade" id="viewDocModal" tabindex="-1" role="dialog" aria-labelledby="viewDocModalLabel"
 aria-hidden="true">
 <div class="modal-dialog w-50 h-auto mx-auto mt-4" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="viewDocModalLabel">View Document</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
       <div class="form-row">
         <div class="form-group col-md-12">
           <div>
             <iframe class="iframe-img" [src]='pdfSrc' frameborder="0" width="100%" height="400px"> </iframe>

           </div>
         </div>
       </div>

     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
     </div>
   </div>
 </div>
</div>