<section class="body">

  <!-- start: header -->
  <app-header></app-header>

  <!-- end: header -->



  <div class="inner-wrapper">
    <!-- start: sidebar -->
    <app-sidebar></app-sidebar>
    <!-- end: sidebar -->

    <section role="main" class="content-body">
      <header class="page-header">
        <h2>{{title}}</h2>

        <div class="right-wrapper text-right">
          <ol class="breadcrumbs">
            <li>
              <a href="/">
                <i class="fas fa-home"></i>
              </a>
            </li>
            <li><span>Graph</span></li>
            <li><span>{{title}}</span></li>
          </ol>


        </div>
      </header>



      <div class="row">
        <div class="col">
          <section class="card">
            <header class="card-header">


              <h2 class="card-title">Graph
                <a [routerLink]="" (click)="redrawGraph()"> Add Data </a>

              </h2>
            </header>
            <div class="card-body">

              <div>
                <div style="display: block">
                  <canvas baseChart
                          [datasets]="lineChartData"
                          [labels]="lineChartLabels"
                          [options]="lineChartOptions"
                          [colors]="lineChartColors"
                          [legend]="lineChartLegend"
                          [chartType]="lineChartType"
                          [plugins]="lineChartPlugins">
                  </canvas>
                </div>
              </div>


            </div>
          </section>
        </div>
      </div>

    </section>
  </div>





</section>
