<section class="body">
  <div class="inner-wrapper">
    <section role="main" class="content-body pl-0 pt-0 pr-0">
      <header class="page-header">
        <div class="row" style="padding-top:10px;">
          <div class="col-md-4 col-lg-4">
            <h4 class="text-4 font-weight-bold mt-0 mb-0 text-dark">Inventory Details</h4>
          </div>
          <div class="col-md-8 col-lg-8 text-right">
            <a routerLink="/fleet/inventory/list" class="btn btn-sm btn-default mr-2" ><i class="fas fa-list"></i> Inventory List</a >

            
            <div class="btn-group flex-wrap" *ngIf="!environment">
              <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown"
                 aria-expanded="false">Actions<span class="caret"></span></button>
              <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                 style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                 <a class="dropdown-item text-1" routerLink="/fleet/inventory/edit/{{itemID }}" href="javascript:;">Edit</a>
                 <a class="modal-with-form dropdown-item text-1"(click)="deleteItem()" href="javascript:;">Delete</a>
              </div>
           </div>
          </div>
        </div>
      </header>
      <div class="row">
        <div class="col pr-0">
          <div class="card-body text-dark">
            <form class="form-horizontal form-bordered" method="get">
              <div class="row">
                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-lg-12">
                      <table class="table table-bordered table-responsive-lg">
                        <tbody>
                          <tr>
                            <td
                              width="40%"
                              class="back-color-gray font-weight-bold"
                            >
                              Part#
                            </td>
                            <td width="60%">{{partNumber}}</td>
                          </tr>
                          <tr>
                            <td class="back-color-gray font-weight-bold">
                              Item  Name
                            </td>
                            <td>{{itemName}}</td>
                          </tr>
                          <tr>
                            <td class="back-color-gray font-weight-bold">
                              Category
                            </td>
                            <td>{{itemGroups[categoryID]}}</td>
                          </tr>
                          <tr>
                            <td class="back-color-gray font-weight-bold">
                              Vendor
                            </td>
                            <td><a href="#">{{vendors[preferredVendorID]}}</a></td>
                          </tr>
                          <tr>
                            <td class="back-color-gray font-weight-bold">
                              In Stock
                            </td>
                            <td>3445</td>
                          </tr>
                          <tr>
                            <td class="back-color-gray font-weight-bold">
                              Unit Cost
                            </td>
                            <td>$ {{costUnit}}</td>
                          </tr>
                          <tr>
                            <td class="back-color-gray font-weight-bold">
                              Unit Measure
                            </td>
                            <td>Gallon</td>
                          </tr>
                          <tr>
                            <td class="back-color-gray font-weight-bold">
                              Purchase Order#
                            </td>
                            <td>54560</td>
                          </tr>
                          <tr>
                            <td class="back-color-gray font-weight-bold">
                              Description
                            </td>
                            <td>{{description}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- Warehouse TABLE -->
                  <div class="row">
                    <div class="col-lg-12">
                      <label class="control-label font-weight-bold text-3"
                        >Warehouse Inventory Details</label
                      >
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <table
                        class="table table-bordered table-striped table-responsive-lg"
                      >
                        <thead>
                          <tr>
                            <th>Warehouse</th>
                            <th>Quantity</th>
                            <th>Location</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor = "let warehosue of warehouses">
                            <td>TATA's Warehouse</td>
                            <td>90</td>
                            <td>100 street 34Ave King Town,City,Country</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- Warrenty TABLE -->
                  <div class="row">
                    <div class="col-lg-12">
                      <label class="control-label font-weight-bold text-3"
                        >Warranty Details</label
                      >
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <table class="table table-bordered table-responsive-lg">
                        <tbody>
                          <tr>
                            <td
                              width="40%"
                              class="back-color-gray font-weight-bold"
                            >
                              Days
                            </td>
                            <td width="60%">{{days}}</td>
                          </tr>
                          <tr>
                            <td
                              width="40%"
                              class="back-color-gray font-weight-bold"
                            >
                              Time
                            </td>
                            <td width="60%">{{time}}</td>
                          </tr>
                          <tr>
                            <td class="back-color-gray font-weight-bold">
                              Notes
                            </td>
                            <td>{{notes}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <!-- inventory TABLE -->
                  <div class="row">
                    <div class="col-lg-12">
                      <label class="control-label font-weight-bold text-3"
                        >Inventory Tracking</label
                      >
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <table class="table table-bordered table-responsive-lg">
                        <tbody>
                          <tr>
                            <td
                              width="40%"
                              class="back-color-gray font-weight-bold"
                            >
                              Quantity
                            </td>
                            <td width="60%">{{quantity}}</td>
                          </tr>
                          <tr>
                            <td
                              width="40%"
                              class="back-color-gray font-weight-bold"
                            >
                              Reorder Point
                            </td>
                            <td width="60%">{{reorderPoint}}</td>
                          </tr>
                          <tr>
                            <td class="back-color-gray font-weight-bold">
                              Reorder Quantity
                            </td>
                            <td>{{reorderQuality}}</td>
                          </tr>
                          <tr>
                            <td class="back-color-gray font-weight-bold">
                              Max. Quantity
                            </td>
                            <td>0</td>
                          </tr>
                          <tr>
                            <td class="back-color-gray font-weight-bold">
                              Lead Time
                            </td>
                            <td>{{leadTime}}</td>
                          </tr>
                          <tr>
                            <td class="back-color-gray font-weight-bold">
                              Preferred Vendor
                            </td>
                            <td>{{vendors[preferredVendorID]}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="row pb-2" *ngIf="photos?.length">
                    <div class="col-lg-12">
                      <div class="vehicle-common-box p-3">
                        <div class="row">
                          <div class="col-lg-6">
                            <label class="control-label font-weight-bold text-3"
                              >Photo(s)</label
                            >
                          </div>
                          <!-- <div class="col-lg-6 text-right"><input type="file" hidden id="hidden_photo_input"><button type="button" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> Add Photo</button></div> -->
                        </div>
                        <hr class="solid mt-3" />
                        <div class="row">
                          <div class="col-lg-6" *ngFor="let photo of photos; let i = index">
                            <div class="vehicle-photo-box">
                              <img src="{{photo.path}}" class="img-fluid" style="height: 180px; object-fit: cover;" />
                              <hr class="m-3" />
                              <div class="row">
                                <div class="col-lg-8">Image {{i+1}}</div>
                                <div class="col-lg-4 text-right">
                                   <i class="fas fa-times text-danger"  (click)="delete('image',photo.name)"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="documents?.length">
                    <div class="col-lg-12">
                      <div class="vehicle-common-box p-3">
                        <div class="row">
                          <div class="col-lg-6">
                            <label class="control-label font-weight-bold text-3"
                              >Document(s)</label
                            >
                          </div>
                          <!-- <div class="col-lg-6 text-right"><input type="file" hidden id="hidden_issue_document_input"><button type="button" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> Add Documents</button></div> -->
                        </div>
                        <hr class="solid mt-3" />
                        <div class="row" *ngFor="let document of documents; let i = index">
                          <div class="col-lg-9">
                            <a href="{{document.path}}" target="_blank">Document No. {{i+1}}</a>
                          </div>
                          <div class="col-lg-3 text-right">
                              <i class="fas fa-times text-danger"  (click)="delete('doc',document.name)"></i>
                          
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- VENDOR LIST -->
                  <div class="row pt-2">
                    <div class="col-lg-12">
                      <table
                        class="table table-bordered table-responsive-lg table-striped mb-0"
                        id="simple-table"
                      >
                        <thead>
                          <tr>
                            <th width="60%">Vendor Name</th>
                            <th width="40%">Part Price</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Vendor 1</td>
                            <td>$4.90</td>
                          </tr>
                          <tr>
                            <td>Vendor 2</td>
                            <td>$5.00</td>
                          </tr>
                          <tr>
                            <td>Vendor 3</td>
                            <td>$4.70</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
