.selRecc {
    color: #ffff;
    background-color: #2b2b2b;
}
.map-search_div{
    position: relative;
}
.map-search__results {
    position: absolute;
    list-style: none;
    top: 90px;
    left: 3%; padding: 10px !important;
    width: 96%;
    z-index: 9;
    box-shadow: 0 0 10px 3px rgb(0 0 0 / 20%) !important;
}

.map-search__results {
    display: none;
}
.show-search__result .map-search__results {
    display: block !important;
}

.map-search__results2 {
    position: absolute;
    list-style: none !important;
    top: 0px;
    left: 1%; padding: 10px !important;
    width: 98%;
    z-index: 9;
    box-shadow: 0 0 10px 3px rgb(0 0 0 / 20%) !important;
}

.map-search__results2 {
    display: none;
}
.show-search__result .map-search__results2 {
    display: block !important;
}