<section class="body">
    <div class="inner-wrapper">
        <section role="main" class="content-body pl-0 pr-0 pt-0">
            <header class="page-header">
                <div class="row pr-5 " style="padding-top:10px;">
                    <div class="col-md-4 col-lg-4 font-weight-bold text-4 text-dark">
                      {{ paymentData.paymentTo | titlecase }} Payment# - 1279430
                    </div>
                    <div class="col-md-8  col-lg-8 text-right pr-4">
                        <a routerLink="/accounts/payments/driver-payments/list" class="btn btn-sm btn-default"><i
                                class="fas fa-list"></i> Payment List</a>
                    </div>
                </div>
            </header>
            <div class="row">
                <div class="col pr-0">
                    <div class="card-body text-dark">
                        <form class="form-horizontal form-bordered" method="get">
                            <div class=" row">
                                <div class="col-lg-12 mb-4">
                                    <div class="row cmaindiv">
                                        <div class="col-md-4 col-lg-4">
                                            <div class="text-center p-4 cerbor">
                                                <i class="far fa-calendar-alt text-7"></i>
                                                <br>
                                                <p class="mb-0 text-5 font-weight-bold text-dark">{{ paymentData.txnDate | date: "yyyy/MM/dd" }}</p>
                                                <p class="mb-0">DATE</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-lg-4">
                                            <div class="text-center p-4 cerbor">
                                                <i class="fa fa-user text-7"></i>
                                                <br>
                                                <p class="mb-0 text-5 font-weight-bold text-dark">
                                                    <span *ngIf="paymentData.paymentTo == 'driver'">
                                                        {{ drivers[paymentData.entityId] | titlecase}}
                                                    </span>
                                                    <span *ngIf="paymentData.paymentTo !== 'driver'">
                                                        {{ contacts[paymentData.entityId] | titlecase}}
                                                    </span>
                                                </p>
                                                <p class="mb-0 text-uppercase">{{ paymentData.paymentTo }}</p>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-lg-4">
                                            <div class="text-center p-4 cerbor">
                                                <i class="fas fa-money-bill-wave text-7"></i>
                                                <br>
                                                <p class="mb-0 text-5 font-weight-bold text-dark">{{ paymentData.finalAmount | number : '1.2-2' }} CAD</p>
                                                <p class="mb-0">AMOUNT</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 pr-0">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <table class="table table-bordered table-responsive-lg">
                                                <tbody>
                                                    <tr>
                                                        <td width="40%" class="back-color-gray font-weight-bold">
                                                            Settlement(s)</td>
                                                        <td width="60%">
                                                            <span *ngIf="paymentData.settlementIds.length > 0">
                                                                <span *ngFor="let settl of paymentData.settlementIds; let s=index;">
                                                                    {{ settlements[settl] }}
                                                                    <span *ngIf="s< paymentData.settlementIds.length-1">,</span>
                                                                </span>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="40%" class="back-color-gray font-weight-bold">Settled
                                                            Amount</td>
                                                        <td width="60%">{{ paymentData.finalAmount | number : '1.2-2' }} CAD</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="back-color-gray font-weight-bold">Advance</td>
                                                        <td>{{ paymentData.advance | number : '1.2-2' }} CAD</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 pl-0">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <table class="table table-bordered table-responsive-lg">
                                                <tbody>
                                                    <tr>
                                                        <td width="40%" class="back-color-gray font-weight-bold">Payment
                                                            Mode</td>
                                                        <td width="60%" class="text-capitalize">{{ (paymentData.payMode) ? paymentData.payMode : '-' }}</td>
                                                    </tr>
                                                    <tr *ngIf="paymentData.payMode">
                                                        <td class="back-color-gray font-weight-bold text-capitalize">{{ paymentData.payMode }} Date</td>
                                                        <td>{{ paymentData.payModeDate | date:"yyyy/MM/dd" }}</td>
                                                    </tr>
                                                    <tr *ngIf="paymentData.payMode">
                                                        <td class="back-color-gray font-weight-bold text-capitalize">{{ paymentData.payMode }} Reference</td>
                                                        <td>{{ paymentData.payModeNo }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>





                            <div class="row">
                                <div class="col-lg-6">
                                    <h5 class="font-weight-bold">Journal</h5>
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr class="bgcol2">
                                                <th>Account Name</th>
                                                <th>Type</th>
                                                <th>Debit</th>
                                                <th>Credit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of paymentData.transactionLog">
                                              <td><span *ngIf="data.actIDType === 'actID'">{{accountsObjects[data.accountID] | titlecase}}</span>
                                                <span *ngIf="data.actIDType === 'actIntID'">{{accountsIntObjects[data.accountID] | titlecase}}</span></td>
                                                <td class="text-capitalize">{{ paymentData.paymentTo }} payment</td>
                                                <td>
                                                    <span *ngIf="data.trxType === 'debit'">
                                                        {{ data.amount | number : '1.2-2' }} {{ data.currency }}
                                                    </span>
                                                    <span *ngIf="data.trxType !== 'debit'">0.00</span>
                                                </td>
                                                <td>
                                                    <span *ngIf="data.trxType === 'credit'">
                                                        {{ data.amount | number : '1.2-2' }} {{ data.currency }}
                                                    </span>
                                                    <span *ngIf="data.trxType !== 'credit'">0.00</span>
                                                </td>
                                            </tr>
                                            <!-- <tr>
                                                <td colspan="3" class="font-weight-bold text-right">Total</td>
                                                <td>{{ paymentData.finalAmount }} CAD</td>
                                                <td>{{ paymentData.finalAmount }} CAD</td>
                                            </tr> -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
