
<section class="body">

  <!-- start: header -->
  <app-header></app-header>
  <!-- end: header -->



  <div class="inner-wrapper">
    <!-- start: sidebar -->
    <app-sidebar></app-sidebar>
    <!-- end: sidebar -->

    <section role="main" class="content-body pt-0" style="padding-left: 15px;">
      <header class="page-header pr-5">
        <form>
         <div class="row pr-1 mr-1" style="padding-top:10px;">
              <div class="col-md-2 col-lg-2">
               <div class="input-group input-group-md mb-3">
                  <input type="text" autocomplete="off" name="geofenceName" [(ngModel)]="geofenceName" class="form-control" (input)="getSuggestions($event.target.value)">
                </div>
                <div *ngFor="let suggestedGeofence of suggestedGeofences" style="cursor: pointer;" (click)="setGeofence(suggestedGeofence.geofenceID, suggestedGeofence.geofenceName)">
                  {{ suggestedGeofence.geofenceName }}
               </div>
              </div>
              <div class="col-md-2 col-lg-2">
                 <select
                    data-plugin-selectTwo
                    [(ngModel)]="type" 
                    name="type"
                    class="form-control populate">
                    <optgroup label="Select Type">
                        <option value="Uncategorized">Uncategorized</option>
                        <option value="Fuel Station">Fuel Station</option>
                        <option value="Job Site">Job Site</option>
                        <option value="Maintenance Facility">Maintenance Facility</option>
                        <option value="Receiver/Consignee">Receiver/Consignee</option>
                        <option value="Restricted Location">Restricted Location</option>
                        <option value="Shipper">Shipper</option>
                        <option value="Shipper/Receiver">Shipper/Receiver</option>
                        <option value="Terminal/Yard">Terminal/Yard</option>
                        <option value="Truck Stop/Rest Area">Truck Stop/Rest Area</option>
                        <option value="Weigh Station/Scale">Weigh Station/Scale</option>
                    </optgroup>
                 </select>
              </div>
              
              <div class="col-md-1 col-lg-1">
                 <button type="submit" (click)="fetchGeofences()" class="btn btn-sm btn-success">Search</button>
              </div>
              <div class="col-md-7 col-lg-7 text-right pr-1">
                 <div class="btn-group flex-wrap mr-2">
                    <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Actions<span class="caret"></span></button>
                    <div class="dropdown-menu" role="menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                       <!-- <a (click)="editGeofence()" class="dropdown-item text-1" href="javascript:;">Edit</a>
                       <a (click)="deleteGeofence()" class=" dropdown-item text-1" href="javascript:;">Delete</a> -->
                       <a class="dropdown-item text-1" href="javascript:;">Import</a>
                       <a class="dropdown-item text-1" href="javascript:;">Export</a>
                    </div>
                 </div>
                 <a routerLink="/fleet/geofence/add" class="btn btn-success btn-sm" style="color:white;"><i class="fas fa-plus"></i> Add Geo-Fence</a>
              </div>
           </div>
        </form>
     </header>

     
      <div class="row mt-3">
        <div class="col">
           <section class="card">
              <div class="card-body pl-0 pt-0 text-dark">
                 <div class="row">
                  <div class="col-lg-12">
                     <table class="hoshvalue table text-4 font-weight-bold">
                        <thead>
                           <tr>
                              <td style="width: 20%;" class="border-0 text-left">Geo-Fence Name</td>
                              <td style="width: 20%;" class="border-0">Location</td>
                              <td style="width: 20%;" class="border-0">Type</td>
                              <td style="width: 30%;" class="border-0">Description</td>
                              <td style="width: 10%;" class="border-0 text-right">Actions</td>
                           </tr>
                        </thead>
                        <!-- <span class="geoName text-4 font-weight-bold text-dark pl-2"></span>
                        <span class="geoName text-4 font-weight-bold text-dark text-center">Location</span>
                        <span class="geoName text-4 font-weight-bold text-dark text-center">Type</span>
                        <span class="geofieldsdesc text-4 font-weight-bold text-dark text-center">Description</span>
                        <span class="geoName text-4 font-weight-bold text-dark text-right">Actions</span> -->
                     </table>
                  </div>
              </div>
              
               <!-- <ngb-accordion class="geofence-listing" 
                  [closeOthers]="true" 
                  *ngFor="let geofence of geofences; let i = index"
                  activeIds="panel1"
                  (panelChange)="beforeChange($event, geofence.geofence.cords)"
                  >
                 
                  <ngb-panel id="panel{{i}}">
                     <ng-template class="p-0 text-left" ngbPanelTitle style="width: 100%!important;">
                        
                           <table class="table m-0 text-left">
                              <tbody>
                                 <tr>
                                    <td style="width: 20%;" class="border-0 text-left">{{geofence.geofenceName}}</td>
                                    <td style="width: 20%;" class="border-0">{{geofence.location}}</td>
                                    <td style="width: 20%;" class="border-0">{{geofence.geofenceType}}</td>
                                    <td style="width: 30%;" class="border-0">{{geofence.description}}</td>
                                    <td style="width: 10%;" class="border-0 text-right">
                                       
                                       <a class="p-0" routerLink="/fleet/geofence/edit-geofence/{{geofence.geofenceID}}"><i class="fas fa-ellipsis-v"></i></a></td>
                                 </tr>
                              </tbody>
                           </table>
                      </ng-template>
                    <ng-template ngbPanelContent>
                     <div id="map" style="height: 400px;"></div>
                    </ng-template>
                  </ngb-panel>
                  <div *ngIf="!geofences.length > 0" class="alert alert-info m-0 text-center" role="alert"> No records found </div>
                </ngb-accordion> -->
                <div *ngFor="let geofence of geofences;let i = index" class="" (click)="toggleAccordian(i, geofence.geofence.cords)">
                  <table class="table m-0 text-left" style="cursor: pointer;">
                     <tbody>
                        <tr class="border_bottom">
                           <td style="width: 20%;" class="border-0 text-left">{{geofence.geofenceName}}</td>
                           <td style="width: 20%;" class="border-0">{{geofence.location}}</td>
                           <td style="width: 20%;" class="border-0">{{geofence.geofenceType}}</td>
                           <td style="width: 30%;" class="border-0">{{geofence.description}}</td>
                           <td style="width: 10%;" class="border-0 text-right">
                              <div class="dropdown dropright">
                                 <button class="bg-transparent border-0" style="position: absolute;z-index: 9999;right: 5px;" type="button" id="dropdownMenuButton-{{i}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                 </button>
                                 <div class="dropdown-menu" attr.aria-labelledby="dropdownMenuButton-{{i}}">
                                    <a class="dropdown-item" routerLink="/fleet/geofence/edit/{{geofence.geofenceID}}">Edit</a>
                                    <a href="javascript:;" class="dropdown-item" (click)="deactivateAsset(geofence.isDeleted, geofence.geofenceID)">Delete</a>
                                 </div>
                               </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <div *ngIf="visibleIndex === i" class="subheader">
                     <div id="map" style="height: 400px;"></div>
                  
                  </div>
               </div>
            </div>

           </section>
        </div>
     </div>
      <!-- <div class="row">
        <div class="col">
          <section class="card">
            <header class="card-header">


              <h2 class="card-title">Geofence List</h2>
            </header>
            <div class="card-body">
              <table class="table table-bordered table-striped mb-0" #FhDataTable id="datatable-default">
                <thead>
                <tr>
                  <th>Fence Name</th>
                  <th>Location</th>
                  <th>Description</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let geofence of geofences">
                  <td>{{geofence.fenceName}}</td>
                  <td>{{geofence.location}}</td>
                  <td>{{geofence.description}}</td>
                  <td><a routerLink="/fleet/geofence/Edit-Geofence/{{geofence.geofenceID}}">Edit</a></td>
                  <td><a [routerLink]="" (click)="deleteGeofence(geofence.geofenceID)" >Delete</a></td>
                 >
                </tr>


                </tbody>
              </table>
            </div>
          </section>
        </div>
      </div> -->

    </section>
  </div>



</section>




