<div class="modal fade" id="driverOtherDetailsModal" tabindex="-1" role="dialog" aria-labelledby="driverOtherDetailsModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 950px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Driver Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="far fa-window-close modal-dismiss" style="font-size:25px;"> </i>
                </button>
            </div>
            <div class="modal-body text-dark">
                <div class="m-2">
                    <ul class="nav nav-tabs top-tabs" id="top-tabs" role="tablist">
                        <li class="nav-item active"> <a class="nav-link active" id="basicDriverDetails-tab" data-toggle="tab" href="#basicDriverDetails" role="tab" aria-controls="basicDriverDetails" aria-selected="false">Basic Details</a> </li>
                        <li class="nav-item"> <a class="nav-link" id="addressDriverDetails-tab" data-toggle="tab" href="#addressDriverDetails" role="tab" aria-controls="addressDriverDetails" aria-selected="false">Address</a> </li>
                        <li class="nav-item"> <a class="nav-link" id="documentDriverDetails-tab" data-toggle="tab" href="#documentDriverDetails" role="tab" aria-controls="documentDriverDetails" aria-selected="false">Document Details</a> </li>
                        <li class="nav-item"> <a class="nav-link" id="paymentDriverDetails-tab" data-toggle="tab" href="#paymentDriverDetails" role="tab" aria-controls="paymentDriverDetails" aria-selected="false">Payment & Licence Details</a> </li>
                        <li class="nav-item"> <a class="nav-link" id="DriverhosDriverDetails-tab" data-toggle="tab" href="#DriverhosDriverDetails" role="tab" aria-controls="DriverhosDriverDetails" aria-selected="false">HOS Compliance</a> </li>
                        <li class="nav-item"> <a class="nav-link" id="emergencyDriverDetails-tab" data-toggle="tab" href="#emergencyDriverDetails" role="tab" aria-controls="emergencyDriverDetails" aria-selected="false">Emergency Contact</a> </li>
                    </ul>
                </div>
                <form>
                    <div class="tab-content" id="myTabContent" style="box-shadow:none;border:none;">
                        <!-- Basic -->
                        <div class="tab-pane fade show active" id="basicDriverDetails" role="tabpanel" aria-labelledby="basicDriverDetails-tab">
                            <div class="row">
                                <div class="col-lg-12 font-weight-bold text-4 text-dark">Basic Details</div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="row m-0">
                                        <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Driver Type:</div>
                                        <div class="col-lg-6 p-2 bor_half">Employee</div>
                                    </div>
                                    <div class="row m-0">
                                        <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Employee ID:</div>
                                        <div class="col-lg-6 p-2 bor_half">52145</div>
                                    </div>
                                    <div class="row  m-0">
                                        <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Driver Status:</div>
                                        <div class="col-lg-6 p-2 bor_half">Active</div>
                                    </div>
                                    <div class="row  m-0">
                                        <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">User Name:</div>
                                        <div class="col-lg-6 p-2 bor_half">John001</div>
                                    </div>
                                    <div class="row  m-0">
                                        <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Driver Name:</div>
                                        <div class="col-lg-6 p-2 bor_half">John Smith</div>
                                    </div>
                                    <div class="row  m-0">
                                        <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Driver Gender:</div>
                                        <div class="col-lg-6 p-2 bor_half">Male</div>
                                    </div>
                                    <div class="row  m-0">
                                        <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">ACE ID:</div>
                                        <div class="col-lg-6 p-2 bor_half">786768</div>
                                    </div>
                                    <div class="row  m-0">
                                        <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">ACI ID:</div>
                                        <div class="col-lg-6 p-2 bor_half">575676</div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row  m-0">
                                        <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Fast ID:</div>
                                        <div class="col-lg-6 p-2 bor_half">8977878</div>
                                    </div>
                                    <div class="row  m-0">
                                        <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Fast Expiry Date:</div>
                                        <div class="col-lg-6 p-2 bor_half">20 Sep, 2020</div>
                                    </div>
                                    <div class="row  m-0">
                                        <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Citizenship:</div>
                                        <div class="col-lg-6 p-2 bor_half">Canadian</div>
                                    </div>
                                    <div class="row  m-0">
                                        <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">CSA:</div>
                                        <div class="col-lg-6 p-2 bor_half">True</div>
                                    </div>
                                    <div class="row m-0">
                                        <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Work Phone:</div>
                                        <div class="col-lg-6 p-2 bor_half">+567-86775446</div>
                                    </div>
                                    <div class="row m-0">
                                        <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Work Email:</div>
                                        <div class="col-lg-6 p-2 bor_half">john@diamond.com</div>
                                    </div>
                                    <div class="row  m-0">
                                        <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Group:</div>
                                        <div class="col-lg-6 p-2 bor_half">Group 1</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ADDRESS -->
                        <div class="tab-pane fade" id="addressDriverDetails" role="tabpanel" aria-labelledby="addressDriverDetails-tab">
                            <div id="address_div">
                                <div class="row">
                                    <div class="col-lg-12 font-weight-bold text-4 text-dark">Address Details</div>
                                </div>
                                <div class="row m-0">
                                    <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Address:</div>
                                    <div class="col-lg-6 p-2 bor_half">Driver Address</div>
                                </div>
                                <div class="row m-0">
                                    <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Address Type:</div>
                                    <div class="col-lg-6 p-2 bor_half">Work</div>
                                </div>
                                <div class="row  m-0">
                                    <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">City:</div>
                                    <div class="col-lg-6 p-2 bor_half">city</div>
                                </div>
                                <div class="row  m-0">
                                    <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Zipcode:</div>
                                    <div class="col-lg-6 p-2 bor_half">4756</div>
                                </div>
                                <div class="row  m-0">
                                    <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">State:</div>
                                    <div class="col-lg-6 p-2 bor_half">state</div>
                                </div>
                                <div class="row  m-0">
                                    <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Country:</div>
                                    <div class="col-lg-6 p-2 bor_half">country</div>
                                </div>
                            </div>
                        </div>
                        <!-- Document -->
                        <div class="tab-pane fade" id="documentDriverDetails" role="tabpanel" aria-labelledby="documentDriverDetails-tab">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div>
                                        <div class="row">
                                            <div class="col-lg-12 font-weight-bold text-4 text-dark">Document Details</div>
                                        </div>
                                        <div class="row  m-0">
                                            <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Document Type:</div>
                                            <div class="col-lg-6 p-2 bor_half">Birth Certificate</div>
                                        </div>
                                        <div class="row  m-0">
                                            <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Document Number:</div>
                                            <div class="col-lg-6 p-2 bor_half">52481</div>
                                        </div>
                                        <div class="row  m-0">
                                            <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Issuing Authority:</div>
                                            <div class="col-lg-6 p-2 bor_half">Authority Name</div>
                                        </div>
                                        <div class="row  m-0">
                                            <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Issuing Country:</div>
                                            <div class="col-lg-6 p-2 bor_half">Canada</div>
                                        </div>
                                        <div class="row  m-0">
                                            <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Issuing State:</div>
                                            <div class="col-lg-6 p-2 bor_half">Alberta</div>
                                        </div>
                                        <div class="row  m-0">
                                            <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Issue Date:</div>
                                            <div class="col-lg-6 p-2 bor_half">Jun 6,2019</div>
                                        </div>
                                        <div class="row  m-0">
                                            <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Issue Date:</div>
                                            <div class="col-lg-6 p-2 bor_half">Jun 6,2024</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Payment -->
                        <div class="tab-pane fade" id="paymentDriverDetails" role="tabpanel" aria-labelledby="paymentDriverDetails-tab">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div id="license_div">
                                        <div class="row">
                                            <div class="col-lg-12 font-weight-bold text-4 text-dark">Licence Details</div>
                                        </div>
                                        <div class="row  m-0">
                                            <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Issued State:</div>
                                            <div class="col-lg-6 p-2 bor_half">Alberta</div>
                                        </div>
                                        <div class="row  m-0">
                                            <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Licence Expiration:</div>
                                            <div class="col-lg-6 p-2 bor_half">Jun 6,2021</div>
                                        </div>
                                        <div class="row  m-0">
                                            <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Contract Start Date:</div>
                                            <div class="col-lg-6 p-2 bor_half">Jun 6,2019</div>
                                        </div>
                                        <div class="row  m-0">
                                            <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Contract End Date:</div>
                                            <div class="col-lg-6 p-2 bor_half">Jun 6,2020</div>
                                        </div>
                                        <div class="row  m-0">
                                            <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Medical Card Renewal:</div>
                                            <div class="col-lg-6 p-2 bor_half">Jun 20,2019</div>
                                        </div>
                                        <div class="row  m-0">
                                            <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Birth Date:</div>
                                            <div class="col-lg-6 p-2 bor_half">Jun 6,1983</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div id="payment_div">
                                        <div class="row">
                                            <div class="col-lg-12 font-weight-bold text-4 text-dark">Payment Details</div>
                                        </div>
                                        <div class="row m-0">
                                            <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Default Payment Type:</div>
                                            <div class="col-lg-6 p-2 bor_half">Pay Per Mile</div>
                                        </div>
                                        <div class="row  m-0">
                                            <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Loaded Miles:</div>
                                            <div class="col-lg-6 p-2 bor_half">546</div>
                                        </div>
                                        <div class="row  m-0">
                                            <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Empty Miles:</div>
                                            <div class="col-lg-6 p-2 bor_half">4756</div>
                                        </div>
                                        <div class="row  m-0">
                                            <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Calculate Empty Miles for a Dispatch After:</div>
                                            <div class="col-lg-6 p-2 bor_half">4556</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="DriverhosDriverDetails" role="tabpanel" aria-labelledby="DriverhosDriverDetails-tab">
                            <div id="compliance_div">
                                <div class="row">
                                    <div class="col-lg-12 font-weight-bold text-4 text-dark">Compliance Details</div>
                                </div>
                                <div class="row m-0">
                                    <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Status:</div>
                                    <div class="col-lg-6 p-2 bor_half">Exempted</div>
                                </div>
                                <div class="row  m-0">
                                    <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Remarks:</div>
                                    <div class="col-lg-6 p-2 bor_half">Remarks for being Exempted</div>
                                </div>
                                <div class="row  m-0">
                                    <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Allow Personal Conveyance (PC):</div>
                                    <div class="col-lg-6 p-2 bor_half">no</div>
                                </div>
                                <div class="row  m-0">
                                    <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Allow Yard Move (YM):</div>
                                    <div class="col-lg-6 p-2 bor_half">yes</div>
                                </div>
                                <div class="row  m-0">
                                    <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Type:</div>
                                    <div class="col-lg-6 p-2 bor_half">ELD</div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="emergencyDriverDetails" role="tabpanel" aria-labelledby="emergencyDriverDetails-tab">
                            <div id="emergency_div">
                                <div class="row">
                                    <div class="col-lg-12 font-weight-bold text-4 text-dark">Emergency Contact Details</div>
                                </div>
                                <div class="row m-0">
                                    <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Name:</div>
                                    <div class="col-lg-6 p-2 bor_half">Mark</div>
                                </div>
                                <div class="row  m-0">
                                    <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Relationship:</div>
                                    <div class="col-lg-6 p-2 bor_half">Brother</div>
                                </div>
                                <div class="row  m-0">
                                    <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Phone:</div>
                                    <div class="col-lg-6 p-2 bor_half">5463466</div>
                                </div>
                                <div class="row  m-0">
                                    <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Email:</div>
                                    <div class="col-lg-6 p-2 bor_half">www.email.com</div>
                                </div>
                                <div class="row  m-0">
                                    <div class="col-lg-6 p-2 font-weight-bold text-3 text-left back-color-gray">Address:</div>
                                    <div class="col-lg-6 p-2 bor_half">100 street, Kings Town, Queen </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
