<section class="body">
  <!-- start: header -->
  <app-header></app-header>

  <!-- end: header -->

  <div class="inner-wrapper">
    <!-- start: sidebar -->
    <app-sidebar></app-sidebar>
    <!-- end: sidebar -->

    <section role="main" class="content-body pl-0">
      <header class="page-header pl-5">
         <div class="row pr-5 " style="padding-top:10px;">
            <div class="col-md-4 col-lg-4 font-weight-bold text-4 text-dark">
               {{title}}
            </div>
            <div class="col-md-8  col-lg-8 text-right pr-4">                               
               <a [routerLink]="['/fleet', 'expenses','fuel', 'Fuel-Entry-List']"  class="btn btn-default btn-sm"><i class="fas fa-list"></i> Fuel Entry List</a>
            </div>
         </div>
      </header>
      <div class="row">
        <div class="col pr-0">
           <div class="card-body text-dark">
              <form class="form-horizontal form-bordered" method="get"  name="form" id="form_">
                 <div class="form-group row">
                    <div class="col-lg-12">
                       <label class="control-label font-weight-bold font-bold text-lg-right text-dark text-4 font-weight-bold pt-2">Basic Details</label>
                    </div>
                    <div class="col-lg-5 offset-lg-1">
                       <div class="row">
                          <div class="col-lg-12 pt-2">
                             <div class="row">
                                <div class="col-lg-3">
                                   <label class="control-label font-weight-bold text-lg-right"
                                      >Unit Type:</label>
                                </div>
                                <div class="col-lg-6">

                                  <div class="btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline btn-fleet mr-2 active" style="width:110px;" (click) = "onChangeUnitType('vehicle')">
                                      <input type="radio" name="unitType" [(ngModel)]="unitType"
                                         id="fuel_unit_vehicle"  checked hidden value="vehicle" > Vehicle </label>
                                    <label class="btn btn-outline btn-fleet mr-2 " style="width:110px;" (click) = "onChangeUnitType('reefer')">
                                      <input type="radio" name="unitType" [(ngModel)]="unitType"
                                         id="fuel_unit_reefer"  hidden value="reefer" > Reefer </label>
                                  </div>
                                </div>
                                <!-- <div class="col-lg-3">
                                   <div class="radio">
                                      <label class="btn btn-md btn-default active csbtn">
                                      <input type="radio" name="unitType" [(ngModel)]="unitType"
                                         id="fuel_unit_vehicle"  checked hidden value="vehicle" (change) = "onChangeUnitType('vehicle')">
                                      Vehicle
                                      </label>
                                   </div>
                                </div>
                                <div class="col-lg-4 text-right">
                                   <div class="radio">
                                      <label  class="btn btn-md btn-default csbtn">
                                      <input type="radio" name="unitType" [(ngModel)]="unitType"
                                         id="fuel_unit_reefer"  hidden value="reefer" (change) = "onChangeUnitType('reefer')">
                                      Reefer
                                      </label>
                                   </div>
                                </div> -->
                               
                             </div>
                          </div>
                       </div>
                       <div class="row pt-3" id="fuelVehicle" *ngIf="unitType ==='vehicle'">
                          <div class="col-lg-10">
                             <label class="control-label font-weight-bold font-bold text-lg-right pt-2" >Vehicle</label>
                             <select data-plugin-selectTwo class="form-control populate" name="vehicleID" [(ngModel)]="vehicleID">
                                <optgroup label="Select Vehicle">
                                   <option *ngFor="let vehicle of vehicles" value="{{vehicle.vehicleID}}">{{vehicle.vehicleIdentification}}</option>
                                   
                                </optgroup>
                             </select>
                          </div>
                         
                       </div>
                       <div class="row pt-3" id="fuelReefer" *ngIf="unitType ==='reefer'">
                          <div class="col-lg-10">
                             <label class="control-label font-weight-bold font-bold text-lg-right pt-2" >Reefer</label>
                             <select data-plugin-selectTwo class="form-control populate" name="reeferID" [(ngModel)]="reeferID">
                                <optgroup label="Select Reefer">
                                 <!-- <option *ngFor="let vehicle of vehicles" value="{{vehicle.vehicleID}}">{{vehicle.vehicleName}}</option> -->
                                   <option value="Trailer 1">Trailer 1</option>
                                   <option value="Trailer 2">Trailer 2</option>
                                   <option value="Trailer 3">Trailer 3</option>
                                   <option value="Trailer 4">Trailer 4</option>
                                </optgroup>
                             </select>
                          </div>
                        
                       </div>
                       <div id="fuelVehicleQty"  *ngIf="unitType ==='vehicle'">
                          <div class="row">
                             <div class="col-lg-4">
                                <label class="control-label font-weight-bold font-bold text-lg-right pt-2" >Fuel Quantity</label>
                                <input type="number" class="form-control" name="vehicleFuelQty" [(ngModel)]="vehicleFuelQty" (change)="calculate()">
                             </div>
                             <div class="col-lg-2 qtumbtn px-0">
                                <select data-plugin-selectTwo class="form-control populate" name="vehicleFuelQtyUnit" [(ngModel)]="vehicleFuelQtyUnit" (change)="changeFuelUnit()">
                                   <optgroup label="">
                                      <option value="gallons">gallons</option>
                                      <option value="litres">litres</option>
                                   </optgroup>
                                </select>
                             </div>
                             <div class="col-lg-4">
                                <label class="control-label font-weight-bold font-bold text-lg-right pt-2" >Amount</label>
                                <input type="number" class="form-control" name="vehicleFuelQtyAmt" [(ngModel)]="vehicleFuelQtyAmt" (change)="calculate()">
                             </div>
                          </div>
                       </div>
                       <div id="fuelReeferQty" *ngIf="unitType ==='reefer'">
                          <div class="row" >
                             <div class="col-lg-4">
                                <label class="control-label font-weight-bold font-bold text-lg-right pt-2" >Fuel Quantity</label>
                                <input type="number" class="form-control" name="reeferFuelQty" [(ngModel)]="reeferFuelQty" (change)="calculate()">
                             </div>
                             <div class="col-lg-2 qtumbtn px-0">
                                <select data-plugin-selectTwo class="form-control populate" name="reeferFuelQtyUnit" [(ngModel)]="reeferFuelQtyUnit" (change)="changeFuelUnit()">
                                   <optgroup label="">
                                      <option value="gallons">gallons</option>
                                      <option value="litres">litres</option>
                                   </optgroup>
                                </select>
                             </div>
                             <div class="col-lg-4">
                                <label class="control-label font-weight-bold font-bold text-lg-right pt-2" >Amount</label>
                                <input type="number" class="form-control" name="reeferFuelQtyAmt" [(ngModel)]="reeferFuelQtyAmt"  (change)="calculate()">
                             </div>
                          </div>
                       </div>
                       <div class="row">
                          <div class="col-lg-4">
                             <label class="control-label font-weight-bold font-bold text-lg-right pt-2" >DEF Fuel Quantity</label>
                             <input type="number" class="form-control" name="DEFFuelQty" [(ngModel)]="DEFFuelQty" (change)="calculate()">
                          </div>
                          <div class="col-lg-2 qtumbtn px-0">
                          
                             <label class="control-label pl-2 text-lg-right" >{{DEFFuelQtyUnit}}</label>

                          </div>
                          <div class="col-lg-4">
                             <label class="control-label font-weight-bold font-bold text-lg-right pt-2" >Amount</label>
                             <input type="number" class="form-control"  name="DEFFuelQtyAmt" [(ngModel)]="DEFFuelQtyAmt" (change)="calculate()">
                          </div>
                       </div>
                       <div class="row">
                          <div class="col-lg-4">
                          </div>
                          <div class="col-lg-2 qtumbtn px-0">
                          </div>
                          <div class="col-lg-4">
                             <label class="control-label font-weight-bold font-bold text-lg-right pt-2" >Total Amount</label>
                             <label class="control-label font-weight-bold text-5"> ${{totalAmount}}</label>
                          </div>
                       </div>
                       <div class="row">
                          <div class="col-lg-4">
                          </div>
                          <div class="col-lg-2 qtumbtn px-0">
                          </div>
                          <div class="col-lg-4">
                             <label class="control-label font-weight-bold font-bold text-lg-right pt-2" >Discount($)</label>
                             <input type="number" class="form-control" name="discount" [(ngModel)]="discount" (change)="calculate()">
                          </div>
                       </div>
                       <div class="row">
                          <div class="col-lg-4">
                             <label class="control-label font-weight-bold font-bold text-lg-right pt-2" >{{costLabel}}</label>
                             <label class="control-label font-weight-bold text-5">${{costPerGallon}}</label>
                          </div>
                          <div class="col-lg-2 qtumbtn px-0">
                          </div>
                          <div class="col-lg-4">
                             <label class="control-label font-weight-bold font-bold text-lg-right pt-2" >Amount Paid</label>
                             <label class="control-label font-weight-bold text-5">${{amountPaid}}</label>
                          </div>
                       </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1">
                       <div class="row">
                          <div class="col-lg-10">
                             <label class="control-label font-weight-bold font-bold text-lg-right">Fuel Date</label> 
                              <input
                                class="form-control"
                                placeholder="dd-mm-yyyy"
                                name="date" [(ngModel)]="date"  (click)="d.toggle()" ngbDatepicker #d="ngbDatepicker"
                              />
                           
                          </div>
                       </div>
                       <div class="row">
                          <div class="col-lg-10">
                             <label class="control-label font-weight-bold font-bold text-lg-right pt-2" >Fuel Type</label>
                             <select data-plugin-selectTwo class="form-control populate" name="fuelType" [(ngModel)]="fuelType">
                                <optgroup label="Select Fuel">
                                   <option value="Bio Diesel">Bio Diesel</option>
                                   <option value="Compressed Natural Gas">Compressed Natural Gas</option>
                                   <option value="Diesel">Diesel</option>
                                   <option value="Electricity">Electricity</option>
                                   <option value="Ethanol">Ethanol</option>
                                   <option value="Gasoline">Gasoline</option>
                                </optgroup>
                             </select>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="form-group row">
                    <div class="col-lg-12">
                       <label class="control-label font-weight-bold font-weight-bold text-lg-right text-dark text-4 pt-2">Payment Details</label>
                    </div>
                    <div class="col-lg-5 offset-lg-1">
                       <div class="form-group row">
                          <div class="col-lg-5">
                             <label class="control-label font-weight-bold font-bold text-lg-right pt-2" >Paid By</label>
                             <select data-plugin-selectTwo class="form-control populate" name="paidBy" [(ngModel)]="paidBy">
                                <optgroup label="Select Payer">
                                   <option value="Person 1">Person 1</option>
                                   <option value="Person 2">Person 2</option>
                                   <option value="Person 3">Person 3</option>
                                   <option value="Person 4">Person 4</option>
                                   <option value="Person 5">Person 5</option>
                                </optgroup>
                             </select>
                          </div>
                          <div class="col-lg-5">
                             <label class="control-label font-weight-bold font-bold text-lg-right pt-2" >Payment Mode</label>
                             <select data-plugin-selectTwo class="form-control populate" name="paymentMode" [(ngModel)]="paymentMode">
                                <optgroup label="Select Payment Mode">
                                   <option value="Cash">Cash</option>
                                   <option value="Check">Check</option>
                                   <option value="Credit Card">Credit Card</option>
                                   <option value="EFT">EFT</option>
                                </optgroup>
                             </select>
                          </div>
                       </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1">
                       <div class="row">
                          <div class="col-lg-10">
                             <label class="control-label font-weight-bold font-bold text-lg-right pt-2" >Reference</label>
                             <input type="text" class="form-control" name="reference" [(ngModel)]="reference" >
                          </div>
                       </div>
                       <div class="row mt-2">
                          <div class="col-lg-5">
                             <div class="checkbox-custom">
                                <input type="checkbox" name="reimburseToDriver" [(ngModel)]="reimburseToDriver">
                                <label class="control-label font-weight-bold">Reimburse to Driver?</label>
                             </div>
                          </div>
                          <div class="col-lg-5">
                             <div class="checkbox-custom">
                                <input type="checkbox" name="deductFromPay" [(ngModel)]="deductFromPay">
                                <label class="control-label font-weight-bold">Deduct from Pay?</label>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="form-group row">
                    <div class="col-lg-12">
                       <label class="control-label font-weight-bold font-weight-bold text-lg-right text-dark text-4 pt-2">Fuel Stop Details</label>
                    </div>
                    <div class="col-lg-5 offset-lg-1">
                       <div class="row pt-2">
                          <div class="col-lg-10">
                             <label class="control-label font-weight-bold font-bold text-lg-right pt-2" >Country</label>
                             <select data-plugin-selectTwo class="form-control populate" name="countryID" [(ngModel)]="countryID" (change)="getStates()">
                              <optgroup label="Select Country">
                                <option *ngFor="let country of countries" value="{{country.countryID}}">{{country.countryName}}</option>

                              </optgroup>
                             </select>
                          </div>
                       </div>
                       <div class="row pt-2">
                          <div class="col-lg-10">
                             <label class="control-label font-weight-bold font-bold text-lg-right pt-2" >State</label>
                             <select data-plugin-selectTwo class="form-control populate" name="stateID"
                             [(ngModel)]="stateID" (change)="getCities()">
                              <optgroup label="">
                                <option *ngFor="let state of states" value="{{state.stateID}}">{{state.stateName}}</option>
                               </optgroup>>
                             </select>
                          </div>
                       </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1">
                       <div class="row pt-2">
                          <div class="col-lg-10">
                             <label class="control-label font-weight-bold font-bold text-lg-right pt-2" >City</label>
                             <select data-plugin-selectTwo class="form-control populate" name="cityID"
                             [(ngModel)]="cityID">
                              <optgroup label="">
                                <option *ngFor="let city of cities" value="{{city.cityID}}">{{city.cityName}}</option>
                               </optgroup>
                             </select>
                          </div>
                       </div>
                       <div class="row pt-2">
                          <div class="col-lg-10">
                             <label class="control-label font-weight-bold font-bold text-lg-right pt-2" >Vendor</label>
                             <select data-plugin-selectTwo class="form-control populate" name="vendorID" [(ngModel)]="vendorID">
                                <optgroup label="Select Vendor">
                                  <option *ngFor = "let vendor of vendors" value="{{vendor.vendorID}}">{{vendor.vendorName}}</option>
                                </optgroup>
                             </select>
                          </div>
                       </div>
                    </div>
                 </div>
                 
                 <div class="form-group row">
                  <div class="col-lg-12">
                      <label class="control-label font-weight-bold font-weight-bold text-lg-right text-dark text-4 pt-2">Add Trip ID</label>
                   </div>
                    <div class="col-lg-5 offset-lg-1">
                      <div class="row pt-2">
                          <div class="col-lg-10">
                           <label class="control-label font-weight-bold font-bold text-lg-right pt-2" >Select Trip ID</label>
                           <select data-plugin-selectTwo class="form-control populate" name="tripID" [(ngModel)]="tripID">
                             <optgroup label="Select Trip">
                                 <option value="DIS-2536">TR-2536</option>
                                 <option value="DI-0082">DI-0082</option>
                                 <option value="DIS-9985">DIS-9985</option>
                                 <option value="DIS-5689230">DIS-5689230</option>
                             </optgroup>
                             </select>
                          </div>
                      </div>
                    </div>
                  
                </div>
                 <div class="form-group row">
                    <div class="col-lg-12">
                       <label class="control-label font-weight-bold font-bold text-lg-right text-dark text-4  pt-2">Additional Details</label>
                    </div>
                    <div class="col-lg-5 offset-lg-1">
                       <div class="row pt-2">
                          <div class="col-lg-10">
                             <label class="control-label font-weight-bold font-bold text-lg-right pt-2" >Average Gross Vehicle Weight</label>
                             <select data-plugin-selectTwo class="form-control populate" name="additionalDetails.avgGVW" [(ngModel)] ="additionalDetails.avgGVW">
                                <optgroup label="">
                                   <option value="10-15,000 lbs">10-15,000 lbs</option>
                                   <option value="15-20,000 lbs">15-20,000 lbs</option>
                                   <option value="20-25,000 lbs">20-25,000 lbs</option>
                                   <option value="25-30,000 lbs">25-30,000 lbs</option>
                                </optgroup>
                             </select>
                          </div>
                       </div>
                       <div class="form-group row" id="attachPhotoLine">
                          <div class="col-lg-10">
                             <label class="control-label font-weight-bold font-bold text-lg-right pt-2" >Attach Photo</label>
                             <input (change)="selectDocuments($event, 'uploadedPhotos')" name="additionalDetails.uploadedPhotos" type="file" multiple class="form-control p-0">                          </div>
                          <div class="col-lg-2  mar-top-37">
                          </div>
                         
                       </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1">
                       <div class="row pt-2">
                          <div class="col-lg-10">
                             <label class="control-label font-weight-bold font-bold text-lg-right pt-2" >Odometer Reading at Time of Fuelling</label>
                             <input class="form-control" type="text" name="additionalDetails.odometer" [(ngModel)] ="additionalDetails.odometer">
                          </div>
                       </div>
                       <div class="row pt-2">
                          <div class="col-lg-10">
                             <label class="control-label font-weight-bold font-bold text-lg-right pt-2" >Description</label>
                             <textarea class="form-control" rows="3" name="additionalDetails.description" [(ngModel)] ="additionalDetails.description"></textarea>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="form-group row">
                    <div class="col-lg-11 text-right">
                     <button type="button" class="btn btn-default" onclick="goBack()">Cancel</button> 
                     <button type="button" *ngIf="!entryID" (click)="addFuelEntry()" class="btn btn-success">Save</button> 
                     <button type="button" *ngIf="entryID" (click)="updateFuelEntry()" class="btn btn-success">Update</button>
                    </div>
                 </div>
              </form>
           </div>
        </div>
     </div>
    </section>
  </div>
</section>
