<section class="body">
  <div class="inner-wrapper">
    <section role="main" class="content-body pl-0 pr-0 pt-0">
      <header class="page-header pr19 pl7">
        <div class="row" style="padding-top: 10px">
          <div class="col-md-4 col-lg-4">
            <h4 class="text-4 mt-0 mb-0 font-weight-bold text-dark">
              Sales Invoice# - {{ sInvNo }}
              <span class="badge badge-danger p-1" *ngIf="isInvDue">{{
                status
              }}</span>
              <span
                class="badge badge-dark p-1 text-uppercase"
                *ngIf="!isInvDue"
              >
                <span *ngIf="status === 'open'">Open</span>
                <span *ngIf="status === 'partially_deducted'"
                  >Partially Received</span
                >
              </span>
              <span
                class="badge badge-success p-1 text-uppercase ml-1"
                *ngIf="status === 'sent'"
                >Emailed</span
              >
            </h4>
          </div>
          <div class="col-md-8 col-lg-8 text-right pr-1">
            <button
              type="button"
              class="btn btn-success btn-sm mr-2"
              (click)="sendConfirmationEmail()"
              [disabled]="emailDisabled || status == 'invoiced'"
            >
              Send Email To Customer
            </button>
            <button
              type="button"
              *ngIf="isPDF"
              class="btn btn-success btn-sm mr-2"
              (click)="openModal()"
            >
              PDF
            </button>
            <a
              routerLink="/accounts/sales/invoices/list/{{sessionID}}"
              class="btn btn-sm btn-default"
              ><i class="fas fa-list"></i> All Sales Invoices</a
            >
          </div>
        </div>
      </header>

      <section class="m-2">
        <div class="row mb-2">
          <div class="col-lg-12">
            <div class="text-dark">
              <div class="form-group row">
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-md-4 col-lg-4 pr-0">
                      <div class="text-center p-4 bg-white">
                        <i class="far fa-calendar-alt text-7"></i>
                        <br />
                        <p class="mb-0 text-5 font-weight-bold text-dark">
                          {{ txnDate | date: "yyyy/MM/dd" }}
                        </p>
                        <p class="mb-0">DATE</p>
                      </div>
                    </div>
                    <div class="col-md-4 col-lg-4 pr-0 pl-2">
                      <div class="text-center p-4 bg-white">
                        <i class="fa fa-user text-7"></i>
                        <br />
                        <p
                          class="mb-0 text-5 font-weight-bold text-dark text-capitalize"
                        >
                          {{ cName ? cName : "-" }}
                        </p>
                        <p class="mb-0">CUSTOMER</p>
                      </div>
                    </div>

                    <div class="col-md-4 col-lg-4 pl-2">
                      <div class="text-center p-4 bg-white">
                        <i class="fas fa-money-bill-wave text-7"></i>
                        <br />
                        <p class="mb-0 text-5 font-weight-bold text-dark">
                          {{ currency }} {{ finalTotal }}
                        </p>
                        <p class="mb-0">AMOUNT</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-lg-12">
            <div class="bg-white p-3 text-dark">
              <div class="form-group row">
                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-lg-12">
                      <table class="table table-bordered table-responsive-lg">
                        <tbody>
                          <tr>
                            <td
                              width="40%"
                              class="back-color-gray font-weight-bold"
                            >
                              Due Date
                            </td>
                            <td width="60%">
                              {{ dueDate | date: "yyyy/MM/dd" }}
                            </td>
                          </tr>
                          <tr>
                            <td class="back-color-gray font-weight-bold">
                              Reference#
                            </td>
                            <td>{{ sRef ? sRef : "-" }}</td>
                          </tr>
                          <tr>
                            <td class="back-color-gray font-weight-bold">
                              Sales Person
                            </td>
                            <td>{{ salePerson ? salePerson : "-" }}</td>
                          </tr>
                          <tr>
                            <td class="back-color-gray font-weight-bold">
                              Total Amount
                            </td>
                            <td>{{ finalTotal }} {{ currency }}</td>
                          </tr>
                          <tr>
                            <td class="back-color-gray font-weight-bold">
                              Received Amount
                            </td>
                            <td>{{ received }} {{ currency }}</td>
                          </tr>
                          <tr>
                            <td class="back-color-gray font-weight-bold">
                              Balance Amount
                            </td>
                            <td>{{ balance }} {{ currency }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-lg-12">
                      <table class="table table-bordered table-responsive-lg">
                        <tbody>
                          <tr>
                            <td class="back-color-gray font-weight-bold">
                              Payment Terms
                            </td>
                            <td>
                              <span *ngIf="paymentTerm === '15'">15 Days</span>
                              <span *ngIf="paymentTerm === '30'">30 Days</span>
                              <span *ngIf="paymentTerm === '45'">45 Days</span>
                              <span *ngIf="paymentTerm === 'dueReceipt'"
                                >Due on receipt</span
                              >
                              <span *ngIf="paymentTerm === 'dueEnd'"
                                >Due end of the month</span
                              >
                              <span *ngIf="paymentTerm === 'custom'"
                                >Custom</span
                              >
                            </td>
                          </tr>
                          <!-- <tr>
                                    <td width="40%" class="back-color-gray font-weight-bold">Discount</td>
                                    <td width="60%">50 CAD</td>
                                 </tr> -->
                          <tr>
                            <td
                              width="40%"
                              class="back-color-gray font-weight-bold"
                            >
                              Taxes
                            </td>
                            <td width="60%">
                              <span
                                *ngFor="
                                  let data of taxes;
                                  let j = index;
                                  last as isLast
                                "
                              >
                                {{ data.name ? data.name : "" }} {{ data.tax }}%
                                <span *ngIf="!isLast">,</span>
                              </span>
                            </td>
                          </tr>
                          <tr>
                            <td
                              width="40%"
                              class="back-color-gray font-weight-bold"
                            >
                              Charges
                            </td>
                            <td width="60%">
                              {{ chargeName }},
                              {{ chargeType === "add" ? "+" : "-" }}
                              {{ chargeAmount }} {{ currency }}
                            </td>
                          </tr>

                          <tr>
                            <td class="back-color-gray font-weight-bold">
                              Remarks
                            </td>
                            <td>{{ remarks ? remarks : "-" }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-lg-12">
                      <table
                        class="table table-bordered table-hover table-striped"
                      >
                        <thead>
                          <tr>
                            <th>Commodity</th>
                            <th>Quantity</th>
                            <th>Rate</th>
                            <th>Description</th>
                            <th>Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of sOrderDetails">
                            <td>{{ item.commodity ? item.commodity : "-" }}</td>
                            <td>
                              {{ item.qty ? item.qty : "-" }} {{ item.qtyUnit }}
                            </td>
                            <td>
                              {{ item.rate ? item.rate : "-" }} per
                              {{ item.rateUnit }}
                            </td>
                            <td>{{ item.desc ? item.desc : "-" }}</td>
                            <td>
                              {{
                                item.amount
                                  ? (item.amount | number: "1.2-2")
                                  : "-"
                              }}
                              {{ currency }}
                            </td>
                          </tr>
                          <tr *ngIf="sOrderDetails?.length === 0">
                            <td>No Data Found</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-lg-12">
                      <table
                        class="table table-bordered table-hover table-striped"
                      >
                        <thead>
                          <tr>
                            <th>Account Name</th>
                            <th>Type</th>
                            <th>Debit</th>
                            <th>Credit</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let dt of transactionLog">
                            <td>
                              {{ dt.actName | titlecase }}
                            </td>
                            <td>{{ dt.type | titlecase }}</td>
                            <td>
                              <span *ngIf="dt.trxType === 'debit'"
                                >{{ dt.amount | number: "1.2-2" }}&nbsp;
                                {{ dt.currency }}</span
                              >
                            </td>
                            <td>
                              <span *ngIf="dt.trxType === 'credit'"
                                >{{ dt.amount | number: "1.2-2" }}&nbsp;
                                {{ dt.currency }}</span
                              >
                            </td>
                          </tr>
                          <tr>
                            <td colspan="2" class="font-weight-bold text-right">
                              Total
                            </td>
                            <td>
                              {{ finalTotal | number: "1.2-2" }} {{ currency }}
                            </td>
                            <td>
                              {{ finalTotal | number: "1.2-2" }} {{ currency }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>
</section>

<ng-template #previewSaleInvoice let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Sales Invoice</h4>
    <button type="button" class="close" (click)="modal.dismiss()">
      &times;
    </button>
  </div>

  <div class="modal-content">
    <div class="modal-body text-dark text-capitalize" id="print_invoice">
      <table
        width="100%"
        border="0"
        align="center"
        cellpadding="0"
        cellspacing="0"
      >
        <tbody>
          <tr>
            <td>
              <h1
                class="modal-title text-dark font-weight-bold text-6 mb-1 mt-1"
                id="modal-basic-title"
              >
                Sales Invoice
              </h1>
            </td>
          </tr>
          <tr>
            <td valign="center">
              <p class="text-dark mb-0 text-4 mt-2">
                <strong>Sales Invoice #:</strong> {{ sInvNo }}
              </p>
              <p class="text-dark mb-0 text-4 mt-0">
                <strong>Sales Invoice Date:</strong>
                {{ txnDate ? (txnDate | date: "yyyy/MM/dd") : "-" }}
              </p>
            </td>
            <td valign="center" align="right">
              <img
                crossorigin="anonymous"
                *ngIf="logo"
                [src]="logo"
                class="mb-2"
                alt="logo"
                style="max-width: 100px"
              />
              <p
                *ngIf="tagline && tagline != ''"
                class="mb-2 font-weight-bold text-dark"
              >
                {{ tagline }}
              </p>
            </td>
          </tr>
          <tr>
            <td colspan="2" height="1" bgcolor="#bbbbbb"></td>
          </tr>
          <tr>
            <td width="50%" valign="top">
              <h2 class="mt-3 mb-0 text-dark text-5 font-weight-semibold LH20">
                Customer
              </h2>
              <p class="text-dark mb-3 text-5 font-weight-semibold">
                {{ cName ? cName : "NA" }}
              </p>
              <p class="text-dark mb-1 text-capitalize">
                <strong>Address:</strong> {{ cusAddress ? cusAddress : "NA"
                }}<br />
              </p>
            </td>
            <td valign="top" align="right">
              <h2 class="text-dark text-5 mt-0 mb-0">&nbsp;</h2>
              <p class="text-dark mb-0 text-4">
                <strong>Phone:</strong> {{ cusPhone ? cusPhone : "NA" }}<br />
                <strong>Email:</strong> {{ cusEmail ? cusEmail : "NA" }}<br />
              </p>
            </td>
          </tr>
          <tr>
            <td colspan="2" height="1" bgcolor="#bbbbbb"></td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2">
              <h2 class="text-dark text-4 mt-0 mb-0 font-weight-bold">
                Invoice
              </h2>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <table
                class="w100 text-dark table-bordered"
                cellspacing="0"
                cellpadding="0"
              >
                <tbody>
                  <tr>
                    <td class="pl-3 font-weight-bold pt-1 pb-1" width="15%">
                      <p class="m-0 text-dark" style="font-weight: 600">
                        Due Date#
                      </p>
                    </td>
                    <td class="pl-3 font-weight-bold pt-1" width="15%">
                      <p class="m-0 text-dark" style="font-weight: 600">
                        Reference#
                      </p>
                    </td>
                    <td class="pl-3 font-weight-bold pt-1" width="15%">
                      <p class="m-0 text-dark" style="font-weight: 600">
                        Sales Person
                      </p>
                    </td>
                    <td class="pl-3 font-weight-bold pt-1" width="15%">
                      <p class="m-0 text-dark" style="font-weight: 600">
                        Status
                      </p>
                    </td>
                    <td class="pl-3 font-weight-bold pt-1 text-right pr-3">
                      <p class="m-0 text-dark" style="font-weight: 600">
                        Remarks
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td class="pl-3 pt-1 pb-1" height="25">
                      <p class="m-0 text-dark">
                        {{ dueDate ? (dueDate | date: "yyyy/MM/dd") : "-" }}
                      </p>
                    </td>
                    <td class="pl-3 pt-1" height="25">
                      <p class="m-0 text-dark">{{ sRef ? sRef : "-" }}</p>
                    </td>
                    <td class="pl-3 pt-1">
                      <p class="m-0 text-dark">
                        {{ salePerson ? salePerson : "-" }}
                      </p>
                    </td>
                    <td class="pl-3 pt-1">
                      <p class="m-0 badge badge-dark p-1 text-uppercase">
                        {{ payStatus ? payStatus : "-" }}
                      </p>
                    </td>
                    <td class="pl-3 pt-1 text-right pr-3">
                      <p class="m-0 text-dark">{{ remarks ? remarks : "-" }}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2">
              <h2 class="text-dark text-4 mt-0 mb-0 font-weight-bold">
                Extras
              </h2>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <table
                class="w100 text-dark table-bordered"
                cellspacing="0"
                cellpadding="0"
              >
                <tbody>
                  <tr>
                    <td class="pl-3 font-weight-bold pt-1 pb-1">
                      <p class="m-0 text-dark" style="font-weight: 600">
                        Taxes
                      </p>
                    </td>
                    <td class="pl-3 font-weight-bold pt-1 pr-3 text-right">
                      <p class="m-0 text-dark" style="font-weight: 600">
                        Charges
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td class="pl-3 pt-1 pb-1" width="50%">
                      <span
                        *ngFor="
                          let data of taxes;
                          let j = index;
                          last as isLast
                        "
                      >
                        {{ data.name }}: {{ data.tax }}%
                        <span *ngIf="!isLast">,</span>
                      </span>
                    </td>

                    <td class="pl-3 pt-1 text-right pr-3" width="50%">
                      {{ chargeName }},
                      {{ chargeType === "add" ? "+" : "-" }}
                      {{ chargeAmount }} {{ currency }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2">
              <table
                class="w100 text-dark table-bordered"
                cellspacing="0"
                cellpadding="0"
              >
                <thead>
                  <tr>
                    <td
                      class="pl-3 font-weight-bold pt-1 pb-1 bbw-1px"
                      width="15%"
                    >
                      <p class="m-0 text-dark" style="font-weight: 600">
                        Commodity
                      </p>
                    </td>
                    <td class="pl-3 font-weight-bold pt-1 bbw-1px" width="15%">
                      <p class="m-0 text-dark" style="font-weight: 600">
                        Quantity
                      </p>
                    </td>
                    <td class="pl-3 font-weight-bold pt-1 bbw-1px" width="15%">
                      <p class="m-0 text-dark" style="font-weight: 600">Rate</p>
                    </td>
                    <td class="pl-3 font-weight-bold pt-1 bbw-1px" width="27%">
                      <p class="m-0 text-dark" style="font-weight: 600">
                        Description
                      </p>
                    </td>
                    <td
                      class="pl-3 font-weight-bold pt-1 pr-3 text-right bbw-1px"
                    >
                      <p class="m-0 text-dark" style="font-weight: 600">
                        Amount
                      </p>
                    </td>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of sOrderDetails">
                    <td class="pl-3 pt-1 pb-1">
                      {{ item.commodity ? item.commodity : "-" }}
                    </td>
                    <td class="pl-3 pt-1">
                      {{ item.qty ? item.qty : "-" }} {{ item.qtyUnit }}
                    </td>
                    <td class="pl-3 pt-1">
                      {{ item.rate ? item.rate : "-" }} /
                      {{ item.rateUnit }}
                    </td>
                    <td class="pl-3 pt-1">
                      {{ item.desc ? item.desc : "-" }}
                    </td>
                    <td class="pl-3 pt-1 pr-3 text-right">
                      {{ item.amount ? (item.amount | number: "1.2-2") : "-" }}
                      {{ currency }}
                    </td>
                  </tr>
                  <tr *ngIf="sOrderDetails?.length === 0">
                    <td>No Data Found</td>
                  </tr>
                </tbody>
              </table>
              <table class="border-0 w-100 mt-4">
                <tbody>
                  <tr>
                    <td class="border-0 text-right" colspan="5">
                      <p class="text-5 text-dark">
                        Total Amount:
                        <span class="text-5 font-weight-bold"
                          >{{ currency }}
                          {{
                            finalTotal ? (finalTotal | number: "1.2-2") : "0"
                          }}</span
                        >
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>

          <tr>
            <td colspan="2">
              <table border="0" align="center" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <td align="center">
                      <h2 class="mb-0 text-dark text-4 font-weight-normal">
                        Powered By
                      </h2>
                      <img
                        src="../../../../../../assets/img/logo.png"
                        width="207"
                        height="28"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        (click)="modal.dismiss('Cross click')"
        class="btn btn-default"
      >
        Cancel
      </button>
      <button (click)="generatePDF()" class="btn btn-success ml-2">
        Download
      </button>
    </div>
  </div>
</ng-template>
