<section class="body">
    <div class="inner-wrapper">
        <section role="main" class="content-body">
            <header class="page-header">
                <h2>ACE Details</h2>
                <div class="right-wrapper text-right pt-2 pr-2">

                    <div class="btn-group btn-group1 flex-wrap mr-1">
                        <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false">Actions<span class="caret"></span></button>
                        <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                            <a routerLink="/dispatch/cross-border/ACE-edit-eManifest/{{entryID }}"
                                class="dropdown-item text-1">Edit</a>
                            <!-- <a class="dropdown-item text-1" href="">Print</a>
                            <a class="dropdown-item text-1" href="">Fax</a>
                            <a class="dropdown-item text-1" href="">Email</a> -->
                            <!-- <a class="dropdown-item text-1" href="">Export</a> -->
                        </div>
                    </div>
                    <div class="btn-group btn-group1 flex-wrap mr-1">
                        <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false">Send To CBP<span class="caret"></span></button>
                        <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">

                            <a class="dropdown-item text-1" href="javascript:;" (click)="sendCBPFn()">Send Complete
                                eManifest</a>
                            <a class="dropdown-item text-1" (click)="amendManifest()">Amend Completed
                                eManifest</a>
                            <a class="dropdown-item text-1" (click) ="cancelManifest(entryID)">Cancel Completed eManifest</a>
                        </div>
                    </div>
                    <a [routerLink]="['/dispatch', 'cross-border','eManifests']" class="btn btn-default btn-sm"><i
                        class="fas fa-list"></i> ACE Manifests</a>
                    </div>
            </header>
            <div class="ace-main__wrapper p-4 bg-white">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header border back-color-gray p-2">
                                <h4 class="m-0">Trip Number<b> {{tripNumber}}</b></h4>
                            </div>
                            <div class="card-body border">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <table class="table table-bordered m-0">
                                            <tbody>
                                                <tr>
                                                    <th width="40%" class="back-color-gray">Port of Arrival:</th>
                                                    <td>{{usPortOfArrival}}</td>
                                                </tr>
                                                <tr>
                                                    <th width="40%" class="back-color-gray">Estimated Arrival Date:</th>
                                                    <td>{{estimatedArrivalDateTime}}</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-lg-6">
                                        <table class="table table-bordered m-0">
                                            <tbody>
                                                <tr>
                                                    <th width="40%" class="back-color-gray">Current Status:
                                                         <div class="btn-group btn-group1 flex-wrap mr-1">
                                                            <span class="fas fa-pencil-alt dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></span>
                                                        <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                                                            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                                            <a class="dropdown-item text-1" href="javascript:;"
                                                                (click)="setStatus(entryID,'Draft')">Draft</a>
                                                            <a class="dropdown-item text-1" href="javascript:;"
                                                                (click)="setStatus(entryID,'Cancelled Manifest')">Cancelled Manifest</a>
                                                            <a class="dropdown-item text-1" href="javascript:;"
                                                                (click)="setStatus(entryID,'Transmitted to CBP')">Transmitted to CBP</a>
                                                            <a class="dropdown-item text-1" href="javascript:;"
                                                                (click)="setStatus(entryID,'Preliminary Manifest on File with CBP')">Preliminary Manifest On File with CBP</a>
                                                            <a class="dropdown-item text-1" href="javascript:;"
                                                                (click)="setStatus(entryID,'CBP Returned Error')">CBP Returned Error</a>
                                                            <a class="dropdown-item text-1" href="javascript:;"
                                                                (click)="setStatus(entryID,'Complete Manifest On File with CBP')">Complete Manifest On File with CBP</a>
                                                            <a class="dropdown-item text-1" href="javascript:;"
                                                                (click)="setStatus(entryID,'Complete Manifest and Entry Numbers On File with CBP')">Complete Manifest and Entry Numbers On File with CBP</a>
                                                            <a class="dropdown-item text-1" href="javascript:;"
                                                                (click)="setStatus(entryID,'Truck Arrived at Border')">Truck Arrived at Border</a>
                                                            <a class="dropdown-item text-1" href="javascript:;"
                                                                (click)="setStatus(entryID,'Truck Released at Border')">Truck Released at Border</a>
                                                        </div>
                                                    </div></th>
                                                    <td>{{currentStatus}}</td>
                                                </tr>
                                                <tr>
                                                    <th width="40%" class="back-color-gray">Last Edited:</th>
                                                    <td>{{timeModified}} By {{modifiedBy}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3" *ngIf =" borderResponses ?.length">
                    <div class="col-12">
                        <div class="card">
                            <div
                                class="card-header border back-color-gray p-2 d-flex justify-content-between align-items-center">
                                <h4 class="m-0 ">ACE eManifest History</h4>
                            </div>
                            <div class="card-body border scroll-table-class">
                                <table class="table  table-responsive-md table-bordered table-striped mb-0">
                                    <thead>
                                        <tr>
                                            <th>Sr.</th>
                                            <th>Date/Time</th>
                                            <th>Status</th>
                                            <th>Status Messages</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let response of borderResponses; let i = index">
                                            <td>{{i+1}}</td>
                                            <td>{{response.dateTime}}</td>
                                            <td>{{response.status}}</td>
                                            <td><b>{{response.message}}</b>&nbsp;&nbsp;
                                                     <span *ngFor="let error of response.errors">{{error.note}},<br></span>
                                                </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- SHIPMENT DIV -->
                <div class="row mt-3" *ngIf="shipments?.length">
                    <div class="col-12">
                        <div class="card">
                            <div
                                class="card-header border back-color-gray p-2 d-flex justify-content-between align-items-center">
                                <h4 class="m-0 ">ACE Shipments on <b>{{tripNumber}}</b></h4>
                                <div class=" pull-right">
                                    <!-- <button class="btn btn-success btn-sm mr-1"> Set Shipment Status</button> -->
                                    <!-- <button class="btn btn-success btn-sm"> Send to CBP</button> -->
                                    <a routerLink="/dispatch/cross-border/ACE-edit-eManifest/{{entryID }}"
                                        class="btn btn-success btn-sm"><i class="fas fa-plus"></i> Add Shipment</a>
                                </div>
                            </div>
                            <div class="card-body border">
                                <table class="table  table-responsive-md table-bordered table-striped mb-0">
                                    <thead>
                                        <tr>
                                            <th>Shipment Number</th>
                                            <!-- <th>Entry Status</th> -->
                                            <th>Type</th>
                                            <th>Shipper</th>
                                            <th>Consignee</th>
                                            <th>Total Commodities</th>
                                            <th>Total Quantity</th>
                                            <th width="10%">Actions </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let shipment of shipments">
                                            <td data-toggle="modal" data-target="#showShipmentDetails"
                                                class="modal-with-form cursor-pointer "
                                                (click)="showShipmentDetails(shipment.shipmentID)">
                                                {{shipment.shipmentControlNumber}}</td>
                                            <!-- <td></td> -->
                                            <td data-toggle="modal" data-target="#showShipmentDetails"
                                                class="modal-with-form cursor-pointer"
                                                (click)="showShipmentDetails(shipment.shipmentID)">
                                                {{shipment.type}}</td>
                                            <td data-toggle="modal" data-target="#showShipmentDetails"
                                                class="modal-with-form cursor-pointer"
                                                (click)="showShipmentDetails(shipment.shipmentID)">
                                                {{shipment.shipper.name}}<br>{{shipment.shipper.address.addressLine}}
                                                {{shipment.shipper.address.city}}
                                                {{stateCodeToName[shipment.shipper.address.stateProvince]}}
                                                {{shipment.shipper.address.postalCode}}
                                            </td>
                                            <td data-toggle="modal" data-target="#showShipmentDetails"
                                                class="modal-with-form cursor-pointer"
                                                (click)="showShipmentDetails(shipment.shipmentID)">
                                                {{shipment.consignee.name}}<br>{{shipment.consignee.address.addressLine}}
                                                {{shipment.consignee.address.city}}
                                                {{stateCodeToName[shipment.consignee.address.stateProvince]}}
                                                {{shipment.consignee.address.postalCode}}

                                            </td>
                                            <td data-toggle="modal" data-target="#showShipmentDetails"
                                                class="modal-with-form cursor-pointer"
                                                (click)="showShipmentDetails(shipment.shipmentID)">
                                                {{shipment.commodities.length}}</td>
                                            <td data-toggle="modal" data-target="#showShipmentDetails"
                                                class="modal-with-form cursor-pointer"
                                                (click)="showShipmentDetails(shipment.shipmentID)"><span
                                                    *ngFor="let commodity of shipment.commodities">{{commodity.quantity}}{{commodity.packagingUnit}},</span>
                                            </td>
                                            <td class="actions">
                                                <a routerLink="/dispatch/cross-border/ACE-edit-eManifest/{{entryID }}"><i
                                                        class="fas fa-pencil-alt black_color"></i> Edit</a>
                                                <!-- <a routerLink="/dispatch/cross-border/ACE-edit-eManifest/{{entryID }}" class="delete-row"><i class="far fa-trash-alt black_color"></i> Delete</a> -->
                                                <!-- <a href="" class="delete-row"><i class="far fa-trash-alt black_color"></i> Edit</a> -->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- DRIVERS PASSENGERS DIV -->
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="card">
                            <div
                                class="card-header border back-color-gray p-2 d-flex justify-content-between align-items-center">
                                <h4 class="m-0 ">Driver, Passengers and Team Drivers</h4>
                                <div class=" pull-right">
                                    <a routerLink="/dispatch/cross-border/ACE-edit-eManifest/{{entryID }}"
                                        class="btn btn-success btn-sm mr-1"><i class="fas fa-plus"></i> Add
                                        Co-Driver</a>
                                    <a routerLink="/dispatch/cross-border/ACE-edit-eManifest/{{entryID }}"
                                        class="btn btn-success btn-sm"><i class="fas fa-plus"></i> Add Passenger</a>
                                </div>
                            </div>
                            <div class="card-body border">
                                <table class="table  table-responsive-md table-bordered table-striped mb-0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Type</th>
                                            <th>Driver#</th>
                                            <th>Fast Card#</th>
                                            <th>Documents#</th>

                                            <!-- <th>Address</th> -->
                                            <th width="10%">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let driver of drivers">

                                            <td data-toggle="modal" data-target="#showDriverDetails"
                                            class="modal-with-form cursor-pointer"
                                            (click)="showDriverDetails(driver.driverID)">{{driver.firstName}}{{driver.lastName}}</td>
                                            <td  data-toggle="modal" data-target="#showDriverDetails"
                                            class="modal-with-form cursor-pointer"
                                            (click)="showDriverDetails(driver.driverID)">Driver</td>
                                            <td  data-toggle="modal" data-target="#showDriverDetails"
                                            class="modal-with-form cursor-pointer"
                                            (click)="showDriverDetails(driver.driverID)">{{driver.driverNumber}}</td>
                                            <td  data-toggle="modal" data-target="#showDriverDetails"
                                            class="modal-with-form cursor-pointer"
                                            (click)="showDriverDetails(driver.driverID)">{{driver.fastCardNumber}}</td>
                                            <td><span
                                                    *ngFor="let document of driver.travelDocuments">{{document.number}},</span>
                                            </td>

                                            <!-- <td>Address</td> -->
                                            <td class="actions">
                                                <a routerLink="/dispatch/cross-border/ACE-edit-eManifest/{{entryID }}"><i
                                                        class="fas fa-pencil-alt black_color"></i> Edit</a>
                                            </td>
                                        </tr>
                                        <tr *ngFor="let passenger of passengers">
                                            <td data-toggle="modal" data-target="#showPassengerDetails"
                                            class="modal-with-form cursor-pointer"
                                            (click)="showPassengerDetails(passenger.passengerID)">{{passenger.firstName}}{{passenger.lastName}}</td>
                                            <td data-toggle="modal" data-target="#showPassengerDetails"
                                            class="modal-with-form cursor-pointer"
                                            (click)="showPassengerDetails(passenger.passengerID)">Passenger</td>
                                            <td data-toggle="modal" data-target="#showPassengerDetails"
                                            class="modal-with-form cursor-pointer"
                                            (click)="showPassengerDetails(passenger.passengerID)"></td>
                                            <td>{{passenger.fastCardNumber}}</td>
                                            <td data-toggle="modal" data-target="#showPassengerDetails"
                                            class="modal-with-form cursor-pointer"
                                            (click)="showPassengerDetails(passenger.passengerID)"><span
                                                    *ngFor="let document of passenger.travelDocuments">{{document.number}},</span>
                                            </td>
                                            <!-- <td>Address</td> -->
                                            <td class="actions">
                                                <a routerLink="/dispatch/cross-border/ACE-edit-eManifest/{{entryID }}"><i
                                                        class="fas fa-pencil-alt black_color"></i> Edit</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- TRUCK -->
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="card">
                            <div
                                class="card-header border back-color-gray p-2 d-flex justify-content-between align-items-center">
                                <h4 class="m-0 ">Vehicle on<b>{{tripNumber}}</b></h4>
                                <div class=" pull-right">
                                    <!-- <button class="btn btn-success btn-sm"> Set IIT Status</button> -->
                                </div>
                            </div>
                            <div class="card-body border">
                                <table class="table  table-responsive-md table-bordered table-striped mb-0">
                                    <thead>
                                        <tr>
                                            <th width="10%">Truck#</th>
                                            <th width="10%">Type</th>
                                            <th width="15%">VIN#</th>
                                            <th width="10%">DOT Number</th>
                                            <th width="15%">Licence Plate</th>
                                            <th width="15%">IIT</th>
                                            <th width="15%">Seal Numbers</th>
                                            <th width="10%">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-toggle="modal" data-target="#showTruckDetails"
                                        class="modal-with-form cursor-pointer">
                                            <td>{{truck.number}}</td>
                                            <td>{{vehicleTypeObects[truck.type]}}</td>
                                            <td>{{truck.vinNumber}}</td>
                                            <td>{{truck.dotNumber}}</td>
                                            <td><span
                                                *ngFor="let license of truck.licensePlates;">{{license.number}}</span>
                                        </td>
                                            <td>IIT Status</td>
                                            <td><span *ngFor="let seal of truck.sealNumbers;">{{seal}}&nbsp;</span></td>
                                            <td class="actions"><a routerLink="/dispatch/cross-border/ACE-edit-eManifest/{{entryID }}"><i
                                                        class="fas fa-pencil-alt black_color"></i> Edit</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            <!-- TRAILER -->
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="card">
                            <div
                                class="card-header border back-color-gray p-2 d-flex justify-content-between align-items-center">
                                <h4 class="m-0 ">Asset(s) on <b>{{tripNumber}}</b></h4>
                                <div class=" pull-right">
                                    <!-- <a routerLink="/dispatch/cross-border/ACE-edit-eManifest/{{entryID }}"
                                        class="btn btn-success btn-sm mr-1"> Set IIT Status</a> -->
                                    <a routerLink="/dispatch/cross-border/ACE-edit-eManifest/{{entryID }}"
                                        class="btn btn-success btn-sm"><i class="fas fa-plus"></i> Add Trailer</a>
                                </div>
                            </div>
                            <div class="card-body border">
                                <table class="table  table-responsive-md table-bordered table-striped mb-0">
                                    <thead>
                                        <tr>
                                            <th width="10%">Asset#</th>
                                            <th width="10%">Type</th>
                                            <th width="15%">ACE ID</th>
                                            <th width="10%">Licence Province</th>
                                            <th width="15%">Licence Plate</th>


                                            <th width="15%">IIT</th>
                                            <th width="15%">Seal Numbers</th>
                                            <th width="10%">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let trailer of trailers">
                                            <td>{{trailer.number}}</td>
                                            <td><span *ngIf="trailer.type === 'OE'">Others</span>
                                              <span *ngIf="trailer.type !== 'OE'">{{assetTypeCode[trailer.type]}}</span></td>
                                            <td>{{trailer.aceId}}</td>
                                            <td><span
                                                    *ngFor="let license of trailer.licensePlates;">{{stateCodeToName[license.stateProvince]}}</span>
                                            </td>
                                            <td><span
                                                *ngFor="let license of trailer.licensePlates;">{{license.number}}</span>
                                        </td>
                                            <td>IIT Status</td>
                                            <td><span *ngFor="let seal of trailer.sealNumbers;">{{seal}}&nbsp;</span></td>
                                            <td class="actions">
                                                <a routerLink="/dispatch/cross-border/ACE-edit-eManifest/{{entryID }}"><i
                                                        class="fas fa-pencil-alt black_color"></i> Edit</a>
                                                <!-- <a routerLink="/dispatch/cross-border/ACE-edit-eManifest/{{entryID }}" class="delete-row"><i class="far fa-trash-alt black_color"></i> Delete</a> -->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>


                <!-- <div class="row mt-3">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header border back-color-gray p-2 d-flex justify-content-between align-items-center">
                            <h4 class="m-0 ">Comments about ACE eManifest <b> #1234984545</b></h4>
                            <div class=" pull-right">
                                <button class="btn btn-success btn-sm"><i class="fas fa-plus"></i> Add Comment</button>
                            </div>
                        </div>
                        <div class="card-body border">
                            <table class="table  table-responsive-md table-bordered table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th>Sr.</th>
                                        <th>Comments</th>
                                        <th>Poster</th>
                                        <th>Date</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1.</td>
                                        <td>This shipment is meant for the person who is really sweet.</td>
                                        <td>Demo User</td>
                                        <td>Jun 2,2020</td>

                                        <td class="actions">
                                            <a href=""><i class="fas fa-pencil-alt black_color"></i> Edit</a>
                                            <a href="" class="delete-row"><i class="far fa-trash-alt black_color"></i> Remove</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div> -->
            </div>
        </section>
    </div>
</section>
<!-- TRUCK  DETAILS -->
<div class="modal fade" id="showTruckDetails" tabindex="-1" role="dialog" aria-labelledby="showTruckDetails"
    aria-hidden="true">
    <div class="modal-dialog" style="max-width: 1200px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Vehicle Insurance Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="far fa-window-close modal-dismiss" style="font-size:25px;"> </i>
                </button>
            </div>
            <div class="modal-body text-dark">
                <div class="card-body border">
                    <!-- Insurance details-->
                    <div class="row mt-2">
                        <div class="col-lg-12">
                            <table class="table table-bordered table-striped m-0">
                                <thead>
                                    <tr>
                                        <th>Insurance CompanyName</th>
                                        <th>Issued Date</th>
                                        <th>Policy Number</th>
                                        <th>Policy Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{truck.number}}</td>
                                      <td>{{truck.insurancePolicy.issuedDate}}</td>
                                          <td>{{truck.insurancePolicy.policyNumber}}</td>
                                        <td>{{truck.insurancePolicy.policyAmount}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-right">
                <a class="btn btn-default modal-dismiss" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
<!-- SHIPMENT DETAILS MODEL -->
<div class="modal fade" id="showShipmentDetails" tabindex="-1" role="dialog" aria-labelledby="showShipmentDetails"
    aria-hidden="true">
    <div class="modal-dialog" style="max-width: 1200px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Shipment Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="far fa-window-close modal-dismiss" style="font-size:25px;"> </i>
                </button>
            </div>
            <div class="modal-body text-dark">
                <div class="card-body border">
                    <div class="row">
                        <div class="col-lg-6">
                            <table class="table table-bordered m-0">
                                <tbody>
                                    <tr>
                                        <th width="40%" class="back-color-gray">Shipment Type:</th>
                                        <td>{{shipmentTypeObects[shipmentData.type]}}</td>
                                    </tr>
                                    <tr>
                                        <th width="40%" class="back-color-gray">Shipment Control Number:</th>
                                        <td>{{shipmentData.shipmentControlNumber}}</td>
                                    </tr>
                                    <tr>
                                        <th width="40%" class="back-color-gray">Province of Loading:</th>
                                        <td>{{stateCodeToName[shipmentData.provinceOfLoading]}}</td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-6">
                            <table class="table table-bordered m-0">
                                <tbody>
                                    <tr>
                                        <th width="40%" class="back-color-gray">Consignor:</th>
                                        <td>{{shipmentData.shipperName}}</td>
                                    </tr>
                                    <tr>
                                        <th width="40%" class="back-color-gray">Consignee:</th>
                                        <td>{{shipmentData.consigneeName}}</td>
                                    </tr>
                                    <tr>
                                        <th width="40%" class="back-color-gray">Broker:</th>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- inbond details -->
                    <div class="row">
                      <div class="col-lg-12"><h4>Inbond Details</h4></div>
                      <div class="col-lg-12">
                        <div class="row">
                          <div class="col-lg-6">
                              <table class="table table-bordered m-0">
                                  <tbody>
                                      <tr>
                                          <th width="40%" class="back-color-gray">Entry Type:</th>
                                          <td>{{inBondTypeObects[shipmentData.inBondDetails.type]}}</td>
                                      </tr>
                                      <tr>
                                          <th width="40%" class="back-color-gray">Paper In Bond Number:</th>
                                          <td>{{shipmentData.inBondDetails.paperInBondNumber}}</td>
                                      </tr>
                                      <tr>
                                          <th width="40%" class="back-color-gray">Onward Carrier SCAC:</th>
                                          <td>{{shipmentData.inBondDetails.onwardCarrierScac}}</td>
                                      </tr>


                                  </tbody>
                              </table>
                          </div>
                          <div class="col-lg-6">
                              <table class="table table-bordered m-0">
                                  <tbody>
                                      <tr>
                                          <th width="40%" class="back-color-gray">US In-bond Destination:</th>
                                          <td>{{shipmentData.inBondDetails.usDestination}}</td>
                                      </tr>
                                      <tr>
                                          <th width="40%" class="back-color-gray">IRS Number:</th>
                                          <td>{{shipmentData.inBondDetails.irsNumber}}</td>
                                      </tr>
                                      <tr>
                                          <th width="40%" class="back-color-gray">Est US Departure Date:</th>
                                          <td>{{shipmentData.inBondDetails.estimatedDepartureDate}}</td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                      </div>
                    </div>
                    <!-- third parties -->
                    <div class="row mt-2" *ngIf="shipmentData.thirdParties?.length">
                        <div class="col-lg-12"><h4>Third Party Details</h4></div>
                        <div class="col-lg-12">
                            <table class="table table-bordered table-striped m-0">
                                <thead>
                                    <tr>
                                        <th> Name </th>
                                        <th> Type</th>
                                        <th>Address</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let thirdParty of shipmentData.thirdParties">
                                        <td>{{thirdParty.name}}</td>
                                        <td>{{thirdPartyTypesObects[thirdParty.type]}}</td>
                                        <td>{{thirdParty.address.addressLine}},
                                            {{thirdParty.address.city}},{{stateCodeToName[thirdParty.address.stateProvince]}},{{thirdParty.address.postalCode}}
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- commodities -->
                    <div class="row mt-2">
                        <div class="col-lg-12"><h4>Commodity Details</h4></div>
                        <div class="col-lg-12">
                            <table class="table table-bordered table-striped m-0">
                                <thead>
                                    <tr>
                                        <th> Description </th>
                                        <th> Loaded On</th>
                                        <th >Hazardous Details</th>
                                        <th>Other Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let commodity of shipmentData.commodities">
                                        <td><span
                                                class="font-weight-semibold">Commodity:</span>{{commodity.description}}<br>
                                            <span class="font-weight-semibold"
                                                *ngIf="commodity.value">Value:</span>{{commodity.value}}<br
                                                *ngIf="commodity.value">
                                            <span class="font-weight-semibold">Quantity:</span>{{commodity.quantity}}
                                            {{packagingUnitsObects[commodity.packagingUnit]}} <br>
                                            <span class="font-weight-semibold">Weight:</span> {{commodity.weight}}
                                            <span *ngIf="commodity.weightUnit == 'LB'">Pounds</span>
                                            <span *ngIf="commodity.weightUnit == 'KG'">Kilograms</span>
                                            <br>
                                            <span class="font-weight-semibold">Country of Origin:</span>
                                            {{countryCodeName[commodity.countryOfOrigin]}}
                                        </td>
                                        <td><span
                                                class="font-weight-semibold">Type:</span><span *ngIf="commodity.loadedOn.type == 'TRUCK'">Vehicle</span>
                                                <span *ngIf="commodity.loadedOn.type == 'TRAILER'">Asset</span><br>
                                            <span
                                                class="font-weight-semibold">
                                                <span *ngIf="commodity.loadedOn.type == 'TRUCK'">Vehicle</span>
                                                <span *ngIf="commodity.loadedOn.type == 'TRAILER'">Asset</span> &nbsp;Name/Number:</span>{{commodity.loadedOn.number}}
                                        </td>
                                        <td><span class="font-weight-semibold">Hazmat
                                                Code:</span><span *ngIf="commodity.hazmatDetails != undefined"> {{commodity.hazmatDetails.unCode}}<br></span>
                                            <span class="font-weight-semibold">Emergency Contact
                                                Name:</span><span *ngIf="commodity.hazmatDetails != undefined">{{commodity.hazmatDetails.emergencyContactName}}</span>
                                            <br><span class="font-weight-semibold">Contact
                                                Number:</span><span *ngIf="commodity.hazmatDetails != undefined">{{commodity.hazmatDetails.contactPhone}}</span><br>
                                            <span class="font-weight-semibold">Contact
                                                Email:</span><span *ngIf="commodity.hazmatDetails != undefined">{{commodity.hazmatDetails.contactEmail}}</span>
                                        </td>
                                        <td><span
                                                class="font-weight-semibold">C4LineReleaseNumber:</span>{{commodity.c4LineReleaseNumber}}<br>
                                            <span class="font-weight-semibold">Harmonized
                                                Code:</span>{{commodity.harmonizedCode}}<br>
                                            <span class="font-weight-semibold">Marks and Numbers:</span><span
                                                *ngFor="let marks of commodity.marksAndNumbers">{{marks}},</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-right">
                <a class="btn btn-default modal-dismiss" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
<!-- DRIVER DETAILS -->
<div class="modal fade" id="showDriverDetails" tabindex="-1" role="dialog" aria-labelledby="showDriverDetails"
    aria-hidden="true">
    <div class="modal-dialog" style="max-width: 1200px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Driver Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="far fa-window-close modal-dismiss" style="font-size:25px;"> </i>
                </button>
            </div>
            <div class="modal-body text-dark">
                <div class="card-body border">
                    <div class="row">
                        <div class="col-lg-6">
                            <table class="table table-bordered m-0">
                                <tbody>
                                    <tr>
                                        <th width="40%" class="back-color-gray">
                                            Driver Number:</th>
                                        <td>{{driverData.driverNumber}}</td>
                                    </tr>
                                    <tr>
                                        <th width="40%" class="back-color-gray">Name:</th>
                                        <td>{{driverData.firstName}} {{driverData.lastName}}</td>
                                    </tr>
                                    <tr>
                                        <th width="40%" class="back-color-gray">Gender:</th>
                                        <td><span *ngIf="driverData.gender == 'M'">Male</span>
                                            <span *ngIf="driverData.gender == 'F'">Female</span></td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-6">
                            <table class="table table-bordered m-0">
                                <tbody>
                                    <tr>
                                        <th width="40%" class="back-color-gray">Fast Card#:</th>
                                        <td>{{driverData.fastCardNumber}}</td>
                                    </tr>
                                    <tr>
                                        <th width="40%" class="back-color-gray">Citizenship:</th>
                                        <td>{{countryCodeName[driverData.citizenshipCountry]}}</td>
                                    </tr>
                                    <tr>
                                        <th width="40%" class="back-color-gray">Date Of Birth:</th>
                                        <td>{{driverData.dateOfBirth}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- US Address -->
                    <div class="row">
                      <div class="col-lg-12"><h4>US Address Details</h4></div>
                      <div class="col-lg-6">
                          <table class="table table-bordered m-0">
                              <tbody>
                                <tr>
                                  <th width="40%" class="back-color-gray">Address:</th>
                                  <td>{{driverData.usAddress.addressLine}}</td>
                              </tr>
                                  <tr>
                                      <th width="40%" class="back-color-gray">
                                          State:</th>
                                      <td>{{driverData.usAddress.state}}</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="col-lg-6">
                          <table class="table table-bordered m-0">
                              <tbody>

                                  <tr>
                                    <th width="40%" class="back-color-gray">City:</th>
                                    <td>{{driverData.usAddress.city}}</td>
                                </tr>
                                  <tr>
                                      <th width="40%" class="back-color-gray">ZipCode:</th>
                                      <td>{{driverData.usAddress.zipCode}}</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                    <!-- travel documents -->
                    <div class="row mt-2" *ngIf="driverData.travelDocuments?.length">
                      <div class="col-lg-12"><h4>Driver Document(s) Details</h4></div>
                        <div class="col-lg-12">
                            <table class="table table-bordered table-striped m-0">
                                <thead>
                                    <tr>
                                        <th>Document# </th>
                                        <th>Issuing State/Province</th>
                                        <th>Document Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let travelDocument of driverData.travelDocuments">
                                        <td>{{travelDocument.number}}</td>
                                        <td>{{stateCodeToName[travelDocument.stateProvince]}}</td>
                                        <td>{{documentsTypesObects[travelDocument.type]}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-right">
                <a class="btn btn-default modal-dismiss" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
<!-- PASSENGER DETAILS -->
<div class="modal fade" id="showPassengerDetails" tabindex="-1" role="dialog" aria-labelledby="showPassengerDetails"
    aria-hidden="true">
    <div class="modal-dialog" style="max-width: 1200px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Passenger Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="far fa-window-close modal-dismiss" style="font-size:25px;"> </i>
                </button>
            </div>
            <div class="modal-body text-dark">
                <div class="card-body border">
                    <div class="row">
                        <div class="col-lg-6">
                            <table class="table table-bordered m-0">
                                <tbody>
                                    <tr>
                                        <th width="40%" class="back-color-gray">Name:</th>
                                        <td>{{passengerData.firstName}} {{passengerData.lastName}}</td>
                                    </tr>
                                    <tr>
                                        <th width="40%" class="back-color-gray">Gender:</th>
                                        <td><span *ngIf="passengerData.gender == 'M'">Male</span>
                                            <span *ngIf="passengerData.gender == 'F'">Female</span></td>
                                    </tr>
                                    <tr>
                                        <th width="40%" class="back-color-gray">Date Of Birth:</th>
                                        <td>{{passengerData.dateOfBirth}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-6">
                            <table class="table table-bordered m-0">
                                <tbody>
                                    <tr>
                                        <th width="40%" class="back-color-gray">Fast Card#:</th>
                                        <td>{{passengerData.fastCardNumber}}</td>
                                    </tr>
                                    <tr>
                                        <th width="40%" class="back-color-gray">Citizenship:</th>
                                        <td>{{countryCodeName[passengerData.citizenshipCountry]}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- travel documents -->
                    <div class="row mt-2" *ngIf="passengerData.travelDocuments?.length">
                        <div class="col-lg-12"><h4>Documents Details</h4></div>
                        <div class="col-lg-12">
                            <table class="table table-bordered table-striped m-0">
                                <thead>
                                    <tr>
                                        <th>Document# </th>
                                        <th>Document Type</th>
                                        <th>Issuing Country</th>
                                        <th>Issuing State</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let travelDocument of passengerData.travelDocuments">
                                        <td>{{travelDocument.number}}</td>
                                        <td>{{documentsTypesObects[travelDocument.type]}}</td>
                                        <td>{{countryCodeName[travelDocument.country]}}</td>
                                        <td>{{stateCodeToName[travelDocument.stateProvince]}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-right">
                <a class="btn btn-default modal-dismiss" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
