<form id="accountForm" class="form-horizontal form-bordered bg-white" method="POST"  #actForm="ngForm">
  <div class="form-row">
    <div class="form-group col-lg-12">
      <label class="control-label font-weight-bold">Account Type<span class="mandfield text-2 ml-1"><sup>*</sup></span></label>
      <ng-select class="form-control populate" placeholder="Select account type" [(ngModel)]="actType" name="actType" #accountType="ngModel" required>
        <ng-option value="current assets">Current Assets</ng-option>
        <ng-option value="bank">Bank</ng-option>
        <ng-option value="credit card / loan">Credit Card/Loan</ng-option>
        <ng-option value="direct expenses">Direct Expenses</ng-option>
        <ng-option value="equity">Equity</ng-option>
        <ng-option value="fixed assets">Fixed Assets</ng-option>
        <ng-option value="future assets">Future Assets</ng-option>
        <ng-option value="future liability">Future Liability</ng-option>
        <ng-option value="other income">Other Income</ng-option>
        <ng-option value="overheads">Overheads</ng-option>
        <ng-option value="sales">Sales</ng-option>
        <ng-option value="current liability">Current Liability</ng-option>
      </ng-select>
      <div *ngIf="accountType.invalid && (accountType.dirty || accountType.touched)" class="text-danger">
        <div *ngIf="accountType.errors.required">
          Account type is required.
        </div>
      </div>
    </div>
  </div>
  <div class="form-row mt-2">
    <div class="form-group col-lg-12">
      <label class="control-label font-weight-bold">Account Number<span class="mandfield text-2 ml-1"><sup>*</sup></span></label>
      <input type="number" class="form-control" min="0" placeholder="eg. 1100,1150 " [(ngModel)]="actNo" name="actNo" #accountNo="ngModel" required>
      <div *ngIf="accountNo.invalid && (accountNo.dirty || accountNo.touched)" class="text-danger">
        <div *ngIf="accountNo.errors.required">
          Account number is required.
        </div>
      </div>
    </div>
  </div>
  <div class="form-row mt-2">
    <div class="form-group col-lg-12">
      <label class="control-label font-weight-bold">Account Name<span class="mandfield text-2 ml-1"><sup>*</sup></span></label>
      <input type="text" class="form-control" placeholder="eg. Property And Equipment" [(ngModel)]="actName" name="actName" #accountName="ngModel" required pattern="^[a-zA-Z0-9\s]+$" >
      <div *ngIf="accountName.invalid && (accountName.dirty || accountName.touched)" class="text-danger">
        <div *ngIf="accountName.errors.required">
          Account name is required.

        </div>
        <div *ngIf="accountName.errors.pattern">
         Account name must contain alphanumeric characters.
        </div>
      </div>
    </div>
  </div>
  <div class="form-row mt-2">
    <div class="form-group col-lg-12">
      <label class="control-label font-weight-bold">Opening Balance(CAD)<span *ngIf="!transLogCAD" class="mandfield text-2 ml-1"><sup>*</sup></span></label>
      <div class="row">
        <div class="col-lg-3">
          <input type="number" class="form-control" min="0" placeholder="0.00" [(ngModel)]="opnBalCAD" name="opnBalCAD" #actBalCAD="ngModel" [required]="!transLogCAD" [disabled]="transLogCAD">
          <div *ngIf="actBalCAD.invalid && (actBalCAD.dirty || actBalCAD.touched)" class="text-danger">
            <div *ngIf="actBalCAD.errors.required"> Account balance is required. </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline btn-yesno mr-2 mb-2"
               [class.active]="opnBalTypeCAD === 'debit'"
               (click)="onChangeType('debit','CAD')">
               <input type="radio" [(ngModel)]="opnBalTypeCAD" name="opnBalTypeCAD" checked
                  hidden value="debit"> Debit </label>
            <label class="btn btn-outline btn-yesno mr-2 mb-2"
               [class.active]="opnBalTypeCAD === 'credit'"
               (click)="onChangeType('credit', 'CAD')">
               <input type="radio" [(ngModel)]="opnBalTypeCAD" name="opnBalTypeCAD" hidden
                  value="credit"> Credit </label>
         </div>
        </div>
        <div class="col-lg-1 pr-0">
          <label class="control-label font-weight-bold">as of</label>
        </div>
        <div class="col-lg-3 pr-0">
          <input [(ngModel)]="actDateCAD" name="actDateCAD" type="text" placeholder="yyyy/mm/dd" (click)="custexp1.toggle()" ngbDatepicker #custexp1="ngbDatepicker" class="form-control" autocomplete="off" [minDate]="dateMinLimit" [maxDate]="futureDatesLimit" #accountDateCAD="ngModel" [required]="!transLogCAD" [disabled]="transLogCAD">
          <div *ngIf="accountDateCAD.invalid && (accountDateCAD.dirty || accountDateCAD.touched)" class="text-danger">
            <div *ngIf="accountDateCAD.errors.required"> Account date is required. </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row mt-2">
    <div class="form-group col-lg-12">
      <label class="control-label font-weight-bold">Opening Balance(USD)<span *ngIf="!transLogUSD" class="mandfield text-2 ml-1"><sup>*</sup></span></label>
      <div class="row">
        <div class="col-lg-3">
          <input type="number" class="form-control" min="0" placeholder="0.00" [(ngModel)]="opnBalUSD" name="opnBalUSD" #actBalUSD="ngModel" [required]="!transLogUSD" [disabled]="transLogUSD">
          <div *ngIf="actBalUSD.invalid && (actBalUSD.dirty || actBalUSD.touched)" class="text-danger">
            <div *ngIf="actBalUSD.errors.required"> Account balance is required. </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline btn-yesno mr-2 mb-2"
               [class.active]="opnBalTypeUSD === 'debit'"
               (click)="onChangeType('debit','USD')">
               <input type="radio" [(ngModel)]="opnBalTypeUSD" name="opnBalTypeUSD" checked
                  hidden value="debit"> Debit </label>
            <label class="btn btn-outline btn-yesno mr-2 mb-2"
               [class.active]="opnBalTypeUSD === 'credit'"
               (click)="onChangeType('credit', 'USD')">
               <input type="radio" [(ngModel)]="opnBalTypeUSD" name="opnBalTypeUSD" hidden
                  value="credit"> Credit </label>
         </div>
        </div>
        <div class="col-lg-1 pr-0">
          <label class="control-label font-weight-bold">as of</label>
        </div>
        <div class="col-lg-3 pr-0">
          <input [(ngModel)]="actDateUSD" name="actDateUSD" type="text" placeholder="yyyy/mm/dd" (click)="custexp.toggle()" ngbDatepicker #custexp="ngbDatepicker" class="form-control" autocomplete="off" [minDate]="dateMinLimit" [maxDate]="futureDatesLimit" #accountDateUSD="ngModel" [required]="!transLogUSD" [disabled]="transLogUSD">
          <div *ngIf="accountDateUSD.invalid && (accountDateUSD.dirty || accountDateUSD.touched)" class="text-danger">
            <div *ngIf="accountDateUSD.errors.required"> Account date is required. </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row mt-2">
    <div class="form-group col-lg-12">
      <div class="checkbox-custom">
        <input type="checkbox" class="form-control" [(ngModel)]="actDash" name="actDash">
        <label class="control-label font-weight-bold">Add To Dashboard Watch List</label>
      </div>
    </div>
  </div>
  <div class="form-row mt-2">
    <div class="form-group col-lg-12">
      <label class="control-label font-weight-bold">Description</label>

      <textarea rows="3" class="form-control heighta" placeholder="Enter description of the account"[(ngModel)]="actDesc" name="actDesc" #adescription="ngModel" pattern ="^[\s\S]{1,500}$"></textarea>
      <div *ngIf="adescription.invalid && (adescription.dirty || adescription.touched)" class="text-danger">
        <div *ngIf="adescription.errors.pattern">
         Only 500 characters are allowed.
        </div>

     </div>

  </div>
  </div>
  <div class="form-row mt-2">
    <div class="col-lg-12 text-right">
      <button class="btn btn-default mr-2" (click)="hideModal()">Cancel</button>
      <button type="button" class="btn btn-success"  [disabled]="!actForm.form.valid || submitDisabled" (click)="addAccount()">Save</button>
      <!-- <button type="button" class="btn btn-success" *ngIf="childMessage" [disabled]="!actForm.form.valid || submitDisabled" (click)="updateAccount()" >Update</button> -->
    </div>
  </div>
</form>
