<section class="body">
  <!-- start: header -->
  <app-header></app-header>

  <!-- end: header -->

  <div class="inner-wrapper">
    <!-- start: sidebar -->
    <app-sidebar></app-sidebar>
    <!-- end: sidebar -->

    <section role="main" class="content-body">
      <header class="page-header">
        <h2>{{ title }}</h2>

        <div class="right-wrapper text-right">
          <ol class="breadcrumbs">
            <li>
              <a href="/">
                <i class="fas fa-home"></i>
              </a>
            </li>
            <li><span>Vehicles</span></li>
            <li>
              <span>{{ title }}</span>
            </li>
          </ol>
        </div>
      </header>

      <div class="row">
        <div class="col">
          <section class="card">
            <header class="card-header">
              <h2 class="card-title">Details</h2>
            </header>
            <div class="card-body">
              <form class="form-horizontal form-bordered" method="get">
                <div class="form-group row">
                  <div class="col-lg-4">
                    <label class="control-label text-lg-right pt-2"
                      >Asset name</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="assetName"
                      [(ngModel)]="assetName"
                      name="assetName"
                      (input)="updateValidation('assetName')"
                      [ngClass]="{
                        redBorder: validationErrors.assetName.error == true
                      }"
                    />
                    <span
                      *ngIf="validationErrors.assetName.error == true"
                      class="red"
                      >{{ validationErrors.assetName.message }}</span
                    >
                  </div>
                  <div class="col-lg-4">
                    <label class="control-label text-lg-right pt-2">Vin</label>
                    <input
                      type="text"
                      class="form-control"
                      id="VIN"
                      [(ngModel)]="VIN"
                      name="VIN"
                      (input)="updateValidation('VIN')"
                      [ngClass]="{
                        redBorder: validationErrors.VIN.error == true
                      }"
                    />
                    <span
                      *ngIf="validationErrors.VIN.error == true"
                      class="red"
                      >{{ validationErrors.VIN.message }}</span
                    >
                  </div>

                  <div class="col-lg-4">
                    <label class="control-label text-lg-right pt-2">Type</label>
                    <input
                      type="text"
                      class="form-control"
                      id="assetType"
                      [(ngModel)]="assetType"
                      name="assetType"
                      (input)="updateValidation('assetType')"
                      [ngClass]="{
                        redBorder: validationErrors.assetType.error == true
                      }"
                    />
                    <span
                      *ngIf="validationErrors.assetType.error == true"
                      class="red"
                      >{{ validationErrors.assetType.message }}</span
                    >
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-12">
                    <label
                      class="control-label text-lg-right text-dark text-4 pt-2"
                      >Asset Info</label
                    >
                  </div>
                  <div class="col-lg-4">
                    <label class="control-label text-lg-right pt-2">Year</label>
                    <select
                      data-plugin-selectTwo
                      class="form-control populate"
                      id="year"
                      [(ngModel)]="assetInfo.year"
                      name="year"
                      (input)="updateValidation('assetInfo', 'year')"
                      [ngClass]="{
                        redBorder: validationErrors.assetInfo.year.error == true
                      }"
                    >
                      <optgroup label="">
                        <option>1980</option>
                        <option>1981</option>
                        <option>1982</option>
                        <option>1983</option>
                        <option>1984</option>
                        <option>1985</option>
                        <option>1986</option>
                        <option>1987</option>
                        <option>1988</option>
                        <option>1989</option>
                        <option>1990</option>
                        <option>1991</option>
                        <option>1992</option>
                        <option>1993</option>
                        <option>1994</option>
                        <option>1995</option>
                        <option>1996</option>
                        <option>1997</option>
                        <option>1998</option>
                        <option>1999</option>
                        <option>2000</option>
                        <option>2001</option>
                        <option>2002</option>
                        <option>2003</option>
                        <option>2004</option>
                        <option>2005</option>
                        <option>2006</option>
                        <option>2007</option>
                        <option>2008</option>
                        <option>2009</option>
                        <option>2010</option>
                        <option>2011</option>
                        <option>2012</option>
                        <option>2013</option>
                        <option>2014</option>
                        <option>2015</option>
                        <option>2016</option>
                        <option>2017</option>
                        <option>2018</option>
                        <option>2019</option>
                        <option>2020</option>
                      </optgroup>
                    </select>
                    <span
                      *ngIf="validationErrors.assetInfo.year.error == true"
                      class="red"
                      >{{ validationErrors.assetInfo.year.message }}</span
                    >
                  </div>
                  <div class="col-lg-4">
                    <label class="control-label text-lg-right pt-2">Make</label>
                    <select
                      data-plugin-selectTwo
                      class="form-control populate"
                      id="make"
                      [(ngModel)]="assetInfo.make"
                      name="make"
                      (input)="updateValidation('assetInfo', 'make')"
                      [ngClass]="{
                        redBorder: validationErrors.assetInfo.make.error == true
                      }"
                    >
                      <optgroup label="">
                        <option *ngFor="let q of manufacturers" value="{{q.manufacturerID}}">{{q.name}}</option>
                      </optgroup>
                    </select>
                    <span
                      *ngIf="validationErrors.assetInfo.make.error == true"
                      class="red"
                      >{{ validationErrors.assetInfo.make.message }}</span
                    >
                  </div>
                  <div class="col-lg-4">
                    <label class="control-label text-lg-right pt-2"
                      >Model</label
                    >
                    <select
                      data-plugin-selectTwo
                      class="form-control populate"
                      id="model"
                      [(ngModel)]="assetInfo.model"
                      name="model"
                      (input)="updateValidation('assetInfo', 'model')"
                      [ngClass]="{
                        redBorder:
                          validationErrors.assetInfo.model.error == true
                      }"
                    >
                      <optgroup label="">
                        <option *ngFor="let q of models" value="{{q.modelID}}">{{q.name}}</option>
                      </optgroup>
                    </select>
                    <span
                      *ngIf="validationErrors.assetInfo.model.error == true"
                      class="red"
                      >{{ validationErrors.assetInfo.model.message }}</span
                    >
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-3">
                    <label class="control-label text-lg-right pt-2"
                      >Length</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="length"
                      [(ngModel)]="length"
                      name="length"
                      (input)="updateValidation('length')"
                      [ngClass]="{
                        redBorder: validationErrors.length.error == true
                      }"
                    />
                    <span
                      *ngIf="validationErrors.length.error == true"
                      class="red"
                      >{{ validationErrors.length.message }}</span
                    >
                  </div>
                  <div class="col-lg-3">
                    <label class="control-label text-lg-right pt-2">Axle</label>
                    <input
                      type="text"
                      class="form-control"
                      id="axle"
                      [(ngModel)]="axle"
                      name="axle"
                      (input)="updateValidation('axle')"
                      [ngClass]="{
                        redBorder: validationErrors.axle.error == true
                      }"
                    />
                    <span
                      *ngIf="validationErrors.axle.error == true"
                      class="red"
                      >{{ validationErrors.axle.message }}</span
                    >
                  </div>
                  <div class="col-lg-3">
                    <label class="control-label text-lg-right pt-2"
                      >Gross Vehicle Weight Rating (GVWR)</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="GVWR"
                      [(ngModel)]="GVWR"
                      name="GVWR"
                      (input)="updateValidation('GVWR')"
                      [ngClass]="{
                        redBorder: validationErrors.GVWR.error == true
                      }"
                    />
                    <span
                      *ngIf="validationErrors.GVWR.error == true"
                      class="red"
                      >{{ validationErrors.GVWR.message }}</span
                    >
                  </div>
                  <div class="col-lg-3">
                    <label class="control-label text-lg-right pt-2"
                      >Gross Axle Weight Rating (GAWR)</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="GAWR"
                      [(ngModel)]="GAWR"
                      name="GAWR"
                      (input)="updateValidation('GAWR')"
                      [ngClass]="{
                        redBorder: validationErrors.GAWR.error == true
                      }"
                    />
                    <span
                      *ngIf="validationErrors.GAWR.error == true"
                      class="red"
                      >{{ validationErrors.GAWR.message }}</span
                    >
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-lg-12">
                    <label
                      class="control-label text-lg-right text-dark text-4 pt-2"
                      >Licence</label
                    >
                  </div>

                  <div class="col-lg-6">
                    <label class="control-label text-lg-right pt-2"
                      >State</label
                    >
                    <select
                      data-plugin-selectTwo
                      class="form-control populate"
                      id="state"
                      [(ngModel)]="license.state"
                      name="licenseState"
                      (input)="updateValidation('license', 'state')"
                      [ngClass]="{
                        redBorder: validationErrors.license.state.error == true
                      }"
                    >
                      <optgroup label="">
                        <option *ngFor="let q of states" value="{{q.stateID}}">{{q.stateName}}</option>
                      </optgroup>
                    </select>
                    <span
                      *ngIf="validationErrors.license.state.error == true"
                      class="red"
                      >{{ validationErrors.license.state.message }}</span
                    >
                  </div>
                  <div class="col-lg-6">
                    <label class="control-label text-lg-right pt-2"
                      >Plate Number</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="plateNumber"
                      [(ngModel)]="license.plateNumber"
                      name="licensePlateNumber"
                      (input)="updateValidation('license', 'plateNumber')"
                      [ngClass]="{
                        redBorder:
                          validationErrors.license.plateNumber.error == true
                      }"
                    />
                    <span
                      *ngIf="validationErrors.license.plateNumber.error == true"
                      class="red"
                      >{{ validationErrors.license.plateNumber.message }}</span
                    >
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-lg-12">
                    <label
                      class="control-label text-lg-right text-dark text-4 pt-2"
                      >Owner Ship</label
                    >
                  </div>
                  <div class="col-lg-4">
                    <label class="control-label text-lg-right pt-2"
                      >Type</label
                    >
                    <select
                      data-plugin-selectTwo
                      class="form-control populate"
                      id="year"
                      [(ngModel)]="ownerShip"
                      name="ownerShip"
                      (change)="updateValidation('ownerShip')"
                      [ngClass]="{
                        redBorder: validationErrors.ownerShip.error == true
                      }"
                    >
                      <optgroup label="">
                        <option>owned</option>
                        <option>rented</option>
                        <option>external</option>
                      </optgroup>
                    </select>
                    <span
                      *ngIf="validationErrors.ownerShip.error == true"
                      class="red"
                      >{{ validationErrors.ownerShip.message }}</span
                    >
                  </div>
                  <div class="col-lg-4">
                    <label class="control-label text-lg-right pt-2"
                      >State</label
                    >
                    <select
                      data-plugin-selectTwo
                      class="form-control populate"
                      id="state"
                      [(ngModel)]="state"
                      name="state"
                      (input)="updateValidation('state')"
                      [ngClass]="{
                        redBorder: validationErrors.state.error == true
                      }"
                    >
                      <optgroup label="">
                        <option *ngFor="let q of states" value="{{q.stateID}}">{{q.stateName}}</option>

                      </optgroup>
                    </select>
                    <span
                      *ngIf="validationErrors.state.error == true"
                      class="red"
                      >{{ validationErrors.state.message }}</span
                    >
                  </div>

                  <div class="col-lg-4">
                    <label class="control-label text-lg-right pt-2"
                      >Remarks</label
                    >
                    <textarea
                      class="form-control"
                      rows="3"
                      id="remarks"
                      [(ngModel)]="remarks"
                      name="remarks"
                      (input)="updateValidation('remarks')"
                      [ngClass]="{
                        redBorder: validationErrors.remarks.error == true
                      }"
                    ></textarea>
                  </div>
                  <span
                    *ngIf="validationErrors.remarks.error == true"
                    class="red"
                    >{{ validationErrors.remarks.message }}</span
                  >
                </div>

                <div class="form-group row">
                  <div class="col-lg-12">
                    <label
                      class="control-label text-lg-right text-dark text-4 pt-2"
                      >Quantum Info</label
                    >
                  </div>

                  <div class="col-lg-6">
                    <label class="control-label text-lg-right pt-2"
                      >Assigned Quantum</label
                    >
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Quantum has been assigned"
                      disabled=""
                      id="UID"
                      [(ngModel)]="quantumInfo.UID"
                      name="UID"
                      (input)="updateValidation('quantumInfo', 'UID')"
                      [ngClass]="{
                        redBorder:
                          validationErrors.quantumInfo.UID.error == true
                      }"
                    />
                    <span
                      *ngIf="validationErrors.quantumInfo.UID.error == true"
                      class="red"
                      >{{ validationErrors.quantumInfo.UID.message }}</span
                    >
                  </div>
                  <div class="col-lg-6">
                    <a
                      class="qtumbtn mr-1 btn btn-success modal-with-zoom-anim ws-normal"
                      [routerLink]=""
                      (click)="quantumModal()"
                      ><i class="fas fa-plus"></i> Assign Quantum</a
                    >
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-6">
                    <label class="control-label text-lg-right pt-2"
                      >Status</label
                    >
                    <select
                      data-plugin-selectTwo
                      class="form-control populate"
                      name="currentStatus"
                      [(ngModel)]="currentStatus"
                      (input)="updateValidation('currentStatus')"
                      [ngClass]="{
                        redBorder: validationErrors.currentStatus.error == true
                      }"
                    >
                      <optgroup label="">
                        <option value="1">Enable</option>
                        <option>Disable</option>
                        <option>Out of Service</option>
                      </optgroup>
                    </select>
                    <span
                      *ngIf="validationErrors.currentStatus.error == true"
                      class="red"
                      >{{ validationErrors.currentStatus.message }}</span
                    >
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-12">
                    <button
                      class="btn btn-dark mt-4 modal-confirm"
                      (click)="updateAsset()"
                    >
                      Submit
                    </button>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-lg-12">
                    <p class="text text-danger" *ngIf="hasError">{{ Error }}</p>
                    <p class="text text-success" *ngIf="hasSuccess">
                      {{ Success }}
                    </p>
                  </div>
                </div>
              </form>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
</section>

<div id="modalAnim" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <!--<h4 class="modal-title">Assign Quantum</h4>-->
      </div>
      <div class="modal-body">
        <h4 class="modal-title">Assign Quantum</h4>
        <select
          data-plugin-selectTwo
          class="form-control populate"
          [(ngModel)]="quantumSelected"
          name="quantum info"
          (ngModelChange)="onChange($event)"
        >
        <option *ngFor="let q of quantumsList" value="{{q.quantumID}}">{{q.sNo}}</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
