<section class="body">
    <!-- start: header -->
    <app-header></app-header>
    <!-- end: header -->
  
    <div class="inner-wrapper">
        <!-- start: sidebar -->
        <app-sidebar></app-sidebar>
        <!-- end: sidebar -->

        <section role="main" class="content-body pt-0 pr-0 pl-0">
            <header class="page-header">
                <form class="form-horizontal" method="get">

                    <div class="row px-4" style="padding-top:10px;">
                        <div class="col-md-2 col-lg-2">
                            <div class="input-group input-group-md mb-3">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-5">
                            <div class="input-daterange input-group" data-plugin-datepicker="">
                                <span class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-calendar-alt"></i>
                                    </span>
                                </span>
                                <input type="text" class="form-control" name="start">
                                <span class="input-group-text border-left-0 border-right-0 rounded-0">
                                    to
                                </span>
                                <input type="text" class="form-control" name="end">
                            </div>
                        </div>


                        <div class="col-md-1  col-lg-1">
                            <button type="submit" class="btn btn-sm btn-success">Search</button>
                        </div>
                        <div class="col-md-4 col-lg-4 text-right pr-5">

                            <div class="btn-group flex-wrap">
                                <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="false">Actions<span class="caret"></span></button>
                                <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                                    style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                    <a class="dropdown-item text-1" href="">Edit</a>
                                    <a class="modal-with-form dropdown-item text-1" href="#deleteModal">Delete</a>
                                    <a class="dropdown-item text-1" href="">Import</a>
                                    <a class="dropdown-item text-1" href="">Export</a>
                                </div>
                            </div>
                            <a href="javascript:;" routerLink="/dispatch/quotes/add-quote" class="btn btn-success btn-sm ml-2 modal-with-form"
                                style="color:white;"><i class="fas fa-plus"></i> Add Estimate</a>

                        </div>
                    </div>
                </form>
            </header>


            <section class="card mt-0 mb-4">
                <div class="card-body">

                    <table class="table table-bordered table-responsive-lg table-striped mb-0">
                        <thead>
                            <tr>
                                <th width="5%"><input type="checkbox"></th>
                                <th>Estimate</th>
                                <th>Date</th>
                                <th>Reference No.</th>
                                <th>Expiry Date</th>
                                <th>Customer</th>
                                <th>Pickup</th>
                                <th>Deliver</th>
                                <th>Created By</th>
                                <th>Estimated Miles</th>
                                <th>Amount</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox"></td>

                                <td>
                                    <a href="javascript:;" routerLink="/dispatch/quotes/quote-detail">
                                        34523
                                    </a>
                                </td>
                                <td>09/25/2020</td>
                                <td>456456</td>
                                <td>10/05/2020</td>
                                <td>Neesham</td>

                                <td>Date: 6/02/2020 05:25 AM<br>
                                    Location: Regina, SK</td>
                                <td>Date: 06/10/2020 05:20 PM<br>
                                    Location: Winnipeg, YT</td>
                                <td>Admin</td>
                                <td>150 Miles</td>
                                <td>Estimated Amt: CAD 1500.00<br>
                                    Frieght Fees CAD 20.00<br>
                                    Fuel Surcharge: CAD 380.00<br>
                                    Taxes: CAD 50.00
                                </td>
                                <td><span class="badge badge-dark p-1">SENT</span></td>

                            </tr>

                            <tr onclick="window.location='estimate-detail.php'">
                                <td><input type="checkbox"></td>
                                <td>5689</td>
                                <td>09/25/2020</td>
                                <td>456456</td>
                                <td>10/05/2020</td>
                                <td>Neesham</td>

                                <td>Date: 13/03/2020 04:20 AM<br>
                                    Location: Toronto, ON</td>
                                <td>Date: 06/10/2020 05:20 PM<br>
                                    Location: Delta, BC</td>
                                <td>Admin</td>
                                <td>150 Miles</td>
                                <td>Estimated Amt: CAD 1500.00<br>
                                    Frieght Fees CAD 20.00<br>
                                    Fuel Surcharge: CAD 380.00<br>
                                    Taxes: CAD 50.00
                                </td>
                                <td><span class="badge badge-dark p-1">SENT</span></td>
                            </tr>

                            <tr onclick="window.location='estimate-detail.php'">
                                <td><input type="checkbox"></td>
                                <td>98766</td>
                                <td>09/25/2020</td>
                                <td>456456</td>
                                <td>10/05/2020</td>
                                <td>Neesham</td>

                                <td>Date: 14/04/2020 04:00 AM<br>
                                    Location: Calgary, AB</td>
                                <td>Date: 20/05/2020 05:00 PM<br>
                                    Location: Perth, ON</td>
                                <td>Admin</td>
                                <td>150 Miles</td>
                                <td>Estimated Amt: CAD 1500.00<br>
                                    Frieght Fees CAD 20.00<br>
                                    Fuel Surcharge: CAD 380.00<br>
                                    Taxes: CAD 50.00
                                </td>
                                <td><span class="badge badge-dark p-1">SENT</span></td>
                            </tr>


                            <tr onclick="window.location='estimate-detail.php'">
                                <td><input type="checkbox"></td>
                                <td>225890</td>
                                <td>09/25/2020</td>
                                <td>456456</td>
                                <td>10/05/2020</td>
                                <td>Neesham</td>

                                <td>Date: 14/06/2020 04:00 AM<br>
                                    Location: Calgary, AB</td>
                                <td>Date: 20/07/2020 05:00 PM<br>
                                    Location: Vancouver, BC</td>
                                <td>Admin</td>
                                <td>150 Miles</td>
                                <td>Estimated Amt: CAD 1500.00<br>
                                    Frieght Fees CAD 20.00<br>
                                    Fuel Surcharge: CAD 380.00<br>
                                    Taxes: CAD 50.00
                                </td>
                                <td><span class="badge badge-dark p-1">SENT</span></td>
                            </tr>

                            <tr onclick="window.location='estimate-detail.php'">
                                <td><input type="checkbox"></td>

                                <td>34523</td>
                                <td>09/25/2020</td>
                                <td>456456</td>
                                <td>10/05/2020</td>
                                <td>Neesham</td>

                                <td>Date: 6/02/2020 05:25 AM<br>
                                    Location: Regina, SK</td>
                                <td>Date: 06/10/2020 05:20 PM<br>
                                    Location: Winnipeg, YT</td>
                                <td>Admin</td>
                                <td>150 Miles</td>
                                <td>Estimated Amt: CAD 1500.00<br>
                                    Frieght Fees CAD 20.00<br>
                                    Fuel Surcharge: CAD 380.00<br>
                                    Taxes: CAD 50.00
                                </td>
                                <td><span class="badge badge-dark p-1">SENT</span></td>

                            </tr>

                            <tr onclick="window.location='estimate-detail.php'">
                                <td><input type="checkbox"></td>
                                <td>5689</td>
                                <td>09/25/2020</td>
                                <td>456456</td>
                                <td>10/05/2020</td>
                                <td>Neesham</td>

                                <td>Date: 13/03/2020 04:20 AM<br>
                                    Location: Toronto, ON</td>
                                <td>Date: 06/10/2020 05:20 PM<br>
                                    Location: Delta, BC</td>
                                <td>Admin</td>
                                <td>150 Miles</td>
                                <td>Estimated Amt: CAD 1500.00<br>
                                    Frieght Fees CAD 20.00<br>
                                    Fuel Surcharge: CAD 380.00<br>
                                    Taxes: CAD 50.00
                                </td>
                                <td><span class="badge badge-dark p-1">SENT</span></td>
                            </tr>



                        </tbody>
                    </table>


                </div>

            </section>
        </section>  
    </div>
</section>