<section class="body">
  <div class="inner-wrapper">
    <section role="main" class="content-body pt-0 pr-0 pl-0">
      <header class="page-header">
        <div class="row pr-1 mr-1" style="padding-top:10px;">
          <div class="col-md-4 col-lg-4 font-weight-bold text-4 text-dark"> Invoice Details </div>
          <div class="col-md-8 col-lg-8 text-right pr-1">
             <a routerLink="/accounts/invoices/list" class="btn btn-default btn-sm"><i class="fas fa-list"></i> All Invoices</a>
           </div>
        </div>
      </header>
        <div class="row mb-3">
          <div class="col-lg-12">
            <div class="bg-white p-3 d-flex justify-content-between align-items-center text-dark">
              <h4 class="m-0 font-weight-bold">Invoice# - 24556FH5 <span class="badge badge-dark p-1">OPEN</span></h4>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-lg-12">
            <div class="bg-white p-3">
              <div class="row mb-3">
                <div class="col-lg-6 text-dark">
                  <div id="vehicle-details" class="">
                    <div class="row m-0">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left">Customer:</div>
                      <div class="col-lg-8 p-2">James</div>
                    </div>
                    <div class="row  m-0">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left">Address:</div>
                      <div class="col-lg-8 p-2">100 Street, Olympic Park</div>
                    </div>
                    <div class="row  m-0">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left">City, Province or State:</div>
                      <div class="col-lg-8 p-2">Calagary, AB</div>
                    </div>
                    <div class="row  m-0">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left">Country:</div>
                      <div class="col-lg-8 p-2">Canada</div>
                    </div>
                    <div class="row  m-0">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left">Phone:</div>
                      <div class="col-lg-8 p-2">(103) 069-1461</div>
                    </div>
                    <div class="row  m-0">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left">Email:</div>
                      <div class="col-lg-8 p-2">info@fleetinc.ca</div>
                    </div>
                    <div class="row  m-0">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left">Fax:</div>
                      <div class="col-lg-8 p-2">(103) 069-1465</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 text-dark">
                  <div id="vehicle-details" class="">
                    <div class="row  m-0">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Reference#/Order#:</div>
                      <div class="col-lg-8 p-2 border-box">4545645623154</div>
                    </div>
                    <div class="row  m-0">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Invoice Creation Date:</div>
                      <div class="col-lg-8 p-2 border-box">06/10/2020 </div>
                    </div>
                    <div class="row  m-0">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Invoice Due Date:</div>
                      <div class="col-lg-8 p-2 border-box">06/11/2020</div>
                    </div>
                    <div class="row  m-0">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Factoring Company:</div>
                      <div class="col-lg-8 p-2 border-box">-</div>
                    </div>
                    <div class="row  m-0">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Rate:</div>
                      <div class="col-lg-8 p-2 border-box">-</div>
                    </div>
                    <div class="row  m-0">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Total Amount:</div>
                      <div class="col-lg-8 p-2 border-box">6050 CAD</div>
                    </div>
                    <div class="row  m-0">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Amount Received:</div>
                      <div class="col-lg-8 p-2 border-box">0.00</div>
                    </div>
                    <div class="row  m-0">
                      <div class="col-lg-4 p-2 font-weight-bold text-3 text-left back-color-gray">Balance:</div>
                      <div class="col-lg-8 p-2 border-box">6050 CAD</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-lg-12">
            <div class="bg-white p-3">
              <div class="row">
                <div class="col-lg-12">
                  <table class="table table-bordered">
                    <thead>
                      <tr class="bgcol2">
                        <th>Pickup Information</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <!-- <td>Pickup on 4 June 2021 between 11:00  - 11:30
                        <br>Consignor<br>
                        Address: 123 Street SE,Calgary,AB, 987756, Canada <br>
                        (867)-758-7568<br>
                        PO# - 7567 <br>
                        PO# - 0907 <br>
                        PO# - 8987
                      </td> -->
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <table class="table table-bordered">
                    <thead>
                      <tr class="bgcol2">
                        <th>Delivery Information</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                      <!-- <td>Delivery on 8 June 2021 between 11:00  - 11:30
                        <brConsginee2<br>
                        Address: 123 Street SE,Calgary,AB, 987756, Canada <br>
                        (809)-656-7566
                      </td> -->
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <table class="table table-bordered">
                    <thead>
                      <tr class="bgcol2">
                        <th>Freight Information</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><span class="font-weight-semibold">Load Type</span>: FTL<br>
                        Commodity: Bats<br>
                        Lbs: 345 <br>
                        Skids: 7</td>

                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-lg-12">
            <div class="bg-white p-3">
              <div class="row">
                <div class="col-xl-6 col-12 mb-3 pl-0 pr-0">
                  <div class="col-xl-12 col-12 mb-3">
                    <div class="boxshadow1 maindisbox w100 pull-left">
                      <div class="widgetload">
                        <div class="widgettbload"> <span class="pull-right text-3 mt-2 text-dark">
                                           </span>
                          <h2 class="pull-left mt-0 mb-0 text-4 font-weight-semibold text-dark">Charges</h2> </div>
                        <div class="widgetlinfo">
                          <div class="col-lg-2 pull-left"> <img src="img/icon-cur.png" class="img-fluid" alt="shipper"> </div>
                          <div class="col-lg-10 pull-left">
                            <p class="mb-0 text-dark">Freight Fee <span class="pull-right">CAD 250.00</span></p>
                            <p class="mb-0 text-dark">Fuel Surcharge <span class="pull-right">CAD 50.00</span></p>
                            <p class="mb-0 text-dark">Accessorial Amount <span class="pull-right">CAD 0.00</span></p>
                            <p class="mb-0 text-dark">Accessorial Deduction Amount <span class="pull-right">CAD 0.00</span></p>
                            <p class="mb-0 text-dark">Discount Amount <span class="pull-right">CAD 0.00</span></p>
                            <p class="mb-0 text-dark">Tax Amount ( <span class="font-weight-semibold">AB</span> ) <span class="pull-right">50.00 CAD</span></p>
                            <p class="mb-0 text-dark bordtopdas"><strong>Total Amount</strong> <span class="pull-right">6050.00 CAD</span></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-12 pl-0 pr-0">
                  <div class="col-xl-12 col-12 mb-3">
                    <table class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>Account Name</th>
                          <th>Name</th>
                          <th>Type</th>
                          <th>Debit</th>
                          <th>Credit</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Sales Account</td>
                          <td>Customer Name</td>
                          <td>Invoice Income</td>
                          <td>0.00</td>
                          <td>6050 CAD</td>
                        </tr>
                        <tr>
                          <td>Accounts Receivables</td>
                          <td>Customer Name</td>
                          <td>Invoice Income</td>
                          <td>6050 CAD</td>
                          <td>0.00</td>
                        </tr>
                        <tr>
                          <td colspan="3" class="font-weight-bold text-right">Total</td>
                          <td>6050 CAD</td>
                          <td>6050 CAD</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
  </div>
</section>
