.mat-expansion-panel-header-description, .mat-expansion-panel-header-title
{
    display: block !important;
}
.map-search__results {
  display: none;
  width: 500px;
}
.show-search__result .map-search__results {
  display: block !important;
}
