<section class="body">

    <!-- start: header -->
    <app-header></app-header>
    <!-- end: header -->



    <div class="inner-wrapper">
        <!-- start: sidebar -->
        <app-sidebar></app-sidebar>
        <!-- end: sidebar -->
        <section role="main" class="content-body">
         <header class="page-header pr-5">
            <div class="row " style="padding-top:10px;">
               <div class="col-md-4 col-lg-4 font-weight-bold text-4 text-dark"> Create ACI Manifest </div>
               <div class="col-md-8  col-lg-8 text-right pr-4"> <a [routerLink]="['/dispatch', 'cross-border','eManifests']" class="btn btn-default btn-sm"><i class="fas fa-list"></i> ACI Manifests</a> </div>
            </div>
         </header>
         <div class="row text-dark">
            <div class="col">
               <section class="card">
                  <div class="card-body">
                     <form class="form-horizontal form-bordered" method="get">
                        <div class="form-group row">
                           <div class="col-lg-12">
                              <label class="control-label font-weight-bold font-bold text-lg-right text-dark text-4 font-weight-bold pt-2">Start new ACI eManifest</label>
                           </div>
                           <div class="col-lg-5 offset-lg-1">
                              <div class="form-group row">
                                 
                              <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Trip Number</label>
                                    <div class="row">
                                       <div class="col-lg-4 pr-0"> <ng-select (change)="tripNumberFn()"  name="CCC" [(ngModel)]="CCC">                                      
                                          <ng-option value="SAVL">SAVL</ng-option>
                                          <ng-option value="SXTF">SXTF</ng-option>
                                          <ng-option value="THXL">THXL</ng-option>
                                          <ng-option value="MLCM">MLCM</ng-option>
                                          <ng-option value="BYTM">BYTM</ng-option>
                                          <ng-option value="SWRR">SWRR</ng-option>
                                          <ng-option value="CAYR">CAYR</ng-option>
                                          <ng-option value="HYLD">HYLD</ng-option>
                                          </ng-select></div>
                                       <div class="col-lg-8 pl-0">
                                           <ng-select (change)="tripNumberFn()"  name="tripNo" [(ngModel)]="tripNo">                                      
                                          <ng-option *ngFor = "let trip of trips" [value]="trip.tripNo">{{trip.tripNo}}</ng-option>                                      
                                          </ng-select></div>
                                    </div>
                                   
                                 </div>
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Canadian Port of Entry</label>
                                    <ng-select name="portOfEntry" [(ngModel)]="portOfEntry" >                                      
                                       <ng-option *ngFor = "let port of CANPorts" [value]="port.code">Code: {{port.number}}, Name: {{port.name}}</ng-option>                                      
                                       </ng-select> 
                                 </div>
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Sub Location/Warehouse</label>
                                    <input type="text" class="form-control">
                                 </div>
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Estimated Arrival Date</label>
                                    <input
                                    class="form-control"
                                    placeholder="yyyy-mm-dd"
                                    name="date" [(ngModel)]="date"  (click)="d.toggle()" ngbDatepicker #d="ngbDatepicker"
                                    />
                                 </div>
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Estimated Arrival Time</label>
                                    <ngb-timepicker name="time" [(ngModel)]="time"></ngb-timepicker>

                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-5">
                              <div class="form-group row">
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Assign Truck</label>
                                    <ng-select name="vehicleID" [(ngModel)]="vehicleID" (change)="fetchVehicleData($event)">                                      
                                       <ng-option *ngFor = "let vehicle of vehicles" [value]="vehicle.vehicleID">{{vehicle.vehicleIdentification}}</ng-option>                                      
                                       </ng-select>
                                 </div>
                                 <div class="col-lg-2  mar-top-37">
                                    <a href="#addVehicleModal" class="modal-with-form btn btn-sm btn-success"><i class="fas fa-plus"></i></a>
                                 </div>
                                 <div class="col-lg-5">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" onclick="show_truck_seal_input()">Add Seal</label>
                                    <input type="text" class="form-control" id="truck_seal_input" style="display: none;">
                                 </div>
                                 <div class="col-lg-5 text-right">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" onclick="show_truck_IIT_input()">Add IIT or Exemption</label>
                                    <select class="form-control" id="truck_IIT_input" style="display: none;">
                                       <option value="1">Select Cargo Exemption</option>
                                       <option value="1">Courier Low Value Shipment(LVS)</option>
                                       <option value="1">Instrument of International Trade (IIT)</option>
                                       <option value="1">Postal</option>
                                       <option value="1">Flying Trucks</option>
                                       <option value="1">Emergency Repairs</option>
                                    </select>
                                 </div>
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Assign Trailer</label>
                                    <select data-plugin-selectTwo class="form-control populate">
                                       <optgroup label="Select Trailer Number">
                                          <option value="1263">1263</option>
                                          <option value="13">13</option>
                                          <option value="45">45</option>
                                          <option value="4852">4852</option>
                                          <option value="4783">4783</option>
                                          <option value="1256">1256</option>
                                          <option value="6521">6521</option>
                                          <option value="1452">1452</option>
                                       </optgroup>
                                    </select>
                                 </div>
                                 <div class="col-lg-2 mar-top-37">
                                    <a href="#addAssetModal" class="modal-with-form btn btn-sm btn-success"><i class="fas fa-plus"></i></a>
                                 </div>
                                 <div class="col-lg-5">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" onclick="show_trailer_seal_input()">Add Seal</label>
                                    <input type="text" class="form-control" id="trailer_seal_input" style="display: none;">
                                 </div>
                                 <div class="col-lg-5 text-right">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" onclick="show_trailer_IIT_input()">Add IIT or Exemption</label>
                                    <select class="form-control" id="trailer_IIT_input" style="display: none;">
                                       <option value="1">Select Cargo Exemption</option>
                                       <option value="1">Courier Low Value Shipment(LVS)</option>
                                       <option value="1">Instrument of International Trade (IIT)</option>
                                       <option value="1">Postal</option>
                                       <option value="1">Flying Trucks</option>
                                       <option value="1">Emergency Repairs</option>
                                    </select>
                                 </div>
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2"  >Assign Driver</label>
                                    <select data-plugin-selectTwo class="form-control populate">
                                       <optgroup label="Select Driver">
                                          <option value="John Smith">John Smith</option>
                                          <option value="Mike William">Mike William</option>
                                          <option value="Andy Anderson">Andy Anderson</option>
                                          <option value="John Doe">John Doe</option>
                                          <option value="Jolly Singh">Jolly Singh</option>
                                          <option value="Ronnie">Ronnie</option>
                                          <option value="Tony White">Tony White</option>
                                          <option value="Dwanye Johnson">Dwanye Johnson</option>
                                       </optgroup>
                                    </select>
                                 </div>
                                 <div class="col-lg-2  mar-top-37">
                                    <a href="#addDriverModal" class="modal-with-form btn btn-sm btn-success"><i class="fas fa-plus"></i></a>
                                 </div>
                                 <div class="col-lg-5">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" onclick="show_team_driver_input()">Add Team Driver</label>
                                    <div id="team_driver_input" style="display: none;">
                                       <div class="row">
                                          <div class="col-lg-9 pr-0">
                                             <select data-plugin-selectTwo class="form-control populate">
                                                <optgroup label="Select Team Driver">
                                                   <option value="1">Anchal</option>
                                                   <option value="2">Harmeet</option>
                                                   <option value="2">Harman</option>
                                                   <option value="2">Jaskarn </option>
                                                   <option value="2">Heena</option>
                                                </optgroup>
                                             </select>
                                          </div>
                                          <div class="col-lg-3">
                                             <a href="#addDriver" class="modal-with-form btn btn-sm btn-success"><i class="fas fa-plus"></i></a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-lg-5 text-right">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" onclick="show_passenger_input()">Add Passenger</label>
                                    <div id="passenger_input" style="display: none;">
                                       <div class="row">
                                          <div class="col-lg-9 pr-0">
                                             <select data-plugin-selectTwo class="form-control populate">
                                                <optgroup label="Select Passenger">
                                                   <option value="1">Anchal</option>
                                                   <option value="2">Harmeet</option>
                                                   <option value="2">Harman</option>
                                                   <option value="2">Jaskarn </option>
                                                   <option value="2">Heena</option>
                                                </optgroup>
                                             </select>
                                          </div>
                                          <div class="col-lg-3">
                                             <a href="#addPassenger" class="modal-with-form btn btn-sm btn-success"><i class="fas fa-plus"></i></a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="form-group row">
                           <div class="col-lg-12">
                              <label class="control-label font-weight-bold text-lg-right text-dark text-4  pt-2">ACI Shipment Details</label>
                           </div>
                           <div class="col-lg-5 offset-lg-1">
                              <div class="form-group row">
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Loaded On</label>
                                    <select data-plugin-selectTwo class="form-control populate">
                                       <optgroup label="">
                                          <option value="1">Trailer34</option>
                                          <option value="2">Trailer67</option>
                                          <option value="2">Trailer78</option>
                                          <option value="2"></option>
                                       </optgroup>
                                    </select>
                                 </div>
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Shipment Type</label>
                                    <select data-plugin-selectTwo class="form-control populate">
                                       <optgroup label="">
                                          <option value="1">PARS</option>
                                          <option value="2">In-Bond </option>
                                          <option value="2">CSA </option>
                                          <option value="2">ATA Carnet  </option>
                                          <option value="2">E29B </option>
                                          <option value="2">Goods Astray </option>
                                          <option value="2">Paper RMD  </option>
                                          <option value="2">Paper B3  </option>
                                          <option value="2">Personal Goods  </option>
                                          <option value="2">Orders In Council </option>
                                          <option value="2">Master Provisional </option>
                                          <option value="2">Automotive Line Release </option>
                                          <option value="2">Value Included </option>
                                          <option value="2">Military Goods </option>
                                          <option value="2">A49 Automotive Release</option>
                                       </optgroup>
                                    </select>
                                 </div>
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Cargo Control Number</label>
                                    <input type="text" class="form-control">                                           
                                 </div>
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >First Canadian Port of Entry</label>
                                    <input type="text" class="form-control">
                                 </div>
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Release Office</label>
                                    <input type="text" class="form-control">
                                 </div>
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Sub Location</label>
                                    <input type="text" class="form-control">
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-5">
                              <div class="form-group row">
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Estimated Arrival Date</label>
                                    <input type="text" data-plugin-datepicker="" class="form-control" placeholder="Select Date">
                                 </div>
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Estimated Arrival Time</label>
                                    <input type="text" data-plugin-timepicker="" class="form-control" placeholder="Select Date">

                                 </div>
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Assign Shipper</label>
                                    <select class="form-control populate">
                                       <optgroup label="Select Shipper">
                                          <option value="Art Place">Art Place</option>
                                          <option value="Canadian Lava Co.">Canadian Lava Co.</option>
                                          <option value="Howard Electric INC.">Howard Electric INC.</option>
                                          <option value="Searcy Trucking Ltd">Searcy Trucking Ltd</option>
                                          <option value="Titan Transline">Titan Transline</option>
                                          <option value="JADE TRANSPORT LTD">JADE TRANSPORT LTD</option>
                                          <option value="Precision">Precision</option>
                                          <option value="TEAMS Transport">TEAMS Transport</option>
                                       </optgroup>
                                    </select>
                                 </div>
                                 <div class="col-lg-2  mar-top-37">
                                    <a href="#addShipperModal" class="modal-with-form btn btn-sm btn-success"><i class="fas fa-plus"></i></a>
                                 </div>
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Assign Consignee</label>
                                    <select class="form-control populate">
                                       <optgroup label="Select Consignee">
                                          <option value="8889 Heather Street Meaford, ON N4L 5M1">8889 Heather Street Meaford, ON N4L 5M1</option>
                                          <option value="78 Ridge Drive Porters Lake, NS B3E 1R8">78 Ridge Drive Porters Lake, NS B3E 1R8</option>
                                          <option value="5 Military Dr. Rivière-du-Loup, QC G5R 1T1">5 Military Dr. Rivière-du-Loup, QC G5R 1T1</option>
                                          <option value="279 Eagle Dr. Prince Rupert, BC V8J 4J1">279 Eagle Dr. Prince Rupert, BC V8J 4J1</option>
                                          <option value="461 Bedford St. St. Mary's, ON N4X 5N0">461 Bedford St. St. Mary's, ON N4X 5N0 </option>
                                          <option value="84 Wellington Dr. Dufferin County, ON L0N 9G9">84 Wellington Dr. Dufferin County, ON L0N 9G9</option>
                                       </optgroup>
                                    </select>
                                 </div>
                                 <div class="col-lg-2 mar-top-37">
                                    <a href="#addConsigneeModal" class="modal-with-form btn btn-sm btn-success"><i class="fas fa-plus"></i></a>
                                 </div>
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >City of Loading</label>
                                    <input type="text" class="form-control">
                                 </div>
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >City of Acceptance</label>
                                    <input type="text" class="form-control">
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="row mb-2">
                           <div class="col-lg-6">
                              <label class="control-label font-weight-bold text-lg-right text-dark text-4 pt-2">General Commodity Details</label>
                           </div>
                           <div class="col-lg-6">
                              <label class="control-label font-weight-bold text-lg-right text-dark text-4 pt-2">Hazardous Material Details</label>
                           </div>
                        </div>
                        <div class="form-group row">
                           <div class="col-lg-5 offset-lg-1">
                              <div class="row">
                                 <div class="col-lg-5">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Container Number</label>
                                    <input type="text" class="form-control">
                                 </div>
                                 <div class="col-lg-5">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Loaded On</label>
                                    <select data-plugin-selectTwo class="form-control populate">
                                       <optgroup label="">
                                          <option value="1">Trailer 111</option>
                                          <option value="2">Trailer 112</option>
                                          <option value="2">Trailer 113</option>
                                          <option value="2">Trailer 114</option>
                                          <option value="2">Trailer 115</option>
                                       </optgroup>
                                    </select>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-lg-5">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Seal</label>
                                    <input type="text" class="form-control">
                                 </div>
                                 <div class="col-lg-5">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Exemption</label>
                                    <select class="form-control">
                                       <option value="1">Select Cargo Exemption</option>
                                       <option value="1">Courier Low Value Shipment(LVS)</option>
                                       <option value="1">Instrument of International Trade (IIT)</option>
                                       <option value="1">Postal</option>
                                       <option value="1">Flying Trucks</option>
                                       <option value="1">Emergency Repairs</option>
                                    </select>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Commodity</label>
                                    <input type="text" class="form-control">
                                 </div>
                                 <div class="col-lg-5">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Quantity</label>
                                    <div class="row">
                                       <div class="col-lg-5 pr-0">
                                          <input type="text" class="form-control">                                                    
                                       </div>
                                       <div class="col-lg-7 pl-0">
                                          <select data-plugin-selectTwo class="form-control populate">
                                             <optgroup label="">
                                                <option value="1">Bag</option>
                                                <option value="2">Can</option>
                                                <option value="2">Case</option>
                                                <option value="2">Carton</option>
                                                <option value="2">Carboy</option>
                                                <option value="2">Carcass</option>
                                             </optgroup>
                                          </select>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-lg-5">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Weight</label>
                                    <div class="row">
                                       <div class="col-lg-5 pr-0">
                                          <input type="text" class="form-control">                                                    
                                       </div>
                                       <div class="col-lg-7 pl-0">
                                          <select data-plugin-selectTwo class="form-control populate">
                                             <optgroup label="">
                                                <option value="1">Pounds</option>
                                                <option value="2">Kilograms</option>
                                             </optgroup>
                                          </select>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Marks & Numbers</label>
                                    <div class="row">
                                       <div class="col-lg-3"><input type="text" class="form-control"></div>
                                       <div class="col-lg-3"><input type="text" class="form-control"></div>
                                       <div class="col-lg-3"><input type="text" class="form-control"></div>
                                       <div class="col-lg-3"><input type="text" class="form-control"></div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-5">
                              <div class="form-group row">
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Hazmat Code</label>
                                    <input type="text" class="form-control">
                                 </div>
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Emergency Contact Name</label>
                                    <input type="text" class="form-control">
                                 </div>
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Contact Number</label>
                                    <input type="text" class="form-control">
                                 </div>
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Contact Email</label>
                                    <input type="text" class="form-control">
                                 </div>
                                 <div class="col-lg-10">
                                    <label class="control-label font-weight-bold text-lg-right pt-2" >Comments</label>
                                    <textarea class="form-control" rows="3"></textarea>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="form-group row">
                           <div class="col-lg-10 text-right">
                              <button type="button" onclick="goBack()" class="btn btn-default m-1">Cancel</button>
                              <button type="button" *ngIf="!entryID" (click)="addACIManifest()" class="btn btn-success">Save</button> 
                              <button type="button" *ngIf="entryID" (click)="updateACIManifest()" class="btn btn-success">Update</button>
                           </div>
                        </div>
                     </form>
                  </div>
               </section>
            </div>
         </div>
      </section>
    </div>



</section>






