.map-search__results {
    display: none;
}
.show-search__result .map-search__results {
    display: block !important;
}
.profile-cross {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 20px;
}
