<section class="body">
  <div class="inner-wrapper">
    <section role="main" class="content-body pl-1 pr-0 pt-0">
      <header class="page-header pr19 pl11">
        <div class="row" style="padding-top: 10px">
          <div class="col-md-4 col-lg-4 font-weight-bold text-4 text-dark">
            Service Log Details
          </div>
          <div class="col-md-8 col-lg-8 text-right pr-1">
            <button class="btn btn-sm btn-success mr-3" (click)="openModal()">
              Service Log PDF
            </button>
            <a routerLink="/fleet/maintenance/service-log/edit/{{ logID }}" class="btn btn-default btn-sm mr-2"><i class="fas fa-pencil-alt"></i> Edit Service Log</a>
            <a routerLink="/fleet/maintenance/service-log/list" class="btn btn-sm btn-default"><i class="fas fa-list"></i> Service Logs List</a>
          </div>
        </div>
      </header>
      <section class="m-2">
        <div class="row mb-3">
          <div class="col-lg-12">
            <div class="bg-white p-3 text-dark">
              <div class="form-group row pt-1">
                <div style="width: 10%">
                  <div class="text-center p-4 cerbor">
                    <p class="mb-0 text-4 font-weight-bold text-dark">
                      Unit type
                    </p>
                    <p class="mb-0 text-3">{{ logsData.unitType | titlecase }}</p>
                  </div>
                </div>
                <div style="width: 12%">
                  <div class="text-center p-4 cerbor" *ngIf="logsData.unitType != 'asset'">
                    <p class="mb-0 text-4 font-weight-bold text-dark">
                      Vehicle
                    </p>
                    <p class="mb-0 text-3">{{ vehiclesObject[vehicle] | titlecase }}</p>
                  </div>
                  <div class="text-center p-4 cerbor" *ngIf="logsData.unitType == 'asset'">
                    <p class="mb-0 text-4 font-weight-bold text-dark">
                      Asset
                    </p>
                    <p class="mb-0 text-3">{{ assetsObject[assetID] | titlecase }}</p>
                  </div>
                </div>
                <div style="width: 12%">
                  <div class="text-center p-4 cerbor" *ngIf="logsData.unitType != 'asset'">
                    <p class="mb-0 text-4 font-weight-bold text-dark">
                      Vehicle plate no.
                    </p>
                    <p class="mb-0 text-3">
                      {{ vehiclePlateNo ? vehiclePlateNo : "-" }}
                    </p>
                  </div>
                  <div class="text-center p-4 cerbor" *ngIf="logsData.unitType == 'asset'">
                    <p class="mb-0 text-4 font-weight-bold text-dark">
                      Asset plate no.
                    </p>

                    <p class="mb-0 text-3">
                      {{ assetPlateNo ? assetPlateNo : "-" }}
                    </p>
                  </div>
                </div>
                <div style="width: 13%">
                  <div class="text-center p-4 cerbor" *ngIf="logsData.unitType != 'asset'">
                    <p class="mb-0 text-4 font-weight-bold text-dark">
                      Vehicle VIN
                    </p>
                    <p class="mb-0 text-3">
                      {{ vehicleVIN ? vehicleVIN : "-" }}
                    </p>
                  </div>
                  <div class="text-center p-4 cerbor" *ngIf="logsData.unitType == 'asset'">
                    <p class="mb-0 text-4 font-weight-bold text-dark">
                      Asset VIN
                    </p>
                    <p class="mb-0 text-3">
                      {{ assetVin ? assetVin : "-" }}
                    </p>
                  </div>
                </div>
                <div style="width: 12%" *ngIf="logsData.unitType != 'asset'">
                  <div class="text-center p-4 cerbor">
                    <p class="mb-0 text-4 font-weight-bold text-dark">
                      Odometer in miles
                    </p>
                    <p class="mb-0 text-3">
                      {{ odometer ? odometer : "-" }}
                    </p>
                  </div>
                </div>
                <div style="width: 14%">
                  <div class="text-center p-4 cerbor">
                    <p class="mb-0 text-4 font-weight-bold text-dark">
                      Completion date
                    </p>
                    <p class="mb-0 text-3">
                      {{
                          completionDate
                          ? (completionDate | date: "yyyy/MM/dd")
                          : "-"
                          }}
                    </p>
                  </div>
                </div>
                <div style="width: 12%">
                  <div class="text-center p-4 cerbor">
                    <p class="mb-0 text-4 font-weight-bold text-dark">
                      Bill#
                    </p>
                    <p class="mb-0 text-3">
                      {{ reference ? reference : "-" }}
                    </p>
                  </div>
                </div>
                <div style="width: 12%">
                  <div class="text-center p-4">
                    <p class="mb-0 text-4 font-weight-bold text-dark">
                      Bill to
                    </p>
                    <p class="mb-0 text-3">
                      {{ (vendorID ? vendorsObject[vendorID] : "-") | titlecase }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-lg-12">
            <div class="bg-white p-3 text-dark">
              <div class="form-group row pt-1">
                <div class="col-lg-12">
                  <label class="control-label font-weight-bold font-bold text-lg-right text-dark text-4 font-weight-bold pt-2">Issue
                    Details</label>
                </div>
                <div class="col-lg-12">
                  <div class="row mt-2">
                    <div class="col-lg-12">
                      <table class="table table-bordered table-striped table-responsive-lg">
                        <thead>
                          <tr>
                            <th width="80%">Issue</th>
                            <th width="20%">Assigned To</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngIf="issuesObject.length == 0">
                            <td colspan="2">{{ noRecordMessage }}</td>
                          </tr>
                          <tr *ngFor="let data of issuesObject">
                            <td>{{ data.issueName | titlecase }}</td>
                            <td>{{ users[data.assignedTo] | titlecase }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-lg-12">
            <div class="bg-white p-3 text-dark">
              <div class="form-group row pt-1">
                <div class="col-lg-12">
                  <label class="control-label font-weight-bold font-bold text-lg-right text-dark text-4 font-weight-bold pt-2">Service
                    Tasks</label>
                </div>
                <div class="col-lg-12">
                  <div class="row mt-2">
                    <div class="col-lg-12">
                      <table class="table table-bordered table-striped table-responsive-lg">
                        <thead>
                          <tr>
                            <th width="80%">Task</th>
                            <th width="20%">Total</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngIf="allServiceTasks?.length == 0">
                            <td colspan="2">{{ noRecordMessage }}</td>
                          </tr>
                          <tr *ngFor="let item of allServiceTasks">
                            <td>{{ item.taskName }}</td>
                            <td>{{ item.laborCost }} {{ currency }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-lg-12">
            <div class="bg-white p-3 text-dark">
              <div class="form-group row pt-1">
                <div class="col-lg-12">
                  <label class="control-label font-weight-bold font-bold text-lg-right text-dark text-4 font-weight-bold pt-2">Service
                    Parts</label>
                </div>
                <div class="col-lg-12">
                  <div class="row mt-2">
                    <div class="col-lg-12">
                      <table class="table table-bordered table-striped table-responsive-lg">
                        <thead>
                          <tr>
                            <th width="20%">Items</th>
                            <th width="50%">Description</th>
                            <th width="10%">Quantity</th>
                            <th width="10%">Rate</th>
                            <th width="10%">Total</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngIf="allServiceParts?.length == 0">
                            <td colspan="5">{{ noRecordMessage }}</td>
                          </tr>
                          <tr *ngFor="let item of allServiceParts">
                            <td>{{ item.partNumber }}</td>
                            <td>{{ item.description }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.rate }} {{ currency }}</td>
                            <td>{{ item.partCost }} {{ currency }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-lg-12">
            <div class="bg-white p-3 text-dark">
              <div class="form-group row pt-1">
                <div class="col-lg-12">
                  <label class="control-label font-weight-bold font-bold text-lg-right text-dark text-4 font-weight-bold pt-2">Description</label>
                  <p>
                    {{ description ? description : "-" }}
                  </p>
                </div>
                <div class="col-lg-4" *ngIf="logImages?.length > 0">
                  <label class="control-label font-weight-bold font-bold text-lg-right text-dark text-4 font-weight-bold pt-2">Photos</label>
                  <div class="row">
                    <div class="col-lg-6 mb-2" *ngFor="let item of logImages; let i = index">
                      <div class="vehicle-photo-box">
                        <img [src]="item.path" width="100%" class="img-fluid" style="height: 180px; object-fit: cover" />
                        <!-- <iframe [src]="item" width="100px" height="100px" frameborder="0"></iframe> -->
                        <hr class="m-3" />
                        <div class="row">
                          <div class="col-lg-8">Image {{ i + 1 }}</div>
                          <div class="col-lg-4 text-right">
                            <a href="javascript:;" (click)="delete('image', item.name, i)" class="modal-with-form">
                              <i class="fas fa-times text-danger" (click)="delete('image', item.name, i)"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4" *ngIf="logDocs?.length > 0">
                  <label class="control-label font-weight-bold font-bold text-lg-right text-dark text-4 font-weight-bold pt-2">Documents</label>
                  <div class="row" *ngFor="let doc of logDocs; let d = index">
                    <div class="col-lg-9">
                      <a href="javascript:;" href="{{ doc.path }}" data-toggle="modal" data-target="#viewDocModal" (click)="setPDFSrc(doc.path)">Document {{ d + 1 }}</a>
                    </div>
                    <div class="col-lg-3 text-right">
                      <em class="far fa-file text-dak mr-1" (click)="setPDFSrc(doc.path)" data-toggle="modal" data-target="#viewDocModal"></em>
                      <a href="javascript:;" (click)="delete('doc', doc.name, d)" class="modal-with-form">
                        <em class="fas fa-times text-danger"></em></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        ..
        <div class="row mb-3">
          <div class="col-lg-12">
            <div class="bg-white p-3 text-dark">
              <div class="form-group row pt-1">
                <div class="col-lg-12">
                  <div class="row mt-2">
                    <div class="col-lg-12">
                      <table class="table table-bordered table-striped table-responsive-lg">
                        <!-- <tbody>
                          <tr>
                            <td width="33%" align="left">
                              <p style="font-size: 15px" class="text-dark">
                                <b>c </b><span style="padding-right: 4.5%">
                                  {{ (partsSubTotal + taskTotal).toFixed(2) }}
                                  {{ currency }}<br />
                                </span>
                              </p>
                            </td>
                            <td width="33%" align="left">
                              <p style="font-size: 15px" class="text-dark">
                                <b>Taxes: </b>
                                <span style="padding-right: 9%">{{ taxes ? taxes : "-" }}<br /></span>
                              </p>
                            </td>
                            <td width="34%" align="left">
                              <p style="font-size: 15px" class="text-dark">
                                <b>Total Amount: </b>
                                <span style="padding-right: 6%">
                                  {{ finalTotal ? finalTotal : "-" }}</span>
                              </p>
                            </td>
                          </tr>
                        </tbody> -->
                        <thead>
                          <tr>
                            <th>Sub Total:</th>
                            <th>Taxes: </th>
                            <th>Grand Total: </th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr>
                            <td>{{ (partsSubTotal + taskTotal).toFixed(2) }}
                              {{ currency }}
                            </td>
                            <td>{{ taxes ? taxes : "-" }}</td>
                            <td>{{ finalTotal ? finalTotal : "-" }} <span *ngIf=" finalTotal">{{currency}}</span></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>
</section>

<!-- VIEW DOCUMENT MODAL -->
<div class="modal fade" id="viewDocModal" tabindex="-1" role="dialog" aria-labelledby="viewDocModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewDocModalLabel">View Document</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row">
          <div class="form-group col-md-12">
            <div>
              <iframe [src]="pdfSrc" title="" width="100%" height="400px">
              </iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #logModal let-modal>
  <div class="modal-body" id="log_wrap">
    <section class="cheque-wrapper" id="log_wrap">
      <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td width="50%">
              <h3 class="text-dark font-bold" style="font-size: 26px; margin-bottom: 5px">
                Service Log Details
              </h3>
            </td>
            <td></td>
            <!-- <td width="50%" align="right" style="padding-bottom: 1em; "> <img crossorigin="anonymous" *ngIf="companyLogo" [src]="companyLogo"
                        alt="logo" style="max-width: 100px;">
                  </td> -->
            <td width="50%" align="right">
              <h2 class="text-dark mb-0 font-weight-bold text-5 mt-0 LH28">
                {{ carrier.carrierName | titlecase }}
              </h2>
              <p class="text-dark LH20">
                {{ carrierAddress.address }},{{ carrierAddress.cityName }},
                {{ carrierAddress.stateName }},
                {{ carrierAddress.countryName }},
                {{ carrierAddress.zipCode }}
                <br />
                <strong>Phone:</strong> {{ carrier.phone }}<br />
                <strong>Email:</strong> {{ carrier.email }}
              </p>
            </td>
          </tr>
        </tbody>
      </table>

      <table width="100%" class="table-bordered" style="color: #000000; font-size: 13px; margin-bottom: 10px" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td class="p-2" style="width: 65%">
              <p class="text-dark mb-0" style="font-weight: 600">
                <span style="font-weight: 500; color: #000000">Unit Type:-
                </span>
                {{ logsData.unitType }}
              </p>
              <p class="text-dark mb-0" style="font-weight: 600">
                <span *ngIf="logsData.unitType != 'asset'" style="font-weight: 500; color: #000000">Vehicle:-
                </span>
                {{ vehiclesObject[vehicle] }}
              </p>
              <p class="text-dark mb-0" *ngIf="logsData.unitType != 'asset'" style="font-weight: 600">
                <span style="font-weight: 500; color: #000000">Odometer Miles:-
                </span>
                {{ odometer ? odometer : "-" }}
              </p>
              <p class="text-dark mb-0" style="font-weight: 600">
                <span *ngIf="logsData.unitType == 'asset'" style="font-weight: 500; color: #000000">Asset:-
                </span>
                {{ assetsObject[assetID] }}
              </p>
              <p class="text-dark mb-0" style="font-weight: 600">
                <span *ngIf="logsData.unitType != 'asset'" style="font-weight: 500; color: #000000">Vehicle Plate No.:-
                </span>
                {{ vehiclePlateNo }}
              </p>

              <p class="text-dark mb-0" style="font-weight: 600">
                <span *ngIf="logsData.unitType == 'asset'" style="font-weight: 500; color: #000000">Asset Plate No.:-
                </span>
                {{ assetPlateNo }}
              </p>
              <p class="text-dark mb-0" style="font-weight: 600">
                <span *ngIf="logsData.unitType == 'asset'" style="font-weight: 500; color: #000000">Asset Vin:-
                </span>
                {{ assetVin }}
              </p>
            </td>

            <td class="p-2" style="width: 45%; vertical-align: top">
              <p class="text-dark mb-0" style="font-weight: 600">
                <span style="font-weight: 500; color: #000000">Completion Date:-
                </span>
                {{
                completionDate ? (completionDate | date: "yyyy/MM/dd") : "-"
                }}
              </p>
              <p class="text-dark mb-0" style="font-weight: 600">
                <span style="font-weight: 500; color: #000000">Bill#:- </span>
                {{ reference ? reference : "-" }}
              </p>
              <p class="text-dark mb-0" style="font-weight: 600">
                <span style="font-weight: 500; color: #000000">Bill To:- </span>
                {{ vendorID ? vendorsObject[vendorID] : "-" }}
              </p>
              <p class="text-dark mb-0" style="font-weight: 600">
                <span *ngIf="logsData.unitType != 'asset'" style="font-weight: 500; color: #000000">Vehicle Vin:-
                </span>
                {{ vehicleVIN }}
              </p>
            </td>
          </tr>
        </tbody>
      </table>

      <h5 style="color: #231f20"><b>Issue Details</b></h5>
      <table width="100%" style="
          color: #000000;
          font-size: 13px;
          margin-bottom: 10px;
          border: 1px solid #999999;
        ">
        <thead>
          <tr>
            <td width="65%" style="
                font-size: 13px;
                background-color: #e8e8e8;
                border: 1px solid #999999;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 2px;
                padding-top: 2px;
              ">
              Issue:
            </td>
            <td width="35%" style="
                font-size: 13px;
                background-color: #e8e8e8;
                border: 1px solid #999999;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 2px;
                padding-top: 2px;
              ">
              Assigned To
            </td>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="issuesObject?.length == 0">
            <td colspan="" style="
                padding-top: 10px;
                padding-bottom: 10px;
                text-align: center;
              ">
              {{ noRecordMessage }}
            </td>
          </tr>

          <tr *ngFor="let data of issuesObject">
            <td height="25" style="
                font-size: 13px;
                border-right: 1px solid #999999;
                padding-left: 10px;
              ">
              {{ data.issueName }}
            </td>
            <td style="font-size: 13px; padding-left: 10px; padding-right: 10px">
              {{ users[data.assignedTo] }}
            </td>
          </tr>
        </tbody>
      </table>

      <h5 style="color: #231f20"><b>Service Tasks</b></h5>
      <table width="100%" style="
          color: #000000;
          border: 1px solid #999999;
          font-size: 13px;
          margin-bottom: 10px;
        ">
        <thead>
          <tr>
            <td width="65%" style="
                font-size: 13px;
                background-color: #e8e8e8;
                border: 1px solid #999999;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 2px;
                padding-top: 2px;
              ">
              Task
            </td>
            <td width="35%" style="
                font-size: 13px;
                background-color: #e8e8e8;
                border: 1px solid #999999;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 2px;
                padding-top: 2px;
              ">
              Total
            </td>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="allServiceTasks?.length == 0">
            <td colspan="" style="padding-top: 10px; padding-bottom: 10px" align="center">
              {{ noRecordMessage }}
            </td>
          </tr>
          <tr *ngFor="let data of allServiceTasks">
            <td height="25" style="
                font-size: 13px;
                border-right: 1px solid #999999;
                padding-left: 10px;
              ">
              {{ data.taskName }}
            </td>
            <td style="font-size: 13px; padding-left: 10px; padding-right: 10px">
              {{ data.laborCost }} {{ currency }}
            </td>
          </tr>
        </tbody>
      </table>

      <h5 style="color: #231f20"><b>Service Part</b></h5>

      <table width="100%" style="
          color: #000000;
          border: 1px solid #999999;
          font-size: 13px;
          margin-bottom: 10px;
        ">
        <thead>
          <tr>
            <td width="65%" style="
                font-size: 13px;
                background-color: #e8e8e8;
                border: 1px solid #999999;
                padding-left: 10px;
                padding-right: 10px;
              ">
              Items
            </td>
            <td width="35%" style="
                font-size: 13px;
                background-color: #e8e8e8;
                border: 1px solid #999999;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 2px;
                padding-top: 2px;
              ">
              Total
            </td>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="allServiceParts?.length == 0">
            <td colspan="" style="padding-top: 10px; padding-bottom: 10px" align="center">
              {{ noRecordMessage }}
            </td>
          </tr>
          <tr *ngFor="let data of allServiceParts">
            <td height="25" style="
                font-size: 13px;
                border-right: 1px solid #999999;
                padding-left: 10px;
              ">
              {{ data.partNumber }}
            </td>
            <td style="
                font-size: 13px;
                border-right: 1px solid #999999;
                padding-left: 10px;
                padding-right: 10px;
              ">
              {{ data.partCost }} {{ currency }}
            </td>
          </tr>
        </tbody>
      </table>

      <h5 style="color: #231f20"><b> Description</b></h5>
      <table width="100%" style="
          color: #000000;
          border: 1px solid #999999;
          font-size: 13px;
          margin-bottom: 10px;
        ">
        <div class="row">
          <div class="col-lg-12">
            <div class="bg-white p-1 text-dark">
              <div class="form-group row">
                <div class="col-lg-12">
                  <p class="mb-0">
                    {{ description ? description : "-" }}
                  </p>
                </div>
                <div class="col-lg-4" *ngIf="logImages?.length > 0">
                  <label class="control-label font-weight-bold font-bold text-lg-right text-dark text-4 font-weight-bold pt-2">Photos</label>
                  <div class="row">
                    <div class="col-lg-6 mb-2" *ngFor="let item of logImages; let i = index">
                      <div class="vehicle-photo-box">
                        <img [src]="item.path" width="100%" id="logo_{{i}}" class="img-fluid" style="height: 180px; object-fit: cover" />
                        <!-- <iframe [src]="item" width="100px" height="100px" frameborder="0"></iframe> -->
                        <hr class="m-3" />
                        <div class="row">
                          <div style="width: 50%">Image {{ i + 1 }}</div>
                          <div class="col-lg-4 text-right">
                            <a href="javascript:;" (click)="delete('image', item.name, i)" class="modal-with-form">
                              <i class="fas fa-times text-danger" (click)="delete('image', item.name, i)"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4" *ngIf="logDocs?.length > 0">
                  <label class="control-label font-weight-bold font-bold text-lg-right text-dark text-4 font-weight-bold pt-2">Documents</label>
                  <div class="row" *ngFor="let doc of logDocs; let d = index">
                    <div class="col-lg-9">
                      <a href="javascript:;" href="{{ doc.path }}" data-toggle="modal" data-target="#viewDocModal" (click)="setPDFSrc(doc.path)">Document {{ d + 1 }}</a>
                    </div>
                    <div class="col-lg-3 text-right">
                      <em class="far fa-file text-dak mr-1" (click)="setPDFSrc(doc.path)" data-toggle="modal" data-target="#viewDocModal"></em>
                      <a href="javascript:;" (click)="delete('doc', doc.name, d)" class="modal-with-form">
                        <em class="fas fa-times text-danger"></em></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </table>

      <!-- <div class="row mt-2">
        <div class="col-lg-12">
          <table width="100%" style="color: #000000; font-size: 13px; margin-bottom: 10px">
            <tbody>
              <tr>
                <td width="33%" align="left">
                  <p style="font-size: 15px" class="text-dark">
                    <strong>Total: </strong>
                    <span style="padding-right: 7%">
                      {{ (partsSubTotal + taskTotal).toFixed(2) }}
                      {{ currency }}<br />
                    </span>
                  </p>
                </td>
                <td width="33%" align="left">
                  <p style="font-size: 15px" class="text-dark">
                    <strong>Taxes: </strong>
                    <span style="padding-right: 13%">{{ taxes ? taxes : "-" }}<br /></span>
                  </p>
                </td>
                <td width="34%" align="left">
                  <p style="font-size: 15px" class="text-dark">
                    <strong>Total Amount: </strong>
                    <span style="padding-right: 2%">
                      {{ finalTotal ? finalTotal : "-"
                      }}<span *ngIf="finalTotal"> {{ currency }}</span></span>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> -->
      <h5 style="color: #231f20"><b> Total</b></h5>
      <table width="100%" style="
          color: #000000;
          font-size: 13px;
          margin-bottom: 10px;
          border: 1px solid #999999;
        ">
        <thead>
          <tr>
            <td style="
                font-size: 13px;
                background-color: #e8e8e8;
                border: 1px solid #999999;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 2px;
                padding-top: 2px;
              ">
              Sub Total:
            </td>
            <td style="
                font-size: 13px;
                background-color: #e8e8e8;
                border: 1px solid #999999;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 2px;
                padding-top: 2px;
              ">
              Taxes:
            </td>

            <td style="
            font-size: 13px;
            background-color: #e8e8e8;
            border: 1px solid #999999;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 2px;
            padding-top: 2px;
          ">
              Grand Total:
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td height="25" style=" width:35%;
                font-size: 13px;
                border-right: 1px solid #999999;
                padding-left: 10px;
              ">
              {{ (partsSubTotal + taskTotal).toFixed(2) }}
              {{ currency }}
            </td>
            <td style=" width:30%; font-size: 13px; padding-left: 10px; padding-right: 10px">
              {{ taxes ? taxes : "-" }}
            </td>
            <td height="25" style="width:35%;
                font-size: 13px;
                border-left: 1px solid #999999;
                padding-left: 10px;
              ">
              {{ finalTotal ? finalTotal : "-"
              }}<span *ngIf="finalTotal"> {{ currency }}</span>
            </td>
          </tr>
        </tbody>
      </table>
      <table width="100%" style="color: #000000; font-size: 13px; margin-bottom: 10px">
        <tr>
          <td colspan="2">
            <table border="0" align="center" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td align="center">
                    <h2 class="LH20" style="font-size: 13px">Powered By</h2>
                    <img src="../../../../../../assets/img/logo.png" width="207" height="28" />
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </table>
    </section>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="modal.dismiss()">
      Close
    </button>
    <button type="button" class="btn btn-success" (click)="downloadPdf()">
      Download
    </button>
  </div>
</ng-template>