<section class="body">
   <!-- start: header -->
   <app-header></app-header>
   <!-- end: header -->
 
   <div class="inner-wrapper">
       <!-- start: sidebar -->
       <app-sidebar></app-sidebar>
       <!-- end: sidebar -->
       
       <section role="main" class="content-body pl-0 pr-0 pt-0">
           <header class="page-header">
              <div class="row pr-5 " style="padding-top:10px;">
                 <div class="col-md-4 col-lg-4 font-weight-bold text-4 text-dark">
                    1100 [2018 Toyota Prius] <span class="text-">Service Entry #7385613</span>                    
                 </div>
                 <div class="col-md-8  col-lg-8 text-right pr-4">
                    <a routerLink="/fleet/maintenance/service-log/list" class="btn btn-sm btn-default"><i class="fas fa-list"></i> Service Log</a>  
                    <!-- <div class="btn-group flex-wrap">
                       <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Actions<span class="caret"></span></button>
                       <div class="dropdown-menu" role="menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                          <a class="dropdown-item text-1" href="edit-service-entry.php">Edit</a>
                          <a class="modal-with-form dropdown-item text-1" href="#deleteModal">Delete</a>
                       </div>
                    </div>
                    <a   class="btn btn-success btn-sm"><i class="fas fa-plus"></i> Add Service Entry</a> -->

                 </div>
              </div>
           </header>
           <div class="row">
              <div class="col pr-0">
                 <div class="card-body text-dark">
                    <form class="form-horizontal form-bordered" method="get">
                       <div class=" row">
                          <div class="col-lg-12">
                             <label class="control-label font-weight-bold font-bold text-lg-right text-dark text-4 font-weight-bold pt-2">Service Details</label>
                          </div>
                          <div class="col-lg-6">
                             <div class="row">
                                <div class="col-lg-12">
                                   <table class="table table-bordered table-responsive-lg">
                                      <tbody>
                                         <tr *ngIf="vehicle">
                                            <td width="30%" class="back-color-gray font-weight-bold">Vehicle</td>
                                            <td  width="70%"><a href="javascript:;">{{vehiclesObject[vehicle]}}</a></td>
                                         </tr>
                                         <tr *ngIf="!vehicle">
                                             <td width="30%" class="back-color-gray font-weight-bold">Asset</td>
                                             <td  width="70%"><a href="javascript:;">{{assetsObject[assetID]}}</a></td>
                                          </tr>
                                         <tr>
                                            <td class="back-color-gray font-weight-bold">Start Date</td>
                                            <td>Jun 1, 2020</td>
                                         </tr>
                                         <tr>
                                            <td class="back-color-gray font-weight-bold">Completion Date</td>
                                            <td>{{completionDate}}</td>
                                         </tr>
                                         <tr *ngIf="vehicle">
                                            <td class="back-color-gray font-weight-bold">Odometer</td>
                                            <td>{{odometer}} miles</td>
                                         </tr>
                                         <tr *ngIf="logsData?.selectedTasks">
                                            <td class="back-color-gray font-weight-bold">Resolved Issues</td>
                                            <td>
                                               <a href="resolved-issue-details.php" *ngFor="">#6 window broken</a>
                                             </td>
                                         </tr>
                                         <tr>
                                            <td class="back-color-gray font-weight-bold">Vendor</td>
                                            <td>{{vendorsObject[vendorID]}}</td>
                                         </tr>
                                         <tr>
                                            <td class="back-color-gray font-weight-bold">Reference</td>
                                            <td>{{reference}}</td>
                                         </tr>
                                         <tr>
                                            <td class="back-color-gray font-weight-bold">Notes</td>
                                            <td>{{description}}</td>
                                         </tr>
                                      </tbody>
                                   </table>
                                </div>
                             </div>
                             <div class="row mt-2">
                                <div class="col-lg-12">
                                   <table class="table table-bordered table-striped table-responsive-lg">
                                      <thead>
                                         <tr>
                                            <th>Task</th>
                                            <th>Schedule</th>
                                            <th>Labor</th>
                                         </tr>
                                      </thead>
                                      <tbody>
                                         <tr *ngFor="let item of allServiceTasks;">
                                            <td width="60%"><i class="fas fa-wrench"></i> {{item.taskName}}</td>
                                            <td>{{item.schedule}}</td>
                                            <td>${{item.laborCost}}</td>
                                          </tr>
                                          <tr>
                                             <td width="60%"></td>
                                             <th>Subtotal</th>
                                             <td>${{taskSubTotal}}</td>
                                          </tr>
                                          <tr>
                                             <td width="60%"></td>
                                             <th>Discount</th>
                                              <td>- ${{taskDiscountAmount}}<br>(<span class="font-size-12">{{taskDiscountPercent}}%</span>)</td>
                                          </tr>
                                          <tr>
                                             <td width="60%"></td>
                                             <th>Tax</th>
                                             <td>+ ${{taskTaxAmount}}<br>(<span class="font-size-12">{{taskTaxPercent}}%</span>)</td>
                                          </tr>
                                          <tr>
                                             <td width="60%"></td>
                                             <th class="font-weight-bold">Total</th>
                                             <td class="font-weight-bold" *ngIf="taskTotal">${{taskTotal.toFixed(2)}}</td>
                                          </tr>
                                      </tbody>
                                   </table>

                                   <table class="table table-bordered table-striped table-responsive-lg mt-3">
                                    <thead>
                                       <tr>
                                          <th width="60%">Part Number</th>
                                          <th width="10%">Description</th>
                                          <th width="10%">Quantity</th>
                                          <th width="10%">Amount</th>
                                          <th width="10%">Subtotal</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <tr *ngFor="let item of allServiceParts;">
                                          <td width="60%"><i class="fas fa-wrench"></i> {{item.partNumber}}</td>
                                          <td>{{item.description}}</td>
                                          <td>{{item.quantity}}</td>
                                          <td>${{item.rate}}</td>
                                          <td>${{item.partCost}}</td>
                                        </tr>
                                        <tr>
                                          <td width="60%"></td>
                                          <th>Total Quantity</th>
                                          <td>250</td>
                                          <td></td>
                                          <td></td>
                                       </tr>
                                        <tr>
                                           <td width="60%"></td>
                                           <td></td>
                                           <td></td>
                                           <th>Subtotal</th>
                                           <td>${{partsSubTotal}}</td>
                                        </tr>
                                        <tr>
                                           <td width="60%"></td>
                                           <td></td>
                                           <td></td>
                                           <th>Discount</th>
                                            <td>- ${{partsDiscountAmount}}<br>(<span class="font-size-12">{{partsDiscountPercent}}%</span>)</td>
                                        </tr>
                                        <tr>
                                           <td width="60%"></td>
                                           <td></td>
                                           <td></td>
                                           <th>Tax</th>
                                           <td>+ ${{partsTaxAmount}}<br>(<span class="font-size-12">{{partsTaxPercent}}%</span>)</td>
                                        </tr>
                                        <tr>
                                           <td width="60%"></td>
                                           <td></td>
                                           <td></td>
                                           <th class="font-weight-bold">Total</th>
                                           <td class="font-weight-bold" *ngIf="partsTotal">${{partsTotal.toFixed(2)}}</td>
                                        </tr>
                                    </tbody>
                                 </table>
                                </div>
                             </div>
                          </div>
                          <div class="col-lg-6">
                             <div class="row">
                                <div class="col-lg-12">
                                   <div class="vehicle-common-box p-3">
                                      <div class="row">
                                         <div class="col-lg-6"><label class="control-label font-weight-bold text-3">Photo(s)</label></div>
                                         <div class="col-lg-6 text-right">
                                            <div class="btn btn-sm btn-success"><i class="fas fa-plus"></i> Add Photo<input type="file" class="hidden_input"></div>
                                         </div>
                                      </div>
                                      <hr class="solid mt-3">
                                      <div class="row">
                                         <div class="col-lg-6" *ngFor="let photo of photos;">
                                            <div class="vehicle-photo-box">
                                               <img src="{{photo}}" height="180px" width="330px">
                                               <hr class="m-3">
                                               <div class="row">
                                                  <div class="col-lg-8">Name of the Image</div>
                                                  <div class="col-lg-4 text-right">
                                                     <div class="btn-group flex-wrap mx-2">
                                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                                                        <div class="dropdown-menu" role="menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                                           <a class="dropdown-item text-1" href="">Crop/Rotate Image</a>
                                                           <a class="modal-with-form dropdown-item text-1" href="#editPhoto">Edit</a>
                                                           <a class="modal-with-form dropdown-item text-1" href="#deleteModal">Delete</a>
                                                        </div>
                                                     </div>
                                                  </div>
                                               </div>
                                            </div>
                                         </div>
                                      </div>
                                   </div>
                                </div>
                             </div>
                             <!-- DOCUMENTS -->
                             <div class="row mt-2" *ngIf="logsData?.uploadedDocs.length > 0">
                                <div class="col-lg-12">
                                   <div class="vehicle-common-box p-3">
                                      <div class="row">
                                         <div class="col-lg-6"><label class="control-label font-weight-bold text-3">Documents(s)</label></div>
                                         <div class="col-lg-6 text-right">
                                            <div class="btn btn-sm btn-success"><i class="fas fa-plus"></i><input type="file" class="hidden_input"> Add Documents</div>
                                         </div>
                                      </div>
                                      <hr class="solid mt-3">
                                      <div class="row" *ngFor="let doc of logsData.uploadedDocs;">
                                         <div class="col-lg-9">{{doc}}</div>
                                         <div class="col-lg-3 text-right">
                                            <div class="btn-group flex-wrap mx-2">
                                               <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                                               <div class="dropdown-menu" role="menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                                  <a class="modal-with-form dropdown-item text-1" href="#deleteModal">Delete</a>
                                               </div>
                                            </div>
                                         </div>
                                      </div>
                                   </div>
                                </div>
                             </div>
                             <!-- MAP -->
                             <div class="row mt-2">
                                <div class="col-lg-12">
                                   <div class="vehicle-common-box p-3">
                                      <div class="row">
                                         <div class="col-lg-6"><label class="control-label font-weight-bold text-3">Vendor Location</label></div>
                                      </div>
                                      <hr class="solid mt-3">
                                      <div class="row">
                                         <div class="col-lg-12">
                                            <div id="map" style="height: 255px;"></div>
                                         </div>
                                      </div>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                       <!-- Delete MODAL -->
                       <div id="deleteModal" class="modal-block modal-block-primary mfp-hide">
                          <section class="card">
                             <header class="card-header">
                                <h2 class="card-title">Corfirm Action</h2>
                             </header>
                             <div class="card-body text-dark">
                    <form>
                    <div class="form-row">
                    <div class="form-group col-md-12">
                    <label for="inputEmail4">Are you sure?</label>
                    </div>
                    </div>
                    </form>
                    </div>
                    <footer class="card-footer">
                    <div class="row">
                    <div class="col-md-12 text-right">
                    <button class="btn btn-danger modal-confirm">OK</button>
                    <button class="btn btn-default modal-dismiss">Cancel</button>
                    </div>
                    </div>
                    </footer>
                    </section>
                    </div>
                    <!--   edit photo -->
                    <div id="editPhoto" class="modal-block modal-block-primary mfp-hide">
                       <section class="card">
                          <header class="card-header">
                             <h2 class="card-title">Edit Photo</h2>
                          </header>
                          <div class="card-body text-dark">
                             <form>
                                <div class="form-row">
                                   <div class="form-group col-lg-12">
                                      <label class="control-label font-weight-bold">Old Name of Photo</label>
                                   </div>
                                </div>
                                <div class="form-row">
                                   <div class="form-group col-lg-12">
                                      <label class="control-label font-weight-bold">Name</label>
                                      <input type="text" class="form-control"  >
                                   </div>
                                </div>
                                <div class="form-row">
                                   <div class="form-group col-lg-12">
                                      <label class="control-label font-weight-bold">Description</label>
                                      <textarea class="form-control" rows="3"></textarea>
                                   </div>
                                </div>
                             </form>
                          </div>
                          <footer class="card-footer">
                             <div class="row">
                                <div class="col-md-12 text-right">
                                   <button class="btn btn-success modal-confirm">Save</button>
                                   <button class="btn btn-default modal-dismiss">Cancel</button>
                                </div>
                             </div>
                          </footer>
                       </section>
                    </div>
                    </form>
                 </div>
              </div>
           </div>
        </section>
       
   </div>
 </section>
 