/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/bootstrap.css";
@import "~@swimlane/ngx-datatable/themes/material.css";
@import "~@swimlane/ngx-datatable/assets/icons.css";

/*$ngx-datatable-selected-active-background: gray;*/

.nav-active {
    background-color: #eaeaea;
}

.sidebar-left {
    height: 100%;
}

.H_ib_content {
    min-width: 12em;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

.H_logo {
    right: 10px;
    position: absolute;
    bottom: 20px;
}

.ng-option-label {
    word-break: break-word;
    white-space: normal;
}

.ng-select.ng-select-single .ng-select-container {
    height: 31px !important;
}

.ng-select.custom {
    height: 31px !important;
}

.ng-select.custom .ng-select-container {
    min-height: 31px !important;
}

.ng-select .ng-select-container {
    min-height: 31px !important;
}

.ng-placeholder {
    font-size: 12px;
}


/* Prime NG all Component Styling */

.p-component {
    font-family: "Arial", Helvetica, sans-serif !important;
    font-size: 14px;
}

.p-inputtext {
    font-size: 14px;
}

.p-dropdown .p-dropdown-label.p-placeholder {
    font-size: 12px;
    color: rgb(163, 163, 163);
}

body {
    font-family: "Open Sans", Arial, sans-serif;
}

.p-datatable.p-datatable-sm .p-datatable-tbody>tr>td {
    padding: 0px 0px 0px 10px;
}

.p-datatable .p-datatable-thead>tr>th {
    color: black;
}

.p-datatable .p-datatable-footer {
    background-color: white;
    border-color: white;
    color: black;
}