<section class="body">
    <div class="inner-wrapper">
        
        <section role="main" class="content-body pr-0 pt-0 pl-0">
            <header class="page-header">
                <div class="row" style="padding-top:10px;">

                    <div class="col-md-2 col-lg-2">
                        <div class="input-group input-group-sm mb-3">
                            <input [(ngModel)]="filterValue.date" name="date" type="text"
                                placeholder="Search By Event Date" (click)="from.toggle()" ngbDatepicker
                                #from="ngbDatepicker" class="form-control" autocomplete="off"
                                (ngModelChange)="searchFilter($event, 'date' , '')">
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <div class="input-group input-group-sm mb-3">
                            <input type="text" class="form-control" [(ngModel)]="filterValue.driverName"
                                name="searchedDriverName" (input)="getSuggestions($event.target.value)"
                                placeholder="Search Driver Name">
                        </div>
                        <div *ngFor="let data of suggestions" style="cursor: pointer"
                            (click)="searchSelectedDriver(data)">
                            {{ data.name }}
                        </div>
                    </div>
                    <div class="col-md-2  col-lg-2">
                        <ng-select [(ngModel)]="filterValue.vehicleID" name="vehicleID" placeholder="Search by Vehicle">
                            <ng-option class="text-capitalize" *ngFor="let vehicle of vehicles"
                                value="{{ vehicle.vehicleID }}">{{ vehicle.vehicleIdentification }}</ng-option>
                        </ng-select>
                    </div>

                    <div class="col-md-2  col-lg-2">
                        <a href="javascript:;" (click)="searchEvents()" class="btn btn-success btn-sm mr-1"
                            style="color:white;"> Search
                        </a>
                        <a href="javascript:;" (click)="resetFilter()" class="btn btn-success btn-sm"
                            style="color:white;"> Reset
                        </a>
                    </div>
                    <div class="col-md-4 col-lg-4 pr-1 text-right">
                        <a href="javascript:;" class="modal-with-form btn btn-success btn-sm mx-2 "
                            style="color:white;"><i class="fas fa-download"></i> Fetch Event</a>

                        
                        <a href="javascript:;" routerLink="/safety/critical-events/add-event"
                            class="btn btn-success btn-sm mr-2" style="color:white;"><i class="fas fa-plus"></i> Add
                            Event</a>
                    </div>

                    
                </div>
            </header>

            <div class="row m-2">
                <div class="col-lg-12 p-0">
                    <section class="card">
                        <div class="card-body" style="display: block;">
                            <div class="table-responsive" style=" overflow: visible">
                                <table
                                    class="row-border hover table table-bordered table-striped mb-0 ">
                                    <thead>
                                        <tr>
                                            <th>Driver Name</th>
                                            <th>Vehicle</th>
                                            <th>Date </th>
                                            <th>Time</th>
                                            <th>Event Type</th>
                                            <th>Event Source</th>
                                            <th>Created By</th>
                                            <th>Location</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="events.length > 0">
                                        <tr class="cursorpoint" *ngFor="let data of events; let i= index">
                                            <td class="text-capitalize" routerLink="/safety/critical-events/event-details/{{data.eventID}}">
                                                {{ driversObject[data.driverID] }}</td>
                                            <td class="text-capitalize"> {{ vehiclesObject[data.vehicleID] }} </td>
                                            <td class="text-capitalize">{{ data.eventDate | date: 'yyyy-MM-dd' }}</td>
                                            <td class="text-capitalize">{{ convertTimeFormat(data.eventTime) }}</td>
                                            <td class="text-capitalize">{{ data.eventType }}</td>
                                            <td class="text-capitalize">{{ data.eventSource }}</td>
                                            <td class="text-capitalize">{{ data.createdBy }}</td>
                                            <td class="text-capitalize">{{ data.location }}</td>
                                            <td style="width: 180px;" >
                                                <ng-select [clearable]="false" class="form-control text-capitalize" (ngModelChange)="changeStatus(data.eventID, $event, i);" [(ngModel)]="data.status">
                                                    <ng-option *ngFor="let status of status_values;" value="{{status}}">{{status}}</ng-option>
                                                </ng-select>
                                            </td>
                                        </tr>
                                    </tbody>

                                    <tbody *ngIf="events.length == 0">
                                        <tr>
                                            <td colspan="9" class="no-data-available">No record(s) found</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</section>