<section class="body">

    <!-- start: header -->
    <app-header></app-header>
    <!-- end: header -->

    <div class="inner-wrapper">
        <!-- start: sidebar -->
        <app-sidebar></app-sidebar>
        <!-- end: sidebar -->

        <section role="main" class="content-body pr-0 pt-0 pl-0"> 
            <header class="page-header">
                <div class="row px-4" style="padding-top:10px;">
                    <div class="col-md-2 col-lg-2">
                        <div class="input-group input-group-sm mb-3">
                            <input 
                                [(ngModel)]="filterValue.date" name="date" 
                                type="text" 
                                placeholder="Search By Event Date"
                                (click)="from.toggle()" ngbDatepicker #from="ngbDatepicker"
                                class="form-control" autocomplete="off" (ngModelChange)="searchFilter($event, 'date' , '')"> 
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <div class="input-group input-group-sm mb-3">
                            <input type="text" class="form-control" [(ngModel)]="filterValue.driverName" name="searchedDriverName"
                            (input)="getSuggestions($event.target.value)" placeholder="Search Driver Name">
                        </div>
                        <div *ngFor="let data of suggestions" style="cursor: pointer" (click)="searchSelectedDriver(data)">
                            {{ data.name }}
                        </div>
                    </div>
                    <div class="col-md-2  col-lg-2">
                        <ng-select [(ngModel)]="filterValue.vehicleID" name="vehicleID"
                            placeholder="Search by Vehicle">
                            <ng-option class="text-capitalize" *ngFor="let vehicle of vehicles"
                                value="{{ vehicle.vehicleID }}">{{ vehicle.vehicleIdentification }}</ng-option>
                        </ng-select>
                    </div>

                    <div class="col-md-2  col-lg-2">
                        <a href="javascript:;" (click)="searchEvents()"
                            class="btn btn-success btn-sm mr-1" style="color:white;"> Search
                        </a>
                        <a href="javascript:;" (click)="resetFilter()"
                            class="btn btn-success btn-sm" style="color:white;"> Reset
                        </a>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <a href="#fetchEventModal" class="modal-with-form btn btn-success btn-sm mx-2 "
                            style="color:white;"><i class="fas fa-download"></i> Fetch Event</a>

                        <div class="btn-group flex-wrap mr-2">
                            <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false">Actions<span class="caret"></span></button>
                            <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                <a class="dropdown-item text-1" href="javascript:;">Import</a>
                                <a class="dropdown-item text-1" href="javascript:;">Export</a>
                            </div>
                        </div>
                        <a href="javascript:;" routerLink="/safety/critical-events/add-event"
                            class="btn btn-success btn-sm mr-2" style="color:white;"><i class="fas fa-plus"></i> Add
                            Event</a>
                    </div>
                </div>
            </header>

            <div class="row">
                <div class="col-lg-12 pr-0">
                    <section class="card">
                        <div class="card-body" style="display: block;">

                            <div id="DataTables_Table_16_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="table-responsive">
                                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-bordered table-striped mb-0 ">
                                        <thead>
                                            <tr>
                                                <th>Driver Name</th>
                                                <th>Date &amp; Time</th>
                                                <th>Location</th>
                                                <th>Vehicle</th>
                                                <th>Type of Event</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="events.length > 0">
                                            <tr *ngFor="let data of events; let i= index">
                                                <td routerLink="/safety/critical-events/event-details/{{data.eventID}}">{{ driversObject[data.driverUsername] }}</td>
                                                <td>{{ data.date  | date: 'dd-MM-yyyy HH:mm' }}</td>
                                                <td>{{ data.location }}</td>
                                                <td>{{ vehiclesObject[data.vehicleID] }} </td>
                                                <td>{{ data.criticalityType }}</td>
                                                <td>
                                                    <select class="form-control" name="coachingStatus" [(ngModel)]="data.coachingStatus" (change)="changeCoachingStatus($event, data.eventID)">
                                                        <option *ngFor="let stat of coachingStatus" value="{{ stat.value }}">{{ stat.name }}</option>
                                                     </select>
                                                </td>
                                                <td>
                                                    <div class="dropdown dropright">
                                                        <button class="bg-transparent border-0" type="button"
                                                            id="dropdownMenuButton-{{i}}" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-ellipsis-v"></i>
                                                        </button>
                                                        <div class="dropdown-menu" attr.aria-labelledby="dropdownMenuButton-{{i}}">
                                                            <a class="dropdown-item"
                                                                routerLink="/safety/critical-events/edit-event/{{data.eventID}}">Edit</a>
                                                            <a class="dropdown-item" href="javascript:;"
                                                                (click)="deleteEvent(data.eventID)">Delete</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>

                                        <tbody *ngIf="events.length == 0">
                                            <tr>
                                              <td colspan="7" class="no-data-available">No record(s) found</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</section>