.eye{
    border: none;
    background-color: #ebebeb;
}
.red1{ color:#fe4e37;}

.green1{color: #1eb54f;}

.modal-update{
    max-width: 60%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}