<section class="body">
    
    <div class="inner-wrapper">
       
        <section role="main" class="content-body pt-0 pr-0 pl-0">
            <header class="page-header service-log-header">
            
                <form class="form-horizontal" method="get">
                    <div class="row px-2" style="padding-top:9px;">
                        <!-- <div class="col-md-2 col-lg-2">
                            <div class="input-group input-group-sm mb-3">
                                <input autocomplete="off" type="text" name="vehicleIdentification" [(ngModel)]="vehicleIdentification"
                                class="form-control" (input)="getSuggestions($event.target.value)"
                                placeholder="Search by Vehicle Name"/>
                            </div>
                            <div *ngIf="suggestedVehicles?.length > 0" class="result-suggestions">
                                <ul>
                                   <li *ngFor="let suggestedUnit of suggestedVehicles" style="cursor: pointer"
                                   (click)="setVehicle(suggestedUnit.vehicleID, suggestedUnit.vehicleIdentification)"
                                   > {{ suggestedUnit.vehicleIdentification }}</li>
                                </ul>
                             </div>
                        </div> -->

                        <div class="col-md-2 col-lg-2 pr-0 pl-0">
							<div class="input-group input-group-sm mb-3"> 
                                <ng-select [(ngModel)]="vehicleID" name="vehicleID" style="width: 100%;" placeholder="Search by vehicle">
                                    <ng-option *ngFor="let data of vehiclesObject | keyvalue" value="{{ data.key }}"> {{ data.value }}</ng-option>
                                </ng-select>
							</div> 
						</div>
						<div class="col-md-2 col-lg-2 pr-0 pl-2">
							<div class="input-group input-group-sm mb-3">
                                <ng-select [(ngModel)]="assetID" name="assetID" style="width: 100%;" placeholder="Search by asset">
                                    <ng-option *ngFor="let data of assetsObject | keyvalue" value="{{ data.key }}"> {{ data.value }}</ng-option>
                                </ng-select>
							</div>
						</div>

                        <div class="col-md-2  col-lg-2">
                            <ng-select placeholder="Select Task" class="form-control populate" name="taskID" [(ngModel)]="taskID">
                                <ng-option *ngFor="let item of tasks;" value="{{item.taskID}}">
                                    <div title="{{item.taskName}}">{{item.taskName}}</div>
                                </ng-option>
                            </ng-select>
                        </div>

                        <div class="col-md-2 col-lg-2 pl-2">
                            <button type="submit" (click)="searchFilter()"
                                class="btn btn-sm btn-success mr-2">Search</button>
                            <button type="button" (click)="resetFilter()" class="btn btn-sm btn-success">Reset</button>
                        </div>

                        <div class="col-md-4 col-lg-4 text-right text-right">
                            <div class="btn-group flex-wrap mr-2" *ngIf="!environment">

                                <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="false">Actions<span class="caret"></span></button>
                                <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                                    style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                    <a class="dropdown-item text-1" href="javascript:;">Import</a>
                                    <a class="dropdown-item text-1" href="javascript:;">Export</a>
                                </div>
                            </div>
                            <a routerLink="/fleet/maintenance/service-log/add-service" class="btn btn-success btn-sm ml-2" style="color:white;"><i
                                    class="fas fa-plus"></i> Add Service Log</a>
                        </div>
                    </div>
                </form>
            </header>
            <div class="row">
                <div class="col">
                    <section class="card">
                        <div class="card-body">
                            <div class="mb-3 pb-1">
                                <ul class="nav nav-tabs top-tabs" id="top-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" routerLink="/fleet/maintenance/service-log/list" id="service-log-tab" data-toggle="tab" href="#service-log" role="tab" aria-controls="open" aria-selected="true">Service Log</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" routerLink="/fleet/maintenance/service-program/list" id="service-prog-tab" data-toggle="tab" role="tab" aria-controls="overdue" aria-selected="false">Service Program</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content p-0 border-0 shadow-none" id="myTabContent">
                                <div class="tab-pane show active" id="service-log" role="tabpanel" aria-labelledby="service-log-tab">
                                    <div class="row">
                                        <div class="col pr-0">
                                            <section class="card">
                                                <div class="card-body p-0">
                                                    <div class="table-responsive">
                                                        <table class="row-border hover table table-bordered table-striped mb-0">
                                                            <thead>
                                                                <tr>
                                                                    <th width="10%">Unit Type</th>
                                                                    <th width="20%">Vehicle/Asset</th>
                                                                    <th width="15%">Completion Date/Odometer</th>
                                                                    <th width="40%">Details</th>
                                                                    <th width="15%">Total</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </thead>
                                        
                                                            <tbody>
                                                                <tr *ngIf="logs.length == 0" class="text-center">
                                                                    <td colspan="6">{{dataMessage}}</td>
                                                                </tr>
                                                                <tr class="cursorpoint" *ngFor="let item of logs; let i = index;">
                                                                    <td routerLink="/fleet/maintenance/service-log/detail/{{item.logID}}">
                                                                        {{item.unitType}}
                                                                    </td>
                                                                    <td routerLink="/fleet/maintenance/service-log/detail/{{item.logID}}">
                                                                        {{ item.unitName}} <br>

                                                                        <span class="text-success text-capitalize" 
                                                                            [ngClass]="{'text-danger': item.currentStatus == 'sold', 
                                                                            'text-muted' : item.currentStatus === 'outOfService'}">
                                                                            {{item.currentStatus}}
                                                                        </span>
                                                                    </td>
                                                                    <td>{{item.completionDate | date: 'yyyy/MM/dd'}}<br><span *ngIf="item?.vehicleID"
                                                                            class="font-size-12">{{item.odometer}} miles</span></td>
                                                                    <td>
                                                                        <div>
                                                                            <span class="font-weight-bold">Service Task(s): </span>
                                                                            <span 
                                                                                title="Service Task"
                                                                                *ngFor="let task of item.allServiceTasks.serviceTaskList;let j = index; let $last = last"
                                                                                >{{task.taskName ? task.taskName : '-'}}<span *ngIf="!$last" class="list-format">, </span>
                                                                            </span>
                                                                            <span 
                                                                                *ngIf="item.allServiceTasks.serviceTaskList == 0;"
                                                                                >-
                                                                            </span>
                                                                        </div>
                                                                        <div>
                                                                            <span class="font-weight-bold">Issue(s): </span>
                                                                                <a  title="Issue"
                                                                                    class="text-info font-size-12"
                                                                                    *ngFor="let issue of item.selectedIssues;let $last = last"
                                                                                >
                                                                                    <span (click)="gotoIssue(issue)">{{issuesObject[issue]}}</span>
                                                                                    <span *ngIf="!$last" class="list-format">, </span>
                                                                                </a>
                                                                                <span 
                                                                                    *ngIf="item.selectedIssues.length == 0;"
                                                                                    >-
                                                                                </span>
                                                                        </div>
                                                                       <div>
                                                                            <span class="font-weight-bold">Vendor: </span> 
                                                                            <a (click)="openComponent(item.vendorID)" class="text-info font-size-12" href="javascript:;" title="Vendor">
                                                                                {{vendorsObject[item.vendorID]}}
                                                                            </a>
                                                                       </div>
                                                                    </td>
                                                                    <td> 
                                                                        {{ (item.allServiceParts.total + item.allServiceTasks.total).toFixed(2) }} {{item.allServiceParts.currency}}</td>
                                                                    <td>
                                        
                                                                        <div class="dropdown dropright">
                                                                            <button class="bg-transparent border-0" type="button" id="dropdownMenuButton-{{i}}"
                                                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                <i class="fas fa-ellipsis-v"></i>
                                                                            </button>
                                                                            <div class="dropdown-menu" attr.aria-labelledby="dropdownMenuButton-{{i}}">
                                                                                <a class="dropdown-item"
                                                                                    routerLink="/fleet/maintenance/service-log/edit/{{item.logID}}">Edit</a>
                                                                                <a class="dropdown-item" (click)="deleteProgram(item)"
                                                                                    href="javascript:;">Delete</a>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="row mt-3 dtPaginate" *ngIf="logs.length > 0">
                                                        <div class="col-6">
                                                            Showing {{ serviceLogStartPoint }} to {{ serviceLogEndPoint }} of {{ totalRecords }} enteries
                                                        </div>
                                                        <div class="col-6 text-right">
                                                            <button type="button" class="btn btn-default mr-2" (click)="prevResults()" [disabled]="serviceLogPrev">Prev</button>
                                                            <button type="button" class="btn btn-default" (click)="nextResults()" [disabled]="serviceLogNext">Next</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</section>

<div class="modal fade" id="vendorDtlModal" tabindex="-1" role="dialog" aria-labelledby="vendorDtlModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 700px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Vendor's Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <em class="far fa-window-close modal-dismiss" style="font-size:25px;"> </em>
                </button>
            </div>
            <div class="modal-body text-dark">
                <div class="card-body text-dark">
                    <ul class="nav top-tabs nav-tabs wizard-steps" *ngIf="vendorsData">
                        <li class="nav-item active"> <a href="#vndrBasicDetails" data-toggle="tab"
                                class="nav-link text-center {{basicActive}}">
                                Basic Details
                            </a>
                        </li>
                        <li class="nav-item {{ addressActive }}"> <a href="#vndrAddressDetails" data-toggle="tab" class="nav-link text-center">
                                Address
                            </a>
                        </li>
                    </ul>
                    
                    <div class="tab-content" *ngIf="vendorsData">
                        <div *ngIf="vendorTextStatus">
                            {{dataMessageVendorDtl}}
                        </div>
                        <div id="vndrBasicDetails" class="tab-pane active" *ngIf="!vendorTextStatus">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="thumb-info text-center mb-3"> 
                                        <img alt="" class="rounded img-fluid"
                                             style="max-width: 200px;"> </div>
                                </div>
                                <div class="col-12">
                                    <table class="table table-bordered m-0">
                                        <tbody>
                                            <tr>
                                                <th width="40%" class="back-color-gray">Company Name:</th>
                                                <td>{{vendorsData.companyName}}</td>
                                            </tr>
                                            <tr>
                                                <th width="40%" class="back-color-gray">Account Number:</th>
                                                <td>{{vendorsData.accountNumber ? vendorsData.accountNumber : '-'}}</td>
                                            </tr>
                                            <tr>
                                                <th width="40%" class="back-color-gray">Vendor Name:</th>
                                                <td>{{vendorsData.firstName}} {{vendorsData.lastName}}</td>
                                            </tr>
                                            <tr>
                                                <th width="40%" class="back-color-gray">Work Phone:</th>
                                                <td>{{vendorsData.workPhone}}</td>
                                            </tr>
                                            <tr>
                                                <th width="40%" class="back-color-gray">Work Email:</th>
                                                <td>{{vendorsData.workEmail}}</td>
                                            </tr>
                                            <tr>
                                                <th width="40%" class="back-color-gray">Prefered Vendor:</th>
                                                <td>{{vendorsData.preferedVendor ? 'Yes' : 'No'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="vndrAddressDetails" class="tab-pane" *ngIf="!vendorTextStatus">
                            <table style="float: left;" class="table table-bordered mb-2">
                                <tbody *ngFor="let item of vendorAddress;">
                                    <tr>
                                        <th width="40%" class="back-color-gray">Address Type:</th>
                                        <td>{{item.addressType}}</td>
                                    </tr>
                                    <tr *ngIf="item.manual">
                                        <th width="40%" class="back-color-gray"> Country:</th>
                                        <td>{{item.countryName}}</td>
                                    </tr>
                                    <tr *ngIf="item.manual">
                                        <th width="40%" class="back-color-gray">State:</th>
                                        <td>{{item.stateName}}</td>
                                    </tr>
                                    <tr *ngIf="item.manual">
                                        <th width="40%" class="back-color-gray"> City:</th>
                                        <td>{{item.cityName}}</td>
                                    </tr>
                                    <tr *ngIf="item.manual">
                                        <th width="40%" class="back-color-gray">Zip Code:</th>
                                        <td>{{item.zipCode}}</td>
                                    </tr>
                                    <tr *ngIf="item.manual">
                                        <th width="40%" class="back-color-gray">Address:</th>
                                        <td>{{item.address1}} {{item.address2}}</td>
                                    </tr>
                                    <tr *ngIf="item.manual == false">
                                        <th width="40%" class="back-color-gray">Address:</th>
                                        <td>{{item.userLocation}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-12 text-right">
                                <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

  
