<section class="body">
    <!-- start: header -->
    <app-header></app-header>
    <!-- end: header -->

    <div class="inner-wrapper">
        <!-- start: sidebar -->
        <app-sidebar></app-sidebar>
        <!-- end: sidebar -->

        <section role="main" class="content-body pl-0 pt-0">
            <header class="page-header pr-5">
                <div class="row pr-1 mr-1" style="padding-top:10px;">
                    
                    <div class="col-md-2 col-lg-2">
                        <div class="input-group input-group-md mb-3">
                            <input type="text" autocomplete="off" name="vehicleIdentification" placeholder="Search by vehicle"
                                [(ngModel)]="vehicleIdentification" class="form-control"
                                (input)="getSuggestions($event.target.value)" />
                        </div>
                        <div *ngFor="let suggestedVehicle of suggestedVehicles" class="suggestionClass" (click)="
                            setVehicle(
                              suggestedVehicle.vehicleID,
                              suggestedVehicle.vehicleIdentification
                            )
                          ">
                            {{ suggestedVehicle.vehicleIdentification }}
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2">
                        <ng-select placeholder="Search By Renewal Type" [(ngModel)]="searchServiceTask"
                            name="searchServiceTask" style="width: 100%;">
                            <ng-option *ngFor="let task of serviceTasks" [value]="task.taskID">{{task.taskName}}
                            </ng-option>
                        </ng-select>
                    </div>

                    <div class="col-md-2 col-lg-2">
                        <ng-select [(ngModel)]="filterStatus" name="filterStatus" style="width: 100%;"
                            placeholder="Select Reminder Status" (change)="setFilterStatus($event)">
                            <optgroup label="Select Reminder Status">
                                <ng-option value="ALL">ALL</ng-option>
                                <ng-option value="OVERDUE">OVERDUE</ng-option>
                                <ng-option value="DUE SOON">DUE SOON</ng-option>
                            </optgroup>
                        </ng-select>
                    </div>

                    <div class="col-md-2 col-lg-2">
                        <button type="submit" (click)="searchFilter()" class="btn btn-sm btn-success mr-2">Search</button>
                        <button type="button" (click)="resetFilter()" class="btn btn-sm btn-success">Reset</button>
                    </div>

                    <div class="col-md-4 col-lg-4 text-right pr-1 page-buttons">
                        <div class="btn-group flex-wrap mr-2">
                            <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false">Actions<span class="caret"></span></button>
                            <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                <a class="dropdown-item text-1" href="">Import</a>
                                <a class="dropdown-item text-1" href="">Export</a>
                            </div>
                        </div>
                        <a routerLink="/fleet/reminders/vehicle-renewals/add" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> Add Vehicle Renewal Reminder</a>

                    </div>
                </div>
            </header>
            <section class="card bg-white">
                <div class="wtopnav">
                    <ul class="nav nav-tabs top-tabs mt-1">
                        <li class="nav-item"><a class="nav-link"
                                routerLink="/fleet/reminders/service-reminder/list">Service Reminders </a></li>
                        <li class="nav-item"><a class="nav-link active"
                                routerLink="/fleet/reminders/vehicle-renewals/list">Vehicle Renewals </a></li>
                        <li class="nav-item"><a class="nav-link"
                                routerLink="/fleet/reminders/contact-renewals/list">Contact Renewals </a></li>
                    </ul>
                </div>
            </section>
            <div class="row text-dark">
                <div class="col">
                    <section class="card">
                        <div class="card-body pt-1">
                            <div class="table-responsive">
                                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                                    class="row-border hover table table-bordered table-striped mb-0">
                                    <thead>
                                        <tr>
                                            <th width="30%">Vehicle</th>
                                            <th width="15%">Vehicle Renewal Type</th>
                                            <th width="15%">Due Date</th>
                                            <th width="15%">Send Reminder</th>
                                            <th width="15%">Subscribers</th>
                                            <th width="5%">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="remindersData.length > 0">
                                        <tr *ngFor="let item of remindersData;">
                                            <td>{{ vehicleList[item.reminderIdentification]}}</td>
                                            <td>
                                                <span class="text-warning font-weight-bold font-size-12"
                                                    *ngIf="item.reminderTasks.reminderStatus === 'DUE SOON'">{{item.reminderTasks.reminderStatus}}<br></span>
                                                <span class="text-danger font-weight-bold font-size-12"
                                                    *ngIf="item.reminderTasks.reminderStatus === 'OVERDUE'">{{item.reminderTasks.reminderStatus}}<br></span>

                                                <span class="font-weight-bold"
                                                    title="Task">{{tasksList[item.reminderTasks.task]}}</span>
                                            </td>
                                            <td>{{item.reminderTasks.dueDate}}</td>
                                            <td>{{item.reminderTasks.remindByDays}} Day(s) Before</td>
                                            <td><span *ngFor="let s of item.subscribers">
                                                    <span
                                                        *ngIf="s.subscriberType === 'user'">{{s.subscriberIdentification}},</span>
                                                    <span
                                                        *ngIf="s.subscriberType === 'group'">{{groups[s.subscriberIdentification]}},</span>
                                                </span></td>
                                            <td>
                                                <div class="btn-group flex-wrap">
                                                    <button type="button" class="btn p-0" data-toggle="dropdown"><i
                                                            class="fas fa-ellipsis-v"></i></button>
                                                    <div class="dropdown-menu" role="menu">
                                                        <a class="dropdown-item text-1" href="javascript:;" (click)="sendEmailNotification(item)">Send Notifications</a>
                                                        <a routerLink="/fleet/reminders/vehicle-renewals/edit/{{item.reminderID }}"
                                                            class="dropdown-item text-1">Edit</a>
                                                        <a href="javascript:;" class="dropdown-item text-1"
                                                            (click)="deleteRenewal(item.reminderID)">Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="remindersData.length === 0">
                                        <tr>
                                        <td colspan="10" class="no-data-available">No records found</td>
                                        </tr>
                                    <tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</section>