<section class="body">
  <div class="inner-wrapper">
    <section role="main" class="content-body pl-0 pr-0 pt-0">
      <header class="page-header pr19 pl7">
         <div class="row" style="padding-top:10px;">
            <div class="col-md-4 col-lg-4">
               <h4 class="text-4 mt-0 mb-0 font-weight-bold text-dark">Payment# - 1279430</h4>
            </div>
            <div class="col-md-8 col-lg-8 text-right pr-1">
               <a routerLink="/accounts/sales/receipts/list" class="btn btn-sm btn-default"><i class="fas fa-list"></i> All Sales Receipts</a>
            </div>
         </div>
      </header>
      <section class="m-2">
         <div class="row mb-3">
           <div class="col-lg-12">
             <div class="bg-white p-3 text-dark">
               <div class="form-group row">
                  <div class="col-lg-12">
                     <div class="row">
                        <div class="col-md-4 col-lg-4">
                           <div class="text-center p-4 cmaindiv">
                              <i class="far fa-calendar-alt text-7"></i>
                              <br>
                              <p class="mb-0 text-5 font-weight-bold text-dark">Jun 23, 2020</p>
                              <p class="mb-0">DATE</p>
                           </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                           <div class="text-center p-4 cmaindiv">
                              <i class="fa fa-user text-7"></i>
                              <br>
                              <p class="mb-0 text-5 font-weight-bold text-dark">MIT ltd</p>
                              <p class="mb-0">CUSTOMER</p>
                           </div>
                        </div>

                        <div class="col-md-4 col-lg-4">
                           <div class="text-center p-4 cmaindiv">
                              <i class="fas fa-money-bill-wave text-7"></i>
                              <br>
                              <p class="mb-0 text-5 font-weight-bold text-dark">2000 CAD</p>
                              <p class="mb-0">AMOUNT</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
             </div>
           </div>
         </div>
         
         <div class="row mb-3">
           <div class="col-lg-12">
             <div class="bg-white p-3 text-dark">
               <div class="form-group row">
                  <div class="col-lg-6">
                     <div class="row">
                        <div class="col-lg-12">
                           <table class="table table-bordered table-hover">
                           <thead>
                           <tr>
                           <th>Invoice#</th>
                           <th>Invoice Amount</th>
                           </tr>
                           </thead>
                           <tbody>
                           <tr>
                           <td>1234</td>
                           <td>3400 CAD</td>
                           </tr>
                           <tr>
                           <td>89778</td>
                           <td>1400 CAD</td>
                           </tr>
                           </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6">
                     <div class="row">
                        <div class="col-lg-12">
                           <table class="table table-bordered table-responsive-lg">
                              <tbody>
                                 <tr>
                                    <td width="40%" class="back-color-gray font-weight-bold">Payment Mode</td>
                                    <td width="60%">Cash</td>
                                 </tr>
                                 <tr>
                                    <td class="back-color-gray font-weight-bold">Cash Reference#</td>
                                    <td>5767</td>
                                 </tr>
                                 <!-- <tr>
                                    <td class="back-color-gray font-weight-bold">Cash Date</td>
                                    <td>05/05/2020</td>
                                 </tr> -->
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-12">
                     <table class="table table-bordered table-hover">
                       <thead>
                         <tr>
                           <th>Account Name</th>
                           <th>Debit</th>
                           <th>Credit</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>Income Acoount</td>
                           <td>1000 CAD</td>
                           <td>0.00</td>
                         </tr>
                         <tr>
                           <td>Accounts Receivables</td>
                           <td>0.00</td>
                           <td>1000 CAD</td>
                         </tr>
                         <tr>
                           <td>Total</td>
                           <td>1000 CAD</td>
                           <td>1000 CAD</td>
                         </tr>
                       </tbody>
                     </table>
                   </div>
                 
               </div>
             </div>
           </div>
         </div>
         
      </section>


   </section>
  </div>
</section>
